Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

update engines
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/migrate/src/MigrateEngine.ts
  packages/migrate/src/__tests__/MigrateDiff.test.ts
  packages/sdk/package.json
Due: client, engine-core, sdk

update lock
  pnpm-lock.yaml
Due: none

chore(CLI): remove unused code from preinstall (#11821)
  packages/cli/scripts/preinstall.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0d6028db17995bfdc6111f23e065bd1829556450
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.10.0-31.1a1d6f070f165c36303ac5c2dd30032380a4ab09 (#11822)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ab8bcb51ffc9d60390e33de77b7f29564ce383fd
  dev/bench/data.js
Due: none

fix(client-generation): avoid empty strings on buildDirNameFind (#10512)
  packages/client/src/generation/utils/buildDirname.ts
Due: client

chore(deps): update dependency @types/mssql to v7.1.5
  packages/client/package.json
  packages/integration-tests/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update react-prisma
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 27b948401bbc00cbba097c9b356303d22eef2e34
  dev/bench/data.js
Due: none

chore: update scorecards-analysis
  .github/workflows/scorecards-analysis.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ce8f37acfe0f7e20cd043cc9196a6ff924f1f10f
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.10.0-32.ea65ba769db3e492acb0e303e90161087dcbf427
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.10.0-32.ea65ba769db3e492acb0e303e90161087dcbf427 (#11839)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for fb57a647cec1c73b80e424e16c9e1067670c601d
  dev/bench/data.js
Due: none

update engines
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

move types
  packages/migrate/src/MigrateEngine.ts
  packages/migrate/src/types.ts
Due: none

chore: use swc instead of ts-jest for some packages
  packages/cli/jest.config.js
  packages/cli/package.json
  packages/cli/src/bin.ts
  packages/engine-core/jest.config.js
  packages/engine-core/package.json
  packages/generator-helper/jest.config.js
  packages/generator-helper/package.json
  packages/integration-tests/jest.config.js
  packages/integration-tests/package.json
  packages/migrate/jest.config.js
  packages/migrate/package.json
  packages/migrate/src/__tests__/MigrateResolve.test.ts
  packages/migrate/src/commands/MigrateDiff.ts
  packages/sdk/jest.config.js
  packages/sdk/package.json
  pnpm-lock.yaml
Due: engine-core, generator-helper, sdk

chore(deps): update engines to 3.10.0-34.1e2a986858a8bc0ad185ac8baf19fb72b382b7ec
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

remove resolveHelperPlugin
  packages/cli/helpers/build.ts
Due: none

update unusedIgnore
  helpers/compile/plugins/depCheckPlugin.ts
Due: none

tweak setup
  scripts/setup.ts
Due: none

chore(deps): update engines to 3.10.0-35.df3e66c7ef4a7f610fe93a8b5ad84656754f02c1
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.10.0-34.1e2a986858a8bc0ad185ac8baf19fb72b382b7ec (#11849)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c6d04155f862c5d6d4cb75f6de85c31644424bb0
  dev/bench/data.js
Due: none

fix(migrate): Return responses to migration engine print requests (#11802)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/migrate/src/MigrateEngine.ts
  packages/migrate/src/__tests__/MigrateDiff.test.ts
  packages/migrate/src/commands/MigrateDeploy.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateDiff.ts
  packages/migrate/src/commands/MigrateReset.ts
  packages/migrate/src/types.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for cc5022f115f4843f4580a31f5bad2cf516a8e32f
  dev/bench/data.js
Due: none

undo remove resolveHelperPlugin
  packages/cli/helpers/build.ts
  packages/sdk/src/convertCredentials.ts
  packages/sdk/src/engine-commands/getConfig.ts
Due: sdk

remove prettier yaml
  package.json
Due: none

protocolToConnectorType
  package.json
  packages/cli/src/Init.ts
  packages/migrate/src/commands/DbPull.ts
  packages/sdk/src/index.ts
Due: sdk
