Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

fix(client): use correct $-names in error messages (#13190)
  packages/client/src/__tests__/integration/happy/interactive-transactions-postgres/test.ts
  packages/client/src/__tests__/integration/happy/interactive-transactions-sqlite/test.ts
  packages/client/src/runtime/getPrismaClient.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for bd5784afa7441f239a6a2cfe09c245cdfd9999e1
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7cfb0e1d3e9d75cbbaace42583329c4703589ae3
  dev/bench/data.js
Due: none

fix(client): Correctly serialize Decimal.js in an input (#13215)
  packages/client/src/__tests__/isObject.test.ts
  packages/client/src/__tests__/query/decimal.test.ts
  packages/client/src/runtime/utils/isObject.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c3a1de582a0defe4a4716f743a259ef9c68faac0
  dev/bench/data.js
Due: none

sdk: standardized getConfig and getDmmf
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
  packages/sdk/src/index.ts
  packages/sdk/src/panic.ts
Due: sdk

chore(deps): update engines to 3.14.0-32.13d12f1fc9655c2d6bbd8f772677f0dc1e662963
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.14.0-32.13d12f1fc9655c2d6bbd8f772677f0dc1e662963 (#13248)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update dependency husky to v8
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency ts-jest to v28
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 4ae6ae9cfdda02207cf6583e1dcdcbdb8304bd61
  dev/bench/data.js
Due: none

sdk: simplified query-engine commands, added queryEngineCommons
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
  packages/sdk/src/engine-commands/queryEngineCommons.ts
Due: sdk

sdk: included details about original error when throwing GetConfigError and GetDmmfError
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
Due: sdk

sdk: added back retry support to getDmmfBinary, ported unlinkTempDatamodelPath to queryEngineCommonds, added comments.
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
  packages/sdk/src/engine-commands/queryEngineCommons.ts
Due: sdk

cli: added type-safe RustPanic management
  packages/cli/src/bin.ts
  packages/engine-core/src/index.ts
Due: engine-core

sdk: fixed nullable bug in unlinkTempDatamodelPath
  packages/sdk/src/engine-commands/queryEngineCommons.ts
Due: sdk

cli: fixed tests for artificial-panic
  packages/cli/src/__tests__/artificial-panic.test.ts
Due: none

sdk: brought TypeScript version down to 4.5.4
  packages/sdk/package.json
  pnpm-lock.yaml
Due: sdk

chore(deps): update jest
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f0850edcd98e27ecaee6fde502f08faee2bce8fe
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c0bdd272dab05b9734fe0f848d83665eb97925ca
  dev/bench/data.js
Due: none

minor
  packages/cli/src/Format.ts
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
Due: sdk

sdk: updated snapshot
  packages/sdk/src/__tests__/handlePanic.test.ts
Due: sdk

fix(client): return void on generate
  packages/client/src/generation/generateClient.ts
Due: client

fix(db pull): --url no longer overrides the datasource provider (#12910)
  .buildkite/publish/docker-compose.yml
  .buildkite/test/docker-compose.14.yml
  .github/workflows/test.yml
  TESTING.md
  packages/migrate/package.json
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
  packages/migrate/src/__tests__/fixtures/introspection/cockroachdb-with-postgresql-provider/schema.prisma
  packages/migrate/src/__tests__/fixtures/introspection/cockroachdb-with-postgresql-provider/setup.sql
  packages/migrate/src/__tests__/fixtures/introspection/cockroachdb/schema.prisma
  packages/migrate/src/__tests__/fixtures/introspection/cockroachdb/setup.sql
  packages/migrate/src/commands/DbPull.ts
  packages/migrate/src/utils/setupCockroach.ts
  packages/sdk/src/utils/jestSnapshotSerializer.js
  pnpm-lock.yaml
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f67fe459fcc11d6494d00d51c0991cb2c74109bf
  dev/bench/data.js
Due: none

sdk: renamed ErrorArea QUERY_ENGINE_LIBRARY -> QUERY_ENGINE_LIBRARY_CLI
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
  packages/sdk/src/panic.ts
Due: sdk

engine-core: removed unused
  packages/engine-core/src/common/types/QueryEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: engine-core

sdk: removed log from handlePanic
  packages/sdk/src/utils/handlePanic.ts
Due: sdk

engine-core: downgraded typescript version to original 4.5.4
  packages/engine-core/package.json
  pnpm-lock.yaml
Due: engine-core

sdk: updated snapshot
  packages/sdk/src/__tests__/__snapshots__/handlePanic.test.ts.snap
Due: sdk

cli: fixed artificial-panic tests
  packages/cli/src/__tests__/fixtures/artificial-panic/prisma/schema.prisma
Due: none

chore(deps): update engines to 3.14.0-33.656da0566481bafc47a8a1f135ab368779db1893
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
