Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

feat(migrate): [breaking] no automatic `prisma generate` on `migrate`/`db` commands (#28465)
  packages/cli/src/DebugInfo.ts
  packages/cli/src/__tests__/commands/DebugInfo.test.ts
  packages/client/src/__tests__/integration/__helpers__/migrateDb.ts
  packages/client/tests/e2e/bundler-detection-error/_steps.ts
  packages/client/tests/e2e/client-entrypoint/_steps.ts
  packages/client/tests/e2e/connection-limit-reached/_steps.ts
  packages/client/tests/e2e/driver-adapters-custom-db-schema/adapter-neon/_steps.ts
  packages/client/tests/e2e/driver-adapters-custom-db-schema/adapter-pg/_steps.ts
  packages/client/tests/e2e/example/_steps.ts
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/_steps.ts
  packages/client/tests/e2e/issues/19999-tsc-extensions-oom/_steps.ts
  packages/client/tests/e2e/issues/28221-multiple-provider-clients/_steps.cts
  packages/client/tests/e2e/mongodb-notablescan/_steps.ts
  packages/client/tests/e2e/nextjs-schema-not-found/10_monorepo-serverComponents-customOutput-noReExport/_steps.ts
  packages/client/tests/e2e/prisma-client-generator/enums-tsoa/_steps.cts
  packages/client/tests/e2e/prisma-client-generator/node-tsup-esm/_steps.cts
  packages/client/tests/e2e/prisma-client-generator/node-tsx-cjs/_steps.ts
  packages/client/tests/e2e/prisma-client-generator/node-tsx-esm-mts/_steps.ts
  packages/client/tests/e2e/prisma-client-generator/node-tsx-esm/_steps.cts
  packages/client/tests/e2e/publish-extensions/_steps.ts
  packages/client/tests/e2e/schema-folder-sqlite/_steps.ts
  packages/client/tests/e2e/schema-not-found-sst-electron/_steps.ts
  packages/client/tests/e2e/typed-sql-query-compiler-adapter-libsql/_steps.ts
  packages/client/tests/e2e/typed-sql/_steps.ts
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
  packages/client/tests/memory/_utils/database.ts
  packages/migrate/src/Migrate.ts
  packages/migrate/src/__tests__/Baseline.test.ts
  packages/migrate/src/__tests__/DbPush.test.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/migrate/src/__tests__/MigrateReset.test.ts
  packages/migrate/src/commands/DbPush.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateReset.ts
Due: client

feat(client): remove `datasourceUrl` from `PrismaClient` constructor (#28300)
  packages/client-generator-js/src/TSClient/PrismaClient.ts
  packages/client-generator-ts/src/TSClient/file-generators/PrismaNamespaceFile.ts
  packages/client/src/__tests__/integration/happy/not-so-exhaustive-schema-mongo/__snapshots__/binary.test.ts.snap
  packages/client/src/__tests__/integration/happy/not-so-exhaustive-schema-mongo/__snapshots__/library.test.ts.snap
  packages/client/src/__tests__/integration/happy/not-so-exhaustive-schema/__snapshots__/binary.test.ts.snap
  packages/client/src/__tests__/integration/happy/not-so-exhaustive-schema/__snapshots__/library.test.ts.snap
  packages/client/src/runtime/core/init/getDatasourceOverrides.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/validatePrismaClientOptions.ts
  packages/client/tests/e2e/env-var-security/pnpm-lock.yaml
  packages/client/tests/e2e/example/pnpm-lock.yaml
  packages/client/tests/e2e/external-tables/pnpm-lock.yaml
  packages/client/tests/e2e/generator-config-types/pnpm-lock.yaml
  packages/client/tests/e2e/mongodb-notablescan/pnpm-lock.yaml
  packages/client/tests/e2e/multi-schema-with-external/pnpm-lock.yaml
  packages/client/tests/e2e/pg-global-type-parsers/pnpm-lock.yaml
  packages/client/tests/functional/datasource-overrides/_matrix.ts
  packages/client/tests/functional/datasource-overrides/prisma/_schema.ts
  packages/client/tests/functional/datasource-overrides/tests.ts
  packages/type-benchmark-tests/basic/client-options.bench.ts
  packages/type-benchmark-tests/lots-of-relations/client-options.bench.ts
Due: client

refactor: update `checkUnsupportedDataProxy` to use config (#28474)
  packages/internals/src/cli/checkUnsupportedDataProxy.ts
  packages/migrate/src/commands/DbDrop.ts
  packages/migrate/src/commands/DbExecute.ts
  packages/migrate/src/commands/DbPull.ts
  packages/migrate/src/commands/DbPush.ts
  packages/migrate/src/commands/MigrateDeploy.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateReset.ts
  packages/migrate/src/commands/MigrateResolve.ts
  packages/migrate/src/commands/MigrateStatus.ts
Due: none

chore: bump minimum TypeScript version to 5.4 (#28257)
  packages/cli/package.json
  packages/client/package.json
  packages/client/tests/e2e/ts-version/5.1/README.md
  packages/client/tests/e2e/ts-version/5.2/README.md
  packages/client/tests/e2e/ts-version/5.2/package.json
  packages/client/tests/e2e/ts-version/5.3/README.md
  packages/client/tests/e2e/ts-version/5.3/_steps.ts
  packages/client/tests/e2e/ts-version/5.3/prisma/schema.prisma
  packages/client/tests/e2e/ts-version/5.3/src/index.ts
  packages/client/tests/e2e/ts-version/5.3/tsconfig.json
  packages/client/tests/e2e/ts-version/5.8/README.md
  packages/client/tests/e2e/ts-version/5.8/_steps.ts
  packages/client/tests/e2e/ts-version/5.8/package.json
  packages/client/tests/e2e/ts-version/5.8/prisma/schema.prisma
  packages/client/tests/e2e/ts-version/5.8/src/index.ts
  packages/client/tests/e2e/ts-version/5.8/tsconfig.json
  packages/client/tests/e2e/ts-version/5.9/README.md
  packages/client/tests/e2e/ts-version/5.9/_steps.ts
  packages/client/tests/e2e/ts-version/5.9/package.json
  packages/client/tests/e2e/ts-version/5.9/prisma/schema.prisma
  packages/client/tests/e2e/ts-version/5.9/src/index.ts
  packages/client/tests/e2e/ts-version/5.9/tsconfig.json
  packages/internals/package.json
Due: client

fix!: don't shim `WeakRef` (#28493)
  helpers/compile/plugins/fill-plugin/fillers/weakref.ts
  packages/client/helpers/build.ts
  packages/client/tests/e2e/unsupported-edge-error/wrangler.toml
  packages/client/tests/functional/_utils/wrangler.toml
  packages/client/tests/functional/driver-adapters/validate-active-provider/wrangler.toml
  sandbox/d1/wrangler.toml
Due: client

fix(client): reference the correct `edge.js` file (#28481)
  packages/client/package.json
Due: client

feat(cli): remove deprecated `introspect` cmd (#28286)
  packages/cli/src/CLI.ts
  packages/cli/src/__tests__/commands/CLI.test.ts
  packages/cli/src/bin.ts
  packages/internals/src/sendPanic.ts
Due: none

test(e2e): run prisma generate inside nextjs service fixture (#28482)
  packages/client/tests/e2e/nextjs-schema-not-found/10_monorepo-serverComponents-customOutput-noReExport/_steps.ts
Due: client

fix(cli): support `prisma-client` in telemetry (#28436)
  packages/cli/src/__tests__/checkpoint.test.ts
  packages/cli/src/__tests__/fixtures/checkpoint-read-schema/schema.prisma
  packages/cli/src/utils/checkpoint.ts
Due: none

chore: bump engines to 6.19.0-29.next-ac95b5893b3c05bf39a2431fc1a748dd46152ab4
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

fix: fix 21136 extension test (#28497)
  packages/client/tests/functional/issues/21136-extensions-mocking-library/tests.ts
Due: client

chore: bump engines to 6.20.0-11.next-80ee0a44bf5668992b0c909c946a755b86b56c95
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

feat(cli): update init
  packages/cli/src/Init.ts
  packages/cli/src/__tests__/Init.test.ts
  packages/cli/src/__tests__/__snapshots__/Init.test.ts.snap
  packages/cli/src/init/file-writer.ts
  packages/cli/src/init/generated-files.test.ts
  packages/cli/src/init/generated-files.ts
Due: none

fix: clarify the message about supported Node.js versions
  packages/cli/scripts/preinstall.ts
  packages/cli/src/__tests__/preinstall.test.ts
Due: none

feat(cli): improve `prisma init` output (#28546)
  packages/cli/src/Init.ts
  packages/cli/src/__tests__/Init.test.ts
  packages/cli/src/__tests__/__snapshots__/Init.test.ts.snap
  packages/cli/src/init/file-writer.ts
  packages/cli/src/init/generated-files.test.ts
  packages/cli/src/init/generated-files.ts
Due: none

test(generator-helper): add byline multibyte character handling tests
  packages/generator-helper/src/__tests__/byline.test.ts
Due: generator-helper

test(generator-helper): improve byline multibyte tests and simplify flush logic
  packages/generator-helper/src/__tests__/byline.test.ts
  packages/generator-helper/src/byline.ts
Due: generator-helper

fix(generator-helper): handle multibyte characters in byline streams
  packages/generator-helper/src/byline.ts
Due: generator-helper

refactor(generator-helper): use node: prefix for built-in module imports in byline
  packages/generator-helper/src/__tests__/byline.test.ts
  packages/generator-helper/src/byline.ts
Due: generator-helper

fix(client,internals,migrate): handle multibyte UTF-8 characters split across chunk boundaries in byline
  packages/client/src/__tests__/byline.test.ts
  packages/client/src/byline.ts
  packages/internals/src/__tests__/byline.test.ts
  packages/internals/src/utils/byline.ts
  packages/migrate/src/__tests__/byline.test.ts
  packages/migrate/src/utils/byline.ts
Due: client

fix(client,internals,migrate,generator-helper): handle encoding changes in byline StringDecoder
  packages/client/src/__tests__/byline.test.ts
  packages/client/src/byline.ts
  packages/generator-helper/src/__tests__/byline.test.ts
  packages/generator-helper/src/byline.ts
  packages/internals/src/__tests__/byline.test.ts
  packages/internals/src/utils/byline.ts
  packages/migrate/src/__tests__/byline.test.ts
  packages/migrate/src/utils/byline.ts
Due: client, generator-helper

test(client,internals,migrate): use consistent test() function naming in byline tests
  packages/client/src/__tests__/byline.test.ts
  packages/internals/src/__tests__/byline.test.ts
  packages/migrate/src/__tests__/byline.test.ts
Due: client

refactor(client,internals,migrate,generator-helper): replace byline with node:readline
  packages/client/src/__tests__/byline.test.ts
  packages/client/src/byline.ts
  packages/generator-helper/src/GeneratorProcess.ts
  packages/generator-helper/src/__tests__/byline.test.ts
  packages/generator-helper/src/byline.ts
  packages/generator-helper/src/generatorHandler.ts
  packages/internals/src/__tests__/byline.test.ts
  packages/internals/src/index.ts
  packages/internals/src/utils/byline.ts
  packages/migrate/src/SchemaEngineCLI.ts
  packages/migrate/src/__tests__/byline.test.ts
  packages/migrate/src/index.ts
  packages/migrate/src/utils/byline.ts
Due: client, generator-helper

test(generator-helper): add readline multibyte UTF-8 handling tests
  packages/generator-helper/src/__tests__/readline-utf8-split.test.ts
Due: generator-helper

chore: remove byline.ts from eslint ignore patterns
  eslint.config.cjs
Due: none

docs(generator-helper): improve test documentation for UTF-8 handling
  packages/generator-helper/src/__tests__/readline-utf8-split.test.ts
Due: generator-helper

fix: clarify the message about supported Node.js versions (#28545)
  packages/cli/scripts/preinstall.ts
  packages/cli/src/__tests__/preinstall.test.ts
Due: none

feat(client): made accelerateUrl and adapter mutually exclusive at type-level
  packages/client-generator-ts/src/TSClient/PrismaClient.ts
  packages/client-generator-ts/src/TSClient/file-generators/PrismaNamespaceFile.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/_steps.ts
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/jest.config.js
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/package.json
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/pnpm-lock.yaml
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/prisma.config.ts
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/prisma/schema.prisma
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/readme.md
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/src/accelerate-adapter.ts
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/src/accelerate.ts
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/src/adapter.ts
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/src/default.ts
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/src/empty.ts
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/tests/main.test.ts
  packages/client/tests/e2e/prisma-client-mutually-exclusive-options/tsconfig.json
Due: client

fix: fix sqlite node 20 studio issues
  packages/cli/src/Studio.ts
  sandbox/pnpm-workspace.yaml
  sandbox/studio/package.json
Due: none

fix: fix sqlite node 20 studio issues (#28552)
  packages/cli/src/Studio.ts
  sandbox/pnpm-workspace.yaml
  sandbox/studio/package.json
Due: none

feat: implement the studio telemetry endpoint
  packages/cli/src/Studio.ts
Due: none

feat(cli): update `prisma init --db` output
  packages/cli/package.json
  packages/cli/src/Init.ts
  packages/cli/src/management-api/api.ts
  packages/cli/src/management-api/auth-client.ts
  packages/cli/src/management-api/auth.ts
  packages/cli/src/management-api/client.ts
  packages/cli/src/management-api/credentials.ts
  packages/cli/src/management-api/openapi.d.ts
  packages/cli/src/platform/_lib/utils.ts
  pnpm-lock.yaml
Due: none
