Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

fix(client): fix tracing tests failing with QPE
  packages/client/src/runtime/core/engines/client/RemoteExecutor.ts
  packages/client/src/runtime/core/engines/common/types/QueryEngine.ts
  packages/client/tests/functional/_utils/qpe-worker-entry.cjs
  packages/client/tests/functional/_utils/qpe-worker.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/tracing-filtered-spans/tests.ts
  packages/client/tests/functional/tracing/tests.ts
  packages/query-plan-executor/src/logic/app.ts
  packages/query-plan-executor/src/tracing/handler.test.ts
  packages/query-plan-executor/src/tracing/integration.test.ts
  packages/query-plan-executor/src/tracing/span.test.ts
  packages/query-plan-executor/src/tracing/span.ts
Due: client

fix: apply code review comments
  packages/cli/src/management-api/auth.ts
Due: none

Await http server completion
  packages/client/tests/functional/_utils/qpe-worker.ts
Due: client

Remove redundant awaits
  packages/query-plan-executor/src/logic/app.ts
Due: none

chore: backport namespace fix for Prisma 6 (#28885)
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

Remove unnecessary error handlers and improve worker shutdown
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

Add startup timeout
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

Handle unexpected message types in response
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

Don't crash on terminate error
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

Increase timeouts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

ci: allow publishing without the NPM tag
  .github/workflows/release.yml
  scripts/ci/publish.ts
Due: none

refactor: TML-1654 use management api sdk init command (#28878)
  packages/cli/package.json
  packages/cli/src/Init.ts
  packages/cli/src/management-api/api.ts
  packages/cli/src/management-api/auth-client.ts
  packages/cli/src/management-api/auth.ts
  packages/cli/src/management-api/client.ts
  packages/cli/src/management-api/credentials.ts
  packages/cli/src/management-api/openapi.d.ts
  packages/cli/src/management-api/token-storage.ts
  packages/credentials-store/src/index.ts
  pnpm-lock.yaml
Due: none

feat(config): accept undefined datasource.url values at runtime
  packages/cli/src/utils/loadConfig.ts
  packages/config/src/__tests__/fixtures/loadConfigFromFile/datasource-url-undefined-env/prisma.config.ts
  packages/config/src/__tests__/fixtures/loadConfigFromFile/datasource-url-undefined/prisma.config.ts
  packages/config/src/__tests__/loadConfigFromFile.test.ts
Due: none

test(client): add prisma-config-generate-doesnt-need-valid-url e2e test
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/README.md
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/_steps.ts
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/package.json
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/pnpm-lock.yaml
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/prisma.config.ts
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/src/prisma.config.process-env.ts
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/src/prisma.config.using-env-helper.ts
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/src/prisma/schema.prisma
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/tsconfig.json
Due: client

feat(config): relax schema definition to accept optional datasource.url
  packages/cli/src/__tests__/commands/Generate.test.ts
  packages/cli/src/utils/loadConfig.ts
  packages/config/src/PrismaConfig.ts
  packages/internals/src/utils/validatePrismaConfigWithDatasource.ts
  packages/migrate/src/__tests__/DbDrop.test.ts
  packages/migrate/src/__tests__/DbExecute.test.ts
  packages/migrate/src/__tests__/DbPush.test.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/migrate/src/__tests__/MigrateReset.test.ts
  packages/migrate/src/__tests__/MigrateResolve.test.ts
  packages/migrate/src/__tests__/MigrateStatus.test.ts
Due: none

feat(config): update env error message
  packages/cli/src/__tests__/incomplete-schemas.test.ts
  packages/config/src/__tests__/env.test.ts
  packages/config/src/__tests__/loadConfigFromFile.test.ts
  packages/config/src/env.ts
Due: none

test(client): minor touches to prisma-config-generate-doesnt-need-valid-url e2e
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/README.md
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/pnpm-lock.yaml
  packages/client/tests/e2e/prisma-config-generate-doesnt-need-valid-url/src/prisma.config.process-env.ts
Due: client

fix(test): update snapshot
  packages/cli/src/__tests__/incomplete-schemas.test.ts
Due: none

ci: allow setting a custom dist tag
  .github/workflows/release.yml
  scripts/ci/publish.ts
Due: none

ci: allow publishing with custom NPM tag (#28893)
  .github/workflows/release.yml
  scripts/ci/publish.ts
Due: none

ci: backport release CI changes
  .github/workflows/benchmark.yml
  .github/workflows/bundle-size.yml
  .github/workflows/ci-aux-files.yml
  .github/workflows/release-ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  scripts/ci/publish.ts
Due: none

ci: backport release CI changes (#28897)
  .github/workflows/benchmark.yml
  .github/workflows/bundle-size.yml
  .github/workflows/ci-aux-files.yml
  .github/workflows/release-ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  scripts/ci/publish.ts
Due: none

chore: mark type benchmark tests package private (#28454)
  packages/type-benchmark-tests/package.json
Due: none

chore: mark type benchmark tests package private (#28898)
  packages/type-benchmark-tests/package.json
Due: none

Add executorSpanInfix
  packages/client/tests/functional/tracing/tests.ts
Due: client

docs: Update link for Prisma examples repository (#28745)
  examples/README.md
Due: none

feat(cli): refactor "prisma init"'s default prisma.config.ts generation
  packages/cli/src/Init.ts
  packages/cli/src/__tests__/Init.test.ts
  packages/cli/src/__tests__/__snapshots__/Init.test.ts.snap
Due: none

test(client): add possibility to run e2e tests with bun
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/_utils/standard.dockerfile
Due: client

test(client): add "prisma-init-bun" e2e test
  packages/client/tests/e2e/prisma-init-bun/README.md
  packages/client/tests/e2e/prisma-init-bun/_steps.ts
  packages/client/tests/e2e/prisma-init-bun/package.json
  packages/client/tests/e2e/prisma-init-bun/pnpm-lock.yaml
  packages/client/tests/e2e/prisma-init-bun/tests/prisma.config.test.ts
  packages/client/tests/e2e/prisma-init-bun/tsconfig.json
Due: client

fix(client,internals,migrate,generator-helper): handle multibyte UTF-8 characters split across chunk boundaries in byline (#28535)
  eslint.config.cjs
  packages/client/src/byline.ts
  packages/generator-helper/src/GeneratorProcess.ts
  packages/generator-helper/src/__tests__/readline-utf8-split.test.ts
  packages/generator-helper/src/byline.ts
  packages/generator-helper/src/generatorHandler.ts
  packages/internals/src/index.ts
  packages/internals/src/utils/byline.ts
  packages/migrate/src/SchemaEngineCLI.ts
  packages/migrate/src/index.ts
  packages/migrate/src/utils/byline.ts
Due: client, generator-helper

fix(client): fix tracing tests failing with QPE (#28886)
  packages/client/src/runtime/core/engines/client/RemoteExecutor.ts
  packages/client/src/runtime/core/engines/common/types/QueryEngine.ts
  packages/client/tests/functional/_utils/qpe-worker-entry.cjs
  packages/client/tests/functional/_utils/qpe-worker.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/tracing-filtered-spans/tests.ts
  packages/client/tests/functional/tracing/tests.ts
  packages/query-plan-executor/src/logic/app.ts
  packages/query-plan-executor/src/tracing/handler.test.ts
  packages/query-plan-executor/src/tracing/integration.test.ts
  packages/query-plan-executor/src/tracing/span.test.ts
  packages/query-plan-executor/src/tracing/span.ts
Due: client

fix: fix citext test
  packages/integration-tests/src/__tests__/integration/postgresql/__scenarios.ts
  packages/integration-tests/src/__tests__/integration/postgresql/__snapshots__/introspection.test.ts.snap
Due: none

...
  packages/cli/package.json
  packages/cli/src/Init.ts
  pnpm-lock.yaml
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
