Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

fix(build): wrong auto imports
  tsconfig.json
Due: none

fix(client): common env logic
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils/buildInlineEnv.ts
  packages/client/src/generation/utils/buildInlineSchema.ts
  packages/sdk/src/utils/tryLoadEnvs.ts
Due: client, sdk

chore(deps): update dependency jest to v27.2.5
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

chore(deps): update definitelytyped
  package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 03ce63b3dd539459df0b1d258792f73f4c6bca10
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0b9bc51a4a2ed1afeb3f503c7868f705f9510243
  dev/bench/data.js
Due: none

chore(deps): update devdependencies (non-major)
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for dd0dfb7042568d8bb720a1e625e31f47bf0a8a1b
  dev/bench/data.js
Due: none

chore(deps): update react-prisma
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 406017baf78d927b9b0ac69b76406d2029179992
  dev/bench/data.js
Due: none

test: fix platform regex for ARM64 macOS
  packages/cli/package.json
  packages/cli/src/__tests__/__helpers__/snapshotSerializer.ts
  packages/client/helpers/jestSnapshotSerializer.js
  packages/client/package.json
  packages/integration-tests/package.json
  packages/integration-tests/src/__tests__/__helpers__/snapshotSerializer.ts
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/utils/platformRegex.ts
  pnpm-lock.yaml
Due: client, sdk

fix(dbpull): better wording for mongo data type warning
  packages/migrate/src/commands/DbPull.ts
Due: none

chore(deps): update engines to 3.3.0-11.e2511b01748258c309283a2f8736bac7432ece9d
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

test: fix platform regex for ARM64 macOS (#9747)
  packages/cli/package.json
  packages/cli/src/__tests__/__helpers__/snapshotSerializer.ts
  packages/client/helpers/jestSnapshotSerializer.js
  packages/client/package.json
  packages/integration-tests/package.json
  packages/integration-tests/src/__tests__/__helpers__/snapshotSerializer.ts
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/utils/platformRegex.ts
  pnpm-lock.yaml
Due: client, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f48cd49024ef78b90724fe275f7548d37a8a419f
  dev/bench/data.js
Due: none

fix(deps): update dependency escape-string-regexp to v5
  packages/sdk/package.json
  pnpm-lock.yaml
Due: sdk

chore(deps): update engines to 3.3.0-11.e2511b01748258c309283a2f8736bac7432ece9d (#9748)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a46efbd5986637076f8f6bcba37b4adb991b2661
  dev/bench/data.js
Due: none

fix(dbpull): better wording for mongo data type warning (#9746)
  packages/migrate/src/commands/DbPull.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b23b992e396442a63c0879454f9c89796a92aa94
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.3.0-12.b8ff758acce1cd7dd608ba0665be8ae6586f60db
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.3.0-12.b8ff758acce1cd7dd608ba0665be8ae6586f60db (#9752)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f350d3f009a5d03b1d55b919cc0a59c5bf85b4aa
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.3.0-13.9ee5bca39152e10bdaa3e3c313c326846dc16eb6
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.3.0-13.9ee5bca39152e10bdaa3e3c313c326846dc16eb6 (#9754)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0f113ec9f3448c9d26054c58d22fc24172b34905
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.3.0-14.442ead47749e48a14231db89f95d77390a616336
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

ci: remove unused SKIP_GIT
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
