Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

fix(client): remove timeout
  src/packages/engine-core/src/undici.ts
Due: engine-core

chore(deps): update devdependencies (non-major)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

chore(deps): update studio to v0.308.0
  src/packages/cli/package.json
Due: none

fix(client): request timeout
  src/packages/engine-core/src/NodeEngine.ts
  src/packages/engine-core/src/undici.ts
Due: engine-core

chore: cleanup
  src/packages/engine-core/src/NodeEngine.ts
Due: engine-core

build: cleanup sqlite3 version to v5.0 (#4155)
  .github/workflows/test.yml
  src/.buildkite/publish/run.sh
  src/.buildkite/test/run.sh
  src/packages/tests/package.json
  src/scripts/setup.ts
Due: none

chore: cleanup, incorporate feedback
  src/packages/cli/.gitignore
  src/packages/cli/pnpm-lock.yaml
  src/packages/client/.gitignore
  src/packages/client/pnpm-lock.yaml
  src/packages/client/src/__tests__/integration/happy/native-types-postgres/test.ts
  src/packages/engine-core/pnpm-lock.yaml
  src/packages/fetch-engine/.gitignore
  src/packages/fetch-engine/pnpm-lock.yaml
  src/packages/migrate/.gitignore
  src/packages/migrate/pnpm-lock.yaml
  src/packages/sdk/.gitignore
  src/packages/sdk/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to v2.11.2-7-a464330df75992fa2544d7a118a6ab1679f0bd5e
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to v2.11.2-8-03d7c3a95fecc4d85eb47a803e35e58821e3f6a0
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

fix(client,cli): dotenv conflict tests
  src/packages/cli/src/__tests__/dotenv-3-conflict.test.ts
  src/packages/client/src/__tests__/integration/happy/blog-dot-env-both-conflict/test.ts
  src/packages/sdk/src/utils/tryLoadEnvs.ts
Due: client, sdk

fix(client): remove undici timeouts (#4156)
  src/packages/engine-core/src/NodeEngine.ts
  src/packages/engine-core/src/undici.ts
Due: engine-core

fix(client,cli): dotenv conflict tests (#4154)
  src/packages/cli/src/__tests__/dotenv-3-conflict.test.ts
  src/packages/client/src/__tests__/integration/happy/blog-dot-env-both-conflict/test.ts
  src/packages/sdk/src/utils/tryLoadEnvs.ts
Due: client, sdk

chore: update provider-array test, bump engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/provider-array/schema.prisma
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/dev.db
  src/packages/engine-core/package.json
  src/packages/engine-core/pnpm-lock.yaml
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

chore: make uncheckedScalarInputs dev.db deterministic
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/dev.db
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/test.ts
Due: client

chore: update tests
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/dev.db
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/test.ts
Due: client

chore: update tests
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/dev.db
Due: client

chore: ignore dev.db
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/.gitignore
Due: client

chore: update provider-array test, bump engines (#4164)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/provider-array/schema.prisma
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/.gitignore
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/dev.db
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/test.ts
  src/packages/engine-core/package.json
  src/packages/engine-core/pnpm-lock.yaml
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

chore(deps): update devdependencies (non-major)
  src/packages/client/package.json
Due: client

chore: fix tests
  src/packages/client/src/__tests__/integration/happy/blog-update/test.ts
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/.gitignore
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/dev.db
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/schema.prisma
  src/packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/test.ts
Due: client

feat(migrate): add new RPC commands
  src/packages/migrate/src/MigrateEngine.ts
  src/packages/migrate/src/__tests__/rpc.test.ts
  src/packages/migrate/src/types.ts
Due: none

fix: introduce namespaces
  src/packages/client/fixtures/blog/prisma/schema.prisma
  src/packages/client/src/__tests__/integration/happy/blog-env-mssql/test.ts
  src/packages/client/src/__tests__/integration/happy/blog-env-postgresql/test.ts
  src/packages/client/src/__tests__/integration/happy/blog/test.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/transaction/test.ts
  src/packages/client/src/__tests__/types/blog/index.ts
  src/packages/client/src/__tests__/types/connectOrCreate-disabled/index.ts
  src/packages/client/src/__tests__/types/connectOrCreate-enabled/index.ts
  src/packages/client/src/__tests__/types/json/index.ts
  src/packages/client/src/__tests__/types/native-types/index.ts
  src/packages/client/src/__tests__/types/transactionApi-disabled/index.ts
  src/packages/client/src/__tests__/types/transactionApi-enabled/index.ts
  src/packages/client/src/__tests__/types/uncheckedScalarInputs/index.ts
  src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/runtime/dmmf.ts
  src/packages/client/src/runtime/utils/common.ts
Due: client

chore: update snapshots
  src/packages/client/src/__tests__/integration/happy/blog-dot-env-both-conflict/test.ts
Due: client

fix(deps): update engines to v2.11.2-9-a624a6628b9e5e453bb8f8cb0460e233a3a97e62
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

chore: update snapshot
  src/packages/client/src/__tests__/integration/happy/blog-dot-env-both-conflict/test.ts
  src/pnpm-lock.yaml
Due: client

ci: try mysql after mssql gh action [skip ci]
  .github/workflows/test.yml
Due: none

feat(client): add types to middleware params.model
  src/packages/client/src/generation/TSClient.ts
Due: client
