Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore(deps): update dependency replace-string to v4
  packages/cli/package.json
  packages/client/package.json
  packages/integration-tests/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update devdependencies (non-major)
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 6de2d492ef7dd9a342631d92f5a530e5a4a0f821
  dev/bench/data.js
Due: none

chore(deps): update react-prisma
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 47e20f51dd9606a3372783ed31b32e12aa6e9185
  dev/bench/data.js
Due: none

chore(deps): update dependency @types/jest to v27
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for cc2c147d2c1bf71174f02a40445345d9456c4223
  dev/bench/data.js
Due: none

feat(client): enable node-api
  packages/client/fixtures/blog/main.ts
  packages/client/fixtures/blog/prisma/schema.prisma
  packages/client/src/__tests__/integration/happy/client-engine/.gitignore
  packages/client/src/__tests__/integration/happy/client-engine/dev.db
  packages/client/src/__tests__/integration/happy/client-engine/test.ts
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/generator.ts
  packages/client/src/generation/utils.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/getClientEngineType.ts
  packages/client/src/utils/generateInFolder.ts
  packages/client/src/utils/getTestClient.ts
  src/pnpm-lock.yaml
Due: client

chore(client): remove PRISMA_FORCE_NAPI and previewFeature('nApi')
  packages/client/src/__tests__/binaryEngine.test.ts
  packages/client/src/__tests__/generation/generator.test.ts
  packages/client/src/__tests__/integration/errors/corruption/test.ts
  packages/client/src/__tests__/integration/errors/error-link/test.ts
  packages/client/src/__tests__/integration/errors/missing-binary-native-binaryTarget/test.ts
  packages/client/src/__tests__/integration/errors/missing-binary/test.ts
  packages/client/src/__tests__/integration/errors/too-many-engines/test.ts
  packages/client/src/__tests__/integration/happy/binary/test.ts
  packages/client/src/__tests__/integration/happy/chmod/test.ts
  packages/client/src/__tests__/integration/happy/client-engine/test.ts
  packages/client/src/__tests__/integration/happy/restart/test.ts
  packages/client/src/runtime/utils/getClientEngineType.ts
  packages/sdk/src/engine-commands/getDmmf.ts
Due: client, sdk

change test matrix
  .buildkite/test/run.sh
  .github/workflows/test.yml
  packages/client/src/utils/getTestClient.ts
  scripts/ci/publish.ts
Due: client

use integration version of engines-wrapper packages
  src/pnpm-lock.yaml
Due: none

fix remaining tests
  packages/cli/src/Version.ts
  packages/cli/src/__tests__/version.test.ts
  packages/sdk/src/__tests__/engine-commands/getVersion.test.ts
  packages/sdk/src/__tests__/getGenerators/getGenerators.test.ts
Due: sdk

switch default to node-api
  packages/client/src/runtime/utils/getClientEngineType.ts
Due: client

fix getGenerators
  packages/sdk/src/getGenerators.ts
Due: sdk

check client engine before assertion
  packages/client/src/__tests__/integration/errors/error-link/test.ts
Due: client

update build-kite configuration
  .buildkite/test/run.sh
  scripts/ci/publish.ts
Due: none

binaryPath -> enginePath
  packages/client/src/generation/generateClient.ts
Due: client

change relavant tests to use PRISMA_CLIENT_ENGINE_TYPE
  .buildkite/test/run.sh
  .github/workflows/test.yml
  scripts/ci/publish.ts
Due: none

remove proxy
  packages/client/src/runtime/utils/getClientEngineType.ts
Due: client

ensureTestClientQueryEngine
  packages/client/src/utils/ensureTestClientQueryEngine.ts
  packages/client/src/utils/generateInFolder.ts
  packages/client/src/utils/getTestClient.ts
Due: client

fix: engine commands
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
  packages/sdk/src/engine-commands/getVersion.ts
Due: sdk

test tmp fix
  packages/client/src/utils/generateInFolder.ts
  packages/client/src/utils/getTestClient.ts
Due: client

fix getGenerators test
  packages/sdk/src/__tests__/getGenerators/getGenerators.test.ts
Due: sdk

tmp(build-kite): do not use job 2
  scripts/ci/publish.ts
Due: none

generate and run tests in tmp dir
  packages/client/src/__tests__/integration/happy/client-engine/test.ts
Due: client

update package-lock
  src/pnpm-lock.yaml
Due: none

bump engines
  pnpm-lock.yaml
Due: none

bump-engines
  pnpm-lock.yaml
Due: none

remove `nApi` from the list of deprecated feature flags
  packages/sdk/src/engine-commands/getDmmf.ts
Due: sdk

switch the default client engine to binary and fix rebase issues
  packages/client/src/__tests__/integration/happy/client-engine/test.ts
  packages/client/src/runtime/utils/getClientEngineType.ts
Due: client

update build kite scripts
  .buildkite/test/run.sh
  scripts/ci/publish.ts
Due: none

Update NodeAPILibraryTypes.ts
  packages/engine-core/src/common/types/QueryEngine.ts
Due: engine-core

re-add support for the previewFeature
  packages/client/src/runtime/utils/getClientEngineType.ts
Due: client
