Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

chore(deps): update devdependencies (non-major)
  package.json
  pnpm-lock.yaml
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

fix: undici v3 breaking changes
  src/packages/engine-core/src/undici.ts
Due: engine-core

chore: wip
  src/packages/cli/package.json
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/fixtures/blog/prisma/schema.prisma
  src/packages/client/package.json
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

chore: fix flaky test
  src/packages/client/src/__tests__/integration/happy/raw-transactions/test.ts
Due: client

chore: bump engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

chore: fix flaky test (#4866)
  src/packages/client/src/__tests__/integration/happy/raw-transactions/test.ts
Due: client

chore: bump engines (#4867)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

chore: update snapshots
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient/Input.ts
Due: client

fix(client): remove enumerable on OR
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/src/generation/TSClient/Input.ts
Due: client

update snapshots
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

test: unhappy OR type
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/unhappy-object-or/index.d.ts
  src/packages/client/src/__tests__/types/unhappy-object-or/index.test-d.ts
  src/packages/client/src/__tests__/types/unhappy-object-or/schema.prisma
  src/packages/client/src/__tests__/types/unhappy-object-or/test.ts
  src/packages/client/src/__tests__/types/unhappy-object-or/tsconfig.json
Due: client

fix(client): add runtime checks/tests
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/src/__tests__/integration/errors/invalid-input/test.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

feat(client): groupby having types
  src/packages/cli/package.json
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/groupBy/test.ts
  src/packages/client/src/__tests__/types/groupBy/index.test-d.ts
  src/packages/client/src/__tests__/types/groupBy/test.ts
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/common.ts
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix: types
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/groupBy/test.ts
  src/packages/client/src/generation/TSClient/Model.ts
Due: client

fix: types
  src/packages/client/src/generation/TSClient/Model.ts
Due: client

chore: update snapshots
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

fix(deps): update engines to v2.14.0-30.8213130f6cd589d5fd70dbcc137c97df429893b5
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

feat(client): group by having types (#4873)
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/fixtures/blog/prisma/schema.prisma
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/groupBy/test.ts
  src/packages/client/src/__tests__/types/groupBy/index.test-d.ts
  src/packages/client/src/__tests__/types/groupBy/test.ts
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/common.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/pnpm-lock.yaml
Due: client

chore: cleanup
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/package.json
  src/pnpm-lock.yaml
Due: client

chore(deps): pin dependency ts-toolbelt to 8.0.7
  src/packages/client/package.json
Due: client

chore: cleanup (#4874)
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/package.json
  src/pnpm-lock.yaml
Due: client

fix: check for empty by
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/groupBy/index.test-d.ts
  src/packages/client/src/generation/TSClient/Model.ts
Due: client

fix: check for empty by (#4876)
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/groupBy/index.test-d.ts
  src/packages/client/src/generation/TSClient/Model.ts
Due: client

chore: increase test timeout
  src/packages/client/jest.config.js
  src/packages/client/src/__tests__/types/types.test.ts
Due: client

chore: increase test timeout (#4877)
  src/packages/client/jest.config.js
  src/packages/client/src/__tests__/types/types.test.ts
Due: client

Update src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

fix(react-prisma): query args
  src/packages/react-prisma/src/index.ts
Due: none

fix(react-prisma): query args (#4881)
  src/packages/react-prisma/src/index.ts
Due: none

chore: format number
  src/packages/client/src/__tests__/integration/errors/connection-limit/test.ts
Due: client

chore(deps): update definitelytyped
  package.json
  pnpm-lock.yaml
  src/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

Path conditions:
  get-platform: any of: src/packages/get-platform/
  fetch-engine: any of: src/packages/fetch-engine/
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
