Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

add Benchmark.js Benchmark (benchmarkjs) benchmark result for faf06e8d59abaed41b5bd1163fac6554275fb4b2
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.8.0-5.4f46a9eae52ebe9bc7c675c3e6ba65a4b614eeab
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.8.0-5.4f46a9eae52ebe9bc7c675c3e6ba65a4b614eeab (#10821)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b6472c3f1eea63ba2a6242f9b6c60137385eede1
  dev/bench/data.js
Due: none

chore: update locks
  pnpm-lock.yaml
Due: none

fix(client): bundle wasm
  packages/client/helpers/build.ts
Due: client

fix(cli): remove wasm copy
  packages/cli/helpers/build.ts
Due: none

chore(deps): update engines to 3.8.0-6.07605d3f828f60f4ef028ce140c14ce9334ad205
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.8.0-6.07605d3f828f60f4ef028ce140c14ce9334ad205 (#10823)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 80d0e7bf3be325a038d0c3d68c51d7934cdd8286
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.8.0-7.c071790f7656357a95eb833c00403dab1d74243d
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.8.0-7.c071790f7656357a95eb833c00403dab1d74243d (#10824)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7c53c03999bcaefa10276fd9a9426bb86a3ff276
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.8.0-8.530cddf3eee715590da2fed2adf9fa00d44717c7
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(engine-core): bump undici
  packages/engine-core/package.json
  pnpm-lock.yaml
Due: engine-core

chore(deps): update engines to 3.8.0-8.530cddf3eee715590da2fed2adf9fa00d44717c7 (#10827)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore: cleanup
  helpers/compile/depcheck.ts
  helpers/compile/plugins/replaceWithPlugin.ts
  packages/client/helpers/build.ts
  packages/client/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b9d69b15c2d2c20ea0819f6f1cebea877c1d1157
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.8.0-9.803678eb3d9f17fbbb5c4d7e16b0a0a751e1460c
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.8.0-9.803678eb3d9f17fbbb5c4d7e16b0a0a751e1460c (#10830)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 83703ffacea15e343ff87b726323a575d5f4d485
  dev/bench/data.js
Due: none

chore: bump undici
  packages/engine-core/package.json
  pnpm-lock.yaml
Due: engine-core

new test for cascade setnull
  packages/client/src/__tests__/integration/happy/referentialActions-onDelete-SetNull-mysql/schema.prisma
  packages/client/src/__tests__/integration/happy/referentialActions-onDelete-SetNull-mysql/test.ts
Due: client

make author optional so can be set null and fix
  packages/client/src/__tests__/integration/happy/referentialActions-onDelete-SetNull-mysql/schema.prisma
  packages/client/src/__tests__/integration/happy/referentialActions-onDelete-SetNull-mysql/test.ts
Due: client

change expect
  packages/client/src/__tests__/integration/happy/referentialActions-onDelete-SetNull-mysql/test.ts
Due: client

fix setnull test
  CONTRIBUTING.md
  packages/client/src/__tests__/integration/happy/referentialActions-onDelete-SetNull-mysql/test.ts
Due: client

fix(client): send otel trace headers
  packages/client/src/runtime/PrismaClientFetcher.ts
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/core/model/applyModel.ts
  packages/client/src/runtime/core/request/createPrismaPromise.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/otel/applyTracingHeaders.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/common/types/QueryEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: client, engine-core

feat(cockroachdb): Init and display provider in CLI output
  packages/cli/src/Init.ts
  packages/client/src/runtime/utils/printDatasources.ts
  packages/generator-helper/src/types.ts
  packages/migrate/src/utils/ensureDatabaseExists.ts
  packages/migrate/src/utils/printDatasources.ts
  packages/sdk/src/convertCredentials.ts
Due: client, generator-helper, sdk

chore(deps): update studio to v0.446.0
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update engines to 3.8.0-10.400a53ae8787873652c86dd8b9078cc7f2ac99ad
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.8.0-10.400a53ae8787873652c86dd8b9078cc7f2ac99ad (#10847)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d9c7e9ebfc7fc2822aace4bebab6a3b58185c92f
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.8.0-11.6335030a34c33cc0fe4e371328e23cdd33806b3c
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk
