Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

skip test for relationJoins
  packages/client/tests/functional/_utils/getTestSuiteInfo.ts
  packages/client/tests/functional/_utils/getTestSuitePlan.ts
  packages/client/tests/functional/extensions/result.ts
Due: client

expose fields for pdp and throw error in edge runtimes
  packages/client/src/runtime/core/runtimeDataModel.ts
  packages/client/tests/functional/extensions/pdp.ts
  packages/client/tests/functional/extensions/prisma/_schema.ts
  packages/client/tests/functional/prisma-dot-dmmf/__snapshots__/tests.ts.snap
  packages/client/tests/functional/prisma-dot-dmmf/tests.ts
Due: client

fix(client): prune generated dmmf
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils/buildDMMF.ts
  packages/client/src/runtime/core/runtimeDataModel.ts
Due: client

properly prune and type dmmf subtype
  packages/client/src/runtime/core/runtimeDataModel.ts
Due: client

update snaps
  packages/client/tests/functional/prisma-dot-dmmf/__snapshots__/tests.ts.snap
Due: client

update snaps
  packages/client/tests/functional/prisma-dot-dmmf/__snapshots__/tests.ts.snap
  packages/client/tests/functional/prisma-dot-dmmf/tests.ts
Due: client

fix(client): no pretty printing in edge runtimes
  packages/client/src/runtime/utils/SourceFileSlice.ts
  packages/client/src/runtime/utils/createErrorMessageWithContext.ts
  packages/client/tests/functional/_utils/setupFilesAfterEnv.ts
Due: client

fix unit tests for createErrorMessageWithContext
  packages/client/src/runtime/utils/createErrorMessageWithContext.test.ts
Due: client

fix(client): optimize callsite edge runtime
  packages/client/src/runtime/utils/CallSite.ts
Due: client

enable getCallSite to work in jest
  packages/client/src/runtime/utils/CallSite.ts
  packages/client/tests/functional/_utils/setupFilesAfterEnv.ts
Due: client

fix jest setup
  packages/client/src/runtime/utils/CallSite.ts
  packages/client/tests/functional/_utils/setupFilesAfterEnv.ts
Due: client

fix(client): optimize path polyfill
  helpers/compile/plugins/depCheckPlugin.ts
  helpers/compile/plugins/fill-plugin/fillPlugin.ts
  helpers/compile/plugins/fill-plugin/fillers/path.ts
  package.json
  packages/client/helpers/build.ts
  pnpm-lock.yaml
Due: client

also include tty polyfill
  helpers/compile/plugins/fill-plugin/fillPlugin.ts
  helpers/compile/plugins/fill-plugin/fillers/tty.ts
Due: none

fix(client): optimize process polyfill
  helpers/compile/plugins/fill-plugin/fillPlugin.ts
Due: none

only retain used process polyfill parts
  helpers/compile/plugins/fill-plugin/fillPlugin.ts
  helpers/compile/plugins/fill-plugin/fillers/process.ts
Due: none

add path.sep
  helpers/compile/plugins/fill-plugin/fillers/path.ts
Due: none

add posix polyfill
  helpers/compile/plugins/fill-plugin/fillers/path.ts
Due: none

remove parts of polyfill
  helpers/compile/plugins/fill-plugin/fillers/process.ts
Due: none

feat: bump @planetscale/database to 1.15.0 (#22953)
  packages/adapter-planetscale/package.json
  packages/adapter-planetscale/src/conversion.ts
  packages/bundle-size/package.json
  packages/client/package.json
  pnpm-lock.yaml
  sandbox/driver-adapters/package.json
Due: client

if PRISMA_ENGINES_CHECKSUM_IGNORE_MISSING = 1 and target does not exist try to copy from cache, else download is required
  packages/fetch-engine/src/download.ts
Due: none

fix(client): no pretty printing in edge runtimes (#22986)
  packages/client/src/runtime/utils/SourceFileSlice.ts
  packages/client/src/runtime/utils/createErrorMessageWithContext.test.ts
  packages/client/src/runtime/utils/createErrorMessageWithContext.ts
  packages/client/tests/functional/_utils/setupFilesAfterEnv.ts
Due: client

fix(client): optimize process polyfill (#22995)
  helpers/compile/plugins/fill-plugin/fillers/process.ts
Due: none

only use $EnabledCallSite if error format is minimal
  packages/client/src/runtime/utils/CallSite.ts
Due: client

do not download if target exist, but download if target not exist, and no cachedFile exist
  packages/fetch-engine/src/download.ts
Due: none

fix(client): optimize callsite edge runtime (#22987)
  packages/client/src/runtime/utils/CallSite.ts
  packages/client/tests/functional/_utils/setupFilesAfterEnv.ts
Due: client

chore(deps): update engines to 5.10.0-10.09eface401e48b8f820aadc20479a248f3d5bd17
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix(client): prune generated dmmf (#22962)
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils/buildDMMF.ts
  packages/client/src/runtime/core/runtimeDataModel.ts
  packages/client/tests/functional/_utils/getTestSuiteInfo.ts
  packages/client/tests/functional/_utils/getTestSuitePlan.ts
  packages/client/tests/functional/extensions/pdp.ts
  packages/client/tests/functional/extensions/prisma/_schema.ts
  packages/client/tests/functional/extensions/result.ts
  packages/client/tests/functional/prisma-dot-dmmf/__snapshots__/tests.ts.snap
  packages/client/tests/functional/prisma-dot-dmmf/tests.ts
Due: client

fix(client): optimize `path` and `tty` polyfills (#22993)
  helpers/compile/plugins/depCheckPlugin.ts
  helpers/compile/plugins/fill-plugin/fillPlugin.ts
  helpers/compile/plugins/fill-plugin/fillers/path.ts
  helpers/compile/plugins/fill-plugin/fillers/tty.ts
  package.json
  packages/client/helpers/build.ts
  pnpm-lock.yaml
Due: client

fix client copy
  packages/cli/helpers/copy-prisma-client.ts
Due: none

chore: use tsx instead of esbuild-register
  package.json
  packages/adapter-d1/package.json
  packages/adapter-libsql/package.json
  packages/adapter-neon/package.json
  packages/adapter-pg/package.json
  packages/adapter-planetscale/package.json
  packages/bundle-size/package.json
  packages/cli/helpers/build.ts
  packages/cli/helpers/copy-prisma-client.ts
  packages/cli/package.json
  packages/client/package.json
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/_utils/standard.dockerfile
  packages/client/tests/e2e/prisma-client-imports/_steps.ts
  packages/client/tests/e2e/require-in-the-middle/_steps.ts
  packages/debug/package.json
  packages/driver-adapter-utils/package.json
  packages/engines/package.json
  packages/engines/scripts/postinstall.js
  packages/fetch-engine/package.json
  packages/generator-helper/package.json
  packages/get-platform/package.json
  packages/instrumentation/package.json
  packages/integration-tests/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
  scripts/bench.ts
Due: client, debug, generator-helper

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
