Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore(deps): update engines to 4.7.0-44.13aac41f99aacedd4786208ed0b9dabcfa7493b8 (#16379)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.7.0-46.integration-closed-itx-error-message-1fd4fa6d3e3c46ab375365a8faa84327ec51ece5
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.7.0-47.ff00e0ed8be197c2d168ee7dd9e70867c6fd55a9
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.7.0-47.ff00e0ed8be197c2d168ee7dd9e70867c6fd55a9 (#16387)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

refactor: don't send unnecessary X-transaction-id header to Data Proxy (#16260)
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/common/utils/runtimeHeadersToHttpHeaders.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
Due: engine-core

chore(deps): update engines to 4.7.0-48.integration-closed-itx-error-message-2687e7ffbef0eff16081f50686187a4c326f090b
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.7.0-49.7586f197a86dc755ba5c020f17bd98194efb912f
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

update db pull postgresql-multi-schema snapshot
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
Due: none

chore(deps): update engines to 4.7.0-49.7586f197a86dc755ba5c020f17bd98194efb912f (#16394)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
  pnpm-lock.yaml
Due: client

test: remove `referentialIntegrity` flag
  packages/client/tests/functional/_example/_matrix.ts
  packages/client/tests/functional/issues/10000/_matrix.ts
  packages/client/tests/functional/issues/11974/prisma/_schema.ts
  packages/client/tests/functional/issues/12378/_matrix.ts
  packages/client/tests/functional/issues/12557/_matrix.ts
  packages/client/tests/functional/issues/13766/at-unique/prisma/_schema.ts
  packages/client/tests/functional/issues/13766/primary-key/prisma/_schema.ts
  packages/client/tests/functional/issues/14271/_matrix.ts
  packages/client/tests/functional/referentialIntegrity-property-deprecated/prisma/_schema.ts
  packages/client/tests/functional/relationMode-m-n-mongodb-failing-with-at-map/_matrix.ts
  packages/client/tests/functional/relationMode/_matrix.ts
Due: client

chore(deps): update engines to 4.7.0-50.migrate-cwd-7d4a5088be5d8f92b8a8ece71c481c640ca7b570
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix computeSchema
  packages/client/tests/functional/_utils/relationMode/computeSchemaHeader.ts
  packages/client/tests/functional/relationMode-m-n-mongodb-failing-with-at-map/prisma/_schema.ts
Due: client

use unc path on windows
  packages/client/tests/functional/_utils/getTestSuiteInfo.ts
Due: client

Ensure cwd is not in the long path
  packages/migrate/src/MigrateEngine.ts
  packages/migrate/src/commands/DbDrop.ts
  packages/migrate/src/utils/ensureDatabaseExists.ts
Due: none

tmp: bump engines
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

TMP: use --cwd argument
  packages/internals/src/migrateEngineCommands.ts
  packages/migrate/src/MigrateEngine.ts
  packages/migrate/src/commands/DbDrop.ts
  packages/migrate/src/utils/ensureDatabaseExists.ts
Due: none

update snapshot
  packages/internals/src/__tests__/migrateEngineCommands.test.ts
Due: none

chore(deps): update engines to 4.7.0-51.a03afcd23db6125a81a769b188e2af95679d2560
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Update packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/binary/BinaryEngine.ts
Due: engine-core

generate narrowable types for query
  packages/client/src/generation/TSClient/PrismaClient.ts
  packages/client/src/runtime/core/types/Utils.ts
Due: client

chore(deps): update engines to 4.7.0-52.integration-add-index-warnings-3818edf47b02f03790c6a07f5cc999dcbdfe5c32
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.7.0-53.integration-add-index-warnings-f1ddc0e7ed778819a9408da92fba2641f59e993d
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix exported name of patch flat 3
  packages/client/src/generation/TSClient/PrismaClient.ts
  packages/client/src/runtime/core/types/Extensions.ts
Due: client

fix $allModels merging priority
  packages/client/src/generation/TSClient/PrismaClient.ts
Due: client

fix client type merging priority
  packages/client/src/generation/TSClient/PrismaClient.ts
Due: client

revert experiment with rejectnotfound
  packages/client/src/generation/utils.ts
Due: client

remove extraneous space
  packages/client/src/generation/TSClient/Count.ts
Due: client

restore jsdoc line breaks
  packages/client/src/generation/TSClient/PrismaClient.ts
Due: client

add query extensions on runtime
  packages/client/src/runtime/core/extensions/$extends.ts
  packages/client/src/runtime/core/extensions/applyQueryExtensions.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/functional/extensions/disabled/tests.ts
Due: client
