Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

chore(deps): update engines to 3.12.0-31.ae010d3ee58f28c22599b1e5fbd1697a82240550 (#12603)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1197be8b90e7b844b43ee6d27dc6a46fbe328b0d
  dev/bench/data.js
Due: none

chore: deep dive comments
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/runtime/externalToInternalDmmf.ts
Due: client

Replace prisma-fmt binary with @prisma/prisma-fmt-wasm
  packages/sdk/package.json
  packages/sdk/src/engine-commands/formatSchema.ts
  pnpm-lock.yaml
Due: sdk

Create Sjenica1
  Sjenica1
Due: none

Revert "chore(deps): update dependency react to v18 (#12578)"
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update engines to 3.12.0-32.cc6c161005f35a743dc36f9a8691fafad5907865
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore: Revert "chore(deps): update dependency react to v18" (#12619)
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f5e2e3a3c35657fd5b309e89fb4880d2c9fe446d
  dev/bench/data.js
Due: none

fix(client): minimal errors (#12586)
  packages/client/src/__tests__/integration/errors/int-errors/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/errors/wrong-native-types-mysql/test.ts
  packages/client/src/__tests__/integration/errors/wrong-native-types-postgres/test.ts
  packages/client/src/runtime/core/model/applyFluent.ts
  packages/client/src/runtime/core/utils/getCallSite.ts
  packages/client/src/runtime/getPrismaClient.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for bfe5ce3335e4d9df802b78b945ebf6b594011720
  dev/bench/data.js
Due: none

chore(deps): update studio to v0.459.0
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update studio to 0.459.0
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update studio to v0.459.0 (#12624)
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 2f7fb83c5374c8c0b5d7096a31092cebd8f52c80
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.12.0-33.a275e4c90db9c3946d219be6b72775a6b90bf153
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.12.0-34.fe68ee16ec7694924b82bf075382fa68e69989da
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.12.0-33.a275e4c90db9c3946d219be6b72775a6b90bf153 (#12630)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 4ee8c8ae18a039f64e114c0dedcfffe5e005210e
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.12.0-34.fe68ee16ec7694924b82bf075382fa68e69989da (#12635)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 627b3279cdabdbfe963da2cc2c45f4014144243a
  dev/bench/data.js
Due: none

fix(client): count action name (#12592)
  packages/client/src/__tests__/integration/happy/middlewares/test.ts
  packages/client/src/runtime/core/model/aggregates/count.ts
  packages/client/src/runtime/getPrismaClient.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ac291c370a88eb74d7f104e6e544f9111f91f599
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.12.0-35.7e91d3111425c8915dcdd8e37bca69ddcb2c883d
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

fix(client) Add logging test for itx to catch regression
  packages/client/src/__tests__/integration/happy/logging/binary.ts
  packages/client/src/__tests__/integration/happy/logging/library.ts
  packages/client/src/__tests__/integration/happy/logging/schema.prisma
Due: client

remove info logging check
  packages/client/src/__tests__/integration/happy/logging/binary.ts
  packages/client/src/__tests__/integration/happy/logging/library.ts
Due: client

chore(deps): update engines to 3.12.0-35.7e91d3111425c8915dcdd8e37bca69ddcb2c883d (#12652)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 41cc07f06d02a74d80129554ccc8c32282ecd239
  dev/bench/data.js
Due: none

fix(client) Add logging test for itx to catch regressions (#12653)
  packages/client/src/__tests__/integration/happy/logging/binary.ts
  packages/client/src/__tests__/integration/happy/logging/library.ts
  packages/client/src/__tests__/integration/happy/logging/schema.prisma
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 17b541569872f626f09a1b0a20feca8abf8fdd0c
  dev/bench/data.js
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
