Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

so much more
  packages/client/src/__tests__/aggregate.test.ts
  packages/client/src/__tests__/integration/errors/union-validation/schema.prisma
  packages/client/src/__tests__/integration/happy/chaining/schema.prisma
  packages/client/src/__tests__/integration/happy/exhaustive-schema/schema.prisma
  packages/client/src/__tests__/integration/happy/prismaPromise/schema.prisma
  packages/client/src/fixtures/recommender.ts
Due: client

add required unique on 1 to 1 relation and update snapshot
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/fixtures/singularRelation.ts
Due: client

chore(deps): update engines to 3.16.0-5.f9559ae69c68d71b1787de8a4f2d4fda1a612eba (#13714)
  packages/cli/package.json
  packages/client/package.json
  packages/client/src/__tests__/aggregate.test.ts
  packages/client/src/__tests__/integration/errors/union-validation/schema.prisma
  packages/client/src/__tests__/integration/happy/chaining/schema.prisma
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/schema.prisma
  packages/client/src/__tests__/integration/happy/prismaPromise/schema.prisma
  packages/client/src/fixtures/recommender.ts
  packages/client/src/fixtures/singularRelation.ts
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/migrate/src/__tests__/fixtures/nativeTypes-cockroachdb/prisma/schema.prisma
  packages/migrate/src/__tests__/fixtures/nativeTypes-postgresql/prisma/schema.prisma
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

test(client): Opt Out Of Providers (#13507)
  .github/workflows/test.yml
  packages/client/tests/functional/_example/_matrix.ts
  packages/client/tests/functional/_example/tests.ts
  packages/client/tests/functional/_utils/checkMissingProviders.ts
  packages/client/tests/functional/_utils/defineMatrix.ts
  packages/client/tests/functional/_utils/getTestSuiteInfo.ts
  packages/client/tests/functional/_utils/idForProvider.ts
  packages/client/tests/functional/_utils/providers.ts
  packages/client/tests/functional/_utils/setupFilesAfterEnv.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/_utils/types.ts
  packages/client/tests/functional/decimal-list/_matrix.ts
  packages/client/tests/functional/decimal-list/tests.ts
  packages/client/tests/functional/decimal/_matrix.ts
  packages/client/tests/functional/decimal/tests.ts
  packages/client/tests/functional/init-error/_matrix.ts
  packages/client/tests/functional/init-error/tests.ts
  packages/client/tests/functional/metrics-disabled/_matrix.ts
  packages/client/tests/functional/metrics-disabled/prisma/_schema.ts
  packages/client/tests/functional/metrics/_matrix.ts
  packages/client/tests/functional/metrics/prisma/_schema.ts
  packages/client/tests/functional/metrics/tests.ts
  packages/client/tests/functional/queryRaw-send-type-hints/_matrix.ts
  packages/client/tests/functional/queryRaw-send-type-hints/prisma/_schema.ts
  packages/client/tests/functional/queryRaw-send-type-hints/tests.ts
  packages/client/tests/functional/queryRaw-typed-results-advanced-and-native-types/_matrix.ts
  packages/client/tests/functional/queryRaw-typed-results-advanced-and-native-types/tests.ts
  packages/client/tests/functional/queryRaw-typed-results/_matrix.ts
  packages/client/tests/functional/queryRaw-typed-results/tests.ts
  packages/client/tests/functional/reuse-binary-engine/_matrix.ts
Due: client

chore(deps): update engines to 3.16.0-6.751ec15f8acbaeb0db23f8adb70dd68e94629f59 (#13715)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

Update packages/engine-core/src/data-proxy/utils/getClientVersion.ts
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

remove deprecated `sqlite:` replaced by `file:`
  packages/client/src/utils/resolveDatasources.ts
  packages/sdk/src/__tests__/__snapshots__/convertCredentials.test.ts.snap
  packages/sdk/src/__tests__/convertCredentials.test.ts
  packages/sdk/src/__tests__/migrateEngineCommands.test.ts
  packages/sdk/src/convertCredentials.ts
Due: client, sdk

test: add missing provider
  packages/client/tests/functional/count/_matrix.ts
Due: client

test/fix: add missing provider
  packages/client/tests/functional/handle-int-overflow/_matrix.ts
Due: client

update comment
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

test/fix: add missing provider (#13722)
  packages/client/tests/functional/handle-int-overflow/_matrix.ts
Due: client

fix(engine-core): data proxy integration patch version resolver (#13699)
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

fix(engine-core): Fix race conditon during panic in BinaryEngine (#13706)
  packages/engine-core/src/binary/BinaryEngine.ts
Due: engine-core

pass buildkite env var
  .github/workflows/test.yml
Due: none

test: add missing providers
  packages/client/tests/functional/create-many/_matrix.ts
  packages/client/tests/functional/create-many/prisma/_schema.ts
  packages/client/tests/functional/create-many/tests.ts
Due: client

chore(deps): update engines to 3.16.0-7.24a869423481c8cd431a064e5c84f5a58778e574 (#13716)
  packages/cli/package.json
  packages/client/package.json
  packages/client/src/utils/resolveDatasources.ts
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  packages/sdk/src/__tests__/__snapshots__/convertCredentials.test.ts.snap
  packages/sdk/src/__tests__/convertCredentials.test.ts
  packages/sdk/src/__tests__/migrateEngineCommands.test.ts
  packages/sdk/src/convertCredentials.ts
  pnpm-lock.yaml
Due: client, engine-core, sdk

switch to buildjet-4vcpu-ubuntu-2004
  .github/workflows/test.yml
Due: none

chore(deps): update engines to 3.16.0-8.21b5f322ad1c14a1b28b18e805330f02df46f643 (#13718)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore: drop Node.js 12 and modernize the toolchain
  .buildkite/publish/docker-compose.yml
  .buildkite/publish/run.sh
  .buildkite/test/run.sh
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/benchmark.yml
  .github/workflows/scripts/setup.sh
  .github/workflows/test.yml
  .github/workflows/update-engines-version.yml
  .github/workflows/update-studio-version.yml
  CONTRIBUTING.md
  packages/client/package.json
  packages/debug/package.json
  pnpm-lock.yaml
Due: client, debug

Update required node and pnpm in package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
Due: client

Fix linter errors
  packages/cli/src/__tests__/commands/Studio.test.ts
  scripts/setup.ts
Due: none

Update preinstall script
  packages/cli/scripts/preinstall.js
Due: none

Pin pnpm to 6 again
  .buildkite/publish/run.sh
  .buildkite/test/run.sh
  .devcontainer/Dockerfile
  .github/workflows/benchmark.yml
  .github/workflows/scripts/setup.sh
  .github/workflows/test.yml
  .github/workflows/update-engines-version.yml
  .github/workflows/update-studio-version.yml
  CONTRIBUTING.md
  package.json
Due: none

Revert pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

update locks
  pnpm-lock.yaml
Due: none

chore(tests): Generate `optOut` block during scaffolding
  packages/client/helpers/generator-test/index.ts
  packages/client/helpers/generator-test/templates/tests.ts.tpl
Due: client

chore(tests): Generate `optOut` block during scaffolding (#13727)
  packages/client/helpers/generator-test/index.ts
  packages/client/helpers/generator-test/templates/tests.ts.tpl
Due: client

chore: limit renovate off hours
  .github/renovate.json
Due: none

Update renovate.json
  .github/renovate.json
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
