Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8ae0935c4eed44c526f93418348f55dde29deebf
  dev/bench/data.js
Due: none

fix(deps): update dependency strip-indent to v4
  src/packages/client/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: client, sdk

fix(deps): update dependency temp-write to v5
  src/packages/sdk/package.json
Due: sdk

fix(deps): update dependency terminal-link to v3
  src/packages/engine-core/package.json
  src/packages/sdk/package.json
Due: engine-core, sdk

chore(deps): update dependency is-obj to v3
  src/packages/client/package.json
Due: client

Add runtime check
  src/packages/engine-core/src/NAPIEngine.ts
Due: engine-core

update error message
  src/packages/fetch-engine/src/download.ts
Due: fetch-engine

fix: disable Node-API with M1
  src/packages/fetch-engine/src/download.ts
  src/packages/get-platform/src/getNapiName.ts
Due: get-platform, fetch-engine

chore(deps): update dependency p-reduce to v3
  src/package.json
  src/pnpm-lock.yaml
Due: none

update error message
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/fetch-engine/src/download.ts
Due: fetch-engine, engine-core

ci: fix detect-jobs-to-run
  .github/workflows/detect-jobs-to-run.js
Due: none

ci: fix detect-jobs-to-run (#7616)
  .github/workflows/detect-jobs-to-run.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 5762df67889b9361d6a92d4a4f08f0c987cf8f80
  dev/bench/data.js
Due: none

refactor(migrate): Simplify engine API of evaluateDataLoss in Migrate (#7576)
  src/packages/migrate/README.md
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/types.ts
Due: none

feat(migrate): use new engine with JSON logging
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/migrate/src/MigrateEngine.ts
  src/packages/migrate/src/__tests__/DbDrop.test.ts
  src/packages/migrate/src/commands/DbDrop.ts
  src/packages/sdk/package.json
  src/packages/sdk/src/IntrospectionEngine.ts
  src/packages/sdk/src/migrateEngineCommands.ts
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to v2.25.0-29.6d6abdeb152d51c75fcf8ab498150c5a6a79d805
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for df476b9570522bf1493acbd9544d1e51a1b4f5ef
  dev/bench/data.js
Due: none

fix format
  src/packages/sdk/src/migrateEngineCommands.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 5b0473aa898b1bf80da2dfd299a2b8fcf0a43bc1
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.25.0-30.149261944d529dc4c506db7e017bb4dfd26ef398
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 10e6d6836d6a987e390f9f970ba986967f5a7df5
  dev/bench/data.js
Due: none

feat(cli): detect local cli installation from global
  src/packages/cli/src/bin.ts
  src/packages/cli/src/detectLocalPrisma.ts
  src/packages/cli/src/prompt/utils/print.ts
Due: none

style: remove unnecessary todo
  src/packages/cli/src/detectLocalPrisma.ts
Due: none

chore: add details to warning
  src/packages/cli/src/detectLocalPrisma.ts
Due: none

Apply suggestions from code review
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/fetch-engine/src/download.ts
Due: fetch-engine, engine-core

Update src/packages/engine-core/src/NAPIEngine.ts
  src/packages/engine-core/src/NAPIEngine.ts
Due: engine-core

fix
  src/packages/engine-core/src/NAPIEngine.ts
Due: engine-core

fix
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/fetch-engine/src/download.ts
Due: fetch-engine, engine-core

fix(client): fix flaky node api log tests
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

initial draft
  .github/workflows/update-engines-version.yml
Due: none

fix: specify pnpm store directory
  .github/workflows/update-engines-version.yml
Due: none

fix: use pnpx instead global binary
  .github/workflows/update-engines-version.yml
Due: none

fix: no new line in PR message
  .github/workflows/update-engines-version.yml
  test_event.json
Due: none

fix: remove test dispatch data
  test_event.json
Due: none

add m1 check for engine commands
  src/packages/sdk/src/engine-commands/getConfig.ts
  src/packages/sdk/src/engine-commands/getDmmf.ts
  src/packages/sdk/src/engine-commands/getVersion.ts
  src/packages/sdk/src/engine-commands/isNodeAPISupported.ts
Due: sdk

centralize logic in get-platform
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/fetch-engine/src/download.ts
  src/packages/get-platform/src/index.ts
  src/packages/get-platform/src/isNodeAPISupported.ts
  src/packages/sdk/src/engine-commands/getConfig.ts
  src/packages/sdk/src/engine-commands/getDmmf.ts
  src/packages/sdk/src/engine-commands/getVersion.ts
Due: get-platform, fetch-engine, engine-core, sdk

fix: typo [skip-ci]
  .github/workflows/update-engines-version.yml
Due: none
