Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

Update src/packages/engine-core/src/NodeEngine.ts
  src/packages/engine-core/src/NodeEngine.ts
Due: engine-core

fix(cli): handle `outputDir.endsWith` error
  src/packages/cli/src/Generate.ts
  src/packages/cli/src/utils/breakingChanges.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1d768cb17ccfd4e77c50427893b6bc13e4256a0f
  dev/bench/data.js
Due: none

Bump up Studio
  src/packages/cli/package.json
  src/packages/cli/src/__tests__/studio.test.ts
Due: none

chore(deps): update dependency @prisma/studio-server to v0.404.0
  src/packages/cli/package.json
Due: none

Increase timeout to allow downloading
  src/packages/cli/src/__tests__/studio.test.ts
Due: none

Try fixing node-api tests
  src/packages/cli/src/__tests__/studio.test.ts
Due: none

clean up message
  src/packages/cli/src/Generate.ts
  src/packages/cli/src/utils/breakingChanges.ts
Due: none

bump studio
  src/packages/cli/package.json
  src/packages/cli/src/__tests__/studio.test.ts
Due: none

fix(client): fixture-generation
  src/packages/client/fixtures/generate.ts
Due: client

bump studio
  src/packages/cli/package.json
Due: none

test(client): fix fixture-generation (#7841)
  src/packages/client/fixtures/generate.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 42044829bbb183d1dd173dd633a2f3cf16ba47d1
  dev/bench/data.js
Due: none

fix(cli): handle `outputDir.endsWith` error (#7838)
  src/packages/cli/src/Generate.ts
Due: none

test: run studio test for Node-API too (#7680)
  src/packages/cli/package.json
  src/packages/cli/src/__tests__/studio.test.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3572d6f0eb9096ddb93fdc1b1cbbb7186792f3a8
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e22f6b63d8b820b40889622634d3651586bcb781
  dev/bench/data.js
Due: none

fix(sdk): warn on min ts version
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

fix(deps): update engines to v2.26.0-18.620abf20a267ca4e68a663d27776f14b67f1ea71
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 82c0b569f7f69f3032a043828b761020692d81ee
  dev/bench/data.js
Due: none

fix(sdk): throw on unsupported ts version (#7843)
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 76a05aec23b4e897acfa0b61c0e55843d09577e8
  dev/bench/data.js
Due: none

Revert "fix(sdk): throw on unsupported ts version (#7843)"
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

fix(cli): warn on min ts version
  src/packages/cli/src/Generate.ts
  src/packages/cli/src/utils/checkTypescriptVersion.ts
  src/packages/sdk/src/index.ts
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
  src/packages/sdk/src/utils/semverLt.ts
Due: sdk

-_-
  src/packages/cli/src/Generate.ts
  src/packages/cli/src/utils/checkTypescriptVersion.ts
  src/packages/sdk/src/index.ts
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
  src/packages/sdk/src/utils/semverLt.ts
Due: sdk

remove export
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

fix(cli): warn on min ts version (#7857)
  src/packages/sdk/src/index.ts
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for bec42f64a2d28ae606e9f3ebb4ba23cd60a3f31a
  dev/bench/data.js
Due: none

fix: typescript min version, throw on local, warn on global
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

chore: rename napi libraries
  src/packages/get-platform/src/getNapiName.ts
Due: get-platform

chore: clean up error message
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk
