Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

remove use of clientActions
  packages/client/src/runtime/utils/createErrorMessageWithContext.ts
Due: client

Enable fluent API to findFirstOrThrow and findUniqueOrThrow
  packages/client/src/runtime/core/model/applyModel.ts
Due: client

Remove usages of client actions
  packages/client/src/generation/TSClient/helpers.ts
  packages/client/src/generation/TSClient/jsdoc.ts
  packages/client/src/generation/utils.ts
  packages/client/src/runtime/clientActions.ts
  packages/client/src/runtime/core/model/applyClientOnlyWrapper.ts
  packages/client/src/runtime/core/model/applyModel.ts
  packages/client/src/runtime/core/model/applyOrThrowErrorAdapter.ts
  packages/client/src/runtime/utils/rejectOnNotFound.ts
  packages/generator-helper/src/dmmf.ts
Due: client, generator-helper

Test missing property on FindXOrThrow returns null
  packages/client/tests/functional/fluent-api/tests.ts
Due: client

Do not wrap NotFoundError
  packages/client/src/runtime/RequestHandler.ts
Due: client

Restore snapshots
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/float-napi/dev.db
  packages/client/src/__tests__/integration/happy/middlewares-transaction/dev.db
  packages/client/src/__tests__/integration/happy/middlewares/dev.db
Due: client

Remove usages of ClientActions
  packages/client/src/generation/TSClient/Args.ts
  packages/client/src/generation/TSClient/Model.ts
Due: client

Add mappings from internal to external DMMF
  packages/client/src/runtime/externalToInternalDmmf.ts
Due: client

Add updated snapshots (they might contain errors)
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

tmp: changes to TSClient/Args
  packages/client/src/generation/TSClient/Args.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/generator-helper/src/dmmf.ts
Due: client, generator-helper

chore(deps): patch 4.6.x 4.6.1-3.694eea289a8462c80264df36757e4fdc129b1b32 (#16216)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

test(cli): validate, add to help with missing tests (#16008)
  packages/cli/src/CLI.ts
  packages/cli/src/__tests__/commands/Validate.test.ts
  packages/cli/src/__tests__/fixtures/example-project/prisma/env-does-not-exists.prisma
Due: none

Update jsdoc to not point to a deprecated error
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/float-napi/dev.db
  packages/client/src/__tests__/integration/happy/middlewares-transaction/dev.db
  packages/client/src/__tests__/integration/happy/middlewares/dev.db
  packages/client/src/generation/TSClient/jsdoc.ts
Due: client

Better applyOrThrowErrorAdapter docs
  packages/client/src/runtime/core/model/applyOrThrowErrorAdapter.ts
Due: client

test(client): multiSchema, test same table name - using manual SQL migration (#15798)
  packages/client/src/__tests__/integration/errors/multi-schema/schema.prisma
  packages/client/src/__tests__/integration/errors/multi-schema/setup.sql
  packages/client/src/__tests__/integration/errors/multi-schema/test.ts
Due: client

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
