Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

add Benchmark.js Benchmark (benchmarkjs) benchmark result for bc01b9ecae19111197c7ece36167054ae6076187
  dev/bench/data.js
Due: none

fix(migrate): seed - wait for promise (#7139) (#7144)
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-named-export/prisma/seed.js
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-named-export/prisma/seed.ts
  src/packages/migrate/src/utils/seed.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c666976437e051455bb47abe31dd432e45264b2c
  dev/bench/data.js
Due: none

test fix
  src/packages/client/helpers/patchJest.js
  src/packages/client/src/__tests__/integration/happy/json-filtering-mysql/test.ts
  src/packages/client/src/__tests__/integration/happy/json-filtering-postgres/test.ts
Due: client

remove conditional jest patch
  src/packages/client/helpers/patchJest.js
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 722bdba7f1f918881d6c7eafa0c1921ffd82d4f9
  dev/bench/data.js
Due: none

feat(client): add JSON filtering to Postgres and MySQL (#7114)
  src/packages/client/helpers/patchJest.js
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/schema.prisma
  src/packages/client/src/__tests__/integration/happy/json-filtering-mysql/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/json-filtering-mysql/schema.prisma
  src/packages/client/src/__tests__/integration/happy/json-filtering-mysql/test.ts
  src/packages/client/src/__tests__/integration/happy/json-filtering-postgres/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/json-filtering-postgres/schema.prisma
  src/packages/client/src/__tests__/integration/happy/json-filtering-postgres/test.ts
  src/packages/client/src/__tests__/types/json/index.test-d.ts
  src/packages/client/src/__tests__/types/json/schema.prisma
  src/packages/client/src/generation/TSClient/TSClient.ts
  src/packages/client/src/generation/TSClient/common.ts
  src/pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ef2bfe4ea8fdbafe867cd1ac0bbbaced0d9851a3
  dev/bench/data.js
Due: none

chore(deps): update devdependencies (non-major)
  package.json
  pnpm-lock.yaml
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

chore(deps): update dependency @prisma/studio-server to v0.394.0
  src/packages/cli/package.json
Due: none

fix(deps): update engines to v2.24.0-1.fe107788c3dca290567b13b0a8e4ad95dc004f6a
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 82e57750c96734b67ef681232a9deec7c0e0115e
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c9cf4d2f39ce724a034c53087e97d9b8a520ed82
  dev/bench/data.js
Due: none

run lint
  pnpm-lock.yaml
  src/packages/client/src/__tests__/integration/happy/blog-env-mssql/test.ts
  src/packages/client/src/__tests__/integration/happy/blog-env-postgresql/test.ts
  src/packages/client/src/__tests__/integration/happy/blog/test.ts
  src/packages/client/src/__tests__/integration/happy/uds/test.ts
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/TSClient.ts
  src/packages/debug/src/node.ts
  src/packages/fetch-engine/src/download.ts
  src/packages/fetch-engine/src/getProxyAgent.ts
  src/packages/migrate/src/Migrate.ts
  src/packages/migrate/src/__tests__/__helpers__/context.ts
  src/packages/migrate/src/commands/MigrateDeploy.ts
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/commands/MigrateReset.ts
  src/packages/migrate/src/commands/MigrateStatus.ts
  src/packages/migrate/src/utils/ensureDatabaseExists.ts
  src/packages/sdk/src/getGenerators.ts
  src/packages/sdk/src/highlight/languages/sql.ts
  src/pnpm-lock.yaml
Due: fetch-engine, client, debug, sdk

ci: test napi in buildkite too
  src/scripts/ci/publish.ts
Due: none

run lint on one more file
  src/packages/cli/src/__tests__/__helpers__/context.ts
Due: none

fix(deps): update engines to v2.24.0-3.21e59e9d64a9c78da61a3accf99521bc0680ea55
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

lint?
  src/packages/cli/src/__tests__/__helpers__/context.ts
Due: none

add debug
  src/package.json
  src/scripts/ci/publish.ts
Due: none

remove debug
  src/scripts/ci/publish.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 53a36f1d123b692f6fdcd4de2179649b4c11ccb7
  dev/bench/data.js
Due: none

ci: test napi in buildkite too (#7163)
  src/package.json
  src/scripts/ci/publish.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3114762fd3b1601d6a6cfd920dc1a547901b2337
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.24.0-5.2beb202d1edf364097cece4300649f1f98557d61
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

fix(client): case for serverless platforms
  src/packages/client/src/generation/TSClient/TSClient.ts
  src/packages/client/src/generation/TSClient/common.ts
Due: client

chore(deps): update dependency @prisma/studio-server to v0.395.0
  src/packages/cli/package.json
Due: none

ci: disable napi test in builkite
  src/scripts/ci/publish.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1f152fdf17f1576039fab84da3ce014a8ea57743
  dev/bench/data.js
Due: none

chore(deps): update dependency @prisma/studio-server to v0.396.0
  src/packages/cli/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 312836bb895fc0debb3ef93ef696631cc30705ed
  dev/bench/data.js
Due: none

test(client): update snapshots
  src/packages/client/src/__tests__/integration/errors/incorrect-column-type/test.ts
  src/packages/client/src/__tests__/integration/errors/missing-relation/test.ts
  src/pnpm-lock.yaml
Due: client

fix old versions in package.json and lint
  src/packages/tests/package.json
  src/packages/tests/src/__tests__/__helpers__/context.ts
  src/pnpm-lock.yaml
Due: none

cleanup pg db.connect Promise to await
  src/packages/tests/src/__tests__/integration/postgresql/__database.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for fe552667aa744b074be82bf35136015cbf548a48
  dev/bench/data.js
Due: none

Path conditions:
  get-platform: any of: src/packages/get-platform/
  fetch-engine: any of: src/packages/fetch-engine/
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
