Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

spelling: manually
  packages/client/tests/functional/invalid-env/tests.ts
Due: client

spelling: nonexistent
  packages/fetch-engine/src/__tests__/download.test.ts
  packages/generator-helper/src/__tests__/generatorHandler.test.ts
Due: generator-helper

spelling: into
  packages/client/scripts/postinstall.js
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/PrismaClient.ts
  packages/client/src/generation/utils/buildDebugInitialization.ts
  packages/internals/src/get-generators/getGenerators.ts
Due: client

spelling: item
  packages/client/src/runtime/utils/find.ts
  packages/internals/src/get-generators/getGenerators.ts
Due: client

spelling: relation
  packages/client/src/__tests__/minimalWhereTransformation.test.ts
Due: client

spelling: pretty
  packages/generator-helper/src/__tests__/generatorHandler.test.ts
  packages/generator-helper/src/__tests__/minimal-executable
  packages/internals/src/__tests__/getGenerators/generator
  packages/internals/src/__tests__/getGenerators/getGenerators.test.ts
Due: generator-helper

spelling: gitlab
  packages/internals/src/utils/isCi.ts
Due: none

spelling: overridden
  packages/cli/src/__tests__/commands/Init.test.ts
Due: none

spelling: possibility
  packages/client/tests/functional/interactive-transactions/tests.ts
Due: client

spelling: milliseconds
  packages/engine-core/src/binary/BinaryEngine.ts
Due: engine-core

spelling: postgresql
  packages/client/tests/functional/interactive-transactions/tests.ts
Due: client

spelling: separators
  packages/cli/src/Generate.ts
Due: none

spelling: scribbles
  packages/client/src/runtime/utils/printJsonErrors.ts
Due: client

spelling: referring
  packages/client/src/generation/utils/runtimeImport.ts
Due: client

spelling: multiple
  packages/client/tests/functional/metrics/enabled/tests.ts
Due: client

spelling: referrers
  packages/client/src/fixtures/discourse.ts
Due: client

spelling: optional
  packages/migrate/src/Migrate.ts
Due: none

spelling: for
  packages/client/src/runtime/core/request/createPrismaPromise.ts
Due: client

spelling: lives
  packages/migrate/src/__tests__/fixtures/existing-db-1-draft-1-change/prisma/schema.prisma
Due: none

spelling: occurred
  packages/client/src/runtime/utils/createErrorMessageWithContext.test.ts
  packages/client/src/runtime/utils/createErrorMessageWithContext.ts
  packages/internals/src/__tests__/__snapshots__/handlePanic.test.ts.snap
  packages/internals/src/utils/handlePanic.ts
  packages/migrate/src/__tests__/DbSeed.test.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/migrate/src/__tests__/MigrateReset.test.ts
  packages/migrate/src/__tests__/handlePanic.migrate.test.ts
  packages/migrate/src/utils/seed.ts
Due: client

spelling: parameters
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/query.ts
Due: client

spelling: extending
  packages/client/src/runtime/utils/deep-extend.ts
Due: client

spelling: functional
  .buildkite/publish/docker-compose.yml
  .buildkite/test/docker-compose.14.yml
  TESTING.md
Due: none

spelling: provider
  packages/client/tests/functional/issues/11233/tests.ts
Due: client

spelling: in-place
  packages/client/src/runtime/query.ts
Due: client

spelling: github
  .github/workflows/benchmark.yml
  packages/client/src/fixtures/discourse.ts
  packages/engine-core/src/__tests__/LibraryEngine.test.ts
  packages/engine-core/src/common/errors/utils/getErrorMessageWithLink.ts
  packages/engine-core/src/common/utils/util.ts
  packages/internals/src/__tests__/getGitHubIssueUrl.test.ts
  packages/internals/src/__tests__/handlePanic.test.ts
  packages/internals/src/utils/getGitHubIssueUrl.ts
  packages/internals/src/utils/handlePanic.ts
  packages/internals/src/utils/jestSnapshotSerializer.js
Due: client, engine-core

spelling: the
  packages/cli/src/Generate.ts
Due: none

spelling: unattended
  packages/migrate/src/__tests__/DbDrop.test.ts
  packages/migrate/src/utils/errors.ts
Due: none

spelling: will
  packages/migrate/src/MigrateEngine.ts
Due: none

spelling: unzipped
  packages/fetch-engine/src/downloadZip.ts
Due: none

spelling: workflows
  TESTING.md
Due: none

spelling: something
  packages/cli/src/__tests__/commands/Init.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Init.test.ts.snap
  packages/internals/src/utils/jestSnapshotSerializer.js
Due: none

spelling: where
  .github/workflows/test.yml
Due: none

spelling: tables
  packages/client/tests/functional/issues/4004/tests.ts
Due: client

spelling: snapshots
  packages/client/src/__tests__/integration/happy/logging/__helpers__/replaceTimeValues.ts
Due: client

ci(gha): stop updating prisma-fmt-wasm
  .github/workflows/update-engines-version.yml
Due: none

chore(deps): update engines to 4.5.0-9.16a2d8471422d7f83674593c14fa70d61bf28414
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client
