Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f4b6bcf0a71480285684480d63a64b9c45b2d4fb
  dev/bench/data.js
Due: none

chore(deps): update dependency @prisma/studio-server to v0.403.0
  src/packages/cli/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 9f529c2520c3a415ef17e7ccb2cd088356fe1a48
  dev/bench/data.js
Due: none

feat(client, engine-core): Add support for `beforeExit` with Node-API (#7740)
  src/packages/client/src/__tests__/integration/happy/exit-hook/test.ts
  src/packages/engine-core/src/NAPIEngine.ts
Due: client, engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c0c3cb00a12ad6adc2da84ae65e33b4ccfe61d30
  dev/bench/data.js
Due: none

Update NodeEngine.ts
  src/packages/engine-core/src/NodeEngine.ts
Due: engine-core

fix(deps): update engines to v2.26.0-13.a9966aa784861dee7e6b2a90950874cbaf7b4984
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

update snapshots
  src/packages/sdk/src/__tests__/__snapshots__/engineCommands.test.ts.snap
  src/packages/sdk/src/__tests__/migrateEngineCommands.test.ts
Due: sdk

test(db pull): remove .only focused test
  src/packages/migrate/src/__tests__/DbPull.test.ts
Due: none

test(migrate dev): remove .only focused test
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
Due: none

ci: add timeout to publish pipeline
  src/.buildkite/publish/publish.yml
Due: none

test(db pull): remove .only focused test (#7828)
  src/packages/migrate/src/__tests__/DbPull.test.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for dd42f44c68d64e6e15fadd7669a302a2aec70cd2
  dev/bench/data.js
Due: none

test: update snapshots
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
Due: none

fix(deps): update engines to v2.26.0-14.583c4eea1cea3e1971499ab2c820190385a2a879
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 9062fa3ca909334868975fcf06ca991e5dbee6ca
  dev/bench/data.js
Due: none

test(migrate dev): remove .only focused test (#7827)
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 07cf4ff147ef7a07aa5ef585c42613f4ae2c8c82
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1d486c845e53eea0e0315c18b0b4ad44eaaf2720
  dev/bench/data.js
Due: none

chore: change renovate schedule
  .github/renovate.json
Due: none

fix(deps): update engines to v2.26.0-15.923dbce3a082447f978977ed64b90ccc66ea031e
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1b64c873000194ee5aa121b737fbbbd234f29ccb
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 42e90938504e68d17f87cfc6fb096978f7a86d3b
  dev/bench/data.js
Due: none

fix(sdk): client installation when not near cli
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

fix(deps): update engines to v2.26.0-17.62c023f4f3219f87170b9b344189731f047a053f
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

fix(studio): revert to 0.402.0
  src/packages/cli/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 40180896fbf0ca006e786edd8d9ca004509821a5
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f10951f6760de98d7cb65abd58604fbe751acc38
  dev/bench/data.js
Due: none

chore(PRISMA_FORCE_NAPI): comments and links (#7813)
  src/packages/cli/src/Version.ts
  src/packages/cli/src/__tests__/studio.test.ts
  src/packages/cli/src/__tests__/version.test.ts
  src/packages/client/src/__tests__/generation/generator.test.ts
  src/packages/client/src/__tests__/integration/errors/error-link/test.ts
  src/packages/client/src/__tests__/integration/errors/invalid-input/test.ts
  src/packages/client/src/__tests__/integration/errors/missing-binary-native-binaryTarget/schema.prisma
  src/packages/client/src/__tests__/integration/errors/missing-binary-native-binaryTarget/test.ts
  src/packages/client/src/__tests__/integration/errors/missing-binary/test.ts
  src/packages/client/src/__tests__/integration/errors/too-many-engines/test.ts
  src/packages/client/src/__tests__/integration/happy/chmod/test.ts
  src/packages/client/src/__tests__/integration/happy/restart/test.ts
  src/packages/client/src/__tests__/nodeEngine.test.ts
  src/packages/client/src/generation/TSClient/TSClient.ts
  src/packages/sdk/src/engine-commands/getConfig.ts
Due: client, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 5a4d80ced4c8a9229d39bf38fec0ee87075a73ca
  dev/bench/data.js
Due: none

chore(sdk): split up `engineCommands` tests
  src/packages/sdk/src/__tests__/engine-commands/__snapshots__/formatSchema.test.ts.snap
  src/packages/sdk/src/__tests__/engine-commands/__snapshots__/getConfig.test.ts.snap
  src/packages/sdk/src/__tests__/engine-commands/__snapshots__/getDmmf.test.ts.snap
  src/packages/sdk/src/__tests__/engine-commands/formatSchema.test.ts
  src/packages/sdk/src/__tests__/engine-commands/getConfig.test.ts
  src/packages/sdk/src/__tests__/engine-commands/getDmmf.test.ts
  src/packages/sdk/src/__tests__/engine-commands/getVersion.test.ts
Due: sdk

unify fixture locations
  src/packages/sdk/src/__tests__/__fixtures__/bigschema.prisma
  src/packages/sdk/src/__tests__/__fixtures__/blog.prisma
  src/packages/sdk/src/__tests__/__fixtures__/chinook.prisma
  src/packages/sdk/src/__tests__/__fixtures__/dotenv/.env
  src/packages/sdk/src/__tests__/__fixtures__/dotenv/.gitignore
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/conventional-path-workspaces/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/conventional-path-workspaces/packages/a/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/conventional-path-workspaces/packages/b/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/conventional-path-workspaces/packages/b/schema.prisma
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/conventional-path/prisma/schema.prisma
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-invalid-path-not-string/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-invalid-path/db/schema.prisma
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-invalid-path/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-nearest/packages/a/db/schema.prisma
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-nearest/packages/a/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-nearest/packages/b/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-nearest/packages/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-valid-relative-path/db/schema.prisma
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-valid-relative-path/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-with-schema-args/db/schema.prisma
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-with-schema-args/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-with-schema-args/schema.prisma
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-workspace-parent/db/prisma.schema
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-workspace-parent/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-workspace-parent/packages/a/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-workspace-parent/packages/b/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-workspaces/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-workspaces/packages/a/package.json
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-workspaces/packages/b/db/schema.prisma
  src/packages/sdk/src/__tests__/__fixtures__/getSchema/pkg-json-workspaces/packages/b/package.json
  src/packages/sdk/src/__tests__/__fixtures__/invalid-blog.prisma
  src/packages/sdk/src/__tests__/__utils__/fixtures.ts
  src/packages/sdk/src/__tests__/dotenvExpand.test.ts
  src/packages/sdk/src/__tests__/engine-commands/formatSchema.test.ts
  src/packages/sdk/src/__tests__/engine-commands/getDmmf.test.ts
  src/packages/sdk/src/__tests__/getGenerators/getGenerators.test.ts
  src/packages/sdk/src/__tests__/getSchema.test.ts
Due: sdk

increase timeout for getDmmf test
  src/packages/sdk/src/__tests__/engine-commands/getDmmf.test.ts
Due: sdk
