Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

chore(deps): update engines to 5.17.0-2.9b8d05f58b90e474495c811c76f88979000107a9
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.17.0-2.9b8d05f58b90e474495c811c76f88979000107a9 (#24698)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

test(client): fix invalid error instances when using connect or datasource override
  packages/client/tests/functional/datasource-overrides/tests.ts
  packages/client/tests/functional/invalid-env-value/tests.ts
  packages/client/tests/functional/missing-env/tests.ts
Due: client

Revert "feat(client): enable small Buffer polyfill on Edge Client (#24645)"
  packages/client/helpers/build.ts
Due: client

test(client): minor test fixes
  packages/client/tests/functional/invalid-env-value/tests.ts
  packages/client/tests/functional/missing-env/tests.ts
Due: client

chore(client): assess metrics preview feature with Driver Adapters
  packages/client/tests/functional/metrics/enabled/tests.ts
Due: client

chore(client): assess metrics preview feature with Wasm Query Engine
  packages/client/tests/functional/metrics/enabled/tests.ts
Due: client

revert(client): enable small Buffer polyfill on Edge Client" (#24707)
  packages/client/helpers/build.ts
Due: client

fix(client): fix WebAssembly regression with Webpack and Next.js
  packages/client/src/generation/utils/buildGetQueryEngineWasmModule.ts
Due: client

chore(client): rewrite dynamic import comment
  packages/client/src/generation/utils/buildGetQueryEngineWasmModule.ts
Due: client

tmp: Revert vitest workaround
  packages/client/src/generation/utils/buildGetQueryEngineWasmModule.ts
Due: client

Use .mjs extension for worker loader
  packages/client/src/generation/generateClient.ts
Due: client

fix(client): Fix vercel edge middleware bundling.
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/utils/buildGetQueryEngineWasmModule.ts
Due: client

fix(client): Fix vercel edge middleware bundling. (#24730)
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/utils/buildGetQueryEngineWasmModule.ts
Due: client

ci(release): Remove useless engine clone
  .github/workflows/release-ci.yml
  .github/workflows/release-latest.yml
  scripts/ci/publish.ts
Due: none

feat(debug): simplify string formatting, remove "node:util" dependency, adapted test isolation due to global state
  packages/debug/src/__tests__/debug.extended.test.ts
  packages/debug/src/index.ts
Due: debug

ci(release): Remove useless engine clone (#24738)
  .github/workflows/release-ci.yml
  .github/workflows/release-latest.yml
  scripts/ci/publish.ts
Due: none

fix(debug): stop relying on `process` (unavailable in Vercel Edge Functions) and `node:util` (#24686)
  packages/debug/src/__tests__/debug.extended.test.ts
  packages/debug/src/index.ts
Due: debug

chore(deps): update engines to 5.17.0-3.integration-schema-wasm-datamodel-5aa1a0e22cad4693587f2d5f697e6c57d4f224c3
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

test(cli): add tests for "prisma generate --allow-no-models"
  packages/cli/src/__tests__/commands/Generate.test.ts
  packages/cli/src/__tests__/fixtures/no-models/mongo/schema.prisma
  packages/cli/src/__tests__/fixtures/no-models/mysql/schema.prisma
  packages/cli/src/__tests__/fixtures/no-models/postgresql/schema.prisma
  packages/cli/src/__tests__/fixtures/no-models/sqlite/schema.prisma
  packages/cli/src/__tests__/fixtures/no-models/sqlserver/schema.prisma
Due: none

fix(cli): fix regression involving "prisma generate --allow-no-models"
  packages/cli/src/Generate.ts
Due: none

fix(cli): fix "Union types array can not be empty"
  packages/client/src/generation/TSClient/PrismaClient.ts
Due: client

chore(deps): update engines to 5.17.0-4.feat-remove-actors-attempt-2-e7f608ab076eda9e1264e600ce3a140f0bc06bbe
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

feat(cli): Add format --check
  packages/cli/src/Format.ts
  packages/cli/src/__tests__/commands/Format.test.ts
  packages/cli/src/__tests__/fixtures/example-project/prisma-unformatted/unformatted.prisma
Due: none

feat(cli): Add format --check (#24613)
  packages/cli/src/Format.ts
  packages/cli/src/__tests__/commands/Format.test.ts
  packages/cli/src/__tests__/fixtures/example-project/prisma-unformatted/unformatted.prisma
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
