Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

feat(tech-debt): [get-platform] remove outdated distro resulution warning
  packages/get-platform/src/__tests__/getPlatform.test.ts
  packages/get-platform/src/__tests__/parseDistro.test.ts
  packages/get-platform/src/getPlatform.ts
Due: none

feat(tech-debt): remove "jdbc:sqlserver" from the internal types / code (#22635)
  packages/cli/src/Init.ts
  packages/generator-helper/src/types.ts
  packages/internals/src/convertCredentials.ts
  packages/migrate/src/utils/ensureDatabaseExists.ts
  packages/migrate/src/utils/printDatasources.ts
Due: generator-helper

chore: address review comments
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
Due: client

chore(deps): update engines to 5.9.0-6.e245ca09c7e742e26d9f5abddcf843bc1494eddb
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix: no directory issue
  packages/nextjs-monorepo-workaround-plugin/index.js
Due: none

chore: Ensure BinaryEngine correctly handles top level request errors (#22636)
  packages/client/src/runtime/core/engines/binary/BinaryEngine.ts
Due: client

Added previewfeatures to run_tests
  .github/workflows/test.yml
Due: none

testing adding previewFeatures as dynamic input for DA tests
  .github/workflows/test-template.yml
Due: none

add da,relationjoins to matrix
  .github/workflows/test-template.yml
Due: none

hardcode pnpm-version, remove engine-hash (from preview-features)
  .github/workflows/test.yml
Due: none

chmod +x get-preview-features.js
  .github/workflows/scripts/get-preview-features.js
Due: none

actually log the set of previewFeatures
  .github/workflows/scripts/get-preview-features.js
Due: none

use dynamic matrix item
  .github/workflows/test-template.yml
Due: none

move get-preview-features in a step, define new env vars for filtering
  .github/workflows/scripts/get-preview-features.js
  .github/workflows/test-template.yml
  .github/workflows/test.yml
Due: none

move get-preview-features step below install step
  .github/workflows/test-template.yml
Due: none

cleanup
  .github/workflows/scripts/get-preview-features.js
  .github/workflows/test-template.yml
Due: none

fix missing usage of preview features on basic functional tests
  .github/workflows/test-template.yml
Due: none

fix script filename
  .github/workflows/test-template.yml
Due: none

use string splitting instead of json parsing
  .github/workflows/scripts/get-preview-features.js
  .github/workflows/test-template.yml
Due: none

fix missing --engine-type
  .github/workflows/test-template.yml
Due: none

add quotes for --preview-features shell command
  .github/workflows/test-template.yml
Due: none

update snapshot
  packages/client/tests/functional/query-validation/tests.ts
Due: client

fix(cli): extra brace on the output of debug info
  packages/cli/src/DebugInfo.ts
  packages/cli/src/__tests__/commands/DebugInfo.test.ts
Due: none

skip accelerate tests with metrics
  packages/client/tests/functional/engine-selection-logic/tests.ts
Due: client

skip more tests with accelerate and metrics
  packages/client/tests/functional/accelerate-without-no-engine-hint/tests.ts
Due: client

adapt relation joins tests for full text search
  packages/client/tests/functional/relation-load-strategy/preview-feature-disabled.ts
  packages/client/tests/functional/relation-load-strategy/unsupported-queries.ts
Due: client

adapt query validation tests for full text search
  packages/client/tests/functional/query-validation/tests.ts
Due: client

skip metrics/disabled test that expects no metrics enabled
  packages/client/tests/functional/metrics/disabled/tests.ts
Due: client

only consider fullTextSearch enabled for postgresql
  packages/client/tests/functional/query-validation/tests.ts
  packages/client/tests/functional/relation-load-strategy/preview-feature-disabled.ts
  packages/client/tests/functional/relation-load-strategy/unsupported-queries.ts
Due: client

exclude metrics for tests using --data-proxy
  .github/workflows/test-template.yml
Due: none

restrict fullTextSearch to both postgresql and mysql
  packages/client/tests/functional/query-validation/tests.ts
  packages/client/tests/functional/relation-load-strategy/preview-feature-disabled.ts
  packages/client/tests/functional/relation-load-strategy/unsupported-queries.ts
Due: client

update query-validation snaps
  packages/client/tests/functional/query-validation/tests.ts
Due: client

fix(cli): extra brace on the output of debug cmd (#22641)
  packages/cli/src/DebugInfo.ts
  packages/cli/src/__tests__/commands/DebugInfo.test.ts
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
