Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

chore(deps): update definitelytyped
  package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d4bf7756b22e73cbd772e4599974491b7c1fb906
  dev/bench/data.js
Due: none

chore(deps): update react-prisma
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update jest
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e5ce5184b522820c39773da432c35cad5e25718f
  dev/bench/data.js
Due: none

chore(deps): update dependency @prisma/studio-server to v0.432.0
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 6062d657d56070680d49f65d986c4e0807400233
  dev/bench/data.js
Due: none

fix: build
  .husky/pre-commit
  packages/cli/helpers/build.js
  packages/cli/src/Studio.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8e43862c311f1d04828b1e3b2662b4d28ff4862c
  dev/bench/data.js
Due: none

chore(deps): update dependency @prisma/studio-server to v0.434.0
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 4941155311268f412492596af04027af1c724663
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3b22e0379ad59d100265b689f9fecfe6d6de8dd8
  dev/bench/data.js
Due: none

fix(seed): inherit stderr so errors show in terminal
  packages/migrate/src/__tests__/DbSeed.test.ts
  packages/migrate/src/utils/seed.ts
Due: none

Revert "fix(build): make debug esm"
  packages/debug/src/index.ts
  packages/debug/src/node.ts
Due: debug

chore: restore polyfill
  helpers/compile/fillPlugin.ts
Due: none

chore(debug): set sideffects true
  packages/debug/package.json
Due: debug

chore(deps): update dependency @prisma/studio-server to v0.435.0
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1828505183fd9945b186b1cc000cb8fe8730deb4
  dev/bench/data.js
Due: none

chore(build): bundle polyfills
  helpers/compile/fillPlugin.ts
  pnpm-lock.yaml
Due: none

fix(client): require dataproxy runtime if needed
  packages/client/helpers/build.ts
  packages/client/src/generation/generateClient.ts
Due: client

fix(client): dont build nfts for proxy
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils.ts
  packages/client/src/generation/utils/buildNFTAnnotations.ts
Due: client

chore(deps): update devdependencies (non-major)
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

chore(client): move generate dirname logic
  packages/client/src/generation/utils/buildDirname.ts
Due: client

chore(client): move require path logic
  packages/client/src/generation/utils/buildRequirePath.ts
Due: client

chore(client): remove generated imports related to fs
  packages/client/src/generation/TSClient/common.ts
Due: client

chore(client): extract warnenv logic out
  packages/client/src/generation/utils/buildWarnEnvConflicts.ts
Due: client

chore(client): remove extracted logic
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils/buildDirname.ts
Due: client

fix(client): inline the schema contents
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/runtime/getPrismaClient.ts
Due: client

fix(client): control envwarn per enginetype
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils/buildWarnEnvConflicts.ts
Due: client

fix: catch typing as any or Error or ExecaError
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
  packages/generator-helper/src/generatorHandler.ts
  packages/migrate/src/Migrate.ts
  packages/migrate/src/commands/DbPull.ts
  packages/migrate/src/commands/MigrateStatus.ts
  packages/migrate/src/utils/seed.ts
  packages/sdk/src/cli/utils.ts
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
  packages/sdk/src/migrateEngineCommands.ts
  packages/sdk/src/utils/load.ts
  scripts/ci/publish.ts
  scripts/lint.ts
  scripts/setup.ts
Due: engine-core, generator-helper, sdk

fix: findUp.sync.exists
  packages/sdk/src/utils/getEnvPaths.ts
Due: sdk

chore(deps): update engines to 3.2.0-8.b3267b043a190a585bd06e9e91855e135eb7b1c6
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-8.b3267b043a190a585bd06e9e91855e135eb7b1c6 (#9408)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
