Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

update client snaps
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
Due: client

update migrate snaps
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/handlePanic.migrate.test.ts
Due: none

chore(deps): update engines to 4.11.0-51.14ee0d4b1f1692f65e4b16ac63bdbe71e858484d (#18084)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-55.e12b39e88ca359f700cbcda02d48d90c8f9596e5 (#18089)
  packages/client/package.json
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/handlePanic.migrate.test.ts
  pnpm-lock.yaml
Due: client

docs: Replace prompt to leave a +1 on an issue with actually useful request to leave 👍 reaction
  README.md
Due: none

Fix getPackagedPackage
  packages/internals/package.json
  packages/internals/src/getPackedPackage.ts
  packages/internals/src/utils/isInteractive.ts
  pnpm-lock.yaml
Due: none

fix(migrate): test
  packages/migrate/src/__tests__/handlePanic.migrate.test.ts
Due: none

fix(client): Exclude source maps from publishing (#18081)
  packages/client/package.json
  packages/internals/package.json
  packages/internals/src/getPackedPackage.ts
  packages/internals/src/utils/isInteractive.ts
  pnpm-lock.yaml
Due: client

fix(client): Make json protocol work with data proxy
  .github/workflows/test.yml
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
Due: engine-core

Updated re-intro 21,22 with variants for multiline Updated rendering to do multiline for views
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-21-1/schema.prisma
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-21-1/setup.sql
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-21-2/schema.prisma
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-21-2/setup.sql
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-22-1/schema.prisma
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-22-1/setup.sql
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-22-2/schema.prisma
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-22-2/setup.sql
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-22/setup.sql
  packages/migrate/src/commands/DbPull.ts
Due: none

fix(cli): views warning rendering -> multiline (#18116)
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-21-1/schema.prisma
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-21-1/setup.sql
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-21-2/schema.prisma
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-21-2/setup.sql
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-22-1/schema.prisma
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-22-1/setup.sql
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-22-2/schema.prisma
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-22-2/setup.sql
  packages/migrate/src/__tests__/fixtures/re-introspection/postgresql/views-warning-22/setup.sql
  packages/migrate/src/commands/DbPull.ts
Due: none

Fix edge client
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils/buildEdgeClientProtocol.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/internals/src/client/getQueryEngineProtocol.ts
  packages/internals/src/index.ts
Due: client

chore(deps): update engines to 4.11.0-57.8fde8fef4033376662cad983758335009d522acb
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-57.8fde8fef4033376662cad983758335009d522acb (#18120)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix(migrate): add stacktrace
  packages/migrate/src/MigrateEngine.ts
  packages/migrate/src/__tests__/handlePanic.migrate.test.ts
Due: none

fix(client): Make json protocol work with data proxy (#18118)
  .github/workflows/test.yml
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils/buildEdgeClientProtocol.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/internals/src/client/getQueryEngineProtocol.ts
  packages/internals/src/index.ts
Due: client, engine-core

chore(migrate): add missing "backtrace" from "LogFields" type
  packages/internals/src/migrateEngineCommands.ts
Due: none

test(migrate): add partial snapshot
  packages/migrate/src/__tests__/handlePanic.migrate.test.ts
Due: none

chore: exclude windows on partial snapshot
  packages/migrate/src/__tests__/handlePanic.migrate.test.ts
Due: none

feat(migrate): include both Rust's backtrace and the process messages in RustPanic's stacktrace
  packages/migrate/src/MigrateEngine.ts
Due: none

feat(migrate): mark the two RustPanic entrypoints with different tags, [EXIT_PANIC] and [RESPONSE_ERROR_PANIC]
  packages/migrate/src/MigrateEngine.ts
  packages/migrate/src/__tests__/handlePanic.migrate.test.ts
Due: none

test(client): do not resolve dataproxy url in tests
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

chore(deps): update engines to 4.12.0-1.7c1b29dcb216f71afd3fa8752eea8fb58da30452
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.12.0-2.a54bd874c228d499e37733305d634bba1fbb8142
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore: test ecosystem update script
  packages/client/edge.js
Due: client

update comment
  packages/client/edge.js
Due: client

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
