Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

fix(db push): make sure to stop migrate engine when it errors
  src/packages/migrate/package.json
  src/packages/migrate/src/commands/DbPush.ts
Due: none

fix(migrate/db): better seed error handling & update snapshots
  src/packages/migrate/src/__tests__/DbPush.test.ts
  src/packages/migrate/src/__tests__/DbSeed.test.ts
  src/packages/migrate/src/__tests__/MigrateDeploy.test.ts
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/MigrateReset.test.ts
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js/prisma/seed.js
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js/tsconfig.json
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-sh/tsconfig.json
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-ts/prisma/seed.ts
  src/packages/migrate/src/commands/DbSeed.ts
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/commands/MigrateReset.ts
  src/packages/migrate/src/utils/seed.ts
Due: none

chore(client): guard lrt functionality
  src/packages/client/src/runtime/getPrismaClient.ts
  src/pnpm-lock.yaml
Due: client

test(lrt): init first test
  src/packages/client/src/__tests__/integration/happy/long-running-transaction/.gitignore
  src/packages/client/src/__tests__/integration/happy/long-running-transaction/schema.prisma
  src/packages/client/src/__tests__/integration/happy/long-running-transaction/test.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

chore(engine-core): integrate mock server
  src/packages/engine-core/src/BinaryEngine.ts
Due: engine-core

chore(client): change scheduler id gen
  src/packages/client/src/runtime/Scheduler.ts
Due: client

test(client, lrt): cleanup
  src/packages/client/src/__tests__/integration/happy/long-running-transaction/dev.db
  src/packages/client/src/__tests__/integration/happy/long-running-transaction/test.ts
Due: client

fix(deps): update engines to 2.27.0-35.5be2f2a4d5093b2a6a1461c38f8c9617ed0a9af8
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, engine-core, sdk

fix(deps): update engines to 2.27.0-35.5be2f2a4d5093b2a6a1461c38f8c9617ed0a9af8 (#8156)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update dependency @prisma/studio-server to v0.410.0
  src/packages/cli/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 27b168fa7f6aedb4be2cf9b47d1c96e960b39c5c
  dev/bench/data.js
Due: none

test(studio): Unskip Studio test
  src/packages/cli/src/__tests__/studio.test.ts
Due: none

use execa command and console stdout/stderr
  src/packages/migrate/src/__tests__/DbSeed.test.ts
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/MigrateReset.test.ts
  src/packages/migrate/src/utils/seed.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f4f203f87c0599d5de356d668d791ecb0c814713
  dev/bench/data.js
Due: none

fix(deps): update engines to 2.27.0-36.6bd5154d692faa50d073fd6c9ed7c0b8c5a98b5e
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, engine-core, sdk

fix(deps): update engines to 2.27.0-36.6bd5154d692faa50d073fd6c9ed7c0b8c5a98b5e (#8159)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1fe5ddf397635c39454ff507115342a209aa4d83
  dev/bench/data.js
Due: none

small tweaks/debug & add chmod +x for Bash
  src/packages/migrate/src/__tests__/DbSeed.test.ts
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js/prisma/seed.js
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-ts/prisma/seed.ts
  src/packages/migrate/src/utils/seed.ts
Due: none

fix(deps): update engines to 2.27.0-37.93bc5022cab05b6a70742ec1b74ee9a951f7b568
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, engine-core, sdk

fix(deps): update engines to 2.27.0-37.93bc5022cab05b6a70742ec1b74ee9a951f7b568 (#8162)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 040fb154620c5ca0a68e14fbc1ca7e202852a749
  dev/bench/data.js
Due: none

fix node types for seed
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-ts/tsconfig.json
Due: none

Restore package.json
  src/packages/migrate/package.json
Due: none

fix(db push --force-reset): create db if it does not exist before doing the reset (#8138)
  src/packages/migrate/src/commands/DbPush.ts
Due: none

fix(db push): make sure to stop migrate engine when it errors (#8149)
  src/packages/migrate/src/commands/DbPush.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7e75286187a34b9635bdc54f312b012691771ea0
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8898470ec588009917bbaecc4d6bf9deeec96da5
  dev/bench/data.js
Due: none

fix(deps): update engines to 2.27.0-39.9af66e8163ed31ff8fec810772e5470eb762b681
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, engine-core, sdk

fix(deps): update engines to 2.27.0-40.3b1180d8caf2f6b7f976c748de27632c02864f29
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, engine-core, sdk

fix(deps): update engines to v2.27.0-40.3b1180d8caf2f6b7f976c748de27632c02864f29
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: client, engine-core, sdk

test(migrate): update snapshot
  src/packages/migrate/src/__tests__/rpc.test.ts
Due: none

fix(deps): update engines to 2.27.0-40.3b1180d8caf2f6b7f976c748de27632c02864f29 (#8168)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/migrate/src/__tests__/rpc.test.ts
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 51f897ead20f913016fc9679ba55da76fdc01e69
  dev/bench/data.js
Due: none

fix(sdk): pnpm installation (#7942)
  src/packages/cli/src/__tests__/__helpers__/context.ts
  src/packages/client/src/generation/utils.ts
  src/packages/client/src/utils/generateInFolder.ts
  src/packages/sdk/package.json
  src/packages/sdk/src/__tests__/engine-commands/getVersion.test.ts
  src/packages/sdk/src/engine-commands/getConfig.ts
  src/packages/sdk/src/getPackedPackage.ts
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
  src/packages/sdk/src/utils/resolve.ts
  src/pnpm-lock.yaml
Due: client, sdk

Path conditions:
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
