Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

build: copy undici wasm files to dist
  src/packages/client/helpers/build.js
  src/packages/client/package.json
Due: client

build: copy llhttp
  src/packages/cli/helpers/build.js
Due: none

fix: mark _http_common external
  src/packages/cli/helpers/build.js
Due: none

chore: remove fs-extra
  src/packages/cli/helpers/build.js
Due: none

chore(deps): update dependency rollup to v2.52.4
  src/packages/client/package.json
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f277d4a7a3a67f6968eb796aec2b08b8c5e48e0e
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.27.0-3.284384946b30b672dc3ec3a6d9695c6beae7c62f
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b91caba92e1cb34a17fbfd07f286cae1600a902f
  dev/bench/data.js
Due: none

chore(deps): update dependency @prisma/studio-server to v0.409.0
  src/packages/cli/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 549c49f01130b98f44b33509f4480835a4f7a748
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.27.0-4.b86297c5276ff7ab1f13ebc76404775ce3107c8e
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0eab2e06c7029c40547897b264abed2b6063c702
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.27.0-6.77e5c0039247bd407c28b0238c241b321b6d1bab
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

feat: add npm package to description
  .github/workflows/update-engines-version.yml
Due: none

feat: use markdown table
  .github/workflows/update-engines-version.yml
Due: none

fix: change tag -> version
  .github/workflows/update-engines-version.yml
Due: none

fix: auto agree to pnpx prompt
  .github/workflows/update-engines-version.yml
Due: none

fix mongo schema.prisma: add - `id Int @id @map("_id")`
  src/packages/client/src/__tests__/generation/mongo.prisma
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/fixtures/schema-only-mongodb/prisma/schema.prisma
Due: client

feat: auto merge
  .github/workflows/update-engines-version.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 060df190de31a3d829736f0afca1b6b504234f26
  dev/bench/data.js
Due: none

Update .github/workflows/update-engines-version.yml
  .github/workflows/update-engines-version.yml
Due: none

fix: apply suggestion from code review
  .github/workflows/update-engines-version.yml
Due: none

ci: action for updating engines via workflow dispatch (#7640)
  .github/workflows/update-engines-version.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d3e25a2aa44c60401421606ffa31b371c5f24e12
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.27.0-7.837756c73f7a37da1dccef96276944b672c7d479
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to v2.27.0-8.f0567c9a66c21a6f6f8d2e17668bede3930ac69f
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e04ff5f599a1895c5d67c8b3de554e035160fb46
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 15e1ca308c3e4fe3036d9326f83c27ed1a40c0c9
  dev/bench/data.js
Due: none

fix(deps): update engines to 2.27.0-9.61161c512cf7c311800292410bb6d5407a7860ad
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3c82bfbe5caf57475e4abe9d36d0d07d0544e112
  dev/bench/data.js
Due: none

fix(deps): update engines to latest
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to v2.27.0-10.95952a791883bf14325798380cc9c7eb1045a7e5
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

feat(m1): Download and use M1 build
  src/packages/get-platform/src/getPlatform.ts
  src/packages/get-platform/src/isNodeAPISupported.ts
  src/packages/get-platform/src/platforms.ts
Due: get-platform
