Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

fix(github): Properly detect PR vs Issue contexts
  .github/workflows/local-pr.yaml
Due: none

fix(github): Fix permission handling
  .github/workflows/local-pr.yaml
Due: none

fix(github): Remove pat from permission check
  .github/workflows/local-pr.yaml
Due: none

feat(client): custom fetch for extensions
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/functional/extensions/enabled/query-http-headers.ts
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/engine-core/src/data-proxy/utils/request.ts
Due: client, engine-core

cleanup
  packages/client/tests/functional/extensions/enabled/query-accelerate.ts
Due: client

fix issues with passing customFetch and test it
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/functional/extensions/enabled/query-accelerate.ts
  packages/engine-core/src/data-proxy/utils/request.ts
Due: client, engine-core

update snaps
  packages/client/src/__tests__/batching.test.ts
Due: client

chore(deps): update engines to 4.9.0-43.integration-build-catalina-d8e8a3c26c2011597a5b4e267727272d68c04d66
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Update packages/client/tests/functional/views/tests.ts
  packages/client/tests/functional/views/tests.ts
Due: client

test: no qutoes for mysql views
  packages/client/tests/functional/views/tests.ts
Due: client

fix(studio): tweak error message when url starts with prisma:// (data proxy)
  packages/cli/src/__tests__/commands/CLI.test.ts
  packages/cli/src/__tests__/commands/Studio.test.ts
  packages/cli/src/__tests__/fixtures/schema-only-data-proxy/schema.prisma
  packages/internals/src/cli/checkUnsupportedDataProxy.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
  packages/migrate/src/__tests__/fixtures/schema-only-data-proxy/schema.prisma
Due: none

fix(studio): tweak error message when url starts with prisma:// (data proxy) (#17370)
  packages/cli/src/__tests__/commands/CLI.test.ts
  packages/cli/src/__tests__/commands/Studio.test.ts
  packages/cli/src/__tests__/fixtures/schema-only-data-proxy/schema.prisma
  packages/internals/src/cli/checkUnsupportedDataProxy.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
  packages/migrate/src/__tests__/fixtures/schema-only-data-proxy/schema.prisma
Due: none

fix(CLI): revert `directUrl` in error message
  packages/internals/src/cli/checkUnsupportedDataProxy.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
Due: none

update studio snapshot
  packages/cli/src/__tests__/commands/Studio.test.ts
Due: none

fix(CLI): revert `directUrl` in error message (#17371)
  packages/cli/src/__tests__/commands/Studio.test.ts
  packages/internals/src/cli/checkUnsupportedDataProxy.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
Due: none

Revert "fix(CLI): revert `directUrl` in error message (#17371)"
  packages/cli/src/__tests__/commands/Studio.test.ts
  packages/internals/src/cli/checkUnsupportedDataProxy.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
Due: none

chore: revive binary size benchmark
  packages/client/src/__tests__/benchmarks/file-size/.gitignore
  packages/client/src/__tests__/benchmarks/file-size/builder.ts
  packages/client/src/__tests__/benchmarks/file-size/size.bench.ts
  packages/client/src/__tests__/benchmarks/huge-schema/.gitignore
  packages/client/src/__tests__/benchmarks/huge-schema/huge-schema.bench.ts
Due: client

cleanup
  packages/client/src/__tests__/benchmarks/file-size/.gitignore
  packages/client/src/__tests__/benchmarks/file-size/size.bench.ts
  packages/client/src/__tests__/benchmarks/huge-schema/.gitignore
Due: client

fix dbexecute test
  packages/migrate/src/__tests__/DbExecute.test.ts
Due: none

fix issue for replacing comments
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
Due: client

chore: Allow to skip/include packages via env vars
  scripts/ci/publish.ts
Due: none

chore: Allow to skip/include packages via env vars (#17376)
  scripts/ci/publish.ts
Due: none

chore(deps): update engines to 4.9.0-44.b29121153404aa8eda60ec38e41e477cc1c0ee66
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

ci: add ONLY_PACKAGES for Buildkite
  .buildkite/publish/docker-compose.yml
Due: none

ci: make onlyPackages & skipPackages skip tests
  scripts/ci/publish.ts
Due: none

ci: fix skip test
  scripts/ci/publish.ts
Due: none

feat: remove prisma-fmt binary (#16923)
  .gitignore
  packages/cli/.gitignore
  packages/cli/src/Version.ts
  packages/cli/src/__tests__/commands/Version.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Version.test.ts.snap
  packages/cli/src/bin.ts
  packages/client/src/__tests__/benchmarks/lots-of-relations/builder.ts
  packages/engines/.gitignore
  packages/engines/src/index.ts
  packages/engines/src/scripts/localinstall.ts
  packages/engines/src/scripts/postinstall.ts
  packages/fetch-engine/src/__tests__/.gitignore
  packages/fetch-engine/src/__tests__/download.test.ts
  packages/fetch-engine/src/download.ts
  packages/fetch-engine/src/getLatestTag.ts
  packages/generator-helper/src/types.ts
  packages/internals/.gitignore
  packages/internals/src/__tests__/__fixtures__/format/schema.prisma
  packages/internals/src/__tests__/engine-commands/formatSchema.test.ts
  packages/internals/src/__tests__/engine-commands/getEngineVersion.test.ts
  packages/internals/src/engine-commands/getEnginesMetaInfo.ts
  packages/internals/src/get-generators/utils/binaryTypeToEngineType.ts
  packages/internals/src/get-generators/utils/engineTypeToBinaryType.ts
  packages/internals/src/resolveBinary.ts
Due: client, generator-helper

fix issues with includes and where clauses
  packages/client/src/runtime/core/types/GetResult.ts
  packages/client/tests/functional/extensions/enabled/result.ts
Due: client

test: cover mongo views with $raw
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
  packages/client/tests/functional/views/prisma/_schema.ts
  packages/client/tests/functional/views/tests.ts
Due: client
