Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore(deps): update studio to v0.442.0
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 94b838b05bc076b4c00b2c025a049e79f79de0e7
  dev/bench/data.js
Due: none

Update a comment to be more informative
  packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1f12d7f73f585d303c7609877d0c156719df68b3
  dev/bench/data.js
Due: none

fix(sdk): revert "don't create package.json when running prisma generate" (#10713)
  packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3e193e633f055df34cf4e9f86cea9bbc419ef9c9
  dev/bench/data.js
Due: none

refactor(client): simplify virtual model
  packages/client/src/runtime/core/model/applyModel.ts
  packages/client/src/runtime/core/model/applyModels.ts
Due: client

refactor(client): fluent api
  packages/client/src/runtime/core/model/applyFluent.ts
  packages/client/src/runtime/core/model/applyModel.ts
Due: client

docs(client): fluent api
  packages/client/src/runtime/core/model/applyFluent.ts
Due: client

reafctor(client): begin aggregates
  packages/client/src/runtime/core/model/aggregates/aggregate.ts
  packages/client/src/runtime/core/model/aggregates/count.ts
  packages/client/src/runtime/core/model/aggregates/groupBy.ts
  packages/client/src/runtime/core/model/applyAggregates.ts
  packages/client/src/runtime/core/model/applyFluent.ts
  packages/client/src/runtime/core/model/applyModel.ts
  packages/generator-helper/src/dmmf.ts
Due: client, generator-helper

chore(client): cleanup
  packages/client/src/runtime/core/model/applyFluent.ts
Due: client

docs(client): comments
  packages/client/src/runtime/core/model/applyModel.ts
Due: client

refactor(client): aggregate triggers
  packages/client/src/runtime/core/model/applyAggregates.ts
Due: client

chore(deps): update engines to 3.7.0-22.290078778b2852913a326899e0571df61eed1792
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.7.0-22.290078778b2852913a326899e0571df61eed1792 (#10723)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ad9459f778f4c8469068032d6bdbaeac33c06f53
  dev/bench/data.js
Due: none

chore(deps): update studio to v0.443.0
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

chore: comments from deep dive #7045
  packages/cli/src/Generate.ts
  packages/cli/src/Validate.ts
  packages/migrate/src/commands/DbPull.ts
  packages/sdk/src/IntrospectionEngine.ts
  packages/sdk/src/engine-commands/getConfig.ts
Due: sdk

Update packages/sdk/src/IntrospectionEngine.ts
  packages/sdk/src/IntrospectionEngine.ts
Due: sdk

chore(deps): update engines to 3.7.0-23.754a2c2fea33c1ef5dd85e56106cb88c9f828e53
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.7.0-23.754a2c2fea33c1ef5dd85e56106cb88c9f828e53 (#10734)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 43c77f6f38f004768708d7a98201621667c5ec13
  dev/bench/data.js
Due: none

fix(generator-helper): missing field types (#7668)
  packages/generator-helper/src/dmmf.ts
Due: generator-helper

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 14ee61f10cf5749d18889b447efa0158b88583e6
  dev/bench/data.js
Due: none

Update IntrospectionEngine.ts
  packages/sdk/src/IntrospectionEngine.ts
Due: sdk

chore(deps): update engines to 3.7.0-24.c03b790cbc6a9f4aadc807840789478d3bc1408a
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.7.0-24.c03b790cbc6a9f4aadc807840789478d3bc1408a (#10738)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 60c51c5075878aae67743f8c2bcfbb296a695311
  dev/bench/data.js
Due: none

ci: use setup-node@v2 native cache
  .github/workflows/benchmark.yml
  .github/workflows/label-stale-issues.yml
  .github/workflows/test.yml
  .github/workflows/update-engines-version.yml
  .github/workflows/update-studio-version.yml
Due: none

fix(studio): fix tests
  packages/cli/src/__tests__/commands/Studio.test.ts
  pnpm-lock.yaml
Due: none

chore: comments from deep dive #7045 (#10732)
  packages/cli/src/Generate.ts
  packages/cli/src/Validate.ts
  packages/migrate/src/commands/DbPull.ts
  packages/sdk/src/IntrospectionEngine.ts
  packages/sdk/src/engine-commands/getConfig.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8029b0677be1761b8496d10d0bcff0d6549f6e16
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a4940a9b8d4c64d5a8d82721d45db08930856fda
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.7.0-25.03133c002635df838c435127ae099886fc6a4ed9
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk
