Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

test(client): fix fixture schemas, remove references on M:N relations
  packages/client/src/__tests__/integration/happy/filter-nullable/schema.prisma
  packages/client/src/__tests__/integration/happy/relations/schema.prisma
  packages/client/src/fixtures/saleBuyers.ts
Due: client

fix: ts build due to node-fetch types
  package.json
  pnpm-lock.yaml
Due: none

fix data proxy integration patch version resolver
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

sdk: added 'safeProtocolToConnectorType' utility
  packages/sdk/src/__tests__/convertCredentials.test.ts
  packages/sdk/src/convertCredentials.ts
  packages/sdk/src/index.ts
Due: sdk

migrate: changed migrate success message for mongodb
  packages/migrate/src/commands/DbPush.ts
Due: none

ci(Buildkite): make sure docker instances are stopped to avoid flaky errors
  .buildkite/publish/buildkite-entry.sh
  .buildkite/test/buildkite-entry.sh
  .buildkite/test/test.yml
Due: none

chore(deps): update engines to 3.16.0-3.22436bd007b1203600887b86874988576ef6f8ff (#13690)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

fix(deps): update esm devdependencies & dependencies (major)
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/fixtures/blog/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

delete generated folder on generate
  .eslintignore
  packages/cli/helpers/build.ts
  packages/cli/helpers/copy-prisma-client.ts
  packages/client/.gitignore
  packages/client/helpers/build.ts
  packages/client/scripts/colors.js
  packages/client/scripts/default-edge.js
  packages/client/scripts/default-index-browser.js
  packages/client/scripts/default-index.d.ts
  packages/client/scripts/default-index.js
  packages/client/scripts/get-packed-client.js
  packages/client/scripts/mock-fs.js
  packages/client/scripts/postinstall.d.ts
  packages/client/src/__tests__/scripts/postinstall.test.ts
  packages/client/src/generation/defaults/defaultBrowserIndex.ts
  packages/client/src/generation/defaults/defaultEdgeIndex.ts
  packages/client/src/generation/defaults/defaultIndexDts.ts
  packages/client/src/generation/defaults/defaultNodeIndex.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/scripts/postinstall.ts
Due: client

have a more resilient postinstall logic in monorepo
  packages/client/.gitignore
  packages/client/helpers/build.ts
  packages/client/package.json
  packages/client/scripts/postinstall.js
  pnpm-lock.yaml
Due: client

fix script
  .buildkite/publish/buildkite-entry.sh
  .buildkite/test/buildkite-entry.sh
Due: none

use docker rm --force -v $DOCKER_IDS
  .buildkite/publish/buildkite-entry.sh
  .buildkite/test/buildkite-entry.sh
Due: none

fix: ts build due to node-fetch types (#13698)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency redis to v4
  package.json
  pnpm-lock.yaml
Due: none

fix(engine-core): Fix race conditon during panic in BinaryEngine
  packages/engine-core/src/binary/BinaryEngine.ts
Due: engine-core

ci(Buildkite): make sure docker instances are stopped to avoid flaky errors (#13701)
  .buildkite/publish/buildkite-entry.sh
  .buildkite/test/buildkite-entry.sh
  .buildkite/test/test.yml
Due: none

ci: try buildjet for ubuntu runners
  .github/workflows/test.yml
Due: none

updated temp-write for workspace 3.14
  packages/sdk/package.json
  packages/sdk/yarn.lock
Due: sdk

chore(deps): update engines to 3.16.0-4.151dc9ef4ba65199029dc761667d99742d79d2ca (#13691)
  packages/cli/package.json
  packages/client/package.json
  packages/client/src/__tests__/integration/happy/filter-nullable/schema.prisma
  packages/client/src/__tests__/integration/happy/relations/schema.prisma
  packages/client/src/fixtures/saleBuyers.ts
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore: install builkite test analytics (experiment)
  package.json
  packages/cli/jest.config.js
  packages/client/jest.config.js
  packages/client/tests/functional/jest.config.js
  packages/debug/jest.config.js
  packages/engine-core/jest.config.js
  packages/generator-helper/jest.config.js
  packages/integration-tests/jest.config.js
  packages/migrate/jest.config.js
  packages/react-prisma/jest.config.js
  packages/sdk/jest.config.js
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

fix(client): pass thru init error code on binary start (#13551)
  packages/client/tests/functional/_utils/defineMatrix.ts
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/init-error/_matrix.ts
  packages/client/tests/functional/init-error/prisma/_schema.ts
  packages/client/tests/functional/init-error/tests.ts
  packages/engine-core/src/binary/BinaryEngine.ts
Due: client, engine-core

test: opt out of new tests and refactor conflicting types
  packages/client/tests/functional/_utils/checkMissingProviders.ts
  packages/client/tests/functional/_utils/defineMatrix.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/_utils/types.ts
  packages/client/tests/functional/init-error/_matrix.ts
  packages/client/tests/functional/init-error/tests.ts
Due: client

Update packages/client/tests/functional/_example/tests.ts
  packages/client/tests/functional/_example/tests.ts
Due: client

types: optional optOut
  packages/client/tests/functional/_utils/types.ts
Due: client

refactor: indentation
  packages/client/tests/functional/create-many/prisma/_schema.ts
Due: client

test(client): add test for integer overflow error (#13331)
  packages/client/tests/functional/handle-int-overflow/_matrix.ts
  packages/client/tests/functional/handle-int-overflow/prisma/_schema.ts
  packages/client/tests/functional/handle-int-overflow/tests.ts
Due: client

chore(deps): update engines to 3.16.0-5.f9559ae69c68d71b1787de8a4f2d4fda1a612eba
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.16.0-6.751ec15f8acbaeb0db23f8adb70dd68e94629f59
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.16.0-7.24a869423481c8cd431a064e5c84f5a58778e574
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

use unpkg to simplify the code logic
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

chore(deps): update engines to 3.16.0-8.21b5f322ad1c14a1b28b18e805330f02df46f643
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

fix: add @unique on defining side of relation
  packages/migrate/src/__tests__/fixtures/nativeTypes-postgresql/prisma/schema.prisma
Due: none

more
  packages/migrate/src/__tests__/fixtures/nativeTypes-cockroachdb/prisma/schema.prisma
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
