Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

tests(migrate): update snapshots
  src/packages/migrate/src/__tests__/DbPush.test.ts
  src/packages/migrate/src/__tests__/MigrateResolve.test.ts
  src/packages/migrate/src/__tests__/handlePanic.test.ts
  src/pnpm-lock.yaml
Due: none

fix: group by
  src/packages/client/jest.config.js
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/accounts/test.ts
  src/packages/client/src/__tests__/types/aggregate/test.ts
  src/packages/client/src/__tests__/types/blog/test.ts
  src/packages/client/src/__tests__/types/connectOrCreate-disabled/test.ts
  src/packages/client/src/__tests__/types/connectOrCreate-enabled/test.ts
  src/packages/client/src/__tests__/types/deleteMany/test.ts
  src/packages/client/src/__tests__/types/distinct/test.ts
  src/packages/client/src/__tests__/types/findFirst/test.ts
  src/packages/client/src/__tests__/types/groupBy/index.d.ts
  src/packages/client/src/__tests__/types/groupBy/index.test-d.ts
  src/packages/client/src/__tests__/types/groupBy/test.ts
  src/packages/client/src/__tests__/types/imports/test.ts
  src/packages/client/src/__tests__/types/json/test.ts
  src/packages/client/src/__tests__/types/middlewares/test.ts
  src/packages/client/src/__tests__/types/native-types/test.ts
  src/packages/client/src/__tests__/types/transactionApi-disabled/test.ts
  src/packages/client/src/__tests__/types/transactionApi-enabled/test.ts
  src/packages/client/src/__tests__/types/types.test.ts
  src/packages/client/src/__tests__/types/uncheckedScalarInputs/test.ts
  src/packages/client/src/__tests__/types/unhappy-nested-or/test.ts
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/common.ts
  src/pnpm-lock.yaml
Due: client

chore: fix tests
  src/packages/client/jest.config.js
Due: client

chore: fix tests
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
Due: client

chore: add jsdoc
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient/constants.ts
Due: client

fix: group by (#4768)
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/jest.config.js
  src/packages/client/package.json
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/accounts/test.ts
  src/packages/client/src/__tests__/types/aggregate/test.ts
  src/packages/client/src/__tests__/types/blog/test.ts
  src/packages/client/src/__tests__/types/connectOrCreate-disabled/test.ts
  src/packages/client/src/__tests__/types/connectOrCreate-enabled/test.ts
  src/packages/client/src/__tests__/types/deleteMany/test.ts
  src/packages/client/src/__tests__/types/distinct/test.ts
  src/packages/client/src/__tests__/types/findFirst/test.ts
  src/packages/client/src/__tests__/types/groupBy/index.d.ts
  src/packages/client/src/__tests__/types/groupBy/index.test-d.ts
  src/packages/client/src/__tests__/types/groupBy/test.ts
  src/packages/client/src/__tests__/types/imports/test.ts
  src/packages/client/src/__tests__/types/json/test.ts
  src/packages/client/src/__tests__/types/middlewares/test.ts
  src/packages/client/src/__tests__/types/native-types/test.ts
  src/packages/client/src/__tests__/types/transactionApi-disabled/test.ts
  src/packages/client/src/__tests__/types/transactionApi-enabled/test.ts
  src/packages/client/src/__tests__/types/types.test.ts
  src/packages/client/src/__tests__/types/uncheckedScalarInputs/test.ts
  src/packages/client/src/__tests__/types/unhappy-nested-or/test.ts
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/common.ts
  src/packages/client/src/generation/TSClient/constants.ts
  src/pnpm-lock.yaml
Due: client

chore(deps): pin dependency tsd to 0.14.0
  src/packages/client/package.json
Due: client

chore: cleanup
  src/packages/client/fixtures/blog/main.ts
Due: client

chore: add more type tests
  src/packages/client/src/__tests__/types/accounts/index.d.ts
  src/packages/client/src/__tests__/types/accounts/index.test-d.ts
  src/packages/client/src/__tests__/types/aggregate/index.d.ts
  src/packages/client/src/__tests__/types/aggregate/index.test-d.ts
  src/packages/client/src/__tests__/types/blog/index.d.ts
  src/packages/client/src/__tests__/types/blog/index.test-d.ts
  src/packages/client/src/__tests__/types/connectOrCreate-disabled/index.d.ts
  src/packages/client/src/__tests__/types/connectOrCreate-disabled/index.test-d.ts
  src/packages/client/src/__tests__/types/connectOrCreate-enabled/index.d.ts
  src/packages/client/src/__tests__/types/connectOrCreate-enabled/index.test-d.ts
  src/packages/client/src/__tests__/types/deleteMany/index.d.ts
  src/packages/client/src/__tests__/types/deleteMany/index.test-d.ts
  src/packages/client/src/__tests__/types/distinct/index.d.ts
  src/packages/client/src/__tests__/types/distinct/index.test-d.ts
  src/packages/client/src/__tests__/types/findFirst/index.d.ts
  src/packages/client/src/__tests__/types/findFirst/index.test-d.ts
  src/packages/client/src/__tests__/types/json/index.d.ts
  src/packages/client/src/__tests__/types/json/index.test-d.ts
  src/packages/client/src/__tests__/types/middlewares/index.d.ts
  src/packages/client/src/__tests__/types/middlewares/index.test-d.ts
  src/packages/client/src/__tests__/types/native-types/index.d.ts
  src/packages/client/src/__tests__/types/native-types/index.test-d.ts
  src/packages/client/src/__tests__/types/transactionApi-disabled/schema.prisma
  src/packages/client/src/__tests__/types/transactionApi-disabled/test.ts
  src/packages/client/src/__tests__/types/transactionApi-disabled/tsconfig.json
  src/packages/client/src/__tests__/types/transactionApi-enabled/index.d.ts
  src/packages/client/src/__tests__/types/transactionApi-enabled/index.test-d.ts
  src/packages/client/src/__tests__/types/transactionApi-enabled/test.ts
  src/packages/client/src/__tests__/types/types.test.ts
  src/packages/client/src/__tests__/types/uncheckedScalarInputs/index.d.ts
  src/packages/client/src/__tests__/types/uncheckedScalarInputs/index.test-d.ts
  src/packages/client/src/__tests__/types/unhappy-nested-or/index.d.ts
  src/packages/client/src/__tests__/types/unhappy-nested-or/index.test-d.ts
Due: client

chore: increase test timeout
  src/packages/client/jest.config.js
  src/packages/client/src/__tests__/types/types.test.ts
Due: client

chore: add deprecation test
  src/packages/client/src/__tests__/types/deprecation/index.d.ts
  src/packages/client/src/__tests__/types/deprecation/index.test-d.ts
  src/packages/client/src/__tests__/types/deprecation/schema.prisma
  src/packages/client/src/__tests__/types/deprecation/test.ts
  src/packages/client/src/__tests__/types/deprecation/tsconfig.json
Due: client

chore: add more type tests (#4805)
  src/packages/client/jest.config.js
  src/packages/client/src/__tests__/types/accounts/index.d.ts
  src/packages/client/src/__tests__/types/accounts/index.test-d.ts
  src/packages/client/src/__tests__/types/aggregate/index.d.ts
  src/packages/client/src/__tests__/types/aggregate/index.test-d.ts
  src/packages/client/src/__tests__/types/blog/index.d.ts
  src/packages/client/src/__tests__/types/blog/index.test-d.ts
  src/packages/client/src/__tests__/types/connectOrCreate-disabled/index.d.ts
  src/packages/client/src/__tests__/types/connectOrCreate-disabled/index.test-d.ts
  src/packages/client/src/__tests__/types/connectOrCreate-enabled/index.d.ts
  src/packages/client/src/__tests__/types/connectOrCreate-enabled/index.test-d.ts
  src/packages/client/src/__tests__/types/deleteMany/index.d.ts
  src/packages/client/src/__tests__/types/deleteMany/index.test-d.ts
  src/packages/client/src/__tests__/types/deprecation/index.d.ts
  src/packages/client/src/__tests__/types/deprecation/index.test-d.ts
  src/packages/client/src/__tests__/types/deprecation/schema.prisma
  src/packages/client/src/__tests__/types/deprecation/test.ts
  src/packages/client/src/__tests__/types/deprecation/tsconfig.json
  src/packages/client/src/__tests__/types/distinct/index.d.ts
  src/packages/client/src/__tests__/types/distinct/index.test-d.ts
  src/packages/client/src/__tests__/types/findFirst/index.d.ts
  src/packages/client/src/__tests__/types/findFirst/index.test-d.ts
  src/packages/client/src/__tests__/types/json/index.d.ts
  src/packages/client/src/__tests__/types/json/index.test-d.ts
  src/packages/client/src/__tests__/types/middlewares/index.d.ts
  src/packages/client/src/__tests__/types/middlewares/index.test-d.ts
  src/packages/client/src/__tests__/types/native-types/index.d.ts
  src/packages/client/src/__tests__/types/native-types/index.test-d.ts
  src/packages/client/src/__tests__/types/transactionApi-disabled/schema.prisma
  src/packages/client/src/__tests__/types/transactionApi-disabled/test.ts
  src/packages/client/src/__tests__/types/transactionApi-enabled/index.d.ts
  src/packages/client/src/__tests__/types/transactionApi-enabled/index.test-d.ts
  src/packages/client/src/__tests__/types/transactionApi-enabled/test.ts
  src/packages/client/src/__tests__/types/types.test.ts
  src/packages/client/src/__tests__/types/uncheckedScalarInputs/index.d.ts
  src/packages/client/src/__tests__/types/uncheckedScalarInputs/index.test-d.ts
  src/packages/client/src/__tests__/types/unhappy-nested-or/index.d.ts
  src/packages/client/src/__tests__/types/unhappy-nested-or/index.test-d.ts
Due: client

fix(client): Close #4195
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/native-types/test.ts
  src/packages/client/src/runtime/utils/common.ts
Due: client

fix(client): Close #4195 (#4806)
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/native-types/test.ts
  src/packages/client/src/runtime/utils/common.ts
Due: client

chore: add debugging
  src/packages/sdk/src/getGenerators.ts
Due: sdk

fix(client): Fix #4442
  src/packages/client/src/__tests__/integration/errors/uncheckedScalarValidation/.gitignore
  src/packages/client/src/__tests__/integration/errors/uncheckedScalarValidation/dev.db
  src/packages/client/src/__tests__/integration/errors/uncheckedScalarValidation/schema.prisma
  src/packages/client/src/__tests__/integration/errors/uncheckedScalarValidation/test.ts
  src/packages/client/src/runtime/dmmf.ts
  src/packages/client/src/runtime/query.ts
  src/pnpm-lock.yaml
Due: client

chore: add debugging (#4810)
  src/packages/sdk/src/getGenerators.ts
Due: sdk

chore: update snapshots
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

fix(client): Fix #4442 (#4811)
  src/packages/client/src/__tests__/integration/errors/uncheckedScalarValidation/.gitignore
  src/packages/client/src/__tests__/integration/errors/uncheckedScalarValidation/dev.db
  src/packages/client/src/__tests__/integration/errors/uncheckedScalarValidation/schema.prisma
  src/packages/client/src/__tests__/integration/errors/uncheckedScalarValidation/test.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/runtime/dmmf.ts
  src/packages/client/src/runtime/query.ts
  src/pnpm-lock.yaml
Due: client

feat(client): throw when executeRaw is used with Alter and parameters
  src/packages/client/src/__tests__/integration/errors/executeRaw-alter-postgres/schema.prisma
  src/packages/client/src/__tests__/integration/errors/executeRaw-alter-postgres/test.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

update snapshots
  src/packages/client/src/__tests__/integration/errors/executeRaw-alter-postgres/test.ts
Due: client

clean up test schema and add doc link
  src/packages/client/src/__tests__/integration/errors/executeRaw-alter-postgres/schema.prisma
  src/packages/client/src/__tests__/integration/errors/executeRaw-alter-postgres/test.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

usage specific errors
  src/packages/client/src/__tests__/integration/errors/executeRaw-alter-postgres/test.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

chore: cleanup migrate links and docs
  CONTRIBUTING.md
  README.md
  src/packages/migrate/README.md
  src/packages/migrate/package.json
  src/packages/migrate/src/MigrateEngine.ts
  src/packages/migrate/src/__tests__/getGithubIssueUrl.test.ts
  src/packages/migrate/src/__tests__/handlePanic.test.ts
  src/packages/migrate/src/utils/getGithubIssueUrl.ts
  src/packages/sdk/package.json
Due: sdk

tests(migrate): cleanup
  src/packages/migrate/src/__tests__/DbCommand.test.ts
  src/packages/migrate/src/__tests__/MigrateCommand.test.ts
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/MigrateReset.test.ts
  src/packages/migrate/src/__tests__/rpc.test.ts
Due: none

Update README.md
  README.md
Due: none

test(migrate): cleanup (#4814)
  src/packages/migrate/src/__tests__/DbCommand.test.ts
  src/packages/migrate/src/__tests__/MigrateCommand.test.ts
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/MigrateReset.test.ts
  src/packages/migrate/src/__tests__/rpc.test.ts
Due: none

chore(deps): update devdependencies (non-major)
  package.json
  pnpm-lock.yaml
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

wip
  src/packages/client/package.json
  src/packages/client/src/generation/TSClient/Enum.ts
  src/packages/client/src/generation/TSClient/Generatable.ts
  src/packages/client/src/generation/TSClient/TSClient.ts
  src/packages/client/src/generation/TSClient/common.ts
  src/packages/client/src/generation/TSClient/index.ts
  src/pnpm-lock.yaml
Due: client

fix: improve regex
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

fix: improve error message
  src/packages/client/src/__tests__/integration/errors/executeRaw-alter-postgres/test.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

feat: add react-prisma
  src/packages/react-prisma/.eslintignore
  src/packages/react-prisma/.eslintrc.js
  src/packages/react-prisma/.gitignore
  src/packages/react-prisma/.prettierignore
  src/packages/react-prisma/.prettierrc.yml
  src/packages/react-prisma/README.md
  src/packages/react-prisma/jest.config.js
  src/packages/react-prisma/package.json
  src/packages/react-prisma/src/index.ts
  src/packages/react-prisma/tsconfig.json
  src/pnpm-lock.yaml
Due: none

Path conditions:
  get-platform: any of: src/packages/get-platform/
  fetch-engine: any of: src/packages/fetch-engine/
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
