Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

fix incomplete-schemas tests
  packages/cli/src/__tests__/incomplete-schemas.test.ts
Due: none

fix getDbLocation
  packages/migrate/src/utils/ensureDatabaseExists.ts
Due: none

parse mongodb connection string to get the database name
  packages/internals/src/__tests__/__snapshots__/convertCredentials.test.ts.snap
  packages/internals/src/__tests__/convertCredentials.test.ts
  packages/internals/src/convertCredentials.ts
Due: none

test: add ts-ignore
  packages/client/tests/functional/issues/17061-default-types/tests.ts
Due: client

update snapshots
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/DbPush.test.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/migrate/src/__tests__/MigrateReset.test.ts
  packages/migrate/src/__tests__/MigrateResolve.test.ts
  packages/migrate/src/__tests__/ensureDatabaseExists.test.ts
Due: none

remove console
  packages/migrate/src/commands/MigrateDev.ts
Due: none

update snapshots
  packages/migrate/src/__tests__/DbPush.test.ts
Due: none

update snapshots + add default public schema for cockroachdb
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/migrate/src/utils/ensureDatabaseExists.ts
  packages/migrate/src/utils/printDatasource.ts
Due: none

nit: make defaultLibssl more explicit
  packages/get-platform/src/getPlatform.ts
Due: none

ignoreEnvVarErrors = true
  packages/cli/src/Version.ts
Due: none

fix(cli): Ignore env errors in prisma -v
  packages/cli/src/Version.ts
Due: none

fix(cli): Fixed ESM import params on windows
  packages/cli/src/utils/getClientVersion.ts
Due: none

update 2 snapshots
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/migrate/src/__tests__/MigrateResolve.test.ts
Due: none

fix EnvValue value type + dbType -> prettyProvider
  packages/cli/src/Doctor.ts
  packages/generator-helper/src/types.ts
  packages/internals/src/utils/parseEnvValue.ts
  packages/migrate/src/commands/DbDrop.ts
  packages/migrate/src/commands/DbPush.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/utils/ensureDatabaseExists.ts
  packages/migrate/src/utils/printDatasource.ts
Due: generator-helper

destructure args to getDatasourceInfo + add throwIfEnvError for db drop
  packages/client/src/__tests__/resolveDatasources.test.ts
  packages/client/src/generation/serializeDatasources.ts
  packages/migrate/src/commands/DbDrop.ts
  packages/migrate/src/commands/DbPull.ts
  packages/migrate/src/commands/DbPush.ts
  packages/migrate/src/commands/MigrateDeploy.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateReset.ts
  packages/migrate/src/commands/MigrateResolve.ts
  packages/migrate/src/commands/MigrateStatus.ts
  packages/migrate/src/utils/ensureDatabaseExists.ts
Due: client

refactor: Introduce typesafe builders for TS typedefs (#17145)
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/Input.ts
  packages/client/src/generation/TSClient/PrismaClient.ts
  packages/client/src/generation/ts-builders/AnyTypeBuilder.ts
  packages/client/src/generation/ts-builders/ArraySpread.ts
  packages/client/src/generation/ts-builders/ArrayType.test.ts
  packages/client/src/generation/ts-builders/ArrayType.ts
  packages/client/src/generation/ts-builders/BasicBuilder.ts
  packages/client/src/generation/ts-builders/DocComment.test.ts
  packages/client/src/generation/ts-builders/DocComment.ts
  packages/client/src/generation/ts-builders/FunctionType.test.ts
  packages/client/src/generation/ts-builders/FunctionType.ts
  packages/client/src/generation/ts-builders/GenericParameter.test.ts
  packages/client/src/generation/ts-builders/GenericParameter.ts
  packages/client/src/generation/ts-builders/Method.test.ts
  packages/client/src/generation/ts-builders/Method.ts
  packages/client/src/generation/ts-builders/NamedType.spec.ts
  packages/client/src/generation/ts-builders/NamedType.ts
  packages/client/src/generation/ts-builders/ObjectType.test.ts
  packages/client/src/generation/ts-builders/ObjectType.ts
  packages/client/src/generation/ts-builders/Parameter.test.ts
  packages/client/src/generation/ts-builders/Parameter.ts
  packages/client/src/generation/ts-builders/PrimitiveType.ts
  packages/client/src/generation/ts-builders/Property.test.ts
  packages/client/src/generation/ts-builders/Property.ts
  packages/client/src/generation/ts-builders/StringLiteralType.ts
  packages/client/src/generation/ts-builders/UnionType.test.ts
  packages/client/src/generation/ts-builders/UnionType.ts
  packages/client/src/generation/ts-builders/Writer.test.ts
  packages/client/src/generation/ts-builders/Writer.ts
  packages/client/src/generation/ts-builders/index.ts
  packages/client/src/generation/ts-builders/stringify.ts
Due: client

stop throwing if datasource not found in getDatasourceInfo
  packages/migrate/src/utils/ensureDatabaseExists.ts
  packages/migrate/src/utils/printDatasource.ts
Due: none

chore(deps): update engines to 4.9.0-17.1750a38722ebe726f9806fa7655670dd997ce83e
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

no message
  packages/migrate/src/commands/MigrateDev.ts
Due: none

chore(deps): update engines to 4.9.0-17.1750a38722ebe726f9806fa7655670dd997ce83e (#17163)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

remove testIf in db pull and check input.url
  packages/cli/src/__tests__/__snapshots__/incomplete-schemas.test.ts.snap
  packages/cli/src/__tests__/incomplete-schemas.test.ts
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
  packages/migrate/src/commands/DbPull.ts
Due: none

fix firstDatasource
  packages/migrate/src/commands/DbPull.ts
  packages/migrate/src/utils/ensureDatabaseExists.ts
Due: none

chore(deps): update engines to 4.9.0-18.52d588a056ffbae32b47429b0fc56d0a28726a6d
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.9.0-19.effe555fa9849ddc83ec39d1a6fe9c6b7226a863
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.9.0-19.effe555fa9849ddc83ec39d1a6fe9c6b7226a863 (#17165)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

handling of problem cases
  packages/cli/src/__tests__/__snapshots__/incomplete-schemas.test.ts.snap
  packages/cli/src/__tests__/incomplete-schemas.test.ts
  packages/migrate/src/commands/DbPull.ts
Due: none

replace logic by getConfig (like before)
  packages/cli/src/__tests__/incomplete-schemas.test.ts
  packages/migrate/src/commands/DbPull.ts
Due: none

artificial-panic: hardcode url for test
  packages/cli/src/__tests__/fixtures/artificial-panic/prisma/schema.prisma
Due: none

fix different provider between --url and schema for db pull
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/commands/DbPull.ts
Due: none

chore(deps): update engines to 4.9.0-20.49e6a850a439ab7b1bf599402b4a9755c90eb32c
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Upgrade temp-write to fix upgrade it's dependency: 'uuid' to recently to prevent issue
  packages/internals/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update engines to 4.9.0-20.49e6a850a439ab7b1bf599402b4a9755c90eb32c (#17168)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
