Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d24e6139f9f6209a3927d9b029504b17e7b01e7f
  dev/bench/data.js
Due: none

fix(client): use origin type for JSDocs
  src/packages/client/src/generation/TSClient/common.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ec8db2dec9020435e6f755cdb0a71c0b3df4ddaa
  dev/bench/data.js
Due: none

update snapshot
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d008e0f36c01199791ac3523e5f2b88535a79f12
  dev/bench/data.js
Due: none

fix: log postinstall trigger
  src/packages/client/scripts/postinstall.js
Due: client

test quick fix
  src/packages/client/src/generation/generateClient.ts
Due: client

another test
  src/packages/cli/src/Generate.ts
  src/packages/client/scripts/postinstall.js
  src/packages/sdk/src/cli/getSchema.ts
Due: client, sdk

fix a woops
  src/packages/client/scripts/postinstall.js
Due: client

remove env logging
  src/packages/client/scripts/postinstall.js
Due: client

test hack
  src/packages/client/scripts/postinstall.js
Due: client

throw error
  src/packages/client/scripts/postinstall.js
Due: client

more logging
  src/packages/sdk/src/getGenerators.ts
Due: sdk

allow to fail
  src/packages/client/scripts/postinstall.js
Due: client

more logs
  src/packages/client/src/generation/generateClient.ts
Due: client

more logging
  src/packages/client/scripts/postinstall.js
Due: client

make tim happy
  src/packages/client/src/generation/generateClient.ts
Due: client

clean up
  src/packages/cli/src/__tests__/generate.test.ts
  src/packages/client/scripts/postinstall.js
  src/packages/client/src/generation/generateClient.ts
  src/packages/sdk/src/getGenerators.ts
Due: client, sdk

skip tests
  src/packages/cli/src/__tests__/generate.test.ts
Due: none

remove skip
  src/packages/cli/src/__tests__/generate.test.ts
Due: none

add missing function
  src/packages/client/scripts/postinstall.js
Due: client

more logging
  src/packages/client/src/generation/generateClient.ts
Due: client

Update src/packages/client/src/generation/generateClient.ts
  src/packages/client/src/generation/generateClient.ts
Due: client

keep tim happy
  src/packages/client/scripts/postinstall.js
Due: client

skip generate tests
  src/packages/cli/src/__tests__/generate.test.ts
Due: none

ensure consistant behaviour
  src/packages/client/scripts/postinstall.js
Due: client

clean up logic
  src/packages/client/scripts/postinstall.js
Due: client

Update src/packages/client/scripts/postinstall.js
  src/packages/client/scripts/postinstall.js
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 676a21b078bfe177b238ea22292d865889c1f0da
  dev/bench/data.js
Due: none

fix: postinstall trigger in yarn workspace (#5550)
  src/packages/cli/src/Generate.ts
  src/packages/client/scripts/postinstall.js
  src/packages/client/src/generation/generateClient.ts
  src/packages/sdk/src/cli/getSchema.ts
Due: client, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 465cd5db5715c3167641e91738b6a94fbdf05505
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.18.0-34.da6fafb57b24e0b61ca20960c64e2d41f9e8cff1
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

fix(deps): update dependency open to v8
  src/packages/cli/package.json
  src/packages/migrate/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 9b4d57bba5432b6465432b33f08b8d166677073c
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 39a633817dc7568fbb1bb408d4c5a175f495b206
  dev/bench/data.js
Due: none

chore(deps): update studio to v0.357.0
  src/packages/cli/package.json
Due: none

fix(deps): update engines to v2.19.0-1.6ed5c6d9e3f6a2a1dadbc1cf183436b290c6cbc7
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 86a1b715d999844c173a8a96e111f7e7af826d0d
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 70e7c9350fb6099072ecebb7181cddb8d33754de
  dev/bench/data.js
Due: none

Path conditions:
  get-platform: any of: src/packages/get-platform/
  fetch-engine: any of: src/packages/fetch-engine/
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
