Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore: remove unused file "mock-fs.js"
  packages/client/package.json
  packages/client/scripts/mock-fs.js
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.15.0-9.integration-engineer-tests-24ada487098a711c15bc172b9719694c9292f14f
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.15.0-10.2a74471c3ffd9b901226c08d11c27617a69b421f
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore: remove unused file "mock-fs.js" (#19297)
  packages/client/package.json
  packages/client/scripts/mock-fs.js
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.15.0-10.2a74471c3ffd9b901226c08d11c27617a69b421f (#19302)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Fix old function being used in a test after merge
  packages/migrate/src/__tests__/DbPull/postgresql-views.test.ts
Due: none

Fix path config.dirname
  packages/client/src/generation/utils/buildDirname.ts
Due: client

Make NFT annotations cross-platform
  packages/client/src/generation/utils/buildNFTAnnotations.ts
Due: client

Make paths in config cross-platform
  packages/client/src/generation/TSClient/TSClient.ts
Due: client

chore(deps): update engines to 4.15.0-11.b33dce37d49a63966d05f78b538cea13994d7507
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.15.0-11.b33dce37d49a63966d05f78b538cea13994d7507 (#19322)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.15.0-12.08464e12680725cf8375f2ab314206401f8581a3
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Can't use @prisma/internals in fetch-engine
  packages/fetch-engine/src/__tests__/download.test.ts
Due: none

fix(bench): improve huge-schema benchmark stability on CodSpeed
  packages/client/src/__tests__/benchmarks/huge-schema/huge-schema.bench.ts
  packages/client/src/utils/compileFile.ts
  packages/client/src/utils/compilerWorker.js
Due: client

chore(deps): update engines to 4.15.0-12.08464e12680725cf8375f2ab314206401f8581a3 (#19326)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix(client): better errors for engine not found (library)
  packages/client/src/runtime/core/engines/common/Engine.ts
  packages/client/src/runtime/core/engines/common/errors/engine-not-found/EngineNotFoundErrorInput.ts
  packages/client/src/runtime/core/engines/common/errors/engine-not-found/addRuntimeToYourBinaryTargets.ts
  packages/client/src/runtime/core/engines/common/errors/engine-not-found/binaryTargetsWasIncorrectlyPinned.ts
  packages/client/src/runtime/core/engines/common/errors/engine-not-found/bundlerHasTamperedWithEngineCopy.ts
  packages/client/src/runtime/core/engines/common/errors/engine-not-found/nativeGeneratedOnDifferentPlatform.ts
  packages/client/src/runtime/core/engines/common/errors/engine-not-found/queryEngineCannotBeFound.ts
  packages/client/src/runtime/core/engines/common/errors/engine-not-found/theseLocationsHaveBeenSearched.ts
  packages/client/src/runtime/core/engines/common/errors/engine-not-found/toolingHasTamperedWithEngineCopy.ts
  packages/client/src/runtime/core/engines/common/errors/weWouldAppreciateIfYouCouldShareInfo.ts
  packages/client/src/runtime/core/engines/library/DefaultLibraryLoader.ts
  packages/client/src/runtime/core/engines/library/LibraryEngine.test.ts
  packages/client/src/runtime/core/engines/library/LibraryEngine.ts
  packages/fetch-engine/src/download.ts
  packages/generator-helper/src/types.ts
  packages/get-platform/src/__tests__/getPlatform.test.ts
  packages/get-platform/src/getPlatform.ts
  packages/get-platform/src/index.ts
  packages/internals/src/engine-commands/getEngineVersion.ts
  packages/internals/src/get-generators/getGenerators.ts
  packages/internals/src/utils/handleEngineLoadingErrors.ts
  packages/internals/src/utils/load.ts
Due: client, generator-helper

restore code for engine in tests
  packages/client/src/runtime/core/engines/library/DefaultLibraryLoader.ts
Due: client

update snaps
  packages/client/src/__tests__/generation/generator.test.ts
Due: client

unify native dynamic resolution via getConfig
  packages/client/src/__tests__/integration/errors/missing-engine-native-binaryTarget/library.test.ts
  packages/client/src/__tests__/integration/errors/missing-engine/library.test.ts
  packages/internals/src/engine-commands/getConfig.ts
  packages/internals/src/get-generators/getGenerators.ts
Due: client

unify env loading logic for getConfig
  packages/generator-helper/src/types.ts
  packages/internals/src/__tests__/engine-commands/__snapshots__/getConfig.test.ts.snap
  packages/internals/src/__tests__/engine-commands/getConfig.test.ts
  packages/internals/src/engine-commands/getConfig.ts
  packages/internals/src/get-generators/getGenerators.ts
Due: generator-helper

fix types
  packages/generator-helper/src/types.ts
  packages/internals/src/engine-commands/getConfig.ts
Due: generator-helper

fix test
  packages/internals/src/__tests__/getGenerators/getGenerators.test.ts
  packages/internals/src/engine-commands/getConfig.ts
Due: none

remove unused code
  packages/internals/src/get-generators/getGenerators.ts
Due: none
