Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore(deps): update devdependencies (non-major)
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7a919ac5afde8dc76c567229b2bb2963bee31d4d
  dev/bench/data.js
Due: none

chore(deps): update react-prisma
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for dd2bceb47a7eb45cdea6acee8f5d51a4de0b6cfd
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.5.0-19.135dbb29b11dabc18969e193fa9b93e60225c11e
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.5.0-20.00ae542f0021d0d0a22b970a9ae56a6b170d5fd0
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.5.0-17.57eefa9c5dcf55be649dd17a7e50f89b5d4c7914 (#10180)
  packages/cli/package.json
  packages/client/package.json
  packages/client/src/__tests__/__helpers__/dmmf-types.ts
  packages/client/src/__tests__/document.test.ts
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/runtime/dmmf.ts
  packages/client/src/runtime/query.ts
  packages/engine-core/package.json
  packages/generator-helper/src/dmmf.ts
  packages/migrate/package.json
  packages/sdk/package.json
  packages/sdk/src/__tests__/engine-commands/__snapshots__/getDmmf.test.ts.snap
  pnpm-lock.yaml
Due: client, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 378c2c641c5ec8b33d985bd3d298f4cc8ca69814
  dev/bench/data.js
Due: none

test(client): check that relation count is non-nullable
  packages/client/src/__tests__/types/selectRelationCount/index.test-d.ts
  packages/client/src/__tests__/types/selectRelationCount/test.ts
Due: client

test(client): update generated types snapshot
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

test(sdk): update getDmmf snapshots
  packages/sdk/src/__tests__/engine-commands/__snapshots__/getDmmf.test.ts.snap
Due: sdk

chore: update engines to 3.5.0-20.00ae542f0021d0d0a22b970a9ae56a6b170d5fd0 (#10181)
  packages/cli/package.json
  packages/client/package.json
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/__tests__/types/selectRelationCount/index.test-d.ts
  packages/client/src/__tests__/types/selectRelationCount/test.ts
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  packages/sdk/src/__tests__/engine-commands/__snapshots__/getDmmf.test.ts.snap
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 795200ef261c14e2db5eaa4387e213df6332ae1e
  dev/bench/data.js
Due: none

chore(deps): update definitelytyped
  package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

chore(deps): update engines to 3.5.0-21.af993bb6d5c28f94e4ab70f68ff69364b628af97
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e914fad3bd22d4bf932a3238247469a54768967c
  dev/bench/data.js
Due: none

fix(cli): demo of handling panic from getDMMF
  packages/sdk/src/engine-commands/getDmmf.ts
Due: sdk

chore(deps): update engines to 3.5.0-21.af993bb6d5c28f94e4ab70f68ff69364b628af97 (#10199)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b1cf04afbccad765dbc60a8db0934a2cf1441e05
  dev/bench/data.js
Due: none

fix(engine-core): connect to QE binary by IPv4 loopback address
  packages/engine-core/src/binary/BinaryEngine.ts
Due: engine-core

chore(deps): update engines to 3.5.0-22.b02b85071bd3dfd50ae088d417aad2902d7fb0b1
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

ci: scope NODE_OPTIONS env var to client (#10182)
  .github/workflows/test.yml
Due: none

chore(deps): update engines to 3.5.0-22.b02b85071bd3dfd50ae088d417aad2902d7fb0b1 (#10212)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 252553526ee3db863234bf7e369381e84cc5dc45
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 2f8fa8232c05726b5f5c1099ba7b582d37447fa3
  dev/bench/data.js
Due: none

refactor: remove hack
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
Due: engine-core

chore: add comments
  .buildkite/publish/buildkite-entry.sh
  .buildkite/publish/docker-compose.yml
  .buildkite/publish/run.sh
  scripts/ci/publish.ts
  scripts/setup.ts
Due: none

chore(deps): update engines to 3.5.0-23.b87142e5515c261958e5af9cce98a3d7ee0b48ee
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.5.0-23.b87142e5515c261958e5af9cce98a3d7ee0b48ee (#10216)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk
