Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b9fda573c556dafda877bdf9603c21be533a23be
  dev/bench/data.js
Due: none

fix(cli): don't log connection URL when DATABASE_URL is in .env
  packages/cli/src/Init.ts
  packages/cli/src/__tests__/commands/__snapshots__/Init.test.ts.snap
Due: none

fix(cli): don't log connection URL when DATABASE_URL is in .env (#9712)
  packages/cli/src/Init.ts
  packages/cli/src/__tests__/commands/__snapshots__/Init.test.ts.snap
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0135f592a527e27c45897460a5ae7ef1563642fe
  dev/bench/data.js
Due: none

chore(deps): update typescript-eslint monorepo to v5
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

chore(deps): update engines to 3.3.0-7.0645b5c97b689f02350d93ff62e96ead2befa0c5
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.3.0-7.0645b5c97b689f02350d93ff62e96ead2befa0c5 (#9713)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 005ae268999ae01191cb376e7645d49d6c7fe8d8
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ee8a9964bb5ab398e0f8e3a20f85875c0cc09ad1
  dev/bench/data.js
Due: none

Revert "chore(deps): update typescript-eslint monorepo to v5 (major) (#9714)"
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

Revert "chore(deps): update typescript-eslint monorepo to v5 (major)" (#9715)
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c9ea4f84e0ef331ef17cb990eae43f7d44ec471b
  dev/bench/data.js
Due: none

ci: lint all PR including Renovate
  .github/workflows/test.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 2bb1ea4f22ef72e19aa127e14c2263bf2870ead9
  dev/bench/data.js
Due: none

ci: faster linting action
  .github/workflows/test.yml
Due: none

use pnpm action
  .github/workflows/test.yml
Due: none

docs: fix link to docker-compose.yml
  docker/README.md
Due: none

docs: fix typo in "background"
  docker/README.md
Due: none

docs: fix link to docker-compose.yml [skip ci] (#9723)
  docker/README.md
Due: none

docs: fix typo in "background" [skip ci] (#9724)
  docker/README.md
Due: none

add version latest
  .github/workflows/test.yml
Due: none

chore(deps): update engines to 3.3.0-8.215205f6035788c67a417d840048eb4e89fdfdfd
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.3.0-8.215205f6035788c67a417d840048eb4e89fdfdfd (#9727)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e60480fb2c9a0639378aa9726134bf88a3f7c8e3
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.3.0-9.869b44ea457ba802770bc71428f5a94073a9aac5
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.3.0-9.869b44ea457ba802770bc71428f5a94073a9aac5 (#9728)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 57a6b4f87b5272d95d0117dab21cd6e6bbecd7c6
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.3.0-10.63e21cc5d439ec3f753076f739afcaa7f0708190
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

fix(client): make generation async
  packages/client/src/generation/TSClient/Generatable.ts
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/generateClient.ts
Due: client

chore(deps): update dependency jest to v27.2.5
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

fix(deps): update dependency prompts to v2.4.2
  packages/migrate/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
