Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

fix: add missing provider
  packages/client/tests/functional/blog-update/_matrix.ts
Due: client

Merge branch 'test/port-blog-update' of github.com:danstarns/prisma into test/port-blog-update
  packages/cli/package.json
  packages/client/package.json
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/handle-int-overflow/_matrix.ts
  packages/client/tests/functional/init-error/_matrix.ts
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

update snaps
  packages/client/src/__tests__/integration/happy/rejectNotFound/__snapshots__/test.ts.snap
Due: client

update locks
  pnpm-lock.yaml
Due: none

chore(docs): add 'How to trigger artificial panics' section to TESTING.md (#13359)
  TESTING.md
Due: none

sdk: added openssl fix proposal
  packages/sdk/src/engine-commands/queryEngineCommons.ts
Due: sdk

Move skip env vars handling into test plan
  packages/client/helpers/functional-test/run-tests.ts
  packages/client/tests/functional/_utils/getTestSuiteInfo.ts
  packages/client/tests/functional/_utils/getTestSuitePlan.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

remove ts-node/register from cli tests
  packages/cli/src/__tests__/dependent-generator.test.ts
  packages/cli/src/__tests__/update-message.test.ts
  packages/generator-helper/src/__tests__/exiting-executable
  packages/generator-helper/src/__tests__/failing-executable
  packages/generator-helper/src/__tests__/minimal-executable
  packages/sdk/src/__tests__/getGenerators/generator
Due: generator-helper, sdk

add jest as a depdency to engines
  packages/engines/package.json
  pnpm-lock.yaml
Due: none

update engine version snapshot logic
  packages/cli/src/__tests__/commands/Version.test.ts
Due: none

fix(engine-core): handle redirects in node fetch implementation (#13734)
  package.json
  packages/engine-core/src/data-proxy/utils/request.ts
Due: engine-core

add swc/jest to work in more places
  packages/debug/jest.config.js
  packages/debug/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/generator-helper/package.json
  packages/generator-helper/src/__tests__/exiting-executable
  packages/generator-helper/src/__tests__/failing-executable
  packages/generator-helper/src/__tests__/minimal-executable
  packages/get-platform/package.json
  packages/react-prisma/jest.config.js
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: debug, generator-helper

chore(sdk): ignore libquery_engine artifacts
  packages/sdk/.gitignore
Due: sdk

add test todo in engines
  packages/engines/jest.config.js
  packages/engines/package.json
  packages/engines/src/__tests__/all-exist.test.ts
  pnpm-lock.yaml
Due: none

encode uri for real fetch implementation
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

chore(sdk): ignore libquery_engine artifacts (#13781)
  packages/sdk/.gitignore
Due: sdk

set --unsafe-perm for builkite to run postinstall
  .buildkite/publish/run.sh
  .buildkite/test/run.sh
Due: none

fix(engine-core): encode uri for real fetch implementation (#13782)
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

docs: Add docs for client functional tests
  TESTING.md
Due: none

Update TESTING.md
  TESTING.md
Due: none

Change test data example
  TESTING.md
Due: none

test: Allow to conditionally skip type tests in new setup
  packages/client/tests/functional/_example/tests.ts
  packages/client/tests/functional/_utils/setupFilesAfterEnv.ts
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
  packages/client/tests/functional/globals.d.ts
  packages/client/tests/functional/typescript/tests.ts
Due: client

test: Allow to conditionally skip type tests in new setup (#13712)
  packages/client/tests/functional/_example/tests.ts
  packages/client/tests/functional/_utils/setupFilesAfterEnv.ts
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
  packages/client/tests/functional/globals.d.ts
  packages/client/tests/functional/typescript/tests.ts
Due: client

Add paragraph about `@ts-test-if`
  TESTING.md
Due: none

fix: skip docker login if no docker secrets are found
  .github/workflows/test.yml
Due: none

test: Port interactive transaction tests to new setup
  packages/client/src/__tests__/integration/happy/interactive-transactions-postgres/schema.prisma
  packages/client/src/__tests__/integration/happy/interactive-transactions-sqlite/.gitignore
  packages/client/src/__tests__/integration/happy/interactive-transactions-sqlite/dev.db
  packages/client/src/__tests__/integration/happy/interactive-transactions-sqlite/schema.prisma
  packages/client/src/__tests__/integration/happy/interactive-transactions-sqlite/test.ts
  packages/client/tests/functional/_utils/setupFilesAfterEnv.ts
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
  packages/client/tests/functional/interactive-transactions/__snapshots__/tests.ts.snap
  packages/client/tests/functional/interactive-transactions/_matrix.ts
  packages/client/tests/functional/interactive-transactions/prisma/_schema.ts
  packages/client/tests/functional/interactive-transactions/tests.ts
Due: client

fix: skip docker login if no docker secrets are found (#13788)
  .github/workflows/test.yml
Due: none

Update packages/client/tests/functional/blog-update/tests.ts
  packages/client/tests/functional/blog-update/tests.ts
Due: client
