Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

chore: update renovate config [skip ci]
  .github/renovate.json
Due: none

chore: tweak renovate schedule [skip ci]
  .github/renovate.json
Due: none

fix: bump engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

chore: fix renovate config [skip ci]
  .github/renovate.json
Due: none

fix(deps): update engines to v2.11.0-8-eefa9e6e5a4d42803ffc12e2d8131858b5181f65
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

fix: bump engines (#4223)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(sdk): adjust to minimal supported node version (10)
  src/packages/sdk/src/getPackedPackage.ts
  src/packages/sdk/src/utils/hasYarn.ts
Due: sdk

Cleanup old non-$ methods Fixes #4206
  src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

chore: update package.json & Contributing with Node version
  CONTRIBUTING.md
  src/packages/cli/README.md
  src/packages/cli/package.json
  src/packages/client/package.json
Due: client

fix(client): tests
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/blog/index.ts
Due: client

chore: cleanup old non-$ methods (#4234)
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/blog/index.ts
  src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

fix(deps): update engines to v2.12.0-2.b85f340def406de3f3bf42ab360423b2217f4eab
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

fix: incorporate new dmmf
  src/packages/client/src/__tests__/dmmf.test.ts
  src/packages/client/src/__tests__/document.test.ts
  src/packages/client/src/__tests__/json-dmmf.test.ts
  src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/runtime/dmmf.ts
  src/packages/client/src/runtime/query.ts
Due: client

fix: incorporate new dmmf, fix tests
  src/packages/client/src/__tests__/__snapshots__/json-dmmf.test.ts.snap
  src/packages/client/src/__tests__/dmmf.test.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/runtime/dmmf.ts
  src/packages/client/src/runtime/query.ts
  src/packages/sdk/src/__tests__/__snapshots__/engineCommands.test.ts.snap
Due: client, sdk

chore: rename incorrect-types to dmmf-types
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
  src/packages/client/src/__tests__/dmmfTypes.test.ts
Due: client

chore: add node version for dev
  src/package.json
Due: none

fix(migrate): small typo
  src/packages/migrate/src/utils/ensureDatabaseExists.ts
Due: none

fix(migrate): snapshot for last commit
  src/packages/migrate/src/__tests__/DbPush.test.ts
Due: none

fix(scripts): Use `@prisma/studio` to compute latest version of Studio
  src/scripts/ci/publish.ts
Due: none

fix(scripts): Use `@prisma/studio` to compute version of Studio (#4241)
  src/scripts/ci/publish.ts
Due: none

chore(deps): update studio to v0.312.0
  src/packages/cli/package.json
Due: none

chore: update src/packages/client/src/__tests__/types/transactionApi-disabled/index.ts
  src/packages/client/src/__tests__/types/transactionApi-disabled/index.ts
Due: client

Update src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/generation/TSClient.ts
Due: client

fix: remove obsolete reserved keywords
  src/packages/client/src/generation/generateClient.ts
  src/packages/generator-helper/src/dmmf.ts
Due: client, generator-helper

chore: fix tests
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
  src/packages/client/src/__tests__/generation/generator.test.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient.ts
  src/pnpm-lock.yaml
Due: client

chore: update snapshots
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient.ts
  src/pnpm-lock.yaml
Due: client

chore: fix tests
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient.ts
Due: client

chore: fix tests
  src/packages/migrate/src/__tests__/DbDrop.test.ts
Due: none

Path conditions:
  get-platform: any of: src/packages/get-platform/
  fetch-engine: any of: src/packages/fetch-engine/
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
