Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

fix: finish transaction stabilization (#4191)
  src/packages/client/src/__tests__/integration/errors/error-link/schema.prisma
  src/packages/client/src/__tests__/integration/errors/object-transaction/schema.prisma
  src/packages/client/src/__tests__/integration/errors/raw-transaction/schema.prisma
  src/packages/client/src/__tests__/integration/happy/atomic-operations/schema.prisma
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/middlewares/schema.prisma
  src/packages/client/src/__tests__/integration/happy/transaction/schema.prisma
  src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

chore(*): update engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix: bump engines (#4192)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/migrate/src/__tests__/DbDrop.test.ts
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

test(migrate): update snapshots
  src/packages/migrate/src/__tests__/rpc.test.ts
Due: none

chore: incorporate feedback
  src/packages/client/src/__tests__/validatePrismaClientOptions.test.ts
  src/packages/client/src/runtime/query.ts
  src/packages/client/src/runtime/utils/validatePrismaClientOptions.ts
Due: client

feat(client): validate constructor (#4176)
  src/packages/cli/package.json
  src/packages/client/src/__tests__/integration/happy/blog-env-mssql/test.ts
  src/packages/client/src/__tests__/validatePrismaClientOptions.test.ts
  src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/client/src/runtime/query.ts
  src/packages/client/src/runtime/utils/validatePrismaClientOptions.ts
  src/packages/client/src/utils/getTestClient.ts
Due: client

chore(deps): update devdependencies (non-major)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

chore(deps): update dependency @types/node to v12.19.4
  src/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

ci: test Buildkite config
  src/.buildkite/test/buildkite-entry.sh
  src/.buildkite/test/test.yml
Due: none

ci: test Buildkite config
  src/.buildkite/publish/run.sh
  src/.buildkite/test/run.sh
Due: none

ci: revert buildkite test pipeline [skip ci]
  src/.buildkite/test/test.yml
Due: none

ci: Test Buildkite config 10 & 14
  src/.buildkite/test/docker-compose.10.yml
  src/.buildkite/test/docker-compose.14.yml
  src/.buildkite/test/test.yml
Due: none

fix: bump engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix: bump engines (#4207)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

chore(deps): update studio to v0.311.0
  src/packages/cli/package.json
Due: none

chore: wip new dmmf
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/client/src/runtime/dmmf.ts
  src/packages/client/src/runtime/utils/common.ts
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/src/__tests__/generatorHandler.test.ts
  src/packages/generator-helper/src/dmmf.ts
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/packages/sdk/src/__tests__/dmmf.test.ts
  src/packages/sdk/src/__tests__/helpers/.gitignore
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, generator-helper, sdk

chore: add dmmf types test
  src/packages/client/jest.config.js
  src/packages/client/src/__tests__/__helpers__/incorrect-types.ts
  src/packages/client/src/__tests__/dmmfTypes.test.ts
  src/packages/generator-helper/src/__tests__/generatorHandler.test.ts
  src/packages/generator-helper/src/dmmf.ts
  src/packages/sdk/src/__tests__/helpers/.gitignore
Due: client, generator-helper, sdk

fix: fork Node generators (#4214)
  src/packages/generator-helper/src/GeneratorProcess.ts
  src/packages/sdk/src/Generator.ts
  src/packages/sdk/src/getGenerators.ts
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
  src/pnpm-lock.yaml
Due: generator-helper, sdk

fix(migrate): update snapshots + help error
  src/packages/migrate/src/__tests__/Migrate.CI.test.ts
  src/packages/migrate/src/__tests__/Migrate.test.ts
  src/packages/migrate/src/__tests__/MigrateReset.test.ts
  src/packages/migrate/src/__tests__/rpc.test.ts
  src/packages/migrate/src/commands/MigrateCommand.ts
Due: none

chore(deps): update devdependencies (non-major)
  src/packages/cli/package.json
  src/packages/client/package.json
Due: client

fix(sdk): build failing when no yarn
  src/packages/sdk/src/getPackedPackage.ts
  src/packages/sdk/src/utils/hasYarn.ts
  src/pnpm-lock.yaml
Due: sdk

fix(deps): update engines to v2.11.0-8-eefa9e6e5a4d42803ffc12e2d8131858b5181f65
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

chore: update renovate config [skip ci]
  .github/renovate.json
Due: none
