Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

fix: studio asset copying
  .husky/pre-commit
  packages/cli/helpers/build.js
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

fix: ESbuild build
  packages/cli/helpers/build.js
Due: none

fix: studio tests
  packages/cli/helpers/build.js
  packages/cli/src/Studio.ts
Due: none

chore: bump up studio version
  packages/cli/helpers/build.js
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

fix: typo
  packages/cli/helpers/build.js
Due: none

chore: remove fixed versions of engine hashes for generator
  packages/sdk/src/getAllVersions.ts
  packages/sdk/src/getGenerators.ts
  packages/sdk/src/versions.ts
Due: sdk

chore: remove fixed versions of engine hashes for generator (#9339)
  packages/sdk/src/getAllVersions.ts
  packages/sdk/src/getGenerators.ts
  packages/sdk/src/versions.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a74d7762e3ffa5aeebac03e82690842bb68cd990
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d75d71e6e31eefbc77f211466ab75a8dfd27b4b6
  dev/bench/data.js
Due: none

chore(client): begin proxy integration
  helpers/compile/fillPlugin.ts
  package.json
  packages/client/src/runtime/DataProxyEngine.ts
  pnpm-lock.yaml
Due: client

chore(client, engine-core): move proxy engine
  packages/client/package.json
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/package.json
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/engine-core/src/index.ts
  pnpm-lock.yaml
Due: client, engine-core

chore: fix publish on patch if minor = 0 (#9189)
  scripts/ci/publish.ts
Due: none

chore: binaryVersion => engineVersion, Binary => Engine (#9300)
  packages/cli/src/utils/test-handlePanic.ts
  packages/migrate/src/__tests__/handlePanic.test.ts
  packages/migrate/src/utils/getGithubIssueUrl.ts
  packages/migrate/src/utils/handlePanic.ts
  packages/migrate/src/utils/test-handlePanic.ts
  packages/sdk/src/sendPanic.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for fd104cf1e62e9588cbd76ec0521fa89a20a5b206
  dev/bench/data.js
Due: none

fix: studio open
  packages/cli/src/Studio.ts
Due: none

Revert "chore(deps): update dependency @prisma/studio-server to v0.426.0 (#9244)"
  .husky/pre-commit
  packages/cli/helpers/build.js
  packages/cli/package.json
  packages/cli/src/Studio.ts
  pnpm-lock.yaml
Due: none

chore(deps): Revert update dependency @prisma/studio-server to v0.426.0 (#9357)
  .husky/pre-commit
  packages/cli/helpers/build.js
  packages/cli/package.json
  packages/cli/src/Studio.ts
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 66e6e36f474c26c7c5580bb41f01a6e2f1a38e7b
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.2.0-1.68c5fb4e9cf435043d10771dfb5c01ba3950d2eb
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-2.3bb05ef093e99cc2fdff318bc3f06cb1a939d365
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-3.8e6f5861a968a0708cdd37d4ad9b5f409be4c817
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-1.68c5fb4e9cf435043d10771dfb5c01ba3950d2eb (#9361)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b5bf547f16ee0b73219572c5d52e79db5b366df8
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.2.0-4.4c075f44ffc8158761123b17c552617ef541543a
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-5.ed9851426ff930cf439f8e995d49b7a74dade66f
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-6.ac8c727f6f3dfb9d048a9417ff193337dd307839
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-7.9062d80f548ec5d0e7ae453788615b2b560510a8
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-7.9062d80f548ec5d0e7ae453788615b2b560510a8 (#9370)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c4c83e788aa16d61bae7a6d00adc8a58b3789a06
  dev/bench/data.js
Due: none

chore(deps): update definitelytyped
  package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

chore(deps): update react-prisma
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency node-fetch to v2.6.4
  package.json
  packages/cli/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: sdk

chore(engine-core): maximize runtime compatibility
  helpers/compile/fillPlugin.ts
  packages/client/helpers/build.ts
  packages/engine-core/package.json
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  pnpm-lock.yaml
Due: client, engine-core
