Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

chore(deps): update studio to v0.340.0
  src/packages/cli/package.json
Due: none

fix(deps): update engines to v2.15.0-25.e51dc3b5a9ee790a07104bec1c9477d51740fe54
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

ci: cleanup
  src/.buildkite/test/run.sh
  src/scripts/ci/publish.ts
Due: none

ci: add parallelism to node 14 test
  src/.buildkite/test/test.yml
Due: none

fix(deps): update engines to v2.15.0-26.6c8b3ff8b9a910842e10127753e5ab9b411f9e03
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

ci: typo in label [skip ci]
  src/.buildkite/test/test.yml
Due: none

ci: buildkite parallelism (#5208)
  .github/workflows/test.yml
  src/.buildkite/publish/run.sh
  src/.buildkite/test/buildkite-entry.sh
  src/.buildkite/test/docker-compose.10.yml
  src/.buildkite/test/docker-compose.14.yml
  src/.buildkite/test/run.sh
  src/.buildkite/test/test.yml
  src/packages/migrate/package.json
  src/packages/tests/package.json
  src/scripts/ci/publish.ts
Due: none

chore: update snapshots
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

chore: fix flaky test
  src/packages/client/src/__tests__/integration/errors/connection-limit-mysql/test.ts
Due: client

clean up types
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient/PrismaClient.ts
Due: client

feat: add validator utility type (#5186)
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/validator/.gitignore
  src/packages/client/src/__tests__/integration/happy/validator/dev.db
  src/packages/client/src/__tests__/integration/happy/validator/package.json
  src/packages/client/src/__tests__/integration/happy/validator/schema.prisma
  src/packages/client/src/__tests__/integration/happy/validator/test.ts
  src/packages/client/src/__tests__/types/validator/index.d.ts
  src/packages/client/src/__tests__/types/validator/schema.prisma
  src/packages/client/src/__tests__/types/validator/test.ts
  src/packages/client/src/__tests__/types/validator/tsconfig.json
  src/packages/client/src/generation/TSClient/common.ts
Due: client

fix(client): dynamic rejectOnNotFound types (#5202)
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/rejectOnNotFound/index.test-d.ts
  src/packages/client/src/__tests__/types/rejectOnNotFound/test.ts
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/PrismaClient.ts
  src/packages/client/src/generation/TSClient/helpers.ts
  src/packages/client/src/generation/utils.ts
Due: client

fix(engine-core): reintroduce undici timeouts
  src/packages/engine-core/src/NodeEngine.ts
  src/packages/engine-core/src/undici.ts
Due: engine-core

use default
  src/packages/engine-core/src/undici.ts
Due: engine-core

refactor(client): rejectOnNotFound type names
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/PrismaClient.ts
  src/packages/client/src/generation/TSClient/helpers.ts
  src/packages/client/src/generation/utils.ts
Due: client

refactor(client): rejectOnNotFound type names (#5240)
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/PrismaClient.ts
  src/packages/client/src/generation/TSClient/helpers.ts
  src/packages/client/src/generation/utils.ts
Due: client

fix(engine-core): reintroduce undici timeouts (#5237)
  src/packages/engine-core/src/NodeEngine.ts
  src/packages/engine-core/src/undici.ts
Due: engine-core

fix: introduce warning for cli renaming
  src/packages/cli/src/bin.ts
  src/packages/cli/src/utils/printUpdateMessage.ts
Due: none

fix: try new condition for debug dotenv
  src/packages/sdk/src/utils/tryLoadEnvs.ts
Due: sdk

fix(sdk): add debug for ci
  src/packages/sdk/src/utils/tryLoadEnvs.ts
Due: sdk

add debug to test for ci
  src/packages/cli/src/__tests__/dotenv-6-expand.test.ts
Due: none

fix: ignore DEBUG=setup
  src/packages/cli/src/__tests__/dotenv-6-expand.test.ts
  src/packages/sdk/src/utils/tryLoadEnvs.ts
Due: sdk

Restore dotenv-6-expand.test.ts
  src/packages/cli/src/__tests__/dotenv-6-expand.test.ts
Due: none

Revert "Restore dotenv-6-expand.test.ts"
  src/packages/cli/src/__tests__/dotenv-6-expand.test.ts
Due: none

debug env var again
  src/packages/cli/src/__tests__/dotenv-6-expand.test.ts
Due: none

chore: ignore sqlite3 for renovate (pin on 5.0.0) [skip ci]
  .github/renovate.json
Due: none

chore(deps): update dependency sqlite3 to v5.0.1
  src/packages/migrate/package.json
Due: none

fix: finally fix ci
  src/packages/cli/src/__tests__/dotenv-6-expand.test.ts
  src/packages/sdk/src/utils/tryLoadEnvs.ts
Due: sdk

debug publish script
  src/scripts/ci/publish.ts
Due: none

fix(setup): do not pass env during setup script
  src/packages/sdk/src/utils/tryLoadEnvs.ts
  src/scripts/setup.ts
Due: sdk
