Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

fix(deps): update engines to 2.27.0-14.95b10778266ed1eb3013872ab5c09e460bd941fe
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to 2.27.0-14.95b10778266ed1eb3013872ab5c09e460bd941fe (#8009)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3918dd4eb5364ad397b6583e902f24f1b4f15f12
  dev/bench/data.js
Due: none

fix(deps): update engines to 2.27.0-15.95b10778266ed1eb3013872ab5c09e460bd941fe
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to 2.27.0-15.95b10778266ed1eb3013872ab5c09e460bd941fe (#8014)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ea17719003838491a41c88be3c0f726f57c1ed50
  dev/bench/data.js
Due: none

fix(deps): update engines to 2.27.0-16.a9c98af755a622d76a201f0f1917d44b073c6238
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to 2.27.0-16.a9c98af755a622d76a201f0f1917d44b073c6238 (#8015)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 6258775ba5a444b1ce422d3cc5ce5dbba722bef5
  dev/bench/data.js
Due: none

fix(deps): update engines to 2.27.0-17.58a6ed2785fdbdbecca10a9fcfc8ec0397da81ad
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to 2.27.0-17.58a6ed2785fdbdbecca10a9fcfc8ec0397da81ad (#8020)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f6a08026101bdb43ddd192b1b2d4e7753fd13298
  dev/bench/data.js
Due: none

fix(deps): update engines to 2.27.0-18.ad4ffc18a6d80ea061ea028e9f8b2cced7a9bb01
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to 2.27.0-18.ad4ffc18a6d80ea061ea028e9f8b2cced7a9bb01 (#8021)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a6b4c87f7e726f5e00dfb4dfd892e6a4ed3509ae
  dev/bench/data.js
Due: none

fix(deps): update engines to 2.27.0-19.ab904a0f063aec005373d03bc4998c1fe8fdf150
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to 2.27.0-20.0c2898954d761d1c92f304ff1b7917c601c2e3d8
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to 2.27.0-20.0c2898954d761d1c92f304ff1b7917c601c2e3d8 (#8023)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 30773b7ca34f104b2dc50581cf5e1046cbd27bf1
  dev/bench/data.js
Due: none

chore(predefinedGeneratorResolvers): Remove trailing spaces from defaultPackageJson
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

chore(DbSeed): Improve seed tests a bit
  src/packages/migrate/src/__tests__/DbSeed.test.ts
Due: none

fix nesting
  src/packages/migrate/src/__tests__/DbSeed.test.ts
Due: none

temp: db seed questions
  src/packages/migrate/src/utils/seed.ts
Due: none

Restore DbSeed.test.ts
  src/packages/migrate/src/__tests__/DbSeed.test.ts
Due: none

extract dependency logic
  src/packages/migrate/src/utils/seed.ts
Due: none

TODOs for missing expects
  src/packages/migrate/src/__tests__/DbSeed.test.ts
Due: none

Update seed.ts
  src/packages/migrate/src/utils/seed.ts
Due: none

feat(ci): Run migrate seed tests multi os in separate job
  .github/workflows/test.yml
Due: none

no databases necessary for seed tests
  .github/workflows/test.yml
Due: none

no napi/binary necessary for seed tests (that do not use any engine)
  .github/workflows/test.yml
Due: none

make snapshots less crazy
  src/packages/migrate/src/__tests__/DbSeed.test.ts
Due: none

do not output emoji when running in jest to make snapshots work multi OS
  src/packages/migrate/src/__tests__/DbSeed.test.ts
  src/packages/migrate/src/commands/DbSeed.ts
Due: none

test if snapshot files are normalized better
  src/packages/migrate/src/__tests__/DbSeed.test.ts
  src/packages/migrate/src/__tests__/__snapshots__/DbSeed.test.ts.snap
Due: none

rename migrate snapshot serializer to make clear this is different from the others (which was implied before that they are the same)
  src/packages/migrate/jest.config.js
  src/packages/migrate/src/__tests__/__helpers__/migrateSnapshotSerializer.ts
Due: none

Path conditions:
  get-platform: any of: src/packages/get-platform/
  fetch-engine: any of: src/packages/fetch-engine/
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
