Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

chore(deps): update engines to 4.10.0-61.5cb8c36d6b81f775275971664983f06409ed8c6d (#17656)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

refactor: remove time from `format` output
  packages/cli/src/Format.ts
  packages/cli/src/__tests__/incomplete-schemas.test.ts
  packages/internals/src/utils/jestSnapshotSerializer.js
Due: none

fix(client): remove extensions error re-wrapping (#17636)
  packages/client/src/runtime/core/extensions/MergedExtensionsList.ts
  packages/client/src/runtime/core/extensions/applyQueryExtensions.ts
  packages/client/src/runtime/core/extensions/resultUtils.ts
  packages/client/src/runtime/core/extensions/wrapExtensionCallback.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/index.ts
  packages/client/tests/functional/extensions/enabled/__snapshots__/itx.ts.snap
  packages/client/tests/functional/extensions/enabled/__snapshots__/tx.ts.snap
  packages/client/tests/functional/extensions/enabled/client.ts
  packages/client/tests/functional/extensions/enabled/model.ts
  packages/client/tests/functional/extensions/enabled/query.ts
  packages/client/tests/functional/extensions/enabled/result.ts
Due: client

test(client): use getDMMF from @prisma/internals in client tests
  packages/client/src/__tests__/aggregate.test.ts
  packages/client/src/__tests__/atLeastOne.test.ts
  packages/client/src/__tests__/atomicOperationsUpdate.test.ts
  packages/client/src/__tests__/dateWhere.test.ts
  packages/client/src/__tests__/deepAndOr.test.ts
  packages/client/src/__tests__/deepQuery.test.ts
  packages/client/src/__tests__/deepSome.test.ts
  packages/client/src/__tests__/dmmf.test.ts
  packages/client/src/__tests__/dmmfTypes.test.ts
  packages/client/src/__tests__/include.test.ts
  packages/client/src/__tests__/json.test.ts
  packages/client/src/__tests__/minimalWhereTransformation.test.ts
  packages/client/src/__tests__/noArgs.test.ts
  packages/client/src/__tests__/optionalRelation.test.ts
  packages/client/src/__tests__/or.test.ts
  packages/client/src/__tests__/orderTransformation.test.ts
  packages/client/src/__tests__/relationWhereORNotNullTransformation.test.ts
  packages/client/src/__tests__/relationWhereTransformation.test.ts
  packages/client/src/__tests__/scalarListCreate.test.ts
  packages/client/src/__tests__/scalarWhereTransformation.test.ts
  packages/client/src/__tests__/select.test.ts
  packages/client/src/__tests__/singularRelationWhereTransformation.test.ts
  packages/client/src/__tests__/undefined-vs-null.test.ts
  packages/client/src/__tests__/unpack.test.ts
  packages/client/src/__tests__/update.test.ts
  packages/client/src/__tests__/uuid.test.ts
Due: client

test(client): use getDMMF from @prisma/internals in other utilities
  packages/client/src/utils/generateInFolder.ts
  packages/client/src/utils/getTestClient.ts
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
Due: client

test(client): use getDMMF from @prisma/internals in "memory" tests
  packages/client/tests/memory/_utils/generateMemoryTestClient.ts
Due: client

chore: merge conflicts
  packages/get-platform/src/getPlatform.ts
Due: none

feat: add tests for getPlatform
  packages/get-platform/src/__tests__/getPlatform.test.ts
Due: none

feat: copy jestContext utils to @prisma/get-platform
  packages/get-platform/package.json
  packages/get-platform/src/__tests__/getPlatform.test.ts
  packages/get-platform/src/test-utils/index.ts
  packages/get-platform/src/test-utils/jestContext.ts
  packages/get-platform/src/test-utils/jestSnapshotSerializer.js
  packages/get-platform/src/test-utils/platformRegex.ts
  pnpm-lock.yaml
Due: none

fix: types in test
  packages/get-platform/src/__tests__/getSSLVersion.test.ts
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(client): revert moving getDMMF in getTestClient
  packages/client/src/utils/getTestClient.ts
Due: client

chore(internals): remove jestContext export
  packages/internals/src/index.ts
Due: none

fix(test): fix jestContext import in handlePanic
  packages/internals/src/__tests__/handlePanic.test.ts
Due: none

feat: remove getDMMF export from @prisma/client
  packages/client/src/index.ts
Due: client

test(client): use getDMMF from @prisma/client in non-integration client tests
  packages/client/src/__tests__/query/decimal.test.ts
  packages/client/src/__tests__/query/floats.test.ts
Due: client

feat(client): removed getDMMF export from generator.ts
  packages/client/src/generation/generator.ts
Due: client

test(get-platform): update snapshots
  packages/get-platform/src/__tests__/getPlatform.test.ts
Due: none

test: update get-dmmf variant in snapshot
  packages/client/src/__tests__/generation/generator.test.ts
Due: client

chore(deps): update engines to 4.10.0-62.integration-get-dmmf-wasm-handle-errors-b1cab025df75ffc6b890e90611c3a9b9c1f0984c
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

feat: handle getDmmf errors just like getConfig
  packages/internals/src/engine-commands/getConfig.ts
  packages/internals/src/engine-commands/getDmmf.ts
  packages/internals/src/engine-commands/queryEngineCommons.ts
Due: none

chore: finishing touches
  packages/internals/src/engine-commands/getConfig.ts
  packages/internals/src/engine-commands/getDmmf.ts
  packages/internals/src/panic.ts
Due: none

chore(deps): update engines to 4.10.0-63.integration-get-dmmf-wasm-handle-errors-5c66df116302959d5852ec3e41908703d8273e61
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-64.integration-get-dmmf-wasm-handle-errors-3d4278979c9faf9b522074a40a7988576e3018da
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

ci(publish): make calls to npm more resilient with retries
  scripts/ci/publish.ts
Due: none

update mixed test
  packages/client/tests/functional/relationMode-1-1-17255-mixed-actions/tests.ts
Due: client

fix jest "relationMode" filter & run both prisma and foreignKeys mode in mixed test
  .github/workflows/test.yml
  packages/client/helpers/functional-test/run-tests.ts
  packages/client/tests/functional/relationMode-1-1-17255-mixed-actions/README.md
  packages/client/tests/functional/relationMode-17255-mixed-actions/README.md
  packages/client/tests/functional/relationMode-17255-mixed-actions/_matrix.ts
  packages/client/tests/functional/relationMode-17255-mixed-actions/prisma/_schema.ts
  packages/client/tests/functional/relationMode-17255-mixed-actions/prisma/_schema_mixed_actions.ts
  packages/client/tests/functional/relationMode-17255-mixed-actions/tests.ts
  packages/client/tests/functional/relationMode-17255-same-actions/README.md
  packages/client/tests/functional/relationMode-17255-same-actions/_matrix.ts
  packages/client/tests/functional/relationMode-17255-same-actions/prisma/_schema.ts
  packages/client/tests/functional/relationMode-17255-same-actions/prisma/_schema_same_actions.ts
  packages/client/tests/functional/relationMode-17255-same-actions/tests.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/README.md
  packages/client/tests/functional/relationMode-in-separate-gh-action/_matrix.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/prisma/_schema.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/prisma/_schema_1_to_1.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/prisma/_schema_1_to_n.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/prisma/_schema_m_to_n.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_1-to-1.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_1-to-n.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_m-to-n-MongoDB.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_m-to-n.ts
  packages/client/tests/functional/relationMode-m-n-mongodb-failing-with-at-map/README.md
Due: client

fix relationMode-m-n-mongodb-failing-with-at-map
  packages/client/tests/functional/_utils/relationMode/computeSchemaHeader.ts
Due: client

new fix for relationMode-m-n-mongodb-failing-with-at-map
  packages/client/tests/functional/_utils/relationMode/computeSchemaHeader.ts
  packages/client/tests/functional/relationMode-m-n-mongodb-failing-with-at-map/_matrix.ts
Due: client

update relationMode-17255-same-actions
  packages/client/tests/functional/relationMode-17255-same-actions/_matrix.ts
  packages/client/tests/functional/relationMode-17255-same-actions/tests.ts
Due: client

add comments in Library.ts
  packages/engine-core/src/library/types/Library.ts
Due: engine-core

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
