Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

improve loading performance of library
  packages/engine-core/helpers/build.ts
  packages/engine-core/src/library/DefaultLibraryLoader.ts
Due: engine-core

fix build script
  packages/engine-core/helpers/build.ts
Due: engine-core

Update packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

ci(sdk): start publishing `@prisma/internals`
  scripts/ci/publish.ts
Due: none

chore(deps): update engines to 3.16.0-22.d116a1f91985058483627c388a4604bdb7f90146
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

Update packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getConfig.ts
Due: sdk

Update packages/sdk/src/engine-commands/getDmmf.ts
  packages/sdk/src/engine-commands/getDmmf.ts
Due: sdk

test(client): add missing sqlserver (#13801)
  .github/workflows/test.yml
  packages/client/tests/functional/_example/_matrix.ts
  packages/client/tests/functional/_utils/providers.ts
  packages/client/tests/functional/_utils/setupFilesAfterEnv.ts
  packages/client/tests/functional/blog-update/_matrix.ts
  packages/client/tests/functional/count/_matrix.ts
  packages/client/tests/functional/create-many/_matrix.ts
  packages/client/tests/functional/decimal-list/tests.ts
  packages/client/tests/functional/decimal/_matrix.ts
  packages/client/tests/functional/handle-int-overflow/_matrix.ts
  packages/client/tests/functional/init-error/tests.ts
  packages/client/tests/functional/interactive-transactions/__snapshots__/tests.ts.snap
  packages/client/tests/functional/interactive-transactions/_matrix.ts
  packages/client/tests/functional/metrics-disabled/_matrix.ts
  packages/client/tests/functional/metrics/_matrix.ts
  packages/client/tests/functional/queryRaw-send-type-hints/_matrix.ts
  packages/client/tests/functional/queryRaw-typed-results-advanced-and-native-types/tests.ts
  packages/client/tests/functional/queryRaw-typed-results/_matrix.ts
  packages/client/tests/functional/reuse-binary-engine/_matrix.ts
Due: client

Update packages/client/tests/functional/missing-env/tests.ts
  packages/client/tests/functional/missing-env/tests.ts
Due: client

ci: fix tests for getDmmf
  packages/sdk/src/__tests__/engine-commands/getDmmf.test.ts
Due: sdk

fix: add `--access public`
  scripts/ci/publish.ts
Due: none

fix script
  scripts/ci/publish.ts
Due: none

chore(deps): update engines to 3.16.0-23.5a802ae8a39d1977852fc20e30a13566e06671cd
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

ci: fix tests
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/sdk/src/__tests__/engine-commands/queryEngineCommons.test.ts
Due: sdk

ci: fix tests
  packages/client/src/__tests__/generation/generator.test.ts
Due: client

chore: added internal disclaimer for Prisma 4
  packages/engine-core/README.md
  packages/generator-helper/README.md
  packages/migrate/README.md
Due: engine-core, generator-helper

test: add missing sqlserver
  packages/client/tests/functional/invalid-env/_matrix.ts
  packages/client/tests/functional/missing-env/_matrix.ts
Due: client

ci: fix tests
  packages/client/src/__tests__/dmmf.test.ts
Due: client

fix: optional bool dataProxy
  packages/client/src/runtime/getPrismaClient.ts
Due: client

ci: fix tests
  packages/migrate/src/__tests__/MigrateDev.test.ts
Due: none

fix script 2
  scripts/ci/publish.ts
Due: none

fix: optional boolean
  packages/client/src/runtime/getPrismaClient.ts
Due: client

ci(sdk): start publishing `@prisma/internals` (#13870)
  scripts/ci/publish.ts
Due: none

test: higher timeout
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/dmmf-types.test.ts
  packages/client/src/__tests__/integration/happy/exhaustive-schema/dmmf-types.test.ts
Due: client

test: add missing sqlserver
  packages/client/tests/functional/empty-to-raw/_matrix.ts
Due: client

Update packages/client/tests/functional/invalid-env/tests.ts
  packages/client/tests/functional/invalid-env/tests.ts
Due: client

test: add missing sqlserver
  packages/client/tests/functional/restart/_matrix.ts
Due: client

test: higher timeout (#13876)
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/dmmf-types.test.ts
  packages/client/src/__tests__/integration/happy/exhaustive-schema/dmmf-types.test.ts
Due: client

chore(deps): update engines to 3.16.0-24.e7e033759b8d20a2a51df5d48adb60b11c6ee4fc
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

test(client): add coverage for invalid and missing env, remove useless test (#13657)
  packages/client/src/__tests__/integration/happy/blog-env/dev.db
  packages/client/src/__tests__/integration/happy/blog-env/env.json
  packages/client/src/__tests__/integration/happy/blog-env/schema.prisma
  packages/client/src/__tests__/integration/happy/blog-env/test.ts
  packages/client/tests/functional/_utils/getTestSuitePlan.ts
  packages/client/tests/functional/blog-update/tests.ts
  packages/client/tests/functional/invalid-env/_matrix.ts
  packages/client/tests/functional/invalid-env/prisma/_schema.ts
  packages/client/tests/functional/invalid-env/prisma/env.json
  packages/client/tests/functional/invalid-env/tests.ts
  packages/client/tests/functional/missing-env/_matrix.ts
  packages/client/tests/functional/missing-env/prisma/_schema.ts
  packages/client/tests/functional/missing-env/tests.ts
  pnpm-lock.yaml
Due: client
