Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

update message
  packages/engine-core/src/library/LibraryEngine.ts
Due: engine-core

fix error sentence
  packages/engine-core/src/library/LibraryEngine.ts
Due: engine-core

escape quotes in generated code
  packages/client/src/generation/utils/buildDirname.ts
Due: client

export missing warnOnce utility
  packages/client/src/runtime/index.ts
Due: client

tests for new warnings and errors
  packages/client/tests/e2e/bundler-detection-error/_steps.ts
  packages/client/tests/e2e/bundler-detection-error/package.json
  packages/client/tests/e2e/bundler-detection-error/prisma/schema.prisma
  packages/client/tests/e2e/bundler-detection-error/readme.md
  packages/client/tests/e2e/bundler-detection-error/src/index.ts
  packages/client/tests/e2e/bundler-detection-error/tests/main.ts
  packages/client/tests/e2e/bundler-detection-error/tsconfig.json
Due: client

fix missing rename to config.dirname
  packages/client/src/generation/utils/buildWarnEnvConflicts.ts
Due: client

fix(client): Some error rendering improvements and fixes
  packages/client/src/runtime/core/errorRendering/ObjectValue.ts
  packages/client/src/runtime/core/errorRendering/applyValidationError.test.ts
  packages/client/src/runtime/core/errorRendering/applyValidationError.ts
  packages/engine-core/src/common/types/EngineValidationError.ts
Due: client, engine-core

fix(client): Some error rendering improvements and fixes (#18515)
  packages/client/src/runtime/core/errorRendering/ObjectValue.ts
  packages/client/src/runtime/core/errorRendering/applyValidationError.test.ts
  packages/client/src/runtime/core/errorRendering/applyValidationError.ts
  packages/engine-core/src/common/types/EngineValidationError.ts
Due: client, engine-core

chore(deps): update engines to 4.14.0-35.integration-remove-napi-get-config-d0198acc2075abd35dfad75addd5a5975488c34b
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.14.0-36.8eb8cdfef1bcc1244fc4c0a27022cd11086e76c4
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.14.0-36.8eb8cdfef1bcc1244fc4c0a27022cd11086e76c4 (#18945)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

ci(buildkite): try log managing sections
  .buildkite/test/run.sh
Due: none

trap err
  .buildkite/test/run.sh
Due: none

fix missing quote
  .buildkite/test/run.sh
Due: none

collapse linting
  .buildkite/test/run.sh
Due: none

Update run.sh
  .buildkite/publish/run.sh
Due: none

Update run.sh
  .buildkite/test/run.sh
Due: none

fix ignore buildkite dir from benchmark.yml
  .github/workflows/benchmark.yml
Due: none

fix ignore buildkite dir from test.yml
  .github/workflows/test.yml
Due: none

chore(deps): update engines to 4.14.0-37.03571f8d9d5067bb90c99eab709bce15c58c897e
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

apply review comments
  packages/client/src/generation/utils/buildDirname.ts
Due: client

fix missing dirname for dataproxy
  packages/client/src/generation/utils/buildDirname.ts
Due: client

update snaps
  packages/client/tests/e2e/bundler-detection-error/tests/main.ts
Due: client

apply reviews
  packages/client/tests/functional/esbuild-transformer.js
  packages/client/tests/functional/jest.config.js
Due: client

use es2020
  packages/client/tests/functional/esbuild-transformer.js
Due: client

automatic node detection
  packages/client/tests/functional/esbuild-transformer.js
Due: client

ci: fix jest memory flakiness (#18859)
  packages/client/package.json
  packages/client/tests/functional/esbuild-transformer.js
  packages/client/tests/functional/jest.config.js
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.14.0-37.03571f8d9d5067bb90c99eab709bce15c58c897e (#18952)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(renovate): ignore redis
  .github/renovate.json
Due: none

chore(deps): update engines to 4.14.0-38.e9d4b3877607013ee1d01de5158e44e6003052b8
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
