Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

remove extra bang
  packages/client/tests/functional/extensions/enabled/model.ts
Due: client

add test for model + query batching
  packages/client/tests/functional/extensions/enabled/model.ts
Due: client

chore(deps): update engines to 4.10.0-32.4d34471b51ecdd7f655c157023ed292f950705bd (#17537)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix: recover mentions to query-engine
  packages/engines/src/index.ts
Due: none

chore: update panic test
  packages/migrate/src/__tests__/handlePanic.introspect.test.ts
Due: none

fix
  packages/internals/src/migrateEngineCommands.ts
Due: none

feat: reverted changes to warning messages, added TODOs
  packages/get-platform/src/getPlatform.ts
Due: none

feat(get-platform): remove error, simplify warning, referring to a future docs page
  packages/get-platform/package.json
  packages/get-platform/src/getPlatform.ts
  packages/get-platform/src/link.ts
  pnpm-lock.yaml
Due: none

add error msg to test
  packages/internals/src/__tests__/migrateEngineCommands.test.ts
Due: none

[skip ci] chore: removed redundant Partial
  packages/get-platform/src/getPlatform.ts
Due: none

chore: trigger ci
  packages/get-platform/src/getPlatform.ts
Due: none

feat(get-platform): use original distro and distro family in warning messages (#17476)
  packages/fetch-engine/src/download.ts
  packages/get-platform/src/__tests__/getSSLVersion.test.ts
  packages/get-platform/src/__tests__/parseDistro.test.ts
  packages/get-platform/src/getPlatform.ts
Due: none

feat: stop downloading introspection-engine (#17301)
  .gitignore
  TESTING.md
  packages/cli/.gitignore
  packages/cli/src/Version.ts
  packages/cli/src/__tests__/commands/Version.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Version.test.ts.snap
  packages/cli/src/bin.ts
  packages/client/tests/functional/logging/tests.ts
  packages/engines/.gitignore
  packages/engines/README.md
  packages/engines/src/index.ts
  packages/engines/src/scripts/localinstall.ts
  packages/engines/src/scripts/postinstall.ts
  packages/fetch-engine/src/__tests__/download.test.ts
  packages/fetch-engine/src/download.ts
  packages/fetch-engine/src/getLatestTag.ts
  packages/generator-helper/src/__tests__/generatorHandler.test.ts
  packages/generator-helper/src/__tests__/minimal-executable
  packages/generator-helper/src/types.ts
  packages/internals/.gitignore
  packages/internals/src/IntrospectionEngine.ts
  packages/internals/src/__tests__/engine-commands/getEngineVersion.test.ts
  packages/internals/src/__tests__/introspection/introspection.test.ts
  packages/internals/src/engine-commands/getEnginesMetaInfo.ts
  packages/internals/src/get-generators/utils/binaryTypeToEngineType.ts
  packages/internals/src/get-generators/utils/engineTypeToBinaryType.ts
  packages/internals/src/index.ts
  packages/internals/src/panic.ts
  packages/internals/src/resolveBinary.ts
  packages/migrate/src/__tests__/handlePanic.introspect.test.ts
  packages/migrate/src/commands/DbPull.ts
Due: client, generator-helper

isolate migrate tests (big commit!)
  packages/migrate/src/__tests__/DbExecute.test.ts
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/DbPush.test.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/migrate/src/__tests__/MigrateDiff.test.ts
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
  packages/migrate/src/__tests__/fixtures/introspection/sqlserver-multi-schema/schema.prisma
  packages/migrate/src/__tests__/fixtures/introspection/sqlserver-multi-schema/setup.sql
  packages/migrate/src/__tests__/fixtures/introspection/sqlserver-multi-schema/with-schemas-in-datasource-0-value.prisma
  packages/migrate/src/__tests__/fixtures/introspection/sqlserver-multi-schema/with-schemas-in-datasource-1-existing-1-non-existing-value.prisma
  packages/migrate/src/__tests__/fixtures/introspection/sqlserver-multi-schema/with-schemas-in-datasource-1-non-existing-value.prisma
  packages/migrate/src/__tests__/fixtures/introspection/sqlserver-multi-schema/with-schemas-in-datasource-1-value.prisma
  packages/migrate/src/__tests__/fixtures/introspection/sqlserver-multi-schema/with-schemas-in-datasource-2-values.prisma
  packages/migrate/src/__tests__/fixtures/introspection/sqlserver-multi-schema/without-schemas-in-datasource.prisma
Due: none

chore(deps): update engines to 4.10.0-33.integration-log-capture-88904f5a1bccffd669ad6789e441b715ee59f0f1
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-34.integration-log-capture-161a3709fad3f7c9e0c0574b3cfc6d7543589906
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Update getPrismaClient.ts
  packages/client/src/runtime/getPrismaClient.ts
Due: client

docs(cli): read more generators
  packages/internals/src/get-generators/getGenerators.ts
Due: none

docs(client): client script
  packages/client/scripts/default-index.d.ts
Due: client

update db pull unskipped test expectations
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
Due: none

fix db execute and diff tests
  packages/migrate/src/__tests__/DbExecute.test.ts
  packages/migrate/src/__tests__/MigrateDiff.test.ts
Due: none

fix migrate deploy test
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
Due: none

undo update of sql server test (local was not up-to-date)
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
Due: none

skip 1 sqlserver test
  packages/migrate/src/__tests__/DbPull.test.ts
Due: none

chore(deps): update engines to 4.10.0-35.92bc89fcfb425b0282d8b65748827f735594fc2b
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

db pull: re-skip flaky sqlserver test and cleanup cockroachdb tests
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
  packages/migrate/src/__tests__/fixtures/introspection/cockroachdb-with-postgresql-provider/setup.sql
  packages/migrate/src/__tests__/fixtures/introspection/cockroachdb/schema.prisma
  packages/migrate/src/__tests__/fixtures/introspection/cockroachdb/with-postgresql-provider.prisma
  packages/migrate/src/__tests__/fixtures/introspection/nativeTypes-cockroachdb-with-postgresql-provider/schema.prisma
  packages/migrate/src/__tests__/fixtures/introspection/nativeTypes-cockroachdb-with-postgresql-provider/setup.sql
  packages/migrate/src/__tests__/fixtures/introspection/nativeTypes-cockroachdb/schema.prisma
  packages/migrate/src/__tests__/fixtures/introspection/nativeTypes-cockroachdb/setup.sql
  packages/migrate/src/utils/setupCockroach.ts
Due: none

docs: fix link to the documentation (#17550)
  packages/client/scripts/default-index.d.ts
  packages/internals/src/get-generators/getGenerators.ts
Due: client

chore(deps): update engines to 4.10.0-35.92bc89fcfb425b0282d8b65748827f735594fc2b (#17553)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix(client): Correctly handle batches insde of itx for data-proxy
  packages/client/src/__tests__/integration/errors/error-link/.gitignore
  packages/client/src/__tests__/integration/errors/error-link/dev.db
  packages/client/src/__tests__/integration/errors/error-link/schema.prisma
  packages/client/src/__tests__/integration/errors/error-link/test.ts
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/core/request/PrismaPromise.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/functional/interactive-transactions/__snapshots__/tests.ts.snap
  packages/client/tests/functional/interactive-transactions/tests.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/common/types/QueryEngine.ts
  packages/engine-core/src/common/types/Transaction.ts
  packages/engine-core/src/common/utils/getBatchRequestPayload.ts
  packages/engine-core/src/common/utils/getInteractiveTransactionId.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/engine-core/src/index.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: client, engine-core

chore(deps): update engines to 4.10.0-36.integration-log-capture-73f702e27c4e44e5cffe6f1b4f1577e1f21b2dbf
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix: typo in arch name
  packages/get-platform/src/getPlatform.ts
Due: none
