Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

fix: remove dist imports
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/rejectOnNotFound.ts
  packages/client/src/runtime/utils/validatePrismaClientOptions.ts
  packages/client/src/runtime/warnEnvConflicts.ts
Due: client

Prisma 3 bump
  packages/client/src/runtime/DataProxyEngine.ts
Due: client

chore(deps): update engines to 3.1.0-3.a30704c312bd0682f19d0c1d6c47ab9d48562afc
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.1.0-3.a30704c312bd0682f19d0c1d6c47ab9d48562afc (#9222)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 5ab100a8455e7e621b2ffdd7575ebc8b4b281ffa
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.1.0-4.cd01e560c193da53870d00a033f7f46d71d58fc1
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.1.0-4.cd01e560c193da53870d00a033f7f46d71d58fc1 (#9225)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1da63f4e9cd26591a647107b9bc013050e199634
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.1.0-5.9a4514d37de8c33cffa33bbe524eed6c8b3e76d9
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.1.0-5.9a4514d37de8c33cffa33bbe524eed6c8b3e76d9 (#9226)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d394a948bf40f2126be39acc014176c96bf7961d
  dev/bench/data.js
Due: none

chore: export type and remove dist imports
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/getDMMF.ts
  packages/client/src/generation/utils.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/index.ts
  packages/sdk/src/engine-commands/index.ts
  packages/sdk/src/index.ts
Due: client, engine-core, sdk

chore: remove require imports
  packages/client/src/byline.ts
  packages/debug/src/node.ts
  packages/engine-core/src/binary/Connection.ts
  packages/engine-core/src/tools/byline.ts
  packages/generator-helper/src/byline.ts
  packages/migrate/src/utils/byline.ts
  packages/sdk/src/utils/byline.ts
Due: client, debug, engine-core, generator-helper, sdk

chore(deps): update engines to 3.1.0-6.0cecbd5867319b25d3d5110c16c398af16082790
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(build): disable esm
  helpers/compile/build.ts
Due: none

chore(deps): update engines to 3.1.0-6.0cecbd5867319b25d3d5110c16c398af16082790 (#9229)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3046d86963682739f33081f9349cc3c49eb5f53a
  dev/bench/data.js
Due: none

chore(build): improve perf
  helpers/compile/build.ts
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update engines to 3.1.0-7.0cecbd5867319b25d3d5110c16c398af16082790
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.1.0-7.0cecbd5867319b25d3d5110c16c398af16082790 (#9237)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 13d92ca5f9f823deb392d8a8d4d7496df558513a
  dev/bench/data.js
Due: none

chore(build): enable tree-shaking
  helpers/compile/build.ts
  packages/cli/package.json
  packages/client/helpers/build.ts
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/react-prisma/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
  tsconfig.build.json
Due: client, debug, engine-core, generator-helper, sdk

chore(deps): update engines to 3.1.0-8.9bb568165975957ecb848ccb3cd46555d6c6ee28
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.1.0-8.9bb568165975957ecb848ccb3cd46555d6c6ee28 (#9254)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 9f3f5cd0f748872b8460c7b521ed42a51b923fcb
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.1.0-9.5db5a67a6fa2e7734323f70a53ea91de5c28ad22
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.1.0-9.5db5a67a6fa2e7734323f70a53ea91de5c28ad22 (#9255)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1518851f7288baca8040e69c2d310d209f5f1193
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.1.0-10.3ddebfa9461c94a0ff7f7fce6a4521df0a838729
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.1.0-10.3ddebfa9461c94a0ff7f7fce6a4521df0a838729 (#9256)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk
