Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore: rename default git branch from master to main (#8586)
  .buildkite/publish/buildkite-entry.sh
  .buildkite/test/buildkite-entry.sh
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  packages/cli/README.md
  packages/cli/src/__tests__/fixtures/dependent-generator/generator.js
  packages/client/README.md
  packages/client/scripts/default-index.d.ts
  packages/client/src/generation/generator.ts
  packages/migrate/README.md
  packages/sdk/src/getGenerators.ts
  scripts/ci/publish.ts
  scripts/setup.ts
Due: client, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 13570fe4e56a83eb324bcb00478e364f542e102d
  dev/bench/data.js
Due: none

re-add support for the previewFeature
  packages/client/src/runtime/utils/getClientEngineType.ts
Due: client

remove `nApi` from the list of deprecated feature flags
  packages/sdk/src/engine-commands/getDmmf.ts
Due: sdk

chore(deps): update engines to 2.29.0-21.cd6c093667eb3106da8402f81878df38951ca5ce
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 2.29.0-22.cd6c093667eb3106da8402f81878df38951ca5ce
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 2.29.0-21.cd6c093667eb3106da8402f81878df38951ca5ce (#8587)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 2.29.0-23.cd6c093667eb3106da8402f81878df38951ca5ce
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 58d75a3c48df50e54220b3b5dc0e958ef70ac1af
  dev/bench/data.js
Due: none

chore(deps): update engines to 2.29.0-23.cd6c093667eb3106da8402f81878df38951ca5ce (#8589)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b2b0f71b63c456a598b41ba2531e6cc1afa18217
  dev/bench/data.js
Due: none

chore(deps): update engines to 2.29.0-24.d65b927fb9165c1852da8d7d6c746ec29e4bbf25
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 2.29.0-24.d65b927fb9165c1852da8d7d6c746ec29e4bbf25 (#8592)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d29b66e5a8d290db238986e0723c265f0c6892aa
  dev/bench/data.js
Due: none

chore(deps): update engines to 2.29.0-25.f1238e20399c9d3dc91301ebca69230503301f6e
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

...
  TESTING.md
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/BinaryEngine.ts
  packages/engine-core/src/Engine.ts
  packages/engine-core/src/LibraryEngine.ts
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/index.ts
  packages/sdk/src/getGenerators.ts
Due: client, engine-core, sdk

datamodel => schemaContent, datamodelPath => schemaPath
  packages/cli/src/Doctor.ts
  packages/cli/src/Validate.ts
  packages/cli/src/Version.ts
  packages/cli/src/bin.ts
  packages/client/src/utils/generateInFolder.ts
  packages/client/src/utils/getTestClient.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/utils/ensureDatabaseExists.ts
  packages/sdk/src/__tests__/engine-commands/getConfig.test.ts
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/getGenerators.ts
Due: client, sdk

chore(deps): update engines to 2.29.0-25.f1238e20399c9d3dc91301ebca69230503301f6e (#8593)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 72cc110a081d97ff63f907152a5157ce92f41c7e
  dev/bench/data.js
Due: none

another comment
  packages/sdk/src/engine-commands/getDmmf.ts
Due: sdk

remove useless tests in getDmmf
  packages/sdk/src/__tests__/engine-commands/getDmmf.test.ts
Due: sdk

remove useless type from getDmmf
  packages/sdk/src/engine-commands/getDmmf.ts
Due: sdk

chore(prisma): prepare merge
  packages/client/src/__tests__/integration/happy/long-running-transaction/.gitignore
  packages/client/src/__tests__/integration/happy/long-running-transaction/dev.db
  packages/client/src/__tests__/integration/happy/long-running-transaction/schema.prisma
  packages/client/src/__tests__/integration/happy/long-running-transaction/test.ts
  packages/client/src/runtime/DataLoader.ts
  packages/client/src/runtime/RequestHandler.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/binary/Connection.ts
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/common/errors/PrismaClientInitializationError.ts
  packages/engine-core/src/common/errors/PrismaClientKnownRequestError.ts
  packages/engine-core/src/common/errors/PrismaClientRustError.ts
  packages/engine-core/src/common/errors/PrismaClientRustPanicError.ts
  packages/engine-core/src/common/errors/PrismaClientUnknownRequestError.ts
  packages/engine-core/src/common/errors/types/ErrorWithLinkInput.ts
  packages/engine-core/src/common/errors/types/PrismaClientRustErrorArgs.ts
  packages/engine-core/src/common/errors/types/RequestError.ts
  packages/engine-core/src/common/errors/utils/getErrorMessageWithLink.ts
  packages/engine-core/src/common/errors/utils/log.ts
  packages/engine-core/src/common/errors/utils/maskQuery.ts
  packages/engine-core/src/common/errors/utils/normalizeLogs.ts
  packages/engine-core/src/common/types/QueryEngine.ts
  packages/engine-core/src/common/types/Transaction.ts
  packages/engine-core/src/common/utils/getInternalDatamodelJson.ts
  packages/engine-core/src/common/utils/printGeneratorConfig.ts
  packages/engine-core/src/common/utils/util.ts
  packages/engine-core/src/library/LibraryEngine.ts
  packages/engine-core/src/library/types/Library.ts
  packages/engine-core/src/tools/byline.ts
  packages/engine-core/src/tools/omit.ts
Due: client, engine-core

chore(engine-core): lint
  packages/engine-core/src/binary/BinaryEngine.ts
  pnpm-lock.yaml
Due: engine-core

chore(client): rename to interactive transactions
  packages/client/src/__tests__/integration/happy/long-running-transaction/dev.db
  packages/client/src/__tests__/integration/happy/long-running-transaction/schema.prisma
  packages/client/src/generation/TSClient/PrismaClient.ts
  packages/client/src/runtime/getPrismaClient.ts
Due: client

chore(prisma): bump engines
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

test(client): rename interactive tx
  packages/client/src/__tests__/integration/happy/interactive-transactions/.gitignore
  packages/client/src/__tests__/integration/happy/interactive-transactions/dev.db
  packages/client/src/__tests__/integration/happy/interactive-transactions/schema.prisma
  packages/client/src/__tests__/integration/happy/interactive-transactions/test.ts
Due: client

chore(client): begin itx impl for library
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/library/LibraryEngine.ts
  packages/engine-core/src/library/types/Library.ts
Due: engine-core

rename method to clarify what it does
  packages/cli/src/bin.ts
  packages/cli/src/utils/printUpdateMessage.ts
Due: none

extract update+telemetry into its own function
  packages/cli/src/bin.ts
Due: none

note about duplication
  packages/cli/src/Validate.ts
Due: none

TODO we should restrict the search to prisma-client-js and prisma-client-go
  packages/cli/src/bin.ts
Due: none

Create stackhawk-analysis.yml
  .github/workflows/stackhawk-analysis.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none
