Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

add Benchmark.js Benchmark (benchmarkjs) benchmark result for fb7eb039dc15021422852194f9f79c62c7f1fbf0
  dev/bench/data.js
Due: none

fix(migrate): better error message for non-interactive during dev / reset
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/MigrateReset.test.ts
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/commands/MigrateReset.ts
  src/packages/migrate/src/utils/errors.ts
  src/packages/migrate/src/utils/handleEvaluateDataloss.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 01535722a6665c454f391d38724c9bffbaa8523f
  dev/bench/data.js
Due: none

chore: add test
  src/packages/client/src/__tests__/types/record/schema.prisma
  src/packages/client/src/__tests__/types/record/test.ts
  src/packages/client/src/__tests__/types/record/tsconfig.json
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7909b1d3b97e7d95a27c880c917ab0bc44d16d53
  dev/bench/data.js
Due: none

feat(migrate): improve db push warnings/unexecutable migrations
  src/packages/migrate/src/__tests__/DbPush.test.ts
  src/packages/migrate/src/__tests__/__helpers__/snapshotSerializer.ts
  src/packages/migrate/src/commands/DbPush.ts
  src/packages/migrate/src/utils/errors.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 98b3de55ae186cce6edb2f84ed2c49f2a8cef6f1
  dev/bench/data.js
Due: none

fix(migrate): better error message for non-interactive during dev / reset (#5600)
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/MigrateReset.test.ts
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/commands/MigrateReset.ts
  src/packages/migrate/src/utils/errors.ts
  src/packages/migrate/src/utils/handleEvaluateDataloss.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 35358c238bcd0d6988e4779163aafbbde8d90022
  dev/bench/data.js
Due: none

feat(migrate): improve db push warnings/unexecutable migrations (#5602)
  src/packages/migrate/src/__tests__/DbPush.test.ts
  src/packages/migrate/src/__tests__/__helpers__/snapshotSerializer.ts
  src/packages/migrate/src/commands/DbPush.ts
  src/packages/migrate/src/utils/errors.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 14089081b2db8d8d1686159c967329efa7fcd2b1
  dev/bench/data.js
Due: none

chore: fix _Record
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient/Model.ts
Due: client

test(cli): skip studio delete queries flaky test
  src/packages/cli/src/__tests__/studio.test.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3320cde911c175855865e6b82e8e3abe163995a0
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 5361e62cb5366c81b3ab1b2b94ba0dd2bc689f86
  dev/bench/data.js
Due: none

fix(client): Fix #5500 (#5599)
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/record/schema.prisma
  src/packages/client/src/__tests__/types/record/test.ts
  src/packages/client/src/__tests__/types/record/tsconfig.json
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/common.ts
  src/pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 5a7b2e877e96fec9ded70bf7bf5157c3af336880
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e632c082ead7c0ae71052ab9e53c78ac56d9e04b
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.17.0-28.ee4e2ae9b5d0ac5a7a0392727558f39b16154a01
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 791fc0f1f391f7ee19e9a7834ffafa540ac145a9
  dev/bench/data.js
Due: none

Use `only-allow` to enforce installation with `pnpm`
  src/package.json
Due: none

Remove `-y` flag
  src/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 392913dcc5da39ac8e93813d182c4a74fd7a3542
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e7c5ea2888ce99df3b70d6bf3062829a55a1d5ee
  dev/bench/data.js
Due: none

chore(cli,sdk): add PRISMA_DISABLE_WARNINGS
  src/packages/cli/src/Generate.ts
  src/packages/cli/src/Init.ts
  src/packages/cli/src/Studio.ts
  src/packages/cli/src/utils/printUpdateMessage.ts
  src/packages/sdk/src/index.ts
  src/packages/sdk/src/logger.ts
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
  src/packages/sdk/src/utils/printConfigWarnings.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7f11ea0747d5324f182d130845d6a1e62d6a4e0d
  dev/bench/data.js
Due: none

remove comment
  src/packages/sdk/src/utils/printConfigWarnings.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 27afa0b2e2f4d4b187f97597e115c1def8b64be8
  dev/bench/data.js
Due: none

chore: add findUnique batch test
  src/packages/client/src/__tests__/integration/__helpers__/sanitizeEvents.ts
  src/packages/client/src/__tests__/integration/happy/batch-findUnique/.gitignore
  src/packages/client/src/__tests__/integration/happy/batch-findUnique/dev.db
  src/packages/client/src/__tests__/integration/happy/batch-findUnique/schema.prisma
  src/packages/client/src/__tests__/integration/happy/batch-findUnique/test.ts
  src/packages/client/src/__tests__/integration/happy/groupBy/test.ts
  src/packages/client/src/__tests__/integration/happy/raw-transactions/test.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 72a020fec79b68539814e0120bed73c739552735
  dev/bench/data.js
Due: none

chore: try bump internal version
  src/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 138a07581449aa04fcaeec9c212f0cbfa5ec796e
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 69059d264ad4da84ce519087bc6b2ceb4227a69d
  dev/bench/data.js
Due: none
