Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

fix(cli): fix generate output for dor Prisma Client dir (#7058)
  src/packages/cli/src/Generate.ts
Due: none

chore(deps): update definitelytyped
  package.json
  pnpm-lock.yaml
  src/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

chore(deps): update react-prisma
  src/packages/react-prisma/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for acf113ec129dbc2940956112fb66d9184888fa99
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 82a8f6c88adb78b0098eb648d061c92a9139fe36
  dev/bench/data.js
Due: none

chore(github): Split Prisma version output into own field (#6977)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1594140830640097be5de473b70bef7d50e1d5ba
  dev/bench/data.js
Due: none

fix(migrate,introspection): remove failed- .md logic (#7059)
  src/packages/client/.gitignore
  src/packages/migrate/.gitignore
  src/packages/migrate/src/MigrateEngine.ts
  src/packages/sdk/.gitignore
  src/packages/sdk/src/IntrospectionEngine.ts
Due: client, sdk

fix(migrate): better prompt wording for new migration name (#7060)
  src/packages/migrate/src/utils/promptForMigrationName.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0816f03c52582779aa160070e11f02894c03bfb1
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 06236eb31e5a370a28c0bae5288683176184a95d
  dev/bench/data.js
Due: none

feat(migrate): seed with node / ts-node default or named export or as script (#6034)
  pnpm-lock.yaml
  src/packages/migrate/src/__tests__/DbSeed.test.ts
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-default-export/.gitignore
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-default-export/package.json
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-default-export/prisma/dev.db
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-default-export/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-default-export/prisma/schema.prisma
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-default-export/prisma/seed.js
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-default-export/prisma/seed.ts
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-named-export/.gitignore
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-named-export/package.json
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-named-export/prisma/dev.db
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-named-export/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-named-export/prisma/schema.prisma
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-named-export/prisma/seed.js
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite-js-ts-named-export/prisma/seed.ts
  src/packages/migrate/src/utils/seed.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f0bdb94310bdb192176952117ac8757fe5c06c9e
  dev/bench/data.js
Due: none

chore: update pnpm-lock
  pnpm-lock.yaml
  src/pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 41f4d47c4ea9e49649a9104629d9ac461f9383d0
  dev/bench/data.js
Due: none

implement dmmf deprecation
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient/Input.ts
  src/packages/client/src/generation/TSClient/Output.ts
  src/packages/generator-helper/src/dmmf.ts
Due: client, generator-helper

fix sdk tests
  src/packages/sdk/src/__tests__/__snapshots__/engineCommands.test.ts.snap
Due: sdk

add legacy input args support
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
  src/packages/client/src/__tests__/integration/happy/aggregations/test.ts
  src/packages/client/src/__tests__/integration/happy/groupBy/test.ts
  src/packages/client/src/__tests__/types/aggregate/test.ts
  src/packages/client/src/__tests__/types/groupBy/test.ts
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/TSClient.ts
  src/packages/client/src/generation/TSClient/jsdoc.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

update exaustive schema
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

revert typehacks
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/TSClient.ts
Due: client

implement changes
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/generation/TSClient/common.ts
  src/packages/client/src/generation/TSClient/jsdoc.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

fix types tests
  src/packages/client/src/__tests__/types/aggregate/test.ts
  src/packages/client/src/__tests__/types/groupBy/test.ts
Due: client

fix napi download
  src/packages/engine-core/src/NAPIEngine.ts
Due: engine-core

update tests
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/src/__tests__/__snapshots__/aggregate.test.ts.snap
  src/packages/client/src/__tests__/aggregate.test.ts
  src/packages/client/src/__tests__/integration/happy/aggregations/test.ts
  src/packages/client/src/__tests__/integration/happy/count/test.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/groupBy/test.ts
  src/packages/client/src/__tests__/integration/happy/removed-experimental-flags/test.ts
  src/packages/client/src/__tests__/integration/happy/removed-preview-flags/test.ts
  src/packages/client/src/__tests__/types/aggregate/index.test-d.ts
  src/packages/client/src/__tests__/types/aggregate/test.ts
  src/packages/client/src/__tests__/types/groupBy/test.ts
  src/packages/sdk/src/__tests__/__snapshots__/engineCommands.test.ts.snap
Due: client, sdk

speed up napi generation
  src/packages/client/src/utils/generateInFolder.ts
Due: client

fix aggregate count: true type
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/aggregate/test.ts
  src/packages/client/src/generation/TSClient/Model.ts
Due: client

fix napi test client
  src/packages/client/src/__tests__/integration/errors/union-validation/schema.prisma
Due: client

fix client tests
  src/packages/client/src/__tests__/integration/happy/aggregations/test.ts
  src/packages/client/src/__tests__/integration/happy/groupBy/test.ts
Due: client

cleanup
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/fixtures/blog/prisma/dev.db
  src/packages/client/fixtures/blog/prisma/schema.prisma
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

bump engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

Path conditions:
  get-platform: any of: src/packages/get-platform/
  fetch-engine: any of: src/packages/fetch-engine/
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
