Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 194557a1b90249414a3fc127e74338c573855e83
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.6.0-11.6e6e00f71bfef69e8fb23a8dca441e5604c0f3a8
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.6.0-11.6e6e00f71bfef69e8fb23a8dca441e5604c0f3a8 (#10384)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 065d05c78d231c1bfbb2c31ca9c2cd49db380541
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.6.0-12.4bb6f7cede394fcf7b542438d29a642a8bc89e62
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.6.0-12.4bb6f7cede394fcf7b542438d29a642a8bc89e62 (#10385)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8a33de9785fbc849318b02d94699278526ffbba8
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.6.0-13.86892c735db18476b8f68bc014619dcbdb961d3d
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.6.0-13.86892c735db18476b8f68bc014619dcbdb961d3d (#10391)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update react-prisma
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 4d55bfc88743d08bddc3f5e8bef81c8ce587b400
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.6.0-14.039d5261f0595cfe377423ed47e886b158f0b246
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.6.0-14.039d5261f0595cfe377423ed47e886b158f0b246 (#10392)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for debd6629d6de85c8b37e3b9e85851fe790b90e3e
  dev/bench/data.js
Due: none

fix(client): use proper typing for $disconnect (#10380)
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/PrismaClient.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d4dbc69e63afd2c10ac72b195a29cd56097c08c9
  dev/bench/data.js
Due: none

chore(react-prisma): ignore lint error
  packages/react-prisma/src/index.ts
Due: none

chore: update eslint-plugin-jest
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, generator-helper, sdk

chore: update @typescript-eslint/eslint-plugin to 5.4.0
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client, debug, generator-helper

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1904c4b11fd5a5faa7c9ab9098667fb27e2b3c07
  dev/bench/data.js
Due: none

chore: update @typescript-eslint/parser to 5.4.0
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
Due: client, debug, generator-helper, sdk

chore: @typescript-eslint/no-unsafe-argument warn instead of error
  .eslintrc.js
Due: none

chore: seems like one file didn't get merge correctly
  packages/engine-core/package.json
  pnpm-lock.yaml
Due: engine-core

feat(client): add client engine type to debug logs
  packages/client/src/runtime/getPrismaClient.ts
Due: client

chore: fix "no-unsafe-optional-chaining" errors
  packages/sdk/src/get-generators/getGenerators.ts
Due: sdk

feat(client): add client engine type to debug logs (#10396)
  packages/client/src/runtime/getPrismaClient.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 24f152008faa5b97f6a982cdbd035f14f139aa39
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7843dc42202b9f9670daf6100ecd0789a6af01ef
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.6.0-15.5414823bcd672530262a0d7cbbb5b7b559036407
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.6.0-15.5414823bcd672530262a0d7cbbb5b7b559036407 (#10402)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f01566c124907beb28a953d73c70f22b130d97b6
  dev/bench/data.js
Due: none

chore(deps): update definitelytyped
  package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: sdk

chore(deps): update dependency @types/jest to v27.0.3
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk
