Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 82153e0c0fc9a786bea23fe5af80213786ee8c75
  dev/bench/data.js
Due: none

ci: Add new env vars to publish pipeline
  .buildkite/publish/docker-compose.yml
Due: none

ci: Add new env vars to publish pipeline (#14144)
  .buildkite/publish/docker-compose.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 313f052abaa5edc8743c02ec828fa3756f0b077c
  dev/bench/data.js
Due: none

chore(deps): update engines to 4.1.0-14.710172495d0d88d13ba508f1faf46cdedabf960b
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.1.0-14.710172495d0d88d13ba508f1faf46cdedabf960b (#14146)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 5f59d6f09ddbd4342500d1e8ee7b7ed1e894853d
  dev/bench/data.js
Due: none

chore(deps): update engines to 4.1.0-15.531a59b6a8e72aecc4b67775861e451bfd9e4464
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.1.0-15.531a59b6a8e72aecc4b67775861e451bfd9e4464 (#14152)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d57f5ec8bd060207b1229038cacc1e79a346ec2b
  dev/bench/data.js
Due: none

chore(deps): update engines to 4.1.0-16.0873d5462df8a32fcca3b301768e8b06431f9f1f
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.1.0-17.c9892dc988388c4c997d417c5d1bf92ce4a68f33
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.1.0-16.0873d5462df8a32fcca3b301768e8b06431f9f1f (#14154)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a60acff509fc7d2a4988ef3094a0a761ebda4a80
  dev/bench/data.js
Due: none

chore(deps): update engines to 4.1.0-17.c9892dc988388c4c997d417c5d1bf92ce4a68f33 (#14157)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0107679f85276e550d8e965b11c7acc0597f6329
  dev/bench/data.js
Due: none

chore(deps): update engines to 4.1.0-18.b0c91bea15594fde99e164a664e703330e340826
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.1.0-18.b0c91bea15594fde99e164a664e703330e340826 (#14160)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7eafc12f146542fbdee29131f3657779b8dfb719
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 2fd8bcf8b01a1e27b3e063591e3ec88b31c76592
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1b87fc15807e247db451a1aeee79242367cc2436
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 6146d3df111e6c33353bae2d8005387f197017fd
  dev/bench/data.js
Due: none

add mxschmitt/action-tmate@v3
  .github/workflows/test.yml
Due: none

simplify otel context propagation logic
  packages/client/src/runtime/core/model/applyModel.ts
  packages/client/src/runtime/core/request/createPrismaPromise.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/otel/applyTracingHeaders.ts
  packages/client/src/runtime/utils/otel/runInChildSpan.ts
Due: client

basic tracing setup
  packages/client/package.json
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/otel/runInChildSpan.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
  pnpm-lock.yaml
Due: client, engine-core

test: add create coverage to otel
  packages/client/package.json
  packages/client/tests/functional/_utils/setupQueryEngine.ts
  packages/client/tests/functional/otel/_matrix.ts
  packages/client/tests/functional/otel/prisma/_schema.ts
  packages/client/tests/functional/otel/tests.ts
  pnpm-lock.yaml
Due: client

rough itx fixes
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: client, engine-core

feat: add model name and method to root span
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/otel/runInChildSpan.ts
  packages/client/tests/functional/otel/tests.ts
Due: client

feat: add otel to ITX
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/functional/otel/tests.ts
Due: client

test: updates based on itx
  packages/client/tests/functional/otel/tests.ts
Due: client

fix beforeEach del for windows
  .github/workflows/test.yml
  packages/fetch-engine/src/__tests__/download.test.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 546bee162ac6a7721a830f45ce40cd079fc38678
  dev/bench/data.js
Due: none

chore(*): skip slow dependencyCheck on GitHub Actions
  helpers/compile/build.ts
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
