Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

fix format snapshot
  src/packages/cli/src/__tests__/__snapshots__/format.test.ts.snap
Due: none

fix: jest
  src/packages/client/helpers/patchJest.js
  src/packages/client/package.json
Due: client

add to buildkite
  src/.buildkite/test/docker-compose.10.yml
  src/.buildkite/test/docker-compose.14.yml
Due: none

fix log level
  src/packages/client/src/runtime/getLogLevel.ts
Due: client

switch to PRISMA_FORCE_NAPI
  .github/workflows/test.yml
  src/packages/cli/src/__tests__/studio.test.ts
  src/packages/client/src/generation/generateClient.ts
  src/packages/client/src/generator.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/client/src/utils/generateInFolder.ts
Due: client

test env var in gh actions
  .github/workflows/test.yml
Due: none

ensure studio tests do not use NAPI
  src/packages/cli/src/__tests__/studio.test.ts
Due: none

set default log level to error
  src/packages/engine-core/src/NAPIEngine.ts
Due: engine-core

fix linting
  src/packages/engine-core/src/NAPIEngine.ts
Due: engine-core

clean generate snapshot
  src/packages/cli/src/__tests__/generate.test.ts
Due: none

ensureBinariesExist when using getTestClient
  src/packages/client/src/utils/getTestClient.ts
Due: client

add ensureBinariesExist to getTestClient
  src/packages/client/src/utils/getTestClient.ts
Due: client

update lock
  src/pnpm-lock.yaml
Due: none

remove ensureBinaries
  src/packages/client/src/generation/generateClient.ts
  src/packages/engine-core/src/NAPIEngine.ts
Due: client, engine-core

ensureBinariesExist
  src/packages/client/src/utils/generateInFolder.ts
Due: client

test chdir hack
  src/packages/engine-core/src/Engine.ts
  src/packages/engine-core/src/NAPIEngine.ts
Due: engine-core

bump engines
  src/pnpm-lock.yaml
Due: none

fix disconnect-while-query
  src/packages/engine-core/src/NAPIEngine.ts
Due: engine-core

fix blog
  src/packages/engine-core/src/NAPIEngine.ts
Due: engine-core

fix test filter-nullable
  src/packages/client/src/__tests__/integration/happy/filter-nullable/schema.prisma
Due: client

skip restart test if NAPI
  src/packages/client/src/__tests__/integration/happy/restart/test.ts
Due: client

fix integration/happy/transaction/
  src/packages/client/src/__tests__/integration/happy/transaction/test.ts
Due: client

skip chmod test if NAPI
  src/packages/client/src/__tests__/integration/happy/chmod/test.ts
Due: client

fix generator test
  src/packages/client/src/__tests__/generation/generator.test.ts
Due: client

disconnect-while-query
  src/packages/engine-core/src/NAPIEngine.ts
Due: engine-core

fix too-many-engines
  src/packages/client/src/__tests__/integration/errors/too-many-engines/test.ts
  src/packages/client/src/__tests__/integration/happy/blog-env-postgresql/test.ts
  src/packages/client/src/__tests__/integration/happy/chmod/test.ts
Due: client

fix linting
  src/packages/client/src/__tests__/integration/happy/chmod/test.ts
Due: client

reset env after studio tests
  src/packages/cli/src/__tests__/studio.test.ts
Due: none

enableEngineDebugMode
  src/packages/engine-core/src/NAPIEngine.ts
Due: engine-core

Add support for corruption test for NAPI
  src/packages/client/src/__tests__/integration/errors/corruption/test.ts
  src/packages/engine-core/src/NAPIEngine.ts
Due: client, engine-core

fix chmod NAPI skip
  src/packages/client/src/__tests__/integration/happy/chmod/test.ts
Due: client

fix missing binary snapshot
  src/packages/client/src/__tests__/integration/errors/missing-binary/test.ts
Due: client

fix happy/relations
  src/packages/client/src/__tests__/integration/happy/relations/schema.prisma
Due: client

fix to many engine snapshot
  src/packages/client/src/__tests__/integration/errors/too-many-engines/test.ts
Due: client

fix invalid input test
  src/packages/client/src/__tests__/integration/errors/invalid-input/test.ts
Due: client

test: serialize BigInt
  src/packages/tests/src/__tests__/__helpers__/integrationTest.ts
  src/packages/tests/src/__tests__/integration/mariadb/__scenarios.ts
  src/packages/tests/src/__tests__/integration/mssql/__scenarios.ts
  src/packages/tests/src/__tests__/integration/mysql/__scenarios.ts
  src/packages/tests/src/__tests__/integration/postgresql/__scenarios.ts
  src/packages/tests/src/__tests__/integration/sqlite/__scenarios.ts
  src/packages/tests/tsconfig.json
Due: none

bump engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

test: remove bigint serialization
  src/packages/tests/src/__tests__/__helpers__/integrationTest.ts
  src/packages/tests/src/__tests__/integration/mariadb/__scenarios.ts
  src/packages/tests/src/__tests__/integration/mssql/__scenarios.ts
  src/packages/tests/src/__tests__/integration/mysql/__scenarios.ts
  src/packages/tests/src/__tests__/integration/postgresql/__scenarios.ts
Due: none

disable napi tests
  .github/workflows/test.yml
  src/.buildkite/test/docker-compose.10.yml
  src/.buildkite/test/docker-compose.14.yml
Due: none
