Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

Create rebase-slash-command.yml
  .github/workflows/rebase-slash-command.yml
Due: none

ci: /rebase (#13090)
  .github/workflows/rebase-action.yml
  .github/workflows/rebase-slash-command.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 395df47b12f90767175e1732a59783560effd7c7
  dev/bench/data.js
Due: none

Update .gitignore
  .gitignore
Due: none

chore(deps): update peter-evans/create-or-update-comment action to v2
  .github/workflows/rebase-action.yml
Due: none

fix(tests): use correct key to get active provider
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
Due: client

test(client): make it possible to pass extra args to jest in new setup
  packages/client/package.json
Due: client

chore(cli): moved ts-pattern to devDependencies (#13075)
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

chore(deps): pin dependency ts-pattern to 4.0.2
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c5ff0a63f4a94f2f8858f61f58cfac2df5e930c9
  dev/bench/data.js
Due: none

refactor(client): remove plural in jsdoc
  packages/client/package.json
  packages/client/src/__tests__/__helpers__/dmmf-types.ts
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/Model.ts
  packages/client/src/generation/TSClient/PrismaClient.ts
  packages/client/src/generation/TSClient/helpers.ts
  packages/client/src/generation/TSClient/jsdoc.ts
  packages/client/src/generation/utils.ts
  packages/client/src/generation/utils/dedent.ts
  packages/client/src/runtime/externalToInternalDmmf.ts
  packages/generator-helper/src/dmmf.ts
  pnpm-lock.yaml
Due: client, generator-helper

Correct "setup" to "set up" when used as a verb
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  packages/cli/src/CLI.ts
  packages/cli/src/Init.ts
  packages/cli/src/Set up a new Prisma project.code-search
  packages/client/README.md
  packages/client/src/__tests__/integration/happy/client-engine/test.ts
  packages/client/src/__tests__/integration/happy/exit-hook/test.ts
  packages/client/src/__tests__/integration/happy/scalar-list/test.ts
  packages/migrate/README.md
  packages/migrate/src/commands/DbSeed.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateReset.ts
  packages/sdk/src/utils/jestContext.ts
Due: client, sdk

Delete Set up a new Prisma project.code-search
  packages/cli/src/Set up a new Prisma project.code-search
Due: none

cli: minimal changes to artificial-panic tests
  packages/cli/src/__tests__/artificial-panic.test.ts
Due: none

sdk: removed dead code in getConfig
  packages/sdk/src/engine-commands/getConfig.ts
Due: sdk

sdk: minimal changes to getDmmf to align it to getConfig
  packages/sdk/src/engine-commands/getDmmf.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 60e9c0fd2663f9355eba3594f7dfd9037eab2ca8
  dev/bench/data.js
Due: none

ci: pin pnpm v6
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  .github/workflows/update-engines-version.yml
  .github/workflows/update-studio-version.yml
Due: none

ci: pin pnpm v6 (#13113)
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  .github/workflows/update-engines-version.yml
  .github/workflows/update-studio-version.yml
Due: none

chore(deps): update engines to 3.14.0-12.fd79bd1b7ef358f87831ab08bc0b01470c2fde8a
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 753013f7f2996e3dae717e51563f1d0859ce8222
  dev/bench/data.js
Due: none

update introspection snapshot
  packages/sdk/src/__tests__/introspection/introspection.test.ts
Due: sdk

chore(deps): update engines to 3.14.0-12.fd79bd1b7ef358f87831ab08bc0b01470c2fde8a (#13114)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  packages/sdk/src/__tests__/introspection/introspection.test.ts
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for bc2a701ad737931493ae9ebad6fb30f68c1e5c9a
  dev/bench/data.js
Due: none

ci: print gh actions workflow_dispatch input (#13078)
  .github/workflows/update-engines-version.yml
Due: none

fix: correct "setup" to "set up" when used as a verb (#13104)
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  packages/cli/src/CLI.ts
  packages/cli/src/Init.ts
  packages/client/README.md
  packages/client/src/__tests__/integration/happy/client-engine/test.ts
  packages/client/src/__tests__/integration/happy/exit-hook/test.ts
  packages/client/src/__tests__/integration/happy/scalar-list/test.ts
  packages/migrate/README.md
  packages/migrate/src/commands/DbSeed.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateReset.ts
  packages/sdk/src/utils/jestContext.ts
Due: client, sdk

fix(migrate): use correct provider name when creating CockroachDB db (#13051)
  packages/migrate/src/utils/ensureDatabaseExists.ts
Due: none

fix: split the command into two
  packages/client/package.json
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1370dde1002bde301b8c79e12bf7cec57a8df335
  dev/bench/data.js
Due: none

fix(tests): use correct key to get active provider (#13094)
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d8c660241c06ece2655e1788590c931a8d7de065
  dev/bench/data.js
Due: none

chore: change syntax highlighting from GraphQL to Prisma for fixtures
  packages/client/src/__tests__/aggregate.test.ts
  packages/client/src/fixtures/blog.ts
  packages/client/src/fixtures/chinook.ts
  packages/client/src/fixtures/enums.ts
  packages/client/src/fixtures/recommender.ts
  packages/client/src/fixtures/saleBuyers.ts
  packages/client/src/fixtures/singularRelation.ts
Due: client

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
