Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 74580fc20b6f2f4bc8a8daaf4f8d9837e039a0f4
  dev/bench/data.js
Due: none

feat(migrate): remove nativeTypes flag (#5446)
  src/packages/cli/package.json
  src/packages/client/fixtures/blog/prisma/schema.prisma
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/errors/executeRaw-alter-postgres/schema.prisma
  src/packages/client/src/__tests__/integration/errors/wrong-native-types-mysql/schema.prisma
  src/packages/client/src/__tests__/integration/errors/wrong-native-types-postgres/schema.prisma
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/schema.prisma
  src/packages/client/src/__tests__/integration/happy/native-types-mysql/schema.prisma
  src/packages/client/src/__tests__/integration/happy/native-types-postgres/schema.prisma
  src/packages/client/src/__tests__/integration/happy/postgres-json-list/schema.prisma
  src/packages/client/src/__tests__/integration/happy/scalar-list/schema.prisma
  src/packages/client/src/__tests__/types/native-types/schema.prisma
  src/packages/client/src/__tests__/types/scalarList/schema.prisma
  src/packages/engine-core/package.json
  src/packages/engine-core/src/NodeEngine.ts
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/migrate/src/__tests__/DbPush.test.ts
  src/packages/migrate/src/__tests__/fixtures/nativeTypes-mssql/prisma/schema.prisma
  src/packages/migrate/src/__tests__/fixtures/nativeTypes-postgresql/prisma/schema.prisma
  src/packages/migrate/src/__tests__/fixtures/nativeTypes-sqlite/prisma/schema.prisma
  src/packages/migrate/src/utils/ensureDatabaseExists.ts
  src/packages/sdk/package.json
  src/packages/sdk/src/engineCommands.ts
  src/packages/tests/src/__tests__/integration/mariadb/__snapshots__/introspection.test.ts.snap
  src/packages/tests/src/__tests__/integration/mssql/__snapshots__/introspection.test.ts.snap
  src/packages/tests/src/__tests__/integration/mysql/__snapshots__/introspection.test.ts.snap
  src/packages/tests/src/__tests__/integration/postgresql/__snapshots__/introspection.test.ts.snap
  src/packages/tests/src/__tests__/integration/sqlite/__snapshots__/introspection.test.ts.snap
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to v2.17.0-7.a2e5b14310dc12020b10477d3eb95d2a7e222c8a
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

Revert "ci: update uri for github actions (#5469)"
  .github/workflows/test.yml
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/__helpers__/snapshotSerializer.ts
Due: none

ci: tmate github actions
  .github/workflows/test.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e30c7ba5e9ddedb5833e48d04ae4767836d57d4f
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.17.0-8.30761c78284f579b6acca7c884a58c3e0a1e43fb
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to v2.17.0-9.c94825e56735947003118acdafd46459835561c5
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

ci: Revert "ci: update uri for github actions" (#5480)
  .github/workflows/test.yml
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/__helpers__/snapshotSerializer.ts
Due: none

fix: integrate new engines with localhost resolution fix
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

trigger github actions on patch branch
  src/packages/tests/src/index.ts
Due: none

chore: ignore e2e on demand
  src/scripts/ci/publish.ts
Due: none

fix(deps): update engines to v2.17.0-10.56b2ee6e2258e4124ed5fd931f8982027488692e
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 63aa13ef18d00f2b1d33e03cb6d6d7c204df25a7
  dev/bench/data.js
Due: none

docs(client-charts): clean up
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.17.0-11.cf44042a1a61ef0c0b94c79f4ac0997708992d3d
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

test: fix migration not found test
  src/packages/migrate/src/__tests__/MigrateResolve.test.ts
Due: none

fix(deps): update engines to v2.17.0-12.4ba8ebbaecb66f6edc2854111e7d73d2f1b16ebe
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

chore(deps): update definitelytyped
  package.json
  pnpm-lock.yaml
  src/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

chore(deps): update devdependencies (non-major)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

chore(deps): update react-prisma
  src/packages/react-prisma/package.json
Due: none

test(client): benchmark client compilation
  .github/workflows/benchmark.yml
  benchmarks/output.txt
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/benchmark.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/schema.prisma
  src/pnpm-lock.yaml
Due: client

rename
  .github/workflows/benchmark.yml
Due: none

clean up
  .github/workflows/benchmark.yml
  output.txt
  src/packages/client/jest.config.js
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/exhaustive-schema.bench.ts
Due: client

test
  .github/workflows/benchmark.yml
  benchmarks/output.txt
  output.txt
Due: none

relative
  .github/workflows/benchmark.yml
Due: none

test
  .github/workflows/benchmark.yml
Due: none

test: bench script
  .github/workflows/benchmark.yml
  package.json
  pnpm-lock.yaml
  scripts/bench.ts
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/exhaustive.bench.ts
  src/pnpm-lock.yaml
Due: client

fix: client tests
  .github/workflows/benchmark.yml
  src/packages/client/jest.config.js
Due: client

ignore ts errors
  src/packages/client/src/__tests__/integration/happy/huge-schema/builder.ts
  src/packages/client/src/__tests__/integration/happy/huge-schema/compile.ts
  src/packages/client/src/__tests__/integration/happy/huge-schema/compile_test.ts
  src/packages/client/src/__tests__/integration/happy/huge-schema/huge-schema.bench.ts
Due: client

Path conditions:
  get-platform: any of: src/packages/get-platform/
  fetch-engine: any of: src/packages/fetch-engine/
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
