Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

chore: add launch.json
  .gitignore
  .vscode/launch.json
Due: none

Add Codacy badge
  README.md
Due: none

chore: add code quality badge
  README.md
Due: none

Update README.md
  README.md
Due: none

chore(deps): update studio to v0.319.0
  src/packages/cli/package.json
Due: none

feat(migrate): new resolve
  src/packages/migrate/src/__tests__/MigrateResolve.test.ts
  src/packages/migrate/src/__tests__/__snapshots__/MigrateResolve.test.ts.snap
  src/packages/migrate/src/__tests__/fixtures/schema-only-postgresql/prisma/invalid-url.prisma
  src/packages/migrate/src/commands/MigrateResolve.ts
Due: none

fix(migrate): fix snapshot
  src/packages/migrate/src/__tests__/MigrateResolve.test.ts
  src/packages/migrate/src/__tests__/__snapshots__/MigrateResolve.test.ts.snap
Due: none

chore: remove all eval statements
  src/packages/.eslintrc.js
  src/packages/cli/scripts/install.js
  src/packages/cli/src/Generate.ts
  src/packages/cli/src/Studio.ts
  src/packages/cli/src/bin.ts
  src/packages/client/src/generation/generateClient.ts
  src/packages/client/src/generator.ts
  src/packages/engine-core/src/NodeEngine.ts
  src/packages/fetch-engine/src/download.ts
  src/packages/generator-helper/.eslintrc.js
  src/packages/migrate/.eslintignore
  src/packages/migrate/.eslintrc.js
  src/packages/migrate/src/Migrate.ts
  src/packages/migrate/src/bin.ts
  src/packages/migrate/src/generateInThread.ts
  src/packages/sdk/src/getGenerators.ts
  src/packages/sdk/src/resolveBinary.ts
Due: fetch-engine, client, engine-core, generator-helper, sdk

fix(migrate) snapshot
  src/packages/migrate/src/__tests__/Migrate.test.ts
Due: none

chore: fix eslint issues
  src/packages/.eslintrc.js
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/.eslintignore
  src/packages/migrate/.eslintrc.js
  src/packages/migrate/package.json
  src/packages/migrate/src/__tests__/__helpers__/captureStdout.ts
  src/packages/migrate/src/example-db-steps.ts
  src/packages/migrate/src/utils/getGithubIssueUrl.ts
  src/packages/migrate/src/utils/handlePanic.ts
  src/packages/sdk/package.json
  src/packages/tests/package.json
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

clean(migrate): --draft always returns a new migration
  src/packages/migrate/src/Migrate.ts
  src/packages/migrate/src/__tests__/__snapshots__/Migrate.test.ts.snap
  src/packages/migrate/src/commands/MigrateCommand.ts
Due: none

chore: reintroduce some evals
  src/packages/engine-core/src/NodeEngine.ts
Due: engine-core

chore: update coverage file
  src/packages/client/jest.config.js
Due: client

improvement(migrate): rename migrate commands
  src/packages/cli/src/bin.ts
  src/packages/migrate/src/__tests__/DbPush.test.ts
  src/packages/migrate/src/__tests__/MigrateDeploy.test.ts
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/__snapshots__/MigrateDeploy.test.ts.snap
  src/packages/migrate/src/__tests__/__snapshots__/MigrateDev.test.ts.snap
  src/packages/migrate/src/bin.ts
  src/packages/migrate/src/commands/DbCommand.ts
  src/packages/migrate/src/commands/DbDrop.ts
  src/packages/migrate/src/commands/DbPush.ts
  src/packages/migrate/src/commands/MigrateCommand.ts
  src/packages/migrate/src/commands/MigrateDeploy.ts
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/commands/MigrateReset.ts
  src/packages/migrate/src/commands/MigrateResolve.ts
  src/packages/migrate/src/index.ts
Due: none

chore: fix precommit hooks
  .huskyrc
  package.json
  pnpm-lock.yaml
  src/packages/.eslintrc.js
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/__helpers__/migrateDb.ts
  src/packages/client/src/utils/getTestClient.ts
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/generator-helper/pnpm-lock.yaml
  src/packages/get-platform/package.json
  src/packages/get-platform/pnpm-lock.yaml
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/packages/tests/package.json
  src/packages/tests/pnpm-lock.yaml
  src/pnpm-lock.yaml
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

chore(deps): update studio to v0.321.0
  src/packages/cli/package.json
Due: none

fix(deps): update dependency typescript to v4.1.2
  package.json
  pnpm-lock.yaml
Due: none

test: update snapshots
  src/packages/fetch-engine/src/__tests__/download.test.ts
Due: fetch-engine

fix: import order.
  src/packages/fetch-engine/src/download.ts
Due: fetch-engine

fix: don't throw if unknowTargets have custom binaries Fixes #4205
  src/packages/fetch-engine/src/download.ts
Due: fetch-engine

fix: incorrect plaform
  src/packages/fetch-engine/src/download.ts
Due: fetch-engine

tests: add tests
  src/packages/fetch-engine/src/__tests__/download.test.ts
Due: fetch-engine

tests: strip ansi
  src/packages/fetch-engine/package.json
  src/packages/fetch-engine/src/__tests__/download.test.ts
Due: fetch-engine

fix(migrate): better help & command suggestion
  src/packages/cli/src/CLI.ts
  src/packages/cli/src/Generate.ts
  src/packages/cli/src/Introspect.ts
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/__snapshots__/MigrateDev.test.ts.snap
  src/packages/migrate/src/commands/DbPush.ts
  src/packages/migrate/src/commands/MigrateCommand.ts
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/commands/MigrateReset.ts
  src/packages/migrate/src/commands/MigrateResolve.ts
  src/packages/migrate/src/utils/handleEvaluateDataloss.ts
Due: none

fix: don't throw if unknowTargets have custom binaries (#4312)
  src/packages/fetch-engine/package.json
  src/packages/fetch-engine/src/__tests__/download.test.ts
  src/packages/fetch-engine/src/download.ts
Due: fetch-engine

fix(deps): update engines to v2.12.0-15.252100036955d5c344dd4269d46f7755bef82e77
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

chore(deps): update studio to v0.322.0
  src/packages/cli/package.json
Due: none

chore: add linting
  src/packages/generator-helper/package.json
Due: generator-helper

fix: bump engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/packages/tests/src/__tests__/integration/postgresql/__snapshots__/introspection.test.ts.snap
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

chore: update snapshots
  src/packages/cli/src/__tests__/__snapshots__/doctor.test.ts.snap
  src/packages/cli/src/__tests__/__snapshots__/introspect.test.ts.snap
  src/packages/cli/src/__tests__/doctor.test.ts
  src/packages/cli/src/__tests__/fixtures/example-project/prisma/schema.prisma
  src/packages/cli/src/__tests__/introspect.test.ts
Due: none

fix: bump engines (#4336)
  src/packages/cli/package.json
  src/packages/cli/src/__tests__/__snapshots__/doctor.test.ts.snap
  src/packages/cli/src/__tests__/__snapshots__/introspect.test.ts.snap
  src/packages/cli/src/__tests__/doctor.test.ts
  src/packages/cli/src/__tests__/fixtures/example-project/prisma/schema.prisma
  src/packages/cli/src/__tests__/introspect.test.ts
  src/packages/client/package.json
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/packages/tests/src/__tests__/integration/postgresql/__snapshots__/introspection.test.ts.snap
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk
