Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

Address final review feedback
  packages/client/tests/functional/logging/tests.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
Due: client, engine-core

feat: DataProxy query logs
  packages/client/package.json
  packages/client/tests/functional/_utils/stopMiniProxyQueryEngine.ts
  packages/client/tests/functional/logging/tests.ts
  packages/client/tests/functional/tracing/tests.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  pnpm-lock.yaml
Due: client, engine-core

fix: read header lower-case (#17694)
  packages/engine-core/src/__tests__/errors.test.ts
  packages/engine-core/src/data-proxy/errors/DataProxyAPIError.ts
Due: engine-core

chore(deps): update engines to 4.10.0-68.a4e92f71055e34d64620e5fb5aff3bc0276b31ad (#17698)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore: increase timeout for vitess for relationMode tests + rename `.toThrowError(`
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_1-to-1.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_1-to-n.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_m-to-n.ts
Due: client

chore: rename toThrowError() to toThrow() everywhere
  packages/client/src/__tests__/integration/errors/corruption/test.ts
  packages/client/tests/functional/composites/list/createMany.ts
  packages/client/tests/functional/composites/list/updateMany.ts
  packages/client/tests/functional/composites/object/createMany.ts
  packages/client/tests/functional/composites/object/updateMany.ts
  packages/client/tests/functional/fluent-api-null/tests.ts
  packages/client/tests/functional/handle-int-overflow/tests.ts
  packages/client/tests/functional/issues/13405-mongo-raw-itx/tests.ts
  packages/client/tests/functional/issues/13766/at-unique/tests.ts
  packages/client/tests/functional/issues/13766/primary-key/tests.ts
  packages/client/tests/functional/issues/9007/tests.ts
  packages/client/tests/functional/issues/9372/tests.ts
  packages/client/tests/functional/methods/findFirstOrThrow/tests.ts
  packages/client/tests/functional/methods/findUniqueOrThrow/tests.ts
  packages/client/tests/functional/methods/upsert/native-atomic/tests.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_1-to-n.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_m-to-n-MongoDB.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_m-to-n.ts
  packages/client/tests/functional/relationMode-m-n-mongodb-failing-with-at-map/tests_m-to-n-MongoDB.ts
  packages/migrate/src/__tests__/DbCommand.test.ts
  packages/migrate/src/__tests__/MigrateCommand.test.ts
Due: client

chore(deps): update engines to 4.10.0-69.dafedb7ed8ba3a5e8ff293b4950d29c3043729c9
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore: increase timeout for vitess for relationMode tests + rename `toThrowError(` (#17704)
  packages/client/src/__tests__/integration/errors/corruption/test.ts
  packages/client/tests/functional/composites/list/createMany.ts
  packages/client/tests/functional/composites/list/updateMany.ts
  packages/client/tests/functional/composites/object/createMany.ts
  packages/client/tests/functional/composites/object/updateMany.ts
  packages/client/tests/functional/fluent-api-null/tests.ts
  packages/client/tests/functional/handle-int-overflow/tests.ts
  packages/client/tests/functional/issues/13405-mongo-raw-itx/tests.ts
  packages/client/tests/functional/issues/13766/at-unique/tests.ts
  packages/client/tests/functional/issues/13766/primary-key/tests.ts
  packages/client/tests/functional/issues/9007/tests.ts
  packages/client/tests/functional/issues/9372/tests.ts
  packages/client/tests/functional/methods/findFirstOrThrow/tests.ts
  packages/client/tests/functional/methods/findUniqueOrThrow/tests.ts
  packages/client/tests/functional/methods/upsert/native-atomic/tests.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_1-to-1.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_1-to-n.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_m-to-n-MongoDB.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_m-to-n.ts
  packages/client/tests/functional/relationMode-m-n-mongodb-failing-with-at-map/tests_m-to-n-MongoDB.ts
  packages/migrate/src/__tests__/DbCommand.test.ts
  packages/migrate/src/__tests__/MigrateCommand.test.ts
Due: client

chore(deps): update engines to 4.10.0-70.integration-musl-arm-b8c9e5b20cd0f9e19d03fc3cf6964ba078e4352e
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

test(client): unskip vitess test on buildkite
  .buildkite/publish/docker-compose.yml
  .buildkite/test/docker-compose.14.yml
Due: none

chore(deps): update engines to 4.10.0-71.eac182fd33c63959a61946df56831625a9a39627
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Fix the test failing on Buildkite
  packages/internals/src/__tests__/getGenerators/__snapshots__/getGenerators.test.ts.snap
  packages/internals/src/__tests__/getGenerators/getGenerators.test.ts
Due: none

Add test for correct runtime
  packages/client/tests/functional/_utils/defineMatrix.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/jest.config.js
  packages/client/tests/functional/runtime-import/_matrix.ts
  packages/client/tests/functional/runtime-import/prisma/_schema.ts
  packages/client/tests/functional/runtime-import/tests.ts
Due: client

feat(client): split runtime by the engine and minify it (#17156)
  packages/client/helpers/build.ts
  packages/client/src/__tests__/integration/happy/aggregations/test.ts
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/test.ts
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/test.ts
  packages/client/src/__tests__/typeDeclaration.test.ts
  packages/client/src/generation/TSClient/common.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/generator.ts
  packages/client/src/generation/utils/buildDirname.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/CallSite.ts
  packages/client/src/utils/getTestClient.ts
  packages/client/tests/functional/_utils/defineMatrix.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/jest.config.js
  packages/client/tests/functional/methods/count/tests.ts
  packages/client/tests/functional/runtime-import/_matrix.ts
  packages/client/tests/functional/runtime-import/prisma/_schema.ts
  packages/client/tests/functional/runtime-import/tests.ts
  reproductions/basic-sqlite/package.json
Due: client

feat(cli): add --generator option to generate cmd (#16452)
  packages/cli/src/Generate.ts
  packages/cli/src/__tests__/commands/Generate.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Generate.test.ts.snap
  packages/cli/src/__tests__/fixtures/example-project/prisma/multiple-generator.prisma
  packages/internals/src/__tests__/getGenerators/getGenerators.test.ts
  packages/internals/src/__tests__/getGenerators/multiple-generators-schema.prisma
  packages/internals/src/get-generators/getGenerators.ts
Due: none

chore(deps): update engines to 4.10.0-72.37fc8e0d03fab67e1bb7295b8ce6061c49db1058
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-73.e9e1a776956271669dc13ea0afbe5d6804413186
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-74.9bde8bbe3bc34fa749e3cf03285929cd9c4e078a
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-74.9bde8bbe3bc34fa749e3cf03285929cd9c4e078a (#17728)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

feat: add linux-musl-arm64-* to supported platforms
  packages/fetch-engine/src/__tests__/download.test.ts
  packages/get-platform/src/getPlatform.ts
  packages/get-platform/src/platforms.ts
Due: none

fix: use FIXED_ENGINES_HASH in download test
  packages/fetch-engine/src/__tests__/download.test.ts
Due: none
