Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

seems we have to await after all for this to work :/
  src/packages/client/src/__tests__/integration/happy/exit-hook/test.ts
Due: client

Add test to ensure .gitignore is present
  src/packages/cli/src/Init.ts
  src/packages/cli/src/__tests__/init.test.ts
  src/pnpm-lock.yaml
Due: none

Remove all pnpm-lock diff
  src/pnpm-lock.yaml
Due: none

re-add $disconnect
  src/packages/client/src/__tests__/integration/happy/exit-hook/test.ts
Due: client

test(exit-hook): SIGINT should stop running Engine so test should not have to $disconnect manually
  src/packages/client/src/__tests__/integration/happy/exit-hook/test.ts
Due: client

ci: add new kind labels to stale action exclusion list
  .github/workflows/label-stale-issues.yml
Due: none

ci: add new kind labels to stale action exclusion list (#8227)
  .github/workflows/label-stale-issues.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 64752063971ae6f3ab4a928092b3b732473a3101
  dev/bench/data.js
Due: none

Add snapshot test to verify .gitignore
  src/packages/cli/src/Init.ts
  src/packages/cli/src/__tests__/__snapshots__/init.test.ts.snap
  src/packages/cli/src/__tests__/init.test.ts
Due: none

Re-remove formatting diff
  src/packages/cli/src/Init.ts
Due: none

fix(init): Better error message on existing env var in .env (#7719)
  src/packages/cli/src/Init.ts
  src/packages/cli/src/__tests__/__snapshots__/init.test.ts.snap
Due: none

fix(init): support SqlServer and MongoDB Preview with flag (#8195)
  src/packages/cli/src/Init.ts
  src/packages/cli/src/__tests__/__snapshots__/init.test.ts.snap
  src/packages/cli/src/__tests__/init.test.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c0c04dda14d6bd36e34f71e5853bafff8d24bcae
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 6986e7aba2796fa751e95f17cb57aaa489d85c5f
  dev/bench/data.js
Due: none

tests(exit-hook): Make exit-hook test a bit clearer (#8213)
  src/packages/client/src/__tests__/integration/happy/exit-hook/test.ts
  src/packages/engine-core/src/LibraryEngine.ts
Due: client, engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7407495dcf7dbe90c4b6e519d6dc5f1c02b40401
  dev/bench/data.js
Due: none

fix previewFeature flag to mongoDb
  src/packages/cli/src/Init.ts
Due: none

update no model found example if MongoDB provider
  src/packages/sdk/src/__tests__/getGenerators/getGenerators.test.ts
  src/packages/sdk/src/__tests__/getGenerators/missing-models-mongodb-schema.prisma
  src/packages/sdk/src/__tests__/getGenerators/missing-models-sqlite-schema.prisma
  src/packages/sdk/src/getGenerators.ts
  src/packages/sdk/src/utils/missingGeneratorMessage.ts
Due: sdk

Update src/packages/sdk/src/getGenerators.ts
  src/packages/sdk/src/getGenerators.ts
Due: sdk

fix(init): mongoDb fixes for prisma init (#8233)
  src/packages/cli/src/Init.ts
  src/packages/sdk/src/__tests__/getGenerators/getGenerators.test.ts
  src/packages/sdk/src/__tests__/getGenerators/missing-models-mongodb-schema.prisma
  src/packages/sdk/src/__tests__/getGenerators/missing-models-sqlite-schema.prisma
  src/packages/sdk/src/getGenerators.ts
  src/packages/sdk/src/utils/missingGeneratorMessage.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 4345a7a378948acc321c0a751607f40f44156114
  dev/bench/data.js
Due: none

chore(client): provide first lrt definition
  src/packages/client/src/generation/TSClient/PrismaClient.ts
Due: client

chore: update locks
  src/pnpm-lock.yaml
Due: none

fix(client): type gen line breaks for tx
  src/packages/client/src/generation/TSClient/PrismaClient.ts
Due: client

ci: prepare for major bump
  src/scripts/ci/publish.ts
Due: none

fix(deps): update engines to 2.28.0-1.cf7c128233ec6c3ae31012228f18d4e43b6140c5
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, engine-core, sdk

fix(deps): update engines to v2.28.0-1.cf7c128233ec6c3ae31012228f18d4e43b6140c5
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b16f5e4382cb8d2035a443dd7f72ca8da974e5d3
  dev/bench/data.js
Due: none

fix(client): batching for regular tx
  src/packages/client/src/runtime/RequestHandler.ts
  src/packages/client/src/runtime/Scheduler.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/engine-core/src/BinaryEngine.ts
Due: client, engine-core

chore(deps): update devdependencies (non-major)
  package.json
  pnpm-lock.yaml
  src/package.json
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/generator-helper/package.json
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

chore(deps): update react-prisma
  src/packages/react-prisma/package.json
Due: none
