Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

fix(migrate,sdk): after merge fixes
  src/packages/migrate/src/__tests__/DbDrop.test.ts
  src/packages/migrate/src/__tests__/Migrate.CI.test.ts
  src/packages/migrate/src/__tests__/handlePanic.test.ts
  src/packages/migrate/src/commands/DbDrop.ts
  src/packages/migrate/src/utils/ensureDatabaseExists.ts
  src/packages/sdk/src/migrateEngineCommands.ts
Due: sdk

Update pnpm lock
  src/pnpm-lock.yaml
Due: none

test(cli): Potentially fix all tests except MSSQL
  src/packages/cli/package.json
  src/packages/cli/src/__tests__/__helpers__/integrationTest.ts
  src/pnpm-lock.yaml
Due: none

test(client): Add mssql as a dependency
  src/packages/client/package.json
  src/pnpm-lock.yaml
Due: client

fix: nextjs custom output
  src/packages/client/src/__tests__/integration/errors/missing-binary-native/test.ts
  src/packages/client/src/__tests__/integration/errors/missing-binary/test.ts
  src/packages/client/src/generation/TSClient.ts
  src/packages/engine-core/src/NodeEngine.ts
Due: client, engine-core

test(client): Add mssql dependency
  src/pnpm-lock.yaml
Due: none

no
  src/packages/client/src/generation/TSClient.ts
Due: client

test(client): Fix client tests
  src/packages/client/package.json
  src/pnpm-lock.yaml
Due: client

fix(deps): update dependency archiver to v5
  src/packages/sdk/package.json
Due: sdk

reslove relative path
  src/packages/client/src/generation/TSClient.ts
Due: client

test(cli): Fix MSSQL connection during tests
  src/packages/cli/src/__tests__/__helpers__/integrationTest.ts
Due: none

chore(deps): update studio to v0.302.0
  src/packages/cli/package.json
Due: none

chore: integrate engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/__helpers__/migrateDb.ts
  src/packages/client/src/__tests__/integration/errors/wrong-native-types-mysql/test.ts
  src/packages/client/src/__tests__/integration/errors/wrong-native-types-postgres/test.ts
  src/packages/client/src/__tests__/integration/happy/native-types-mysql/test.ts
  src/packages/client/src/__tests__/integration/happy/native-types-postgres/test.ts
  src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/runtime/dmmf.ts
  src/packages/client/src/runtime/externalToInternalDmmf.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/src/__tests__/generatorHandler.test.ts
  src/packages/generator-helper/src/dmmf.ts
  src/packages/migrate/src/Migrate.ts
  src/packages/migrate/src/MigrateEngine.ts
  src/packages/sdk/package.json
  src/packages/sdk/src/__tests__/__snapshots__/engineCommands.test.ts.snap
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, generator-helper, sdk

chore: go back to teardown
  src/packages/client/src/__tests__/integration/__helpers__/migrateDb.ts
  src/packages/client/src/__tests__/integration/errors/wrong-native-types-mysql/test.ts
  src/packages/client/src/__tests__/integration/errors/wrong-native-types-postgres/test.ts
  src/packages/client/src/__tests__/integration/happy/native-types-mysql/test.ts
  src/packages/client/src/__tests__/integration/happy/native-types-postgres/test.ts
Due: client

chore: fix types
  src/packages/client/src/generation/utils.ts
Due: client

chore: remove download-all [skip ci]
  src/package.json
Due: none

fix(deps): update dependencies (non-major) to v2.10.0-ops-change-publish-839167265cb5911733a89a0f23cc8ff4b15741d3
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/sdk/package.json
Due: client, engine-core, sdk

chore: increase timeout for others
  .github/workflows/test.yml
Due: none

fix(cli): ensureBinaries for migrate
  src/packages/cli/src/bin.ts
Due: none

fix(cli): ensureBinaries for db
  src/packages/cli/src/bin.ts
Due: none

chore: disable sqlserver in migrate
  src/packages/migrate/src/utils/ensureDatabaseExists.ts
Due: none

chore: remove transaction gate
  src/packages/client/src/__tests__/integration/errors/raw-transaction/test.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

chore: fix install hook
  src/packages/cli/scripts/install-entry.js
Due: none

chore: update deps
  src/packages/cli/package.json
  src/pnpm-lock.yaml
Due: none

test(cli): Add MSSQL integration tests
  src/packages/cli/src/__tests__/integration/mssql/__database.ts
  src/packages/cli/src/__tests__/integration/mssql/__scenarios.ts
Due: none

chore: update renovate config [skip ci]
  .github/renovate.json
Due: none

Path conditions:
  get-platform: any of: src/packages/get-platform/
  fetch-engine: any of: src/packages/fetch-engine/
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
