Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

chore: removed "IntrospectionEngine" class
  packages/internals/src/IntrospectionEngine.ts
  packages/internals/src/__tests__/introspection/blog.db
  packages/internals/src/__tests__/introspection/introspection.test.ts
  packages/internals/src/index.ts
Due: none

Revert "chore: removed "IntrospectionEngine" class"
  packages/internals/src/IntrospectionEngine.ts
  packages/internals/src/__tests__/introspection/blog.db
  packages/internals/src/__tests__/introspection/introspection.test.ts
  packages/internals/src/index.ts
Due: none

chore: removed "IntrospectionEngine" class
  packages/internals/src/IntrospectionEngine.ts
  packages/internals/src/__tests__/introspection/introspection.test.ts
  packages/internals/src/index.ts
Due: none

fix test
  packages/migrate/src/__tests__/DbDrop.test.ts
Due: none

feat: use prisma@4.8.1 + logs + process.env.VERCEL
  packages/get-platform/src/getPlatform.ts
Due: none

rename ecosystem to e2e
  packages/client/package.json
  packages/client/tests/e2e/_example/_steps.ts
  packages/client/tests/e2e/_example/package.json
  packages/client/tests/e2e/_example/prisma/schema.prisma
  packages/client/tests/e2e/_example/src/index.ts
  packages/client/tests/e2e/_example/tests/main.ts
  packages/client/tests/e2e/_utils/docker-compose-common.yml
  packages/client/tests/e2e/_utils/docker-compose.yml
  packages/client/tests/e2e/_utils/executeSteps.ts
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/_utils/standard.dockerfile
  packages/client/tests/e2e/jest.config.js
Due: client

rename utils folder
  packages/client/helpers/functional-test/run-tests.ts
  packages/client/tests/_utils/setupQueryEngine.ts
  packages/client/tests/memory/_utils/runAllMemoryTests.ts
Due: client

improve cli for starting tests
  helpers/compile/build.ts
  packages/client/tests/e2e/_utils/run.ts
Due: client

add hook for buildkite
  .buildkite/test/run.sh
Due: none

remove comment
  packages/client/tests/e2e/_utils/run.ts
Due: client

simplify skip build feature
  helpers/compile/build.ts
  packages/client/tests/e2e/_utils/run.ts
Due: client

fix renamed path
  packages/client/tests/functional/_utils/globalSetup.js
Due: client

use github action instead
  .buildkite/test/run.sh
  .github/workflows/test.yml
Due: none

add setup phase
  .github/workflows/test.yml
Due: none

make e2e tests verbose
  .github/workflows/test.yml
Due: none

attempt rename _example to example
  packages/client/tests/e2e/_utils/docker-compose-common.yml
  packages/client/tests/e2e/_utils/docker-compose.yml
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/example/_steps.ts
  packages/client/tests/e2e/example/package.json
  packages/client/tests/e2e/example/prisma/schema.prisma
  packages/client/tests/e2e/example/src/index.ts
  packages/client/tests/e2e/example/tests/main.ts
Due: client

display how many tests passed
  packages/client/tests/e2e/_utils/run.ts
Due: client

remove --build in favor of --skipBuild
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/example/_steps.ts
Due: client

add a way to cleanup files that cannot be removed on linux
  packages/client/tests/e2e/_utils/docker-compose-clean.yml
  packages/client/tests/e2e/_utils/docker-compose-common.yml
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/_utils/standard.dockerfile
Due: client

chore(tests): e2e improvements (#17310)
  .buildkite/test/run.sh
  .github/workflows/test.yml
  helpers/compile/build.ts
  packages/client/helpers/functional-test/run-tests.ts
  packages/client/package.json
  packages/client/tests/_utils/setupQueryEngine.ts
  packages/client/tests/e2e/_utils/docker-compose-clean.yml
  packages/client/tests/e2e/_utils/docker-compose-common.yml
  packages/client/tests/e2e/_utils/docker-compose.yml
  packages/client/tests/e2e/_utils/executeSteps.ts
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/_utils/standard.dockerfile
  packages/client/tests/e2e/example/_steps.ts
  packages/client/tests/e2e/example/package.json
  packages/client/tests/e2e/example/prisma/schema.prisma
  packages/client/tests/e2e/example/src/index.ts
  packages/client/tests/e2e/example/tests/main.ts
  packages/client/tests/e2e/jest.config.js
  packages/client/tests/ecosystem/_utils/run.ts
  packages/client/tests/ecosystem/_utils/standard.cmd.sh
  packages/client/tests/functional/_utils/globalSetup.js
  packages/client/tests/memory/_utils/runAllMemoryTests.ts
Due: client

chore: add inline documentation to `generator.config.output`
  packages/generator-helper/src/types.ts
Due: generator-helper

add regression test for tsc crash
  packages/client/src/runtime/core/types/Payload.ts
  packages/client/tests/e2e/16600-tsc-crash-extensions/_steps.ts
  packages/client/tests/e2e/16600-tsc-crash-extensions/package.json
  packages/client/tests/e2e/16600-tsc-crash-extensions/prisma/schema.prisma
  packages/client/tests/e2e/16600-tsc-crash-extensions/src/index.ts
  packages/client/tests/e2e/16600-tsc-crash-extensions/tests/main.ts
  packages/client/tests/e2e/16600-tsc-crash-extensions/tsconfig.json
  packages/client/tests/e2e/_utils/docker-compose.yml
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/example/tsconfig.json
  packages/client/tests/e2e/tsconfig.base.json
Due: client

create sub-folder for extension publishing
  packages/client/tests/e2e/_utils/docker-compose.yml
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/community/extensions/_steps.ts
  packages/client/tests/e2e/community/extensions/package.json
  packages/client/tests/e2e/community/extensions/prisma/schema.prisma
  packages/client/tests/e2e/community/extensions/src/index.ts
  packages/client/tests/e2e/community/extensions/tsconfig.json
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/_steps.ts
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/package.json
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/prisma/schema.prisma
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/src/index.ts
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/tests/main.ts
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/tsconfig.json
  packages/client/tests/e2e/tsconfig.base.json
Due: client

add test fro extension publishing + various cleanups
  packages/client/tests/e2e/_utils/docker-compose.yml
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/community/extensions/package.json
  packages/client/tests/e2e/community/extensions/src/index.ts
  packages/client/tests/e2e/community/extensions/tsconfig.json
  packages/client/tests/e2e/community/publish-extensions/_steps.ts
  packages/client/tests/e2e/community/publish-extensions/package.json
  packages/client/tests/e2e/community/publish-extensions/prisma/schema.prisma
  packages/client/tests/e2e/community/publish-extensions/readme.md
  packages/client/tests/e2e/community/publish-extensions/simple-ext/package.json
  packages/client/tests/e2e/community/publish-extensions/simple-ext/src/index.ts
  packages/client/tests/e2e/community/publish-extensions/simple-ext/tsconfig.json
  packages/client/tests/e2e/community/publish-extensions/src/index.ts
  packages/client/tests/e2e/community/publish-extensions/tsconfig.json
  packages/client/tests/e2e/example/_steps.ts
  packages/client/tests/e2e/example/prisma/schema.prisma
  packages/client/tests/e2e/example/readme.md
  packages/client/tests/e2e/example/tests/main.ts
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/_steps.ts
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/package.json
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/readme.md
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/tsconfig.json
  packages/client/tests/e2e/tsconfig.base.json
Due: client

exclude e2e from dep checks
  helpers/compile/build.ts
Due: none

remove non needed payload kind
  packages/client/src/generation/TSClient/Model.ts
  packages/client/src/runtime/core/types/Payload.ts
Due: client

add comment
  packages/client/src/runtime/core/types/Payload.ts
Due: client

remove payload kind from tests
  packages/client/tests/functional/extensions/enabled/model.ts
Due: client

feat: dumb down getSSLVersion to match prisma@4.8.1 + logs
  packages/get-platform/src/getPlatform.ts
Due: none

fix(get-platform): sed unknown option to "s"
  packages/get-platform/src/getPlatform.ts
Due: none

refactor: Select and Include type generation (#17239)
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/Input.ts
  packages/client/src/generation/TSClient/Model.ts
  packages/client/src/generation/TSClient/PrismaClient.ts
  packages/client/src/generation/TSClient/SelectInclude.ts
  packages/client/src/generation/ts-builders/AnyDeclarationBuilder.ts
  packages/client/src/generation/ts-builders/AnyTypeBuilder.ts
  packages/client/src/generation/ts-builders/ArraySpread.ts
  packages/client/src/generation/ts-builders/ArrayType.ts
  packages/client/src/generation/ts-builders/Export.ts
  packages/client/src/generation/ts-builders/FunctionType.ts
  packages/client/src/generation/ts-builders/GenericParameter.ts
  packages/client/src/generation/ts-builders/KeyType.test.ts
  packages/client/src/generation/ts-builders/KeyType.ts
  packages/client/src/generation/ts-builders/Method.ts
  packages/client/src/generation/ts-builders/NamedType.ts
  packages/client/src/generation/ts-builders/ObjectType.test.ts
  packages/client/src/generation/ts-builders/ObjectType.ts
  packages/client/src/generation/ts-builders/Parameter.ts
  packages/client/src/generation/ts-builders/PrimitiveType.ts
  packages/client/src/generation/ts-builders/Property.ts
  packages/client/src/generation/ts-builders/StringLiteralType.ts
  packages/client/src/generation/ts-builders/TypeBuilder.ts
  packages/client/src/generation/ts-builders/TypeDeclaration.test.ts
  packages/client/src/generation/ts-builders/TypeDeclaration.ts
  packages/client/src/generation/ts-builders/UnionType.ts
  packages/client/src/generation/ts-builders/index.ts
  packages/client/src/generation/ts-builders/stringify.ts
Due: client

refactor: Remove `prefixFilter` option from `InputField`
  packages/client/src/generation/TSClient/Args.ts
  packages/client/src/generation/TSClient/Input.ts
  packages/client/src/generation/TSClient/Model.ts
Due: client

fix(get-platform): sed unknown option to "s" (#17322)
  packages/get-platform/src/getPlatform.ts
Due: none

feat(get-platform): raise an error when detecting Linux Alpine on arch different than amd64
  packages/get-platform/src/getPlatform.ts
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
