Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore(deps): update engines to 3.10.0-39.d4aee6d178bf83d3ca5042ca89ae78b2cee87da4 (#11896)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f59464ff350cfd6772a463c35845bf302af3a71c
  dev/bench/data.js
Due: none

update snapshot
  packages/migrate/src/__tests__/DbPull.test.ts
Due: none

feat(db pull): --composite-type-depth default to -1
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
  packages/migrate/src/commands/DbPull.ts
  packages/sdk/src/IntrospectionEngine.ts
Due: sdk

Update packages/migrate/src/commands/DbPull.ts
  packages/migrate/src/commands/DbPull.ts
Due: none

feat(db pull): --composite-type-depth default to -1 (#11902)
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
  packages/migrate/src/commands/DbPull.ts
  packages/sdk/src/IntrospectionEngine.ts
Due: sdk

ci: fix mongo db seed with --drop (#11897)
  .buildkite/publish/docker-compose.yml
  .buildkite/test/docker-compose.14.yml
  .github/workflows/test.yml
  docker/docker-compose.yml
  docker/mongo-seed/Dockerfile
  docker/mongodb_migrate_seed/Dockerfile
  docker/mongodb_migrate_seed/init.json
  docker/mongodb_replica/Dockerfile
Due: none

test(client): test mongodb ids String[] @db.ObjectId (#11886)
  packages/client/src/__tests__/integration/happy/blog-env-mongo/schema.prisma
  packages/client/src/__tests__/integration/happy/blog-env-mongo/test.ts
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/schema.prisma
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b847818c6498e257e07a43873ca2b1db0b6e8b57
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e5dc7629f567f1c6d2ccd2098aa7261326157ba5
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e1d1d0ce5ab3078228053297f33a01e642d186d1
  dev/bench/data.js
Due: none

chore(introspection): implement codes 102/103 (#11872)
  packages/migrate/src/commands/DbPull.ts
  packages/sdk/src/IntrospectionEngine.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c5a66a9f5f602290e88401fad5062f23940c2e87
  dev/bench/data.js
Due: none

snapshots and cleaner mongodb reintrospection error test
  packages/migrate/src/__tests__/DbPull.test.ts
Due: none

fix(client): use field type data
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/schema.prisma
  packages/client/src/generation/TSClient/Model.ts
  packages/generator-helper/src/dmmf.ts
Due: client, generator-helper

Apply suggestions from code review
  packages/migrate/src/__tests__/DbPull.test.ts
Due: none

fix: serialize Windows paths in NFT annotations properly (#9371)
  packages/client/src/generation/utils/buildNFTAnnotations.ts
Due: client

test(client): update snaps
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for fefd6ebb71aded456604174aebb59e9858927823
  dev/bench/data.js
Due: none

test(client): rename fields
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/schema.prisma
Due: client

fix: Remove upcasting with default generic values on clients (#10157)
  packages/client/src/__tests__/types/chaining/index.d.ts
  packages/client/src/__tests__/types/chaining/index.test-d.ts
  packages/client/src/__tests__/types/chaining/schema.prisma
  packages/client/src/__tests__/types/chaining/test.ts
  packages/client/src/__tests__/types/chaining/tsconfig.json
  packages/client/src/generation/TSClient/Count.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for eeb3e6da39234aee8cf65ad8039de9007ee80366
  dev/bench/data.js
Due: none

chore: bump engines
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

test(client): allow deeper locations for tests
  packages/client/src/utils/getTestClient.ts
  packages/sdk/src/cli/getSchema.ts
  pnpm-lock.yaml
Due: client, sdk

fix(client): disallow composite in includes
  packages/client/src/generation/TSClient/Model.ts
  packages/client/src/runtime/query.ts
Due: client

chore(deps): update engines to 3.10.0-42.050ba2cf976b451529a8fd53c55b44798a94bc5a
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

fix(client): include composite in default result
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/Model.ts
Due: client

test(client): setup test bed for create
  packages/client/src/__tests__/integration/happy/composites-mongo/create/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/create/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/create/required.ts
Due: client

chore(deps): update engines to 3.10.0-42.050ba2cf976b451529a8fd53c55b44798a94bc5a (#11914)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 799a18ac1145a15e44d5d0964353325b46ccab27
  dev/bench/data.js
Due: none

test(client): create > required
  packages/client/src/__tests__/integration/happy/composites-mongo/create/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/schema.prisma
Due: client
