Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

test(client): fix finally handler
  packages/client/src/__tests__/integration/happy/deferreds/test.ts
Due: client

test(client): rename folder
  packages/client/src/__tests__/integration/happy/prisma-promises/.gitignore
  packages/client/src/__tests__/integration/happy/prisma-promises/dev.db
  packages/client/src/__tests__/integration/happy/prisma-promises/schema.prisma
  packages/client/src/__tests__/integration/happy/prisma-promises/test.ts
Due: client

test(client): add itx raw rollback
  packages/client/src/__tests__/integration/happy/interactive-transactions/test.ts
Due: client

chore(client): remove micro optimization
  packages/client/src/runtime/getPrismaClient.ts
Due: client

test(client): test $queryRaw for rollback
  packages/client/src/__tests__/integration/happy/interactive-transactions/test.ts
Due: client

fix(client): 2.29.1 fixes (#8720)
  packages/client/src/__tests__/integration/happy/interactive-transactions/test.ts
  packages/client/src/__tests__/integration/happy/prisma-promises/.gitignore
  packages/client/src/__tests__/integration/happy/prisma-promises/dev.db
  packages/client/src/__tests__/integration/happy/prisma-promises/schema.prisma
  packages/client/src/__tests__/integration/happy/prisma-promises/test.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/debug/package.json
Due: client, debug

fix: publish script for patch-dev
  scripts/ci/publish.ts
Due: none

chore(deps): update engines to 2.30.0-6.6a90cd8ab569d4e90b1df610be610094bafc1fdf
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 2.30.0-6.6a90cd8ab569d4e90b1df610be610094bafc1fdf (#8725)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 9cea796e4f73265e2dfe377bf78e26a37433a524
  dev/bench/data.js
Due: none

fix(client)!: safe and unsafe raw queries BREAKING CHANGE
  packages/client/src/__tests__/integration/errors/executeRaw-alter-postgres/test.ts
  packages/client/src/__tests__/integration/happy/blog-env-mssql/test.ts
  packages/client/src/__tests__/integration/happy/blog-env-postgresql/test.ts
  packages/client/src/__tests__/types/$transaction/test.ts
  packages/client/src/__tests__/types/blog/test.ts
  packages/client/src/__tests__/types/deprecation/test.ts
  packages/client/src/generation/TSClient/PrismaClient.ts
Due: client

fix(studio): add pnpm override for sdk version to 2.29.0
  package.json
  pnpm-lock.yaml
Due: none

chore: add GitHub codespaces config [skip ci]
  .buildkite/publish/buildkite-entry.sh
  .buildkite/test/buildkite-entry.sh
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 2c3219ce54cca7330ab3e5eda29d0e16f02e8e43
  dev/bench/data.js
Due: none

chore: Ccodespaces add ts-node
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

chore: remove encrypt=DANGER_PLAINTEXT
  .buildkite/publish/docker-compose.yml
  .buildkite/test/docker-compose.14.yml
  .github/workflows/test.yml
  docker/docker-compose.yml
  packages/integration-tests/src/__tests__/integration/mssql/__database.ts
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
  packages/migrate/src/__tests__/fixtures/schema-only-sqlserver/prisma/invalid-url.prisma
Due: none

feat(client): add unsafe raw
  packages/client/src/runtime/getPrismaClient.ts
Due: client

refactor(client): improve types for raw
  packages/client/src/runtime/getPrismaClient.ts
Due: client

fix(client): prepared statements with alter
  packages/client/src/__tests__/integration/errors/executeRaw-alter-postgres/test.ts
  packages/client/src/__tests__/types/blog/test.ts
  packages/client/src/runtime/getPrismaClient.ts
Due: client

test(client): update snaps
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

chore(deps): update engines to 2.30.0-8.23063be2ac07bdf01cb26cb4f6762bd3a65dd8a9
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

Update packages/migrate/src/__tests__/fixtures/schema-only-sqlserver/prisma/invalid-url.prisma
  packages/migrate/src/__tests__/fixtures/schema-only-sqlserver/prisma/invalid-url.prisma
Due: none

chore(deps): update engines to 2.30.0-8.23063be2ac07bdf01cb26cb4f6762bd3a65dd8a9 (#8757)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a6b914c26dd3d1508dab80c2986b972d059fcd4a
  dev/bench/data.js
Due: none

chore(cov): update carryforward flags
  .github/codecov.yml
Due: none

chore(cov): update carryforward flags (#8762)
  .github/codecov.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 879367dd4bd1749051dbffc97b93db65c67ab87a
  dev/bench/data.js
Due: none

chore(cli): add deprecation message for introspect command
  CONTRIBUTING.md
  packages/cli/src/CLI.ts
  packages/cli/src/bin.ts
  packages/migrate/src/commands/DbCommand.ts
Due: none

chore(cli): move commands into their own directory
  packages/cli/.gitignore
  packages/cli/src/__tests__/commands/Doctor.test.ts
  packages/cli/src/__tests__/commands/Format.test.ts
  packages/cli/src/__tests__/commands/Generate.test.ts
  packages/cli/src/__tests__/commands/Init.test.ts
  packages/cli/src/__tests__/commands/Studio.test.ts
  packages/cli/src/__tests__/commands/Version.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Doctor.test.ts.snap
  packages/cli/src/__tests__/commands/__snapshots__/Format.test.ts.snap
  packages/cli/src/__tests__/commands/__snapshots__/Generate.test.ts.snap
  packages/cli/src/__tests__/commands/__snapshots__/Init.test.ts.snap
  packages/cli/src/__tests__/commands/__snapshots__/Studio.test.ts.snap
  packages/cli/src/__tests__/commands/__snapshots__/Version.test.ts.snap
  packages/cli/src/bin.ts
  packages/cli/src/commands/CLI.ts
  packages/cli/src/commands/Dev.ts
  packages/cli/src/commands/Doctor.ts
  packages/cli/src/commands/Format.ts
  packages/cli/src/commands/Generate.ts
  packages/cli/src/commands/Init.ts
  packages/cli/src/commands/Studio.ts
  packages/cli/src/commands/Telemetry.ts
  packages/cli/src/commands/Validate.ts
  packages/cli/src/commands/Version.ts
  packages/cli/src/utils/detectPrisma1.ts
  packages/cli/src/utils/prompt/utils/deepExtend.ts
  packages/cli/src/utils/prompt/utils/helpers.ts
  packages/cli/src/utils/prompt/utils/isDirEmpty.ts
  packages/cli/src/utils/prompt/utils/print.ts
  packages/cli/src/utils/prompt/utils/templates/__tests__/__snapshots__/sortModels.test.ts.snap
  packages/cli/src/utils/prompt/utils/templates/__tests__/sortModels.test.ts
  packages/cli/src/utils/prompt/utils/templates/sortModels.ts
  packages/engine-core/pnpm-lock.yaml
  pnpm-lock.yaml
Due: engine-core

chore(deps): update dependency @prisma/studio-server to v0.421.0
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

test(cli): remove test.sh and port to Jest
  packages/cli/fixtures/.gitignore
  packages/cli/fixtures/custom generator/prisma/schema.prisma
  packages/cli/fixtures/introspection-warnings/.gitignore
  packages/cli/fixtures/introspection-warnings/schema.prisma
  packages/cli/fixtures/introspection-warnings/warnings.db
  packages/cli/fixtures/project/package.json
  packages/cli/fixtures/project/subdir/denylist.prisma
  packages/cli/fixtures/test.sh
  packages/cli/package.json
  packages/cli/src/__tests__/commands/Generate.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Generate.test.ts.snap
  packages/cli/src/__tests__/fixtures/generate-from-parent-dir/subdirectory/schema.prisma
  packages/cli/src/__tests__/fixtures/generate-from-project-dir/schema.prisma
  packages/cli/src/__tests__/fixtures/generate/schema.prisma
  packages/cli/src/bin.ts
  packages/cli/src/commands/Generate.ts
  packages/cli/src/commands/Version.ts
Due: none

fix Version.ts
  packages/cli/src/commands/Version.ts
Due: none
