Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ab3ec83df78bf64cc841aaa8896df480e9646a1c
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.11.0-15.72cbaf031991bdfb11c9a147a27e109cfaac2884
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-15.72cbaf031991bdfb11c9a147a27e109cfaac2884 (#12109)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 4465439372a80eb34dc5bddebf2a7829b49a4026
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e6a3cb9cd01760b1987bccba68dc0d2eac90c8ea
  dev/bench/data.js
Due: none

ci(buildpulse): Restructure junit suite name and junit.xml artifact filename (#12093)
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @types/jest to v27.4.1
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ac6093f120b5c0fc2572ffd1d089661e1d8afef7
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 50980e26161e7e665fdc59699a0b59a39502b354
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.11.0-16.93f160cb43894b8ebd34125e57e7e5d15a50ca67
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-17.a6db85179519a244e4ea633ec2aa9a47ff7b4ff3
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 182659ffc0999dc0f579f2dfa79ca44c82596b6b
  dev/bench/data.js
Due: none

fix(client): adapt binary QE to new logging for http startup
  packages/client/src/__tests__/integration/happy/logging/binary.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/sdk/src/utils/jestSnapshotSerializer.js
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-17.a6db85179519a244e4ea633ec2aa9a47ff7b4ff3 (#12111)
  packages/cli/package.json
  packages/client/package.json
  packages/client/src/__tests__/integration/happy/logging/binary.ts
  packages/engine-core/package.json
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/migrate/package.json
  packages/sdk/package.json
  packages/sdk/src/utils/jestSnapshotSerializer.js
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0bad78ca8e0b68b3663266d94251b07bc7554408
  dev/bench/data.js
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore(deps): update engines to 3.11.0-18.9d5fcf33434826e69d7bf2cdc4947fdf673f444a
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-19.494af298a68390e0127950bdae26fe3bb91e6ffc
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-20.5550fda18ea8f02929c1656a7e8372a4998f8f77
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-18.9d5fcf33434826e69d7bf2cdc4947fdf673f444a (#12112)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

test(client): add tests for buildNFTAnnotations
  packages/client/src/__tests__/buildNFTAnnotations.test.ts
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils/buildNFTAnnotations.ts
Due: client

Fix snapshots on Windows
  packages/client/src/__tests__/buildNFTAnnotations.test.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0c7c07f22a4c3e84038240bd6429c5f90f9f0064
  dev/bench/data.js
Due: none

Add comment
  packages/client/src/__tests__/buildNFTAnnotations.test.ts
Due: client

chore(deps): update engines to 3.11.0-21.4cac12afbeef2fa3eedf1cb87c79bc15e2648836
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

ci: change Jest default timeout for no-docker jobs
  .github/workflows/test.yml
Due: none

chore(deps): update engines to 3.11.0-21.4cac12afbeef2fa3eedf1cb87c79bc15e2648836 (#12118)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

Update Version.test.ts
  packages/cli/src/__tests__/commands/Version.test.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 00a937eaf6a9d5c4f320a7fa1271269d0d2186c1
  dev/bench/data.js
Due: none

increase jest.setTimeout for full-text-search test
  packages/client/src/__tests__/integration/happy/full-text-search-postgres/test.ts
Due: client

update snapshot
  packages/client/src/__tests__/integration/happy/full-text-search-postgres/test.ts
Due: client

increase timeout for 1 db execute test
  packages/migrate/src/__tests__/DbExecute.test.ts
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
