Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a2e3eb37f261aa92710bbfd04378d8d232b0bb98
  dev/bench/data.js
Due: none

chore: minor sanitization in queryEngineCommons.test.ts
  packages/internals/src/__tests__/engine-commands/queryEngineCommons.test.ts
Due: none

typo: *
  packages/client/tests/functional/multi-schema/_matrix.ts
  packages/client/tests/functional/multi-schema/prisma/_schema.ts
Due: client

package: bump engines 4.3.0-28.4c3d4275ef72f6dc9eeaba7f9215da9e20c432d9
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

internals: added meta contextual information for getConfig and getDmmf at the bottom of the error, before the CLI version
  packages/cli/src/__tests__/empty-schema.test.ts
  packages/client/src/__tests__/dmmf.test.ts
  packages/client/src/__tests__/generation/generator.test.ts
  packages/internals/src/__tests__/engine-commands/getDmmf.test.ts
  packages/internals/src/engine-commands/getConfig.ts
  packages/internals/src/engine-commands/getDmmf.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
Due: client

package: bump-engines 4.3.0-28.4c3d4275ef72f6dc9eeaba7f9215da9e20c432d9
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

package: bump @prisma/prisma-fmt-wasm
  packages/internals/package.json
  pnpm-lock.yaml
Due: none

Update DbExecute.test.ts
  packages/migrate/src/__tests__/DbExecute.test.ts
Due: none

fix: split isCi into isInteractive
  packages/internals/package.json
  packages/internals/src/index.ts
  packages/internals/src/utils/__tests__/isCi.test.ts
  packages/internals/src/utils/__tests__/isInteractive.test.ts
  packages/internals/src/utils/handlePanic.ts
  packages/internals/src/utils/isCi.ts
  packages/internals/src/utils/isInteractive.ts
  packages/migrate/src/commands/DbDrop.ts
  packages/migrate/src/commands/DbPush.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateReset.ts
  packages/migrate/src/utils/promptForMigrationName.ts
  pnpm-lock.yaml
Due: none

fix(client): high-resolution time for engine spans (#14991)
  packages/client/tests/functional/tracing/tests.ts
  packages/engine-core/src/common/types/QueryEngine.ts
  packages/engine-core/src/tracing/createSpan.ts
Due: client, engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for acd77282495f8dbbc2e850f0613c741901574f04
  dev/bench/data.js
Due: none

chore(deps): update engines to 4.3.0-29.2773dca117cc01b10a8cc91445505396db69ae5f
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore: engine overrides
  packages/engines/helpers/build.ts
  packages/engines/package.json
  packages/engines/scripts/postinstall.js
  packages/engines/src/scripts/localinstall.ts
  packages/engines/src/scripts/postinstall.ts
  packages/fetch-engine/src/download.ts
  packages/fetch-engine/src/index.ts
Due: none

chore: enable branch switching
  packages/engines/src/scripts/localinstall.ts
Due: none

chore(internals): error on generate for proxy + tracing (#14884)
  helpers/compile/build.ts
  helpers/compile/plugins/tscPlugin.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/internals/src/__tests__/getGenerators/getGenerators.test.ts
  packages/internals/src/__tests__/getGenerators/proxy-and-tracing-client-js.prisma
  packages/internals/src/get-generators/utils/check-feature-flags/checkFeatureFlags.ts
Due: engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 73dd8bb081d9dc8956c11b018686b2a132217059
  dev/bench/data.js
Due: none

chore: move config to fetch engine
  packages/engines/package.json
  packages/engines/src/scripts/localinstall.ts
  packages/engines/src/scripts/postinstall.ts
  packages/fetch-engine/package.json
  packages/fetch-engine/src/download.ts
Due: none

replace import with require for ts
  packages/fetch-engine/src/download.ts
Due: none

chore(deps): update engines to 4.3.0-29.2773dca117cc01b10a8cc91445505396db69ae5f (#15012)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 4a2dd73dfb6b32ff81e4e02f4d46444687f68eaf
  dev/bench/data.js
Due: none

Update download.test.ts
  packages/fetch-engine/src/__tests__/download.test.ts
Due: none

Update generatorHandler.test.ts
  packages/generator-helper/src/__tests__/generatorHandler.test.ts
Due: generator-helper

Update MigrateReset.ts
  packages/migrate/src/commands/MigrateReset.ts
Due: none

fix test
  packages/internals/src/utils/__tests__/isCi.test.ts
  packages/internals/src/utils/__tests__/isInteractive.test.ts
Due: none

remove ci-info
  packages/internals/package.json
  packages/internals/src/utils/isCi.ts
  pnpm-lock.yaml
Due: none

add comments
  packages/internals/src/utils/handlePanic.ts
  packages/migrate/src/commands/DbDrop.ts
  packages/migrate/src/commands/DbPush.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateReset.ts
Due: none

remove exit(2) for now
  packages/cli/src/bin.ts
  packages/migrate/src/bin.ts
Due: none

Update packages/cli/src/bin.ts
  packages/cli/src/bin.ts
Due: none

Update packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateDev.ts
Due: none

test: try reduce flaky tests in CI (#14996)
  packages/fetch-engine/src/__tests__/download.test.ts
  packages/generator-helper/src/__tests__/generatorHandler.test.ts
  packages/migrate/src/__tests__/DbExecute.test.ts
Due: generator-helper

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8643fa046bc96b7e7dfc7d29716aaa361ce67a6c
  dev/bench/data.js
Due: none

Apply suggestions from code review
  packages/cli/src/bin.ts
  packages/internals/src/__tests__/handlePanic.test.ts
  packages/migrate/src/bin.ts
Due: none

chore(deps): update engines to 4.3.0-30.feat-column-comparison-1f0b45043e4b824d5d4d9bc32a8819ae9d658bb6
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

package: bump-engines 4.3.0-30.feat-column-comparison-1f0b45043e4b824d5d4d9bc32a8819ae9d658bb6
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
