Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

feat(client): implement query plan cache with FNV-1a hashing
  docs/plans/performance-improvements/baseline.md
  docs/plans/performance-improvements/overview.md
  docs/plans/performance-improvements/tasks/T1.1-strawman-query-plan-cache.md
  packages/client/src/__tests__/benchmarks/query-performance/caching.bench.ts
  packages/client/src/__tests__/benchmarks/query-performance/compilation.bench.ts
  packages/client/src/__tests__/benchmarks/query-performance/qc-loader.ts
  packages/client/src/runtime/core/engines/client/ClientEngine.ts
  packages/client/src/runtime/core/engines/client/QueryPlanCache.ts
  packages/client/src/runtime/core/engines/client/hash.ts
  packages/client/src/runtime/core/engines/client/parameterize.test.ts
  packages/client/src/runtime/core/engines/client/parameterize.ts
  packages/client/src/runtime/core/jsonProtocol/serializeJsonQuery.ts
  packages/sqlcommenter-query-insights/src/parameterize/parameterize.ts
  packages/sqlcommenter-query-insights/src/parameterize/tests/tagged-values.test.ts
Due: client

perf: simplify query cache implementation
  docs/plans/performance-improvements/overview.md
  docs/plans/performance-improvements/tasks/T1.1-strawman-query-plan-cache.md
  packages/client/src/runtime/core/engines/client/ClientEngine.ts
  packages/client/src/runtime/core/engines/client/QueryPlanCache.ts
  packages/client/src/runtime/core/engines/client/hash.ts
  packages/client/src/runtime/core/engines/client/parameterize.test.ts
  packages/client/src/runtime/core/engines/client/parameterize.ts
Due: client

fix: implement batch request query plan caching
  packages/client/src/runtime/core/engines/client/ClientEngine.ts
  packages/client/src/runtime/core/engines/client/QueryPlanCache.test.ts
  packages/client/src/runtime/core/engines/client/QueryPlanCache.ts
  packages/client/src/runtime/core/engines/client/parameterize.test.ts
  packages/client/src/runtime/core/engines/client/parameterize.ts
Due: client

chore(deps): update engines to 7.3.0-12.parameterization-844f54891f0a80ec1820fc26cf513002357e4245
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

docs(root): formatted contribution guide
  ARCHITECTURE.md
Due: none

docs(root): complete architecture documentation
  ARCHITECTURE.md
Due: none

docs(root): removed unecessary list of folders
  CONTRIBUTING.md
Due: none

docs(architecture): fix broken format in ARCHITECTURE.md
  ARCHITECTURE.md
Due: none

docs: add query performance improvement plan
  docs/plans/performance-improvements/baseline.md
  docs/plans/performance-improvements/overview.md
  docs/plans/performance-improvements/tasks/README.md
  docs/plans/performance-improvements/tasks/T1.1-strawman-query-plan-cache.md
  docs/plans/performance-improvements/tasks/T1.2-caching-benchmarks.md
  docs/plans/performance-improvements/tasks/T1.3-optimize-data-mapper.md
  docs/plans/performance-improvements/tasks/T1.4-reduce-interpreter-allocations.md
  docs/plans/performance-improvements/tasks/T2.1-proper-parameterization.md
  docs/plans/performance-improvements/tasks/T2.2-cache-key-optimization.md
  docs/plans/performance-improvements/tasks/T3.1-dmmf-parameterization-metadata.md
Due: none

docs: plan parameterization support
  docs/plans/parameterization-codex/01-paramgraph-design.md
  docs/plans/parameterization-codex/02-runtime-parameterizer.md
  docs/plans/parameterization-codex/03-schema-generation.md
  docs/plans/parameterization-codex/04-task-breakdown.md
  docs/plans/parameterization-codex/05-open-questions.md
  docs/plans/parameterization-codex/06-typed-placeholders-client.md
  docs/plans/parameterization-codex/README.md
  docs/plans/schema-aware-parameterization/02-parameterization-schema.md
  docs/plans/schema-aware-parameterization/03-runtime-parameterizer.md
  docs/plans/schema-aware-parameterization/04-task-breakdown.md
  docs/plans/schema-aware-parameterization/05-open-questions.md
  docs/plans/schema-aware-parameterization/06-typed-placeholders-client.md
  docs/plans/schema-aware-parameterization/README.md
Due: none

chore: vitest 4
  package.json
  packages/client-generator-js/package.json
  packages/client-generator-registry/package.json
  packages/client-generator-ts/package.json
  packages/config/package.json
  packages/credentials-store/package.json
  packages/dmmf/package.json
  packages/engines/package.json
  packages/generator/package.json
  packages/get-platform/package.json
  packages/internals/package.json
  packages/query-plan-executor/package.json
  pnpm-lock.yaml
Due: none

polish up schema-parser
  packages/schema-parser/src/__tests__/integration.test.ts
  packages/schema-parser/src/codegen.ts
  packages/schema-parser/src/lexer.ts
  packages/schema-parser/src/main.ts
  packages/schema-parser/src/parser.ts
  packages/schema-parser/src/types.ts
  packages/unplugin/src/core.ts
Due: none

polish migrate
  packages/client/src/__tests__/fixtures/generated-test-client-sqlite.ts
  packages/client/src/__tests__/fixtures/generated-test-client.ts
  packages/migrate/src/OrkMigrate.ts
  packages/migrate/src/__tests__/OrkMigrate.test.ts
  packages/migrate/src/__tests__/golden-snapshots.test.ts
  packages/migrate/src/__tests__/mocks/kysely-mock-factory.ts
  packages/migrate/src/types.ts
Due: client

perf(client): add fast-path check to safeJsonParse
  packages/client-engine-runtime/src/utils.ts
Due: none

fix(client): prevent regex from matching inside JSON strings
  packages/client-engine-runtime/src/utils.test.ts
  packages/client-engine-runtime/src/utils.ts
Due: none

update hono
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

fix code rabbit
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

fix(client): handle top-level large integer JSON values
  packages/client-engine-runtime/src/utils.test.ts
  packages/client-engine-runtime/src/utils.ts
Due: none

fix(client): add type assertion in test for TypeScript compatibility
  packages/client-engine-runtime/src/utils.test.ts
Due: none

chore(deps): update engines to 7.3.0-13.parameterization-ffcc2ffa23a1cf2fa93cc75600377a7bcf8b3b08
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore: bump engines to the integration version
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

fix: update tests and snapshots for dmmf changes
  packages/client-generator-js/src/GenericsArgsInfo.test.ts
  packages/client-generator-js/src/TSClient/Model.ts
  packages/client-generator-ts/src/GenericsArgsInfo.test.ts
  packages/client-generator-ts/src/TSClient/Model.ts
  packages/client/src/__tests__/dmmf.test.ts
  packages/dmmf/src/dmmf.ts
  packages/internals/src/__tests__/engine-commands/__snapshots__/getDmmf.test.ts.snap
Due: client

exclude dist
  packages/dmmf/vitest.config.ts
  packages/ts-builders/vitest.config.ts
Due: none

chore: consolidate vitest execution
  .github/workflows/test-template.yml
  packages/client-common/vitest.config.ts
  packages/client-generator-js/tests/generator.test.ts
  packages/client-generator-registry/vitest.config.ts
  packages/client-generator-ts/tests/generator.test.ts
  packages/dmmf/vitest.config.ts
  packages/query-plan-executor/src/logic/adapter.test.ts
  packages/ts-builders/vitest.config.ts
  vitest.config.ts
Due: none

cleanup scripts
  packages/adapter-d1/package.json
  packages/adapter-libsql/package.json
  packages/adapter-mariadb/package.json
  packages/adapter-mssql/package.json
  packages/adapter-neon/package.json
  packages/adapter-pg/package.json
  packages/client-common/package.json
  packages/client-generator-js/package.json
  packages/client-generator-registry/package.json
  packages/client-generator-ts/package.json
  packages/client-runtime-utils/package.json
  packages/credentials-store/package.json
  packages/dmmf/package.json
  packages/engines/jest.config.js
  packages/engines/package.json
  packages/fetch-engine/jest.config.js
  packages/fetch-engine/package.json
  packages/generator-helper/.prettierignore
  packages/generator-helper/.prettierrc.yml
  packages/generator-helper/package.json
  packages/generator/package.json
  packages/instrumentation-contract/package.json
  packages/instrumentation/package.json
  packages/schema-files-loader/package.json
  packages/sqlcommenter-query-insights/package.json
  packages/sqlcommenter-query-tags/package.json
  packages/sqlcommenter-trace-context/package.json
  packages/ts-builders/package.json
Due: generator-helper

remove obsolete snapshot
  packages/client-generator-ts/tests/__snapshots__/generator.test.ts.snap
Due: none

add back vitest
  packages/credentials-store/package.json
Due: none

client-engine-runtime use vitest
  .github/workflows/test-template.yml
  packages/client-engine-runtime/.prettierignore
  packages/client-engine-runtime/.prettierrc.yml
  packages/client-engine-runtime/jest.config.js
  packages/client-engine-runtime/package.json
  packages/client-engine-runtime/src/interpreter/generators.test.ts
  packages/client-engine-runtime/src/interpreter/render-query.test.ts
  packages/client-engine-runtime/src/interpreter/serialize-sql.test.ts
  packages/client-engine-runtime/src/json-protocol.test.ts
  packages/client-engine-runtime/src/sql-commenter.test.ts
  packages/client-engine-runtime/src/transaction-manager/transaction-manager.test.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: none

exclude debug, get-platform from vitest
  vitest.config.ts
Due: none

query-plan-executor is not part of vitest
  .github/workflows/test-template.yml
  packages/query-plan-executor/package.json
Due: none

testTimeout is 30_000
  vitest.config.ts
Due: none

get-platform is vitest
  .github/workflows/test-template.yml
  packages/client-generator-js/tests/generator.test.ts
  packages/get-platform/jest.config.js
  packages/get-platform/package.json
  packages/get-platform/src/__tests__/getPlatform.test.ts
  packages/get-platform/src/__tests__/getSSLVersion.test.ts
  packages/get-platform/src/__tests__/parseDistro.test.ts
  packages/get-platform/src/__tests__/parseOpenSSLVersion.test.ts
  packages/get-platform/src/test-utils/index.ts
  packages/get-platform/src/test-utils/jestContext.ts
  packages/get-platform/src/test-utils/jestSnapshotSerializer.js
  pnpm-lock.yaml
  vitest.config.ts
Due: none

feat: parallel compilation
  packages/client-common/src/QueryCompiler.ts
  packages/client-generator-js/src/utils/buildGetQueryCompilerWasmModule.ts
  packages/client-generator-ts/src/utils/wasm.ts
  packages/client/helpers/build.ts
  packages/client/src/__tests__/benchmarks/query-performance/qc-loader.ts
  packages/client/src/runtime/core/engines/client/ClientEngine.ts
  packages/client/src/runtime/core/engines/client/QueryCompilerWorkerPool.ts
  packages/client/src/runtime/core/engines/client/query-compiler-worker.ts
  packages/client/src/utils/getTestClient.ts
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
Due: client

...
  packages/cli/package.json
  pnpm-lock.yaml
Due: none
