Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore(tests): Adjust schema template to use test matrix helper
  packages/client/helpers/generator-test/templates/_schema.ts.tpl
Due: client

test(fetch-engine): fix flaky download time check
  packages/fetch-engine/src/__tests__/download.test.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for cbf92b2d47dc239e08230167365c1553a2018587
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3c9a979c83bb31fc2a7c1c9515b622cf0267c683
  dev/bench/data.js
Due: none

feat: pass header str in json to binary
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/common/Engine.ts
  pnpm-lock.yaml
Due: client, engine-core

remove SERVER_ROOT
  packages/migrate/src/MigrateEngine.ts
Due: none

merge/remove node-api test + rename
  packages/fetch-engine/src/__tests__/download.test.ts
  packages/fetch-engine/src/__tests__/node-api.test.ts
  packages/fetch-engine/src/__tests__/node-api/.gitkeep
Due: none

fix: pass trace thru on lib transaction
  packages/engine-core/src/library/LibraryEngine.ts
Due: engine-core

feat(client): Export NotFoundError in Prisma namespace
  packages/client/src/generation/TSClient/common.ts
  packages/client/src/runtime/index.ts
Due: client

chore(client): Update tests snapshot for NotFoundError
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

code suggestion
  packages/fetch-engine/src/__tests__/download.test.ts
Due: none

ci: test fetch-engine & get-platform & engines packages (#14121)
  .github/workflows/test.yml
  packages/engines/.gitignore
  packages/fetch-engine/src/__tests__/download.test.ts
  packages/fetch-engine/src/__tests__/node-api.test.ts
  packages/fetch-engine/src/__tests__/node-api/.gitkeep
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 9a3435d53f4b9933659671d7315d4ad108c0e6bb
  dev/bench/data.js
Due: none

Test that NotFoundError is catchable
  packages/client/tests/functional/findFirstOrThrow/tests.ts
  packages/client/tests/functional/findUniqueOrThrow/tests.ts
Due: client

fix(cli): fix debounce for prisma generate --watch command (#13678)
  packages/cli/src/utils/simpleDebounce.ts
Due: none

binary itx
  packages/engine-core/src/binary/BinaryEngine.ts
Due: engine-core

feat(client): Export NotFoundError in Prisma namespace (#14076)
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/common.ts
  packages/client/src/runtime/index.ts
  packages/client/tests/functional/findFirstOrThrow/tests.ts
  packages/client/tests/functional/findUniqueOrThrow/tests.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b224c7c92eca130ec010f4c2f58f86b29e72ccd2
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 9fb32c1c0d788dc8258391a55b029a7f939b776b
  dev/bench/data.js
Due: none

chore(deps): update engines to 4.1.0-19.6775228c8cc200d999f5e0948ca5dfdc45bac257
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(*): skip slow dependencyCheck on GitHub Actions (#14169)
  helpers/compile/build.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 76e97022cbb3063a13665bf4bb945601c606babf
  dev/bench/data.js
Due: none

chore(deps): update engines to 4.1.0-19.6775228c8cc200d999f5e0948ca5dfdc45bac257 (#14172)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 14ed679264f9a29c31e49579ad897eae8a12ee89
  dev/bench/data.js
Due: none

feat: add groundwork for @prisma/instrumentation
  packages/client/package.json
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/functional/otel/tests.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
  packages/instrumentation/README.md
  packages/instrumentation/helpers/build.ts
  packages/instrumentation/package.json
  packages/instrumentation/src/PrismaInstrumentation.ts
  packages/instrumentation/src/index.ts
  packages/instrumentation/tsconfig.build.json
  packages/instrumentation/tsconfig.json
  pnpm-lock.yaml
Due: client, engine-core

chore(deps): update engines to 4.1.0-21.55dd27075df408898bae0ebc466163b0ae96752c
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.1.0-22.303d45cd6e0b2c8e31973e4d0fc24af323b09b94
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.1.0-22.303d45cd6e0b2c8e31973e4d0fc24af323b09b94 (#14186)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e255cce3582ff4228d3c72bd8205500b064929ff
  dev/bench/data.js
Due: none

chore(deps): update engines to 4.1.0-23.d6afdbfcecb0f881e784261daa4e5c4a645b046e
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.1.0-23.d6afdbfcecb0f881e784261daa4e5c4a645b046e (#14191)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8b99865ebebba651ecd1a6cfa3a4a8e8fa36c69f
  dev/bench/data.js
Due: none
