Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

chore: convert to enum
  src/packages/client/src/generation/TSClient.ts
Due: client

chore: update snapshot
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

add type test
  src/packages/client/src/__tests__/types/middlewares/index.ts
Due: client

update snapshot
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

fix(client): fix #4083
  src/packages/client/src/__tests__/integration/errors/invalid-input/.gitignore
  src/packages/client/src/__tests__/integration/errors/invalid-input/dev.db
  src/packages/client/src/__tests__/integration/errors/invalid-input/schema.prisma
  src/packages/client/src/__tests__/integration/errors/invalid-input/test.ts
  src/packages/client/src/runtime/utils/printJsonErrors.ts
Due: client

feat(client): add types to middleware params.model (#4161)
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/middlewares/index.ts
  src/packages/client/src/generation/TSClient.ts
Due: client

chore: wip validate client options
  src/packages/client/src/runtime/utils/validatePrismaClientOptions.ts
Due: client

fix: move ModelName into namespace
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient.ts
Due: client

fix(migrate): update for camelCase fields
  src/packages/migrate/src/__tests__/rpc.test.ts
  src/packages/migrate/src/types.ts
Due: none

fix: use fork for generator
  src/packages/generator-helper/src/GeneratorProcess.ts
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: generator-helper, sdk

chore: cleanup [skip ci]
  src/packages/generator-helper/src/GeneratorProcess.ts
Due: generator-helper

chore: fix fork
  src/packages/generator-helper/src/GeneratorProcess.ts
  src/packages/sdk/src/Generator.ts
  src/packages/sdk/src/getGenerators.ts
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
  src/pnpm-lock.yaml
Due: generator-helper, sdk

feat: introduce constructor validation
  src/packages/client/src/__tests__/integration/happy/blog-env-mssql/test.ts
  src/packages/client/src/__tests__/validatePrismaClientOptions.test.ts
  src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/client/src/runtime/utils/validatePrismaClientOptions.ts
  src/packages/client/src/utils/getTestClient.ts
Due: client

feat(client): add esm support
  src/packages/client/helpers/build.js
  src/packages/client/index.mjs
  src/packages/client/package.json
  src/packages/client/rollup.config.js
  src/packages/client/scripts/backup-index.mjs
  src/packages/client/scripts/default-index.mjs
  src/packages/client/scripts/postinstall.js
  src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/generation/generateClient.ts
  src/packages/client/tsconfig.runtime.esm.json
  src/pnpm-lock.yaml
Due: client

fix(deps): update dependency diff to v5
  src/packages/migrate/package.json
Due: none

chore(deps): update devdependencies (non-major)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

chore: update pnpm-lock [skip ci]
  src/pnpm-lock.yaml
Due: none

improvement(migrate): better error message for nativeTypes
  src/packages/migrate/src/__tests__/DbPush.test.ts
  src/packages/migrate/src/utils/ensureDatabaseExists.ts
Due: none

fix(cli): Bump up studio version
  src/packages/cli/package.json
Due: none

chore(migrate): fix internal migrate tryLoadEnvs for dev
  src/packages/migrate/src/bin.ts
Due: none

improvement(migrate): better error message for nativeTypes (#4188)
  src/packages/migrate/src/__tests__/DbPush.test.ts
  src/packages/migrate/src/utils/ensureDatabaseExists.ts
Due: none

fix(cli): Bump up Studio version
  src/packages/cli/package.json
Due: none

fix(deps): update dependency @prisma/bar to ^0.0.1
  src/packages/cli/package.json
Due: none

chore: bump @prisma/bar
  src/packages/cli/package.json
  src/pnpm-lock.yaml
Due: none

fix: finish transaction stabilization
  src/packages/client/src/__tests__/integration/errors/error-link/schema.prisma
  src/packages/client/src/__tests__/integration/errors/object-transaction/schema.prisma
  src/packages/client/src/__tests__/integration/errors/raw-transaction/schema.prisma
  src/packages/client/src/__tests__/integration/happy/atomic-operations/schema.prisma
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/middlewares/schema.prisma
  src/packages/client/src/__tests__/integration/happy/transaction/schema.prisma
  src/packages/client/src/generation/TSClient.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

fix: bump engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

chore(deps): update studio to v0.310.0
  src/packages/cli/package.json
Due: none

fix(client): fix #4083 (#4189)
  src/packages/client/src/__tests__/integration/errors/invalid-input/.gitignore
  src/packages/client/src/__tests__/integration/errors/invalid-input/dev.db
  src/packages/client/src/__tests__/integration/errors/invalid-input/schema.prisma
  src/packages/client/src/__tests__/integration/errors/invalid-input/test.ts
  src/packages/client/src/runtime/utils/printJsonErrors.ts
Due: client

fix: make getErrorMessageWithLink more resilient
  src/packages/engine-core/src/Engine.ts
Due: engine-core

chore: bump snapshots
  src/packages/migrate/src/__tests__/DbDrop.test.ts
Due: none
