Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

fix(client): throw error on caching platforms (#18437)
  helpers/compile/build.ts
  packages/cli/helpers/build.ts
  packages/cli/package.json
  packages/cli/scripts/install-entry.js
  packages/cli/scripts/install.js
  packages/cli/src/Generate.ts
  packages/client/package.json
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/generator.ts
  packages/client/src/runtime/core/init/checkPlatformCaching.test.ts
  packages/client/src/runtime/core/init/checkPlatformCaching.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/community/publish-extensions/package.json
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/package.json
  packages/client/tests/e2e/platform-caching-error/_steps.ts
  packages/client/tests/e2e/platform-caching-error/package.json
  packages/client/tests/e2e/platform-caching-error/prisma/schema.prisma
  packages/client/tests/e2e/platform-caching-error/readme.md
  packages/client/tests/e2e/platform-caching-error/tests/vercel-auto-generate.ts
  packages/client/tests/e2e/platform-caching-error/tests/vercel-manual-generate.ts
  packages/client/tests/e2e/platform-caching-error/tsconfig.json
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/package.json
  packages/generator-helper/src/types.ts
  packages/internals/src/get-generators/getGenerators.ts
  pnpm-lock.yaml
Due: client, generator-helper

fix: error for mongodb creating existing error
  docker/mongodb_replica/Dockerfile
Due: none

Add comments
  .eslintrc.js
Due: none

Update more snapshots
  packages/client/src/__tests__/integration/errors/referentialActions-onDelete-default-foreign-key-error-mysql/test.ts
  packages/client/src/__tests__/integration/errors/referentialActions-onDelete-default-foreign-key-error-postgresql/test.ts
  packages/client/src/__tests__/integration/errors/referentialActions-onDelete-default-foreign-key-error-sqlite/test.ts
  packages/client/src/__tests__/integration/errors/referentialActions-onDelete-default-foreign-key-error-sqlserver/test.ts
Due: client

Update snapshots
  packages/client/tests/functional/extensions/enabled/__snapshots__/itx.ts.snap
Due: client

chore(deps): update engines to 4.13.0-13.a0b65ed66169fda245284840d7864e975e1bd3d9
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add prototype "Promise" in PrismaPromise Object
  packages/client/src/runtime/core/request/createPrismaPromise.ts
  packages/client/src/runtime/core/request/isPrismaPromise.ts
Due: client

fix: error for mongodb creating existing error (#18629)
  docker/mongodb_replica/Dockerfile
Due: none

chore(deps): update engines to 4.13.0-13.a0b65ed66169fda245284840d7864e975e1bd3d9 (#18631)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

lint
  packages/client/src/runtime/core/request/createPrismaPromise.ts
Due: client

chore(deps): update engines to 4.13.0-14.migration-engine-rename-to-schema-engine-4f625759140128d24a05cbc810c2f728d212baf5
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.13.0-15.f8f78f335fd86dea323d7fbc581fdf500d745e9a
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

perf(get-platform): Optimize some of the platform detection routines
  packages/engine-core/src/library/LibraryEngine.ts
  packages/fetch-engine/src/download.ts
  packages/get-platform/src/getPlatform.ts
  packages/get-platform/src/isNodeAPISupported.ts
  packages/internals/src/engine-commands/getEngineVersion.ts
Due: engine-core

fix(partitioned-tables): Modify test to use PK to get rid of irrelevant warning
  packages/migrate/src/__tests__/fixtures/introspection/postgresql/partitioned-warning-27-1/setup.sql
Due: none

fix: update snapshotscd '/Users/jkomyno/work/prisma/prisma/packages/fetch-engine' after engines change
  packages/cli/src/__tests__/commands/__snapshots__/Version.test.ts.snap
Due: none

move generator resolver
  packages/internals/src/get-generators/generatorResolver/predefinedGeneratorResolvers.ts
  packages/internals/src/get-generators/getGenerators.ts
Due: none

rename to generatorResolvers
  packages/internals/src/get-generators/generatorResolvers/generatorResolvers.ts
  packages/internals/src/get-generators/getGenerators.ts
Due: none

use ni for generating install commands
  packages/internals/package.json
  packages/internals/src/get-generators/generatorResolvers/generatorResolvers.ts
  packages/internals/src/get-generators/generatorResolvers/photonjs/photonResolver.ts
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/auto-installation/findPrismaClientDir.ts
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/auto-installation/getPackageCmd.ts
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/auto-installation/runPackageCmd.ts
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/check-dependencies/checkTypeScriptVersion.ts
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/check-dependencies/checkYarnVersion.ts
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/check-dependencies/isYarnUsed.ts
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/check-dependencies/resolve.ts
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/check-dependencies/semverLt.ts
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/prismaClientResolver.ts
  packages/internals/src/getPackedPackage.ts
  packages/internals/src/index.ts
  packages/internals/src/utils/hasYarn.ts
  pnpm-lock.yaml
Due: none

docs: add useful comments
  packages/internals/src/get-generators/generatorResolvers/generatorResolvers.ts
  packages/internals/src/get-generators/generatorResolvers/photonjs/photonResolver.ts
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/auto-installation/runPackageCmd.ts
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/prismaClientResolver.ts
Due: none

fix(client): support TypeScript exactOptionalPropertyTypes
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/ts-builders/Parameter.test.ts
  packages/client/src/generation/ts-builders/Parameter.ts
  packages/client/src/generation/ts-builders/Property.test.ts
  packages/client/src/generation/ts-builders/Property.ts
Due: client

chore(deps): update engines to 4.13.0-16.9e4147ada556f35be6110cd40c7ab0924a831014
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Update setup.sql
  packages/migrate/src/__tests__/fixtures/introspection/postgresql/partitioned-warning-27-1/setup.sql
Due: none

chore(deps): update engines to 4.13.0-17.b952e556c57c90e9fe3152674d223600fba2a65d
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix: update snapshots
  packages/cli/src/__tests__/commands/__snapshots__/Version.test.ts.snap
Due: none

fix: explicitly rename 'schema-engine-cli' into 'migration-engine-cli' when using NODE_API. Updated snapshots
  packages/cli/src/__tests__/commands/__snapshots__/Version.test.ts.snap
  packages/internals/src/engine-commands/getEngineVersion.ts
Due: none

chore(deps): update engines to 4.13.0-18.cc4c4059ea654dbbd270a04c463e993d17c68688
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.13.0-15.f8f78f335fd86dea323d7fbc581fdf500d745e9a (#18637)
  packages/cli/src/__tests__/commands/__snapshots__/Version.test.ts.snap
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/internals/src/engine-commands/getEngineVersion.ts
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
