Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

ci: create action for studio updates (#8502)
  .github/workflows/update-studio-version.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f06f679848a9e45a8e101e2399b25efb4b97aaa0
  dev/bench/data.js
Due: none

fix(tar): upgrade to 6.1.2 (#8501)
  src/packages/sdk/package.json
Due: sdk

chore(deps): update dependency @prisma/studio-server to v0.418.0
  src/packages/cli/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e480c683039d052c5d19cf7a5ff2819310d612aa
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e024310709f9dd9f764e0e7aa8553405c2874092
  dev/bench/data.js
Due: none

chore(deps): update studio to 0.417.0
  src/packages/cli/package.json
  src/pnpm-lock.yaml
Due: none

chore: add dash to studio update branch for better branch names
  .github/workflows/update-studio-version.yml
Due: none

chore: add dash to studio update branch for better branch names (#8507)
  .github/workflows/update-studio-version.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 990e7aba6193ed6a2b00f9431051b89fe2191a82
  dev/bench/data.js
Due: none

chore: debug
  src/packages/engine-core/src/binary/BinaryEngine.ts
Due: engine-core

chore: display binary size
  packages/sdk/src/utils/load.ts
  pnpm-lock.yaml
Due: none

chore: pkg lock
  src/pnpm-lock.yaml
Due: none

chore: size debug
  packages/sdk/src/utils/load.ts
Due: none

feat: No .gitignore file if already present
  src/packages/cli/src/Init.ts
Due: none

chore: bump engines
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: none

chore: bump engines
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
  scripts/bump-engines.ts
Due: none

chore: test
  packages/sdk/src/__tests__/engine-commands/getConfig.test.ts
Due: none

chore: skip test
  packages/sdk/src/__tests__/engine-commands/getConfig.test.ts
Due: none

chore: move napi env var
  packages/sdk/src/__tests__/engine-commands/getConfig.test.ts
  src/.buildkite/test/run.sh
Due: none

chore: fix test
  src/.buildkite/test/run.sh
Due: none

Revert "chore: bump engines"
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
  scripts/bump-engines.ts
Due: none

Revert "chore: bump engines"
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: none

chore(scripts): fix bump engines
  src/scripts/bump-engines.ts
Due: none

chore(client): integrate with engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/long-running-transaction/schema.prisma
  src/packages/client/src/__tests__/integration/happy/long-running-transaction/test.ts
  src/packages/client/src/runtime/DataLoader.ts
  src/packages/client/src/runtime/RequestHandler.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/engine-core/package.json
  src/packages/engine-core/src/binary/BinaryEngine.ts
  src/packages/engine-core/src/common/types/QueryEngine.ts
  src/packages/engine-core/src/library/LibraryEngine.ts
  src/packages/integration-tests/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, engine-core, sdk

chore(client); use lrt flag
  src/packages/client/src/__tests__/integration/happy/long-running-transaction/dev.db
  src/packages/client/src/__tests__/integration/happy/long-running-transaction/test.ts
  src/packages/client/src/generation/TSClient/PrismaClient.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

chore: pnpm lock
  src/pnpm-lock.yaml
Due: none

test(engine-core): fix imports
  src/packages/engine-core/src/__tests__/errors.test.ts
  src/packages/engine-core/src/__tests__/maskQuery.test.ts
Due: engine-core

chore(client): handle lrt errors
  src/packages/client/src/__tests__/integration/happy/long-running-transaction/test.ts
  src/packages/engine-core/src/binary/BinaryEngine.ts
  src/packages/engine-core/src/common/errors/utils/log.ts
Due: client, engine-core

fix(client): restore missing cond
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

fix(migrate): fix cases where migrate engine was not stopped after an error (#8482)
  src/packages/client/src/__tests__/integration/__helpers__/migrateDb.ts
  src/packages/client/src/utils/setupMSSQL.ts
  src/packages/migrate/package.json
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/MigrateResolve.test.ts
  src/packages/migrate/src/commands/DbPush.ts
  src/packages/migrate/src/commands/MigrateDeploy.ts
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/commands/MigrateReset.ts
  src/packages/migrate/src/commands/MigrateResolve.ts
  src/packages/migrate/src/commands/MigrateStatus.ts
  src/packages/migrate/src/utils/handleEvaluateDataloss.ts
  src/packages/migrate/src/utils/setupMSSQL.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 9236d0ee91d6c89b9ce1a5c0d2fc2aee8d23213b
  dev/bench/data.js
Due: none

chore(deps): update fkirc/skip-duplicate-actions action to v3.4.1
  .github/workflows/test.yml
Due: none

remove cd src from studio gh action update
  .github/workflows/update-studio-version.yml
Due: none
