Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

refactor: Abstraction over engine protocol (#17475)
  packages/client/src/__tests__/batching.test.ts
  packages/client/src/runtime/MiddlewareHandler.ts
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/core/extensions/applyResultExtensions.ts
  packages/client/src/runtime/core/extensions/resultUtils.ts
  packages/client/src/runtime/core/extensions/visitQueryResult.ts
  packages/client/src/runtime/core/model/applyAggregates.ts
  packages/client/src/runtime/core/protocol/common.ts
  packages/client/src/runtime/core/protocol/graphql.ts
  packages/client/src/runtime/core/types/JsApi.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/rejectOnNotFound.ts
  packages/client/tests/functional/batching/_matrix.ts
  packages/client/tests/functional/batching/prisma/_schema.ts
  packages/client/tests/functional/batching/tests.ts
  packages/engine-core/src/__tests__/LibraryEngine.test.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/engine-core/src/index.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: client, engine-core

Revert "feat: remove libquery getConfig from Prisma client"
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/library/LibraryEngine.ts
  packages/internals/src/engine-commands/getConfig.ts
Due: client, engine-core

chore(deps): update engines to 4.10.0-23.integration-log-capture-prep-refactoring-5e8228ae65a1ca94f1055b14779cea9928cb6a12
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-24.integration-log-capture-prep-refactoring-d4977fb4a4203994e8f381c712e3e60243e0c23c
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-25.integration-log-capture-9a3c4f5b8cf1717eb5662443a7139bc61260ec9e
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-26.integration-log-capture-prep-refactoring-dbd7ac16693a8578ce3c2d55eced2122204e53ec
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-27.integration-log-capture-e8d49a58ee473b55acb5b5c35a6df3d6a9f75bad
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-28.integration-log-capture-d393ef3625521620ece1bf7ef89692895a05eefb
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(CLI): remove postinstall hack for Vercel
  packages/cli/scripts/install.js
Due: none

chore(deps): update engines to 4.10.0-29.887cf262abfe87ef39a8249349104c24d30bd8ac
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-30.integration-log-capture-7f149a8c994316626006d6ff8bd3e15eed02ee81
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

feat: remove deprecated "getConfig" wrappers for libquery and query-engine
  packages/internals/src/engine-commands/getConfig.ts
Due: none

test: more test cases for parseDistro
  packages/get-platform/src/__tests__/parseDistro.test.ts
Due: none

chore: addressed review comment
  packages/get-platform/src/getPlatform.ts
Due: none

chore(deps): update engines to 4.10.0-31.f135d684556e7d26151b138d7f339dc29913bd70
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix(client): extensions prisma promise wrapping
  packages/client/src/runtime/core/extensions/applyQueryExtensions.ts
  packages/client/src/runtime/core/extensions/wrapExtensionCallback.ts
  packages/client/src/runtime/core/model/applyModel.ts
  packages/client/src/runtime/core/request/PrismaPromise.ts
  packages/client/src/runtime/core/request/createPrismaPromise.ts
  packages/client/src/runtime/core/request/isPrismaPromise.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/functional/extensions/enabled/model.ts
Due: client

use different omit impl
  packages/client/src/omit.ts
  packages/client/src/runtime/core/extensions/wrapExtensionCallback.ts
Due: client

fix batch tx detection
  packages/client/src/runtime/core/request/createPrismaPromise.ts
  packages/client/tests/functional/issues/11740-transaction-stored-query/tests.ts
Due: client

skip data proxy in new tests
  packages/client/tests/functional/extensions/enabled/model.ts
Due: client

chore: remove 1 reviewer from renovate config
  .github/renovate.json
Due: none

chore: remove 1 gh handle from benchmark ping
  .github/workflows/benchmark.yml
Due: none

chore(deps): update engines to 4.10.0-31.f135d684556e7d26151b138d7f339dc29913bd70 (#17521)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

feat: add support for Wasm'd getDmmf
  packages/internals/src/engine-commands/getDmmf.ts
Due: none

more removals
  .gitignore
  TESTING.md
  packages/cli/.gitignore
  packages/engines/.gitignore
  packages/engines/README.md
  packages/internals/.gitignore
  packages/internals/src/IntrospectionEngine.ts
  packages/internals/src/index.ts
  packages/internals/src/panic.ts
Due: none

fix db pull type import
  packages/migrate/src/commands/DbPull.ts
Due: none

WIP (to be continued)
  packages/migrate/src/__tests__/DbPush.test.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
  packages/migrate/src/__tests__/fixtures/schema-only-data-proxy/with-directUrl-env.prisma
Due: none

add more directUrl tests
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/DbPush.test.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/migrate/src/__tests__/MigrateDiff.test.ts
  packages/migrate/src/__tests__/fixtures/schema-only-data-proxy/with-directUrl-env.prisma
Due: none

attempt at fixing deploy test
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
Due: none

fix(migrateEngineCommands): Include original error in error
  packages/internals/src/migrateEngineCommands.ts
Due: none

fix migrate diff directUrl test
  packages/migrate/src/__tests__/MigrateDiff.test.ts
Due: none

chore(deps): update engines to 4.10.0-32.4d34471b51ecdd7f655c157023ed292f950705bd
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
