Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

chore(client): Add test for #18598 and simplify serialization code (#18756)
  packages/client/src/runtime/core/protocol/json/serialize.test.ts
  packages/client/src/runtime/core/protocol/json/serialize.ts
  packages/client/tests/functional/issues/18598-select-count-true/_matrix.ts
  packages/client/tests/functional/issues/18598-select-count-true/prisma/_schema.ts
  packages/client/tests/functional/issues/18598-select-count-true/tests.ts
Due: client

chore(deps): update engines to 4.13.0-41.3680c31ece77f79ec0c04a5078617622c3b35d51
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.13.0-42.745dcc4b3aa8b8a153cf4fa46478871befdfd9bd
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

refactor - consolidate stopgaps in one describe - comments for dbpull/getWarningMessage
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/commands/DbPull.ts
Due: none

stopgap 35 + test
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/fixtures/introspection/postgresql/deferred-constraint-warning-35/schema.prisma
  packages/migrate/src/__tests__/fixtures/introspection/postgresql/deferred-constraint-warning-35/setup.sql
  packages/migrate/src/types.ts
Due: none

feat(migrate): leverage hierarchical describe blocks in tests, add missing space
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/commands/DbPull.ts
Due: none

Update 35 snapshot for spacing
  packages/migrate/src/__tests__/DbPull.test.ts
Due: none

Schema comment for deferred constraints
  packages/migrate/src/__tests__/DbPull.test.ts
Due: none

chore(deps): update engines to 4.13.0-43.integration-mobc-upstream-30325ab26fa7d5669eb4b5c447f52a3918a4d9d7
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.13.0-44.integration-header-protocol-override-745dcc4b3aa8b8a153cf4fa46478871befdfd9bd
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.13.0-45.integration-mobc-upstream-97ea2ed2f55f05bbdcd67c8388d0939ef82a57b8
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.13.0-46.integration-mobc-upstream-30325ab26fa7d5669eb4b5c447f52a3918a4d9d7
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.13.0-47.integration-postgres-check-constraints-stopgap-3c74298ef577a2349312adb52fd642f1fa1cba16
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.13.0-48.integration-mobc-upstream-7277433bc256749779a8780e3aac0017ea80471a
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

feat(client): Add several internal spans for the client
  packages/client/src/generation/TSClient/common.ts
  packages/client/src/generation/utils/buildDMMF.ts
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/index.ts
  packages/engine-core/src/tracing/runInChildSpan.ts
Due: client, engine-core

chore(deps): update engines to 4.13.0-42.745dcc4b3aa8b8a153cf4fa46478871befdfd9bd (#18775)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

clear mocks between tests
  packages/client/src/runtime/core/init/checkPlatformCaching.test.ts
  packages/client/tests/e2e/platform-caching-error/tests/vercel-auto-generate.ts
Due: client

feat(cli): intro warning (35) support for deferred constraints (#18754)
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/fixtures/introspection/postgresql/deferred-constraint-warning-35/schema.prisma
  packages/migrate/src/__tests__/fixtures/introspection/postgresql/deferred-constraint-warning-35/setup.sql
  packages/migrate/src/commands/DbPull.ts
  packages/migrate/src/types.ts
Due: none

fix(client): add console error log for caching on top of error (#18759)
  packages/client/src/runtime/core/init/checkPlatformCaching.test.ts
  packages/client/src/runtime/core/init/checkPlatformCaching.ts
  packages/client/tests/e2e/platform-caching-error/tests/vercel-auto-generate.ts
Due: client

chore(deps): update engines to 4.13.0-49.integration-extra-spans-a91f24cb8d6582013d122b5335c261cf170533a3
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.13.0-50.1e7af066ee9cb95cf3a403c78d9aab3e6b04f37a
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.13.0-51.integration-mobc-upstream-d3df8d5c656b4a504801790ea56e5cbda82424e8
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.13.0-50.1e7af066ee9cb95cf3a403c78d9aab3e6b04f37a (#18788)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

ci: Disable scheduled runs
  .github/workflows/test.yml
Due: none

ci: Disable scheduled runs (#18793)
  .github/workflows/test.yml
Due: none

chore: make renovate pin dependencies
  .github/renovate.json
Due: none

chore(deps): pin alls version
  packages/client/package.json
  packages/engine-core/package.json
  packages/instrumentation/package.json
  packages/internals/package.json
  packages/migrate/fixtures/blog/package.json
  packages/migrate/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-custom-ts-node/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-js/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-legacy-custom-ts-node/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-legacy/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-sh/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-ts-esm/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-ts/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite/package.json
  packages/ni/package.json
  pnpm-lock.yaml
Due: client, engine-core

Added test case for types (enums)\nUpdated snapshots per #3884 in engines
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/fixtures/introspection/postgresql/comments-warning-36-3/schema.prisma
  packages/migrate/src/__tests__/fixtures/introspection/postgresql/comments-warning-36-3/setup.sql
Due: none

Update 36/3 snapshot: include comments
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/fixtures/introspection/postgresql/comments-warning-36-3/setup.sql
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
