Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

Update generate message to directly link importing-client
  packages/cli/src/Generate.ts
  packages/cli/src/__tests__/commands/Generate.test.ts
Due: none

fix(client): Fix `globalOmit` with methods that do not return the model
  packages/client/src/runtime/core/jsonProtocol/serializeJsonQuery.ts
  packages/client/tests/functional/globalOmit/test.ts
Due: client

feat(generator-helper): add typings for indexes in DMMF
  packages/client/src/runtime/core/runtimeDataModel.ts
  packages/client/src/testUtils/dataModelBuilder.ts
  packages/generator-helper/src/dmmf.ts
Due: client, generator-helper

chore(deps): update engines to 5.17.0-16.integration-dmmf-indexes-d964e5cfdd8811d32218d9bfa6c83522e0a1ddde
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

feat: hide indexes completely from client
  packages/client/src/generation/dmmf-types.ts
  packages/client/src/runtime/core/runtimeDataModel.ts
Due: client

test(client): add functional tests for #21631
  packages/client/tests/functional/issues/21631-batching-in-transaction/_matrix.ts
  packages/client/tests/functional/issues/21631-batching-in-transaction/prisma/_schema.ts
  packages/client/tests/functional/issues/21631-batching-in-transaction/tests.ts
Due: client

fix: add missing property in a test
  packages/client/src/generation/GenericsArgsInfo.test.ts
Due: client

chore: update engines to 5.17.0-16.integration-dmmf-indexes-d964e5cfdd8811d32218d9bfa6c83522e0a1ddde
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

fix: update snapshots
  packages/internals/src/__tests__/engine-commands/__snapshots__/getDmmf.test.ts.snap
  packages/internals/src/__tests__/engine-commands/getDmmf.test.ts
Due: none

chore(deps): update engines to 5.17.0-17.4947-merge-1d8598a84efca2279183a81bdaf04bbae7f87cd2
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.17.0-18.feat-gh-actions-c1e7a626dcb1ad75dad12236150d482a53b0cdb5
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.17.0-19.9618390b7829a040bd2267141b8a2b6e3ffeca29
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore: bump engines to 5.17.0-19.9618390b7829a040bd2267141b8a2b6e3ffeca29
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.17.0-20.feat-gh-actions-2753dcb458557dd4f28b596f7506c17e93d5e0dd
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

feat(generator-helper): add typings for indexes in DMMF (#24762)
  packages/client/package.json
  packages/client/src/generation/GenericsArgsInfo.test.ts
  packages/client/src/generation/dmmf-types.ts
  packages/client/src/testUtils/dataModelBuilder.ts
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/generator-helper/src/dmmf.ts
  packages/internals/package.json
  packages/internals/src/__tests__/engine-commands/__snapshots__/getDmmf.test.ts.snap
  packages/internals/src/__tests__/engine-commands/getDmmf.test.ts
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client, generator-helper

chore(deps): update engines to 5.17.0-21.feat-gh-actions-cfdd9eef8da5705405ffc9e94fc6d61c04cb7f2c
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

fix(client): Fix `globalOmit` with methods that do not return the model (#24765)
  packages/client/src/runtime/core/jsonProtocol/serializeJsonQuery.ts
  packages/client/tests/functional/globalOmit/test.ts
Due: client

chore(deps): update engines to 5.17.0-22.feat-gh-actions-81995eb238f5fd4c5584112804fcf79f18e89cc6
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.17.0-23.feat-gh-actions-be53ad1270793f135da1ae7b7c645cea39bf7fcb
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.17.0-24.feat-gh-actions-6e5cfca055d17aa12c815c6f99786f9134095cc7
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.17.0-25.feat-gh-actions-1d704f7d660b56cc6488a2e5fcf0b1b35bb84375
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.17.0-26.feat-gh-actions-71087f50f90400fd1ff10da7b187b0c8a1aef11a
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.17.0-27.feat-gh-actions-fca92037687d6fca891ea8bc636c3dba78b58bde
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

Rename expected span
  packages/client/tests/functional/tracing/tests.ts
Due: client

chore(deps): update engines to 5.17.0-28.c4fe130c7bde4de5d81403634bf47c83325f8e57
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(cli): cleanup import message when running generate (#24739)
  packages/cli/src/Generate.ts
  packages/cli/src/__tests__/commands/Generate.test.ts
Due: none

chore(cli): quieten adding prisma packages (#24742)
  packages/internals/src/get-generators/generatorResolvers/prisma-client-js/prismaClientResolver.ts
Due: none

feat(cli): Support `prisma platform auth show --sensitive` (#24745)
  packages/cli/src/platform/auth/__tests__/show.test.ts
  packages/cli/src/platform/auth/show.ts
Due: none

feat: support new queryRaw result format
  packages/client/package.json
  packages/client/src/__tests__/deserializeRawResults.test.ts
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/core/engines/library/LibraryEngine.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/deserializeRawResults.ts
  packages/client/tests/functional/raw-queries/typed-results-advanced-and-native-types/tests.ts
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

feat: support new queryRaw result format (#24783)
  packages/client/package.json
  packages/client/src/__tests__/deserializeRawResults.test.ts
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/core/engines/library/LibraryEngine.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/deserializeRawResults.ts
  packages/client/tests/functional/raw-queries/typed-results-advanced-and-native-types/tests.ts
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
