Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

replace wrangler-proxy by getBindingsProxy
  packages/adapter-d1/src/d1.ts
  packages/client/helpers/functional-test/run-tests.ts
  packages/client/package.json
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  pnpm-lock.yaml
  sandbox/d1/package.json
Due: client

test(e2e): update vercel CLI dependency
  packages/client/tests/e2e/nextjs-schema-not-found/10_monorepo-serverComponents-customOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/11_monorepo-noServerComponents-noCustomOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/12_monorepo-serverComponents-noCustomOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/13_monorepo-noServerComponents-customOutput-reExportDirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/14_monorepo-serverComponents-customOutput-reExportDirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/15_monorepo-noServerComponents-customOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/16_monorepo-serverComponents-customOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/17_monorepo-noServerComponents-customOutput-reExportIndirect-ts/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/18_monorepo-serverComponents-customOutput-reExportIndirect-ts/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/3_simplerepo-noServerComponents-noCustomOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/4_simplerepo-serverComponents-noCustomOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/5_simplerepo-noServerComponents-customOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/6_simplerepo-serverComponents-customOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/7_monorepo-noServerComponents-noCustomOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/8_monorepo-serverComponents-noCustomOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/9_monorepo-noServerComponents-customOutput-noReExport/packages/service/package.json
Due: client

fix cfWorkerBindings
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
Due: client

test(e2e): update vercel CLI dependency (#23103)
  packages/client/tests/e2e/nextjs-schema-not-found/10_monorepo-serverComponents-customOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/11_monorepo-noServerComponents-noCustomOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/12_monorepo-serverComponents-noCustomOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/13_monorepo-noServerComponents-customOutput-reExportDirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/14_monorepo-serverComponents-customOutput-reExportDirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/15_monorepo-noServerComponents-customOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/16_monorepo-serverComponents-customOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/17_monorepo-noServerComponents-customOutput-reExportIndirect-ts/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/18_monorepo-serverComponents-customOutput-reExportIndirect-ts/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/3_simplerepo-noServerComponents-noCustomOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/4_simplerepo-serverComponents-noCustomOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/5_simplerepo-noServerComponents-customOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/6_simplerepo-serverComponents-customOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/7_monorepo-noServerComponents-noCustomOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/8_monorepo-serverComponents-noCustomOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/9_monorepo-noServerComponents-customOutput-noReExport/packages/service/package.json
Due: client

remove @ts-expect-error (2511)
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
Due: client

fix type import for D1Result
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
Due: client

chore(deps): update engines to 5.10.0-19.9878210aad0f85f0c2a97fce55931d2b828f288f
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

tweak 9372
  packages/client/tests/functional/issues/9372/tests.ts
Due: client

add snapshots for "D1_ERROR: FOREIGN KEY constraint failed"
  packages/client/tests/functional/referentialActions-setDefault/tests_1-to-1.ts
  packages/client/tests/functional/referentialActions-setDefault/tests_1-to-n.ts
  packages/client/tests/functional/relationMode-17255-same-actions/tests.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_1-to-1.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_1-to-n.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_m-to-n.ts
Due: client

chore(deps): update engines to 5.10.0-19.9878210aad0f85f0c2a97fce55931d2b828f288f (#23105)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.10.0-21.e9f802b49f54e4bf5bca901f406534ca72fb3cff
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

cleanup and fix errors
  packages/adapter-d1/package.json
  packages/adapter-d1/src/d1.ts
  pnpm-lock.yaml
  sandbox/d1/README.md
  sandbox/d1/package.json
  sandbox/d1/prisma/schema.prisma
  sandbox/d1/wrangler.toml
Due: none

update tests with current state
  packages/adapter-d1/src/d1.ts
  packages/client/tests/functional/raw-queries/typed-results/tests.ts
Due: client

lower does not crash on large amount of items inserted
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/issues/9372/tests.ts
Due: client

chore(deps): update engines to 5.10.0-22.7efa9cb6a66a6343e70ddbb91b41924713533029
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

move @cloudflare/workers-types to devDep
  packages/client/package.json
  pnpm-lock.yaml
Due: client

import type
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
Due: client

feat(client): Stop polyfilling buffer in wasm-bingen runtime
  helpers/compile/plugins/fill-plugin/fillPlugin.ts
  packages/client/helpers/build.ts
Due: client

chore(deps): update engines to 5.10.0-23.57cc2f60457084432d52d2f1e6f7af493a93a263
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

feat(driver-adapters): fix sandbox
  sandbox/driver-adapters/package.json
  sandbox/driver-adapters/src/pg.ts
  sandbox/driver-adapters/src/test.ts
  sandbox/driver-adapters/tsconfig.json
Due: none

feat(client): bundle "@prisma/prisma-schema-build" for client generation purposes
  packages/client/helpers/build.ts
  packages/client/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.10.0-23.57cc2f60457084432d52d2f1e6f7af493a93a263 (#23109)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

feat(client): serialize schema.prisma to binary
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/TSClient/index.ts
  packages/client/src/generation/TSClient/jsifyUint8Array.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/utils/buildSerializedSchema.ts
  packages/client/src/runtime/core/engines/common/Engine.ts
  packages/client/src/runtime/core/engines/library/LibraryEngine.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/generator-helper/src/types.ts
Due: client, generator-helper

chore(deps): update engines to 5.10.0-24.7e5bcbefc94df2855deae774ff61a27c67200ad2
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

progress
  packages/cli/src/platform/auth/login.ts
  packages/cli/src/platform/project/create.ts
  packages/cli/src/platform/project/delete.ts
  packages/cli/src/platform/project/show.ts
  packages/cli/src/platform/serviceToken/create.ts
  packages/cli/src/platform/serviceToken/delete.ts
  packages/cli/src/platform/serviceToken/show.ts
Due: none

chore(deps): update engines to 5.10.0-24.7e5bcbefc94df2855deae774ff61a27c67200ad2 (#23111)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

finish transition to conductor
  packages/cli/src/platform/accelerate/disable.ts
  packages/cli/src/platform/accelerate/enable.ts
  packages/cli/src/platform/auth/show.ts
  packages/cli/src/platform/platformUtils.ts
  packages/cli/src/platform/project/show.ts
  packages/cli/src/platform/serviceToken/create.ts
  packages/cli/src/platform/serviceToken/delete.ts
  packages/cli/src/platform/serviceToken/show.ts
  packages/cli/src/platform/workspace/show.ts
Due: none

apply review suggestions
  helpers/compile/plugins/fill-plugin/fillers/util.ts
  package.json
  packages/debug/src/__tests__/debug.extended.test.ts
  packages/debug/src/index.ts
  pnpm-lock.yaml
Due: debug

make delete consistent
  packages/cli/src/platform/platformUtils.ts
  packages/cli/src/platform/serviceToken/delete.ts
Due: none

feat(client): Mention Accelerate in "Too many connections" errors
  packages/client/src/runtime/core/engines/binary/BinaryEngine.ts
  packages/client/src/runtime/core/engines/data-proxy/DataProxyEngine.ts
  packages/client/src/runtime/core/engines/library/LibraryEngine.ts
  packages/client/src/runtime/core/errors/utils/prismaGraphQLToJSError.ts
Due: client
