Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 99da84a5b63172f4034e5c428fe9c72f3e21ba55
  dev/bench/data.js
Due: none

Bump up Studio version
  src/packages/cli/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8b66799a9fbb8c718cf441b27e5616fc6e0c24d7
  dev/bench/data.js
Due: none

chore(deps): update studio to v0.353.0
  src/packages/cli/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a084077259b4bd308a79e0c2e985edd3c1ccd632
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 2e28877afecd00960aacafa5a86992c2634aa2ea
  dev/bench/data.js
Due: none

chore(deps): update dependency sqlite3 to v5.0.2
  src/packages/migrate/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for fb53469c9deb434bc636aa86467be04b401deed6
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e89540b82a125ba7613093d834a606c419b435a1
  dev/bench/data.js
Due: none

fix(cli): Fix Studio tests (#5668)
  src/packages/cli/src/__tests__/studio.test.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for fdd8213262ee901838fa63838e29ae6e881aac90
  dev/bench/data.js
Due: none

feat(fetch-engine): add napi
  src/packages/fetch-engine/src/__tests__/napi.test.ts
  src/packages/fetch-engine/src/download.ts
  src/packages/fetch-engine/src/index.ts
Due: fetch-engine

feat(generator-helper): add libqueryEngineNapi to binaryPaths
  src/packages/generator-helper/src/types.ts
Due: generator-helper

feat(engine-core): add engineType
  src/packages/engine-core/src/Engine.ts
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/engine-core/src/NodeEngine.ts
  src/packages/engine-core/src/index.ts
Due: engine-core

fix(client): external @prisma/engines for esbuild
  src/packages/client/helpers/build.js
Due: client

feat(client): initial engine='napi'
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/fixtures/blog/prisma/schema.prisma
  src/packages/client/src/generation/generateClient.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/client/src/utils/generateInFolder.ts
Due: client

chore(client): cleanup engine instantiation
  src/packages/client/src/runtime/getPrismaClient.ts
Due: client

fix(fetch-engine): remove duplicate import
  src/packages/fetch-engine/src/util.ts
Due: fetch-engine

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 5ce659c83c86dc9458afd6aa5976dc85275b083a
  dev/bench/data.js
Due: none

chore: clean up logs
  src/packages/client/src/generation/generateClient.ts
  src/packages/client/src/utils/generateInFolder.ts
  src/packages/fetch-engine/src/util.ts
Due: fetch-engine, client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1b7536e9308233436a0a86dfe6d5e224f8b56655
  dev/bench/data.js
Due: none

fix: moved function
  src/packages/engine-core/src/__tests__/errors.test.ts
Due: engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a1645f465a714d4099e543fe19439ad66544f956
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.17.0-36.d4e3e84f7d7efd83ef3a371038093ecaedf840a0
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for be5dc84d5d39494bc16bdbb23de71876ce6e5910
  dev/bench/data.js
Due: none

chore(deps): update studio to v0.354.0
  src/packages/cli/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ed2f57d53751ec8b43a0b8f0f980589cdd28981b
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 09e9934de9e52d0fe961068804081973bf732306
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ddf99935770158ff68f794825bc62415cc46bb08
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8620eb2b5677c335f33f094a29875c44e1dd58f7
  dev/bench/data.js
Due: none

chore(deps): update dependency @types/pg to v7.14.10
  src/packages/client/package.json
  src/packages/migrate/package.json
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b98ed899b8454251e4ecaff2529e2d8a9985b52a
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 126d16966d588749e3837e5e5d7c681a7569df1f
  dev/bench/data.js
Due: none

Path conditions:
  get-platform: any of: src/packages/get-platform/
  fetch-engine: any of: src/packages/fetch-engine/
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
