Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

delete output location warning tests
  packages/client/tests/e2e/output-location-warning/.gitignore
  packages/client/tests/e2e/output-location-warning/_steps.ts
  packages/client/tests/e2e/output-location-warning/jest.config.js
  packages/client/tests/e2e/output-location-warning/package.json
  packages/client/tests/e2e/output-location-warning/pnpm-lock.yaml
  packages/client/tests/e2e/output-location-warning/prisma/schema-custom.prisma
  packages/client/tests/e2e/output-location-warning/prisma/schema-default.prisma
  packages/client/tests/e2e/output-location-warning/readme.md
  packages/client/tests/e2e/output-location-warning/src/no-warning/commonjs-default-edge.js
  packages/client/tests/e2e/output-location-warning/src/no-warning/commonjs-default-index.js
  packages/client/tests/e2e/output-location-warning/src/no-warning/commonjs-default.js
  packages/client/tests/e2e/output-location-warning/src/no-warning/commonjs-dep-edge.js
  packages/client/tests/e2e/output-location-warning/src/no-warning/commonjs-dep-index.js
  packages/client/tests/e2e/output-location-warning/src/no-warning/commonjs-dep.js
  packages/client/tests/e2e/output-location-warning/src/no-warning/commonjs-edge.js
  packages/client/tests/e2e/output-location-warning/src/no-warning/esm-default-edge.mjs
  packages/client/tests/e2e/output-location-warning/src/no-warning/esm-default-index.mjs
  packages/client/tests/e2e/output-location-warning/src/no-warning/esm-default.mjs
  packages/client/tests/e2e/output-location-warning/src/no-warning/esm-dep-edge.mjs
  packages/client/tests/e2e/output-location-warning/src/no-warning/esm-dep-index.mjs
  packages/client/tests/e2e/output-location-warning/src/no-warning/esm-dep.mjs
  packages/client/tests/e2e/output-location-warning/src/no-warning/esm-edge.mjs
  packages/client/tests/e2e/output-location-warning/src/warning/common-index.js
  packages/client/tests/e2e/output-location-warning/src/warning/common.js
  packages/client/tests/e2e/output-location-warning/src/warning/esm-index.mjs
  packages/client/tests/e2e/output-location-warning/tests/main.test.ts
  packages/client/tests/e2e/output-location-warning/tsconfig.json
Due: client

update test
  packages/client/tests/e2e/prisma-client-imports/tests/main.test.ts
Due: client

point browser to trampoline
  packages/client/package.json
Due: client

guard process.env with typeof
  packages/debug/src/index.ts
Due: debug

fix exports map
  packages/client/package.json
Due: client

make it backwards compatible
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/generateClient.ts
  packages/client/tests/e2e/enum-import-in-edge/pnpm-lock.yaml
Due: client

simplify code
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/generateClient.ts
Due: client

comment
  packages/client/src/generation/generateClient.ts
Due: client

simplify code
  packages/client/src/generation/generateClient.ts
Due: client

cleanup
  packages/client/src/generation/utils/types/dmmfToTypes.ts
Due: client

comments
  packages/client/src/generation/generateClient.ts
  packages/client/tests/e2e/enum-import-in-edge/pnpm-lock.yaml
Due: client

Fix things
  packages/adapter-d1/README.md
Due: none

pnpm run format
  packages/adapter-d1/README.md
Due: none

feat(adapters): cloudflare d1 - Add README (#23245)
  packages/adapter-d1/README.md
Due: none

Revert "fix(driver-adapter-utils): fix "Cannot find namespace 'debug'""
  packages/driver-adapter-utils/src/debug.ts
  packages/driver-adapter-utils/src/index.ts
Due: none

fix(adapter-pg): non-default export error on "pg"
  packages/adapter-pg/src/conversion.ts
  packages/adapter-pg/src/pg.ts
Due: none

fix(adapter-pg-worker): non-default export error on "pg"
  packages/adapter-pg-worker/src/conversion.ts
  packages/adapter-pg-worker/src/pg.ts
Due: none

fix(client): generation with invalid versions in `package.json`
  packages/client/tests/e2e/invalid-package-version/_steps.ts
  packages/client/tests/e2e/invalid-package-version/package.json
  packages/client/tests/e2e/invalid-package-version/pnpm-lock.yaml
  packages/client/tests/e2e/invalid-package-version/prisma/schema.prisma
  packages/client/tests/e2e/invalid-package-version/readme.md
  packages/client/tests/e2e/invalid-package-version/tsconfig.json
  packages/internals/package.json
  packages/internals/src/cli/getSchema.ts
  packages/internals/src/getPackedPackage.ts
  pnpm-lock.yaml
Due: client

chore(client): updated snapshot after simplifying PlanetScale's error message logic
  packages/client/tests/functional/fulltext-search/__snapshots__/tests.ts.snap
Due: client

chore(deps): update engines to 5.11.0-5.4308b705cc0694626ff407996f3145ddef0ad1c6 (#23312)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix(client): generation with invalid versions in `package.json` (#23337)
  packages/client/tests/e2e/invalid-package-version/_steps.ts
  packages/client/tests/e2e/invalid-package-version/package.json
  packages/client/tests/e2e/invalid-package-version/pnpm-lock.yaml
  packages/client/tests/e2e/invalid-package-version/prisma/schema.prisma
  packages/client/tests/e2e/invalid-package-version/readme.md
  packages/client/tests/e2e/invalid-package-version/tsconfig.json
  packages/internals/package.json
  packages/internals/src/cli/getSchema.ts
  packages/internals/src/getPackedPackage.ts
  pnpm-lock.yaml
Due: client

ci: use macOS 14 (#22904)
  .github/workflows/build-engine-branch.yml
  .github/workflows/test-template.yml
Due: none

feat(prisma-pg-worker): add to test suite
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
Due: client

fix(driver-adapter-utils): fix `pg has no default export` (#23311)
  packages/adapter-pg-worker/src/conversion.ts
  packages/adapter-pg-worker/src/pg.ts
  packages/adapter-pg/src/conversion.ts
  packages/adapter-pg/src/pg.ts
Due: none
