Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

chore(TESTING.md): mention integration branches (#12687)
  TESTING.md
Due: none

test(client): mongodb: use retry in beforeEach to avoid flaky tests
  packages/client/src/__tests__/integration/happy/composites-mongo/aggregate/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/aggregate/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/aggregate/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/count/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/count/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/count/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/create/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/create/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/create/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/createMany/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/createMany/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/createMany/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/delete/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/delete/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/delete/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/deleteMany/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/deleteMany/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/deleteMany/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findFirst/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findFirst/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findFirst/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findMany/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findMany/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findMany/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/update/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/update/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/update/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/updateMany/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/updateMany/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/updateMany/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/list/create.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/list/update.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/optional/create.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/optional/update.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/required/create.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/required/update.ts
Due: client

fix: fix the path to the schema missing-backrelation.prisma
  packages/cli/src/__tests__/commands/Format.test.ts
Due: none

ci: isolate composites-mongo tests
  .buildkite/test/run.sh
Due: none

Fix spacing in cockroachdb preview schema
  packages/cli/src/Init.ts
Due: none

isolate composites-mongo/update/optional
  .buildkite/test/run.sh
Due: none

feat(test): added default schema snapshots to 'prisma init' command
  packages/cli/src/__tests__/commands/Init.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Init.test.ts.snap
Due: none

added 'findRaw' to PrismaAction for mongo.findRaw middleware queries
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/PrismaClient.ts
Due: client

test(client): mongodb: use retry in beforeEach to avoid flaky tests (#12699)
  packages/client/src/__tests__/integration/happy/composites-mongo/aggregate/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/aggregate/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/aggregate/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/count/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/count/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/count/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/create/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/create/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/create/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/createMany/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/createMany/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/createMany/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/delete/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/delete/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/delete/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/deleteMany/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/deleteMany/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/deleteMany/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findFirst/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findFirst/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findFirst/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findMany/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findMany/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/findMany/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/update/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/update/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/update/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/updateMany/list.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/updateMany/optional.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/updateMany/required.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/list/create.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/list/update.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/optional/create.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/optional/update.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/required/create.ts
  packages/client/src/__tests__/integration/happy/composites-mongo/upsert/required/update.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for dd09e934a303bef352e78c00a6a0dcc6b58443a1
  dev/bench/data.js
Due: none

fix(cli): remove spacing in cockroachdb preview schema (#12696)
  packages/cli/src/Init.ts
  packages/cli/src/__tests__/commands/Init.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Init.test.ts.snap
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f27a576a61cb52d9cb0041f37ce368431e1323b4
  dev/bench/data.js
Due: none

Revert "fix: fix the path to the schema missing-backrelation.prisma"
  packages/cli/src/__tests__/commands/Format.test.ts
Due: none

chore(deps): update engines to 3.13.0-3.8940c973956ded416ab61d3940480aff8f7fc869
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.13.0-3.8940c973956ded416ab61d3940480aff8f7fc869 (#12733)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 4f8267ea066a181ab40e14099e94da1f8ded3c6a
  dev/bench/data.js
Due: none

fix: remove 3.4.1 fallback from DataProxy Client
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

allow returning null
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

chore(deps): update engines to 3.13.0-4.a2a89a7dfb88dbe9b1a27e8d1a6325b35e1ca41f
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

throw instead?
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

fix di fix
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

try random stuff by now
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

move throw outside, return "unsupported"
  package-lock.json
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

reading the error msg has its benefits
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
Due: engine-core

update snapshots
  packages/migrate/src/__tests__/DbExecute.test.ts
  packages/migrate/src/__tests__/handlePanic.test.ts
  packages/migrate/src/utils/getGithubIssueUrl.ts
Due: none

fix binary engine unit tests
  .gitignore
  packages/engine-core/src/binary/BinaryEngine.ts
Due: engine-core

chore(deps): update engines to 3.13.0-4.a2a89a7dfb88dbe9b1a27e8d1a6325b35e1ca41f (#12743)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/migrate/src/__tests__/DbExecute.test.ts
  packages/migrate/src/__tests__/handlePanic.test.ts
  packages/migrate/src/utils/getGithubIssueUrl.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 454f3139bd44872b319c7f0866a17cdeca09cd8b
  dev/bench/data.js
Due: none

Test NAPI-rs V2 integration
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.13.0-6.0317ad013e33dcab239f637ba0bf0e00fda77c1d
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(migrate): remove sqlite check now performed engine-side
  packages/sdk/src/migrateEngineCommands.ts
Due: sdk

.
  packages/sdk/src/__tests__/migrateEngineCommands.test.ts
Due: sdk

chore(deps): update dependency glob to v8
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update engines to 3.13.0-7.d0e454832ed9b907fa334540e72c4d087abbebc1
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add tests for queryTimeout for binary and library engines
  packages/client/src/__tests__/integration/happy/queryTimeout/.gitignore
  packages/client/src/__tests__/integration/happy/queryTimeout/dev.db
  packages/client/src/__tests__/integration/happy/queryTimeout/test.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: client, engine-core

test(diff): update since sqlite file existence is now checked
  packages/migrate/src/__tests__/MigrateDiff.test.ts
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
