Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

fix(get-platform): remove x32 in isNodeAPISupported()
  packages/get-platform/src/isNodeAPISupported.ts
Due: none

refactor(cli): better type and error for tryToReadDataFromSchema
  packages/cli/src/utils/checkpoint.ts
Due: none

ci(buildkite): try log managing sections (#18947)
  .buildkite/publish/run.sh
  .buildkite/test/run.sh
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: none

feat: stable types node and exit hooks (#18899)
  packages/debug/package.json
  packages/engine-core/package.json
  packages/engine-core/src/library/ExitHooks.ts
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/generator-helper/package.json
  packages/get-platform/package.json
  packages/instrumentation/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-custom-ts-node/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-js/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-legacy-custom-ts-node/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-legacy/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-sh/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-ts-esm/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite-ts/package.json
  packages/migrate/src/__tests__/fixtures/seed-sqlite/package.json
  pnpm-lock.yaml
Due: debug, engine-core, generator-helper

chore(deps): update engines to 4.14.0-40.integration-avoid-tests-in-integration-prs-1999ae3ace58d20f70f188ef05518fe59596853f
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.14.0-41.integration-avoid-tests-in-integration-prs-09e4fbdb3ef58f4387a4cff1ee0cc152b9861473
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.14.0-42.integration-avoid-tests-in-integration-prs-2-09e4fbdb3ef58f4387a4cff1ee0cc152b9861473
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.14.0-43.3b25dbc49c0a515ef7b4d7c4fcca6395e8e98dc1
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

refactor: remove some promisify to fs.promises (#18990)
  packages/cli/helpers/build.ts
  packages/cli/src/Doctor.ts
  packages/cli/src/utils/getClientVersion.ts
  packages/cli/src/utils/prompt/utils/isDirEmpty.ts
  packages/client/scripts/postinstall.js
  packages/client/src/__tests__/integration/happy/atomic-operations/test.ts
  packages/client/src/__tests__/integration/happy/uncheckedScalarInputs/test.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/runtime/utils/find.ts
  packages/client/src/utils/getTestClient.ts
  packages/fetch-engine/src/cleanupCache.ts
  packages/fetch-engine/src/download.ts
  packages/internals/src/cli/getSchema.ts
  packages/internals/src/resolveBinary.ts
  packages/migrate/src/__tests__/handlePanic.migrate.test.ts
  packages/migrate/src/utils/seed.ts
  scripts/ci/publish.ts
Due: client

chore(ci): Reduce the number of jobs, move some of them to once a day
  .github/workflows/scripts/build-client-matrix.js
  .github/workflows/test.yml
Due: none

fix(tests): fix flaky "generatorHandler > nonexistent executable"
  packages/generator-helper/src/GeneratorProcess.ts
  packages/generator-helper/src/__tests__/generatorHandler.test.ts
Due: generator-helper

Simplify control flow by moving the logic to exit handler
  packages/generator-helper/src/GeneratorProcess.ts
Due: generator-helper

fix: snapshots
  packages/migrate/src/__tests__/DbPull.test.ts
Due: none

fix: snapshots
  packages/integration-tests/src/__tests__/integration/mariadb/__snapshots__/introspection.test.ts.snap
  packages/integration-tests/src/__tests__/integration/postgresql/__snapshots__/introspection.test.ts.snap
  packages/integration-tests/src/__tests__/integration/sqlite/__snapshots__/introspection.test.ts.snap
Due: none

chore(deps): update engines to 4.14.0-44.integration-qe-auto-port-265b1336fb62bf97365b9609ffa079a4dc489b26
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix(generator-helper): generators directly instead of in a shell
  packages/generator-helper/src/GeneratorProcess.ts
Due: generator-helper

fix(tests): fix flaky "generatorHandler > nonexistent executable" (#18372)
  packages/generator-helper/src/GeneratorProcess.ts
  packages/generator-helper/src/__tests__/generatorHandler.test.ts
Due: generator-helper

chore(deps): update engines to 4.14.0-45.8a19c38770eeb2b3dbc148889c218fd0df6159a7
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Update packages/client/tests/e2e/bundler-detection-error/readme.md
  packages/client/tests/e2e/bundler-detection-error/readme.md
Due: client

fix(client): custom output mismatch (#18910)
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/TSClient/common.ts
  packages/client/src/generation/utils/buildDirname.ts
  packages/client/src/generation/utils/buildWarnEnvConflicts.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/index.ts
  packages/client/src/runtime/utils/find.ts
  packages/client/tests/e2e/bundler-detection-error/_steps.ts
  packages/client/tests/e2e/bundler-detection-error/package.json
  packages/client/tests/e2e/bundler-detection-error/prisma/schema.prisma
  packages/client/tests/e2e/bundler-detection-error/readme.md
  packages/client/tests/e2e/bundler-detection-error/src/index.ts
  packages/client/tests/e2e/bundler-detection-error/tests/main.ts
  packages/client/tests/e2e/bundler-detection-error/tsconfig.json
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: client, engine-core

ci: prevent concurrent tests
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: none

disable
  .github/workflows/test.yml
Due: none

debug
  .github/workflows/test.yml
Due: none

ci: restore buildpulse nightly runs on free runners
  .github/workflows/test.yml
Due: none

flip condition to check it works
  .github/workflows/test.yml
Due: none

Revert "flip condition to check it works"
  .github/workflows/test.yml
Due: none

Revert "Revert "flip condition to check it works""
  .github/workflows/test.yml
Due: none
