Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore: add JSON support to getTestSuiteFullName
  packages/client/package.json
  packages/client/tests/functional/_utils/getTestSuiteInfo.ts
Due: client

chore: moved ref integrity utils to its own folder. Added builder pattern to conditional error. Added matrix generation. Extracted self-contained utilities out of _schema.ts file.
  packages/client/tests/functional/_referential-integrity-utils/checkIfEmpty.ts
  packages/client/tests/functional/_referential-integrity-utils/computeMatrix.ts
  packages/client/tests/functional/_referential-integrity-utils/computeReferentialActionLine.ts
  packages/client/tests/functional/_referential-integrity-utils/computeSchemaHeader.ts
  packages/client/tests/functional/_referential-integrity-utils/conditionalError.ts
Due: client

chore: added sqlite support and referentialIntegrity=prisma snapshots to 1:1 and 1:n relations
  packages/client/tests/functional/referential-integrity-1-to-1/_matrix.ts
  packages/client/tests/functional/referential-integrity-1-to-1/prisma/_schema.ts
  packages/client/tests/functional/referential-integrity-1-to-1/tests_1-to-1.ts
  packages/client/tests/functional/referential-integrity/_matrix.ts
  packages/client/tests/functional/referential-integrity/_utils.ts
  packages/client/tests/functional/referential-integrity/prisma/_schema.ts
  packages/client/tests/functional/referential-integrity/tests_1-to-1.ts
  packages/client/tests/functional/referential-integrity/tests_1-to-n.ts
Due: client

chore: pnpm-lock
  pnpm-lock.yaml
Due: none

feat(client): Tracing Connect and Disconnect (#14527)
  packages/client/src/runtime/core/request/PrismaPromise.ts
  packages/client/src/runtime/core/request/createPrismaPromise.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/functional/tracing/tests.ts
  packages/engine-core/package.json
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/index.ts
  packages/engine-core/src/library/LibraryEngine.ts
  packages/engine-core/src/library/types/Library.ts
  packages/engine-core/src/tracing/TransactionTracer.ts
  packages/engine-core/src/tracing/createSpan.ts
  packages/engine-core/src/tracing/getTraceParent.ts
  packages/engine-core/src/tracing/index.ts
  packages/engine-core/src/tracing/runInSpan.ts
  pnpm-lock.yaml
Due: client, engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 62ded36d9d9fcc714391a07beabfe6336a15580f
  dev/bench/data.js
Due: none

Revert "test: fix type error"
  packages/client/tests/functional/queryRaw-send-type-hints/tests.ts
Due: client

chore: upgrade sql-template-tag to v5.0.3
  packages/client/package.json
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/index.ts
  pnpm-lock.yaml
Due: client

fix(client): Exempt a bunch of properties from strict enum checks
  packages/client/src/runtime/strictEnum.test.ts
  packages/client/src/runtime/strictEnum.ts
Due: client

fix(client): Exempt a bunch of properties from strict enum checks (#14600)
  packages/client/src/runtime/strictEnum.test.ts
  packages/client/src/runtime/strictEnum.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 6d7f68d4b3c52e90c909dde95a6638799fb9417b
  dev/bench/data.js
Due: none

test: force jest transpile sql-template-tag
  helpers/jest/forceTranspile.js
Due: none

chore(deps): update engines to 4.2.0-20.b007b4d5d0584317da24b7939ebf1cb0b2f5c314
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.2.0-21.integration-tracing-more-fixes-ae7c377d84048fc7fc2e1a1f97780b1f2f3c41dd
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(client, engine-core): rename client spans
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/functional/tracing/tests.ts
  packages/engine-core/src/tracing/getTracingConfig.ts
  packages/engine-core/src/tracing/runInChildSpan.ts
Due: client, engine-core

correctly export tracingConfig
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/tracing/index.ts
Due: client, engine-core

fix missing promise in library engine
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: engine-core

fix missing tracing config in engine
  packages/engine-core/src/__tests__/LibraryEngine.test.ts
Due: engine-core

add missing engine props in tests
  packages/client/src/__tests__/binaryEngine.test.ts
  packages/engine-core/src/__tests__/LibraryEngine.test.ts
Due: client, engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7fe705af0e6eedf862338f754893d96fd33e6142
  dev/bench/data.js
Due: none

chore(deps): update engines to 4.2.0-20.b007b4d5d0584317da24b7939ebf1cb0b2f5c314 (#14609)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 257946772fca64c0f64d86341788e467837f9156
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1478af14e7186c79ab92d9efacfab35c318f7bab
  dev/bench/data.js
Due: none

chore: removed temp folder that wasn't supposed to be committed
  packages/client/tests/functional/referential-integrity-1-to-1/_matrix.ts
  packages/client/tests/functional/referential-integrity-1-to-1/prisma/_schema.ts
  packages/client/tests/functional/referential-integrity-1-to-1/tests_1-to-1.ts
Due: client

chore: imported right 'checkIfEmpty' util for m:n relation
  packages/client/tests/functional/referential-integrity/tests_m-to-n-MongoDB.ts
  packages/client/tests/functional/referential-integrity/tests_m-to-n.ts
Due: client

test: run integration test for TiDB
  packages/integration-tests/package.json
  packages/integration-tests/src/__tests__/integration/tidb/__database.ts
  packages/integration-tests/src/__tests__/integration/tidb/__scenarios.ts
  packages/integration-tests/src/__tests__/integration/tidb/__snapshots__/introspection.test.ts.snap
  packages/integration-tests/src/__tests__/integration/tidb/introspection.test.ts
  packages/integration-tests/src/__tests__/integration/tidb/runtime.test.ts
Due: none

clean and add sqlite on m to n
  packages/client/tests/functional/referential-integrity/tests_m-to-n-MongoDB.ts
  packages/client/tests/functional/referential-integrity/tests_m-to-n.ts
Due: client

m to n add RI=Prisma messages as comments + small edits
  packages/client/tests/functional/referential-integrity/tests_m-to-n.ts
Due: client

m:n: split 1 test for prisma/foreignKeys
  packages/client/tests/functional/referential-integrity/tests_m-to-n.ts
Due: client

chore: added prisma snapshots and errors as comments in m:n relation (no MongoDB yet)
  packages/client/tests/functional/referential-integrity/tests_m-to-n.ts
Due: client

chore: added mongodb and comments to _matrix
  packages/client/tests/functional/referential-integrity/_matrix.ts
Due: client

fix: moved _referential-integrity-utils to _utils/referential-integrity to support  ERR_PNPM_NO_SCRIPT  Missing script: test:functional-code command
  packages/client/tests/functional/_utils/referential-integrity/checkIfEmpty.ts
  packages/client/tests/functional/_utils/referential-integrity/computeMatrix.ts
  packages/client/tests/functional/_utils/referential-integrity/computeReferentialActionLine.ts
  packages/client/tests/functional/_utils/referential-integrity/computeSchemaHeader.ts
  packages/client/tests/functional/_utils/referential-integrity/conditionalError.ts
  packages/client/tests/functional/referential-integrity/_matrix.ts
  packages/client/tests/functional/referential-integrity/prisma/_schema.ts
  packages/client/tests/functional/referential-integrity/tests_1-to-1.ts
  packages/client/tests/functional/referential-integrity/tests_1-to-n.ts
  packages/client/tests/functional/referential-integrity/tests_m-to-n-MongoDB.ts
  packages/client/tests/functional/referential-integrity/tests_m-to-n.ts
Due: client

test: add to github action
  .github/workflows/test.yml
  docker/docker-compose.yml
Due: none

test: use built version of client runtime in test client
  packages/client/src/utils/getTestClient.ts
Due: client

update matrix for MongoDB: add SetNull
  packages/client/tests/functional/referential-integrity/_matrix.ts
Due: client

chore(deps): update engines to 4.2.0-22.bc53ad47b04067b33d0a764fdc235113ca1268a0
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client
