Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

ci: ignore lint and cleanup-runs if renovate
  .github/workflows/test.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0a513734ffcb529b52004be28906b7e4374bb647
  dev/bench/data.js
Due: none

chore(*): drop support for Node.js 10
  src/packages/cli/README.md
  src/packages/cli/helpers/build.js
  src/packages/cli/package.json
  src/packages/cli/scripts/preinstall.js
  src/packages/client/helpers/build.js
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/float-napi/dev.db
  src/packages/client/src/__tests__/integration/happy/middlewares/dev.db
  src/packages/client/src/runtime/query.ts
Due: client

chore: update locks
  pnpm-lock.yaml
  src/pnpm-lock.yaml
Due: none

Simplify engine API of evaluateDataLoss in Migrate
  src/packages/migrate/README.md
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/types.ts
Due: none

Update src/packages/migrate/src/types.ts
  src/packages/migrate/src/types.ts
Due: none

chore(deps): update dependency @prisma/studio-server to v0.399.0
  src/packages/cli/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c960ec1aca021e4f0c65afa1bc0cbb8529947ec1
  dev/bench/data.js
Due: none

chore: update locks
  src/pnpm-lock.yaml
Due: none

refactor: drop support for Node.js 10 (#7573)
  pnpm-lock.yaml
  src/packages/cli/README.md
  src/packages/cli/helpers/build.js
  src/packages/cli/package.json
  src/packages/cli/scripts/preinstall.js
  src/packages/client/helpers/build.js
  src/packages/client/package.json
  src/packages/client/src/__tests__/integration/happy/float-napi/dev.db
  src/packages/client/src/__tests__/integration/happy/middlewares/dev.db
  src/packages/client/src/runtime/query.ts
  src/pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 2680a44466ae0aed93c9665e7b2d437fbaec45ac
  dev/bench/data.js
Due: none

ci: add export PRISMA_FORCE_NAPI=true in sh
  src/.buildkite/test/run.sh
Due: none

fix(ci): explain how to find out what buildkite test jobs are doing
  src/.buildkite/test/test.yml
Due: none

Update test.yml
  src/.buildkite/test/test.yml
Due: none

ci: add export PRISMA_FORCE_NAPI=true in sh (#7597)
  src/.buildkite/test/run.sh
Due: none

fix: pass env to Node-API
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/engine-core/src/napi-types.ts
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

Revert "update migrate snapshot"
  src/packages/migrate/src/__tests__/rpc.test.ts
Due: none

add env to get config
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/engine-core/src/napi-types.ts
  src/packages/sdk/src/engine-commands/getConfig.ts
Due: engine-core, sdk

bump engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

update migrate snapshot
  src/packages/migrate/src/__tests__/rpc.test.ts
Due: none

remove patchJest
  src/packages/client/helpers/patchJest.js
  src/packages/client/package.json
  src/packages/sdk/package.json
  src/packages/sdk/scripts/patchJest.js
Due: client, sdk

revert lock
  src/pnpm-lock.yaml
Due: none

add force exit to sdk tests
  src/packages/sdk/package.json
Due: sdk

update migration snapshots
  src/packages/migrate/src/__tests__/rpc.test.ts
Due: none

clear jest cache
  src/packages/sdk/package.json
Due: sdk

Revert "revert lock"
  src/pnpm-lock.yaml
Due: none

chore(client, sdk): remove dep `resolve-from`
  src/packages/client/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: client, sdk

remove clearCache
  src/packages/sdk/package.json
Due: sdk

fix: pass env to Node-API and remove `patchJest` (#7581)
  src/packages/cli/package.json
  src/packages/client/helpers/patchJest.js
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/engine-core/src/napi-types.ts
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/migrate/src/__tests__/rpc.test.ts
  src/packages/sdk/package.json
  src/packages/sdk/scripts/patchJest.js
  src/packages/sdk/src/engine-commands/getConfig.ts
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

fix(deps): update engines to v2.25.0-28.2456c6fa85cf119868d31902130d1c8401345c53
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f284cc5e959c75ff70a0b7f854ee808f2c1a9470
  dev/bench/data.js
Due: none

ci: explain how to find out what buildkite test jobs are doing (#7604)
  src/.buildkite/test/test.yml
Due: none

Path conditions:
  get-platform: any of: src/packages/get-platform/
  fetch-engine: any of: src/packages/fetch-engine/
  client: any of: src/packages/client/
  debug: any of: src/packages/debug/
  engine-core: any of: src/packages/engine-core/
  generator-helper: any of: src/packages/generator-helper/
  sdk: any of: src/packages/sdk/
  introspection: any of: src/packages/introspection/
