Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

Remove unused getConfigPromise from BinaryEngine
  packages/engine-core/src/binary/BinaryEngine.ts
Due: engine-core

Remove unused _getConfig from BinaryEngine
  packages/engine-core/src/binary/BinaryEngine.ts
Due: engine-core

use local prisma webpack plugin in e2e
  packages/client/.gitignore
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/nextjs-schema-not-found/11_monorepo-noServerComponents-noCustomOutput-reExportIndirect/packages/service/next.config.js
  packages/client/tests/e2e/nextjs-schema-not-found/11_monorepo-noServerComponents-noCustomOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/12_monorepo-serverComponents-noCustomOutput-reExportIndirect/packages/service/next.config.js
  packages/client/tests/e2e/nextjs-schema-not-found/12_monorepo-serverComponents-noCustomOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/13_monorepo-noServerComponents-customOutput-reExportDirect/packages/service/next.config.js
  packages/client/tests/e2e/nextjs-schema-not-found/13_monorepo-noServerComponents-customOutput-reExportDirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/14_monorepo-serverComponents-customOutput-reExportDirect/packages/service/next.config.js
  packages/client/tests/e2e/nextjs-schema-not-found/14_monorepo-serverComponents-customOutput-reExportDirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/15_monorepo-noServerComponents-customOutput-reExportIndirect/packages/service/next.config.js
  packages/client/tests/e2e/nextjs-schema-not-found/15_monorepo-noServerComponents-customOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/16_monorepo-serverComponents-customOutput-reExportIndirect/packages/service/next.config.js
  packages/client/tests/e2e/nextjs-schema-not-found/16_monorepo-serverComponents-customOutput-reExportIndirect/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/17_monorepo-noServerComponents-customOutput-reExportIndirect-ts/packages/service/next.config.js
  packages/client/tests/e2e/nextjs-schema-not-found/17_monorepo-noServerComponents-customOutput-reExportIndirect-ts/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/18_monorepo-serverComponents-customOutput-reExportIndirect-ts/packages/service/next.config.js
  packages/client/tests/e2e/nextjs-schema-not-found/18_monorepo-serverComponents-customOutput-reExportIndirect-ts/packages/service/package.json
Due: client

save possibility of multi client handling
  packages/client/src/generation/TSClient/TSClient.ts
  packages/webpack-plugin/index.multi-schema.js
Due: client

test(client): unskip @ignore tests that shouldn't fail anymore (#18044)
  packages/client/src/__tests__/integration/happy/ignore/test.ts
  packages/client/src/__tests__/types/ignore/schema.prisma
Due: client

test(client): Add test for push update into json list (#18018)
  packages/client/tests/functional/json-list-push/_matrix.ts
  packages/client/tests/functional/json-list-push/prisma/_schema.ts
  packages/client/tests/functional/json-list-push/tests.ts
Due: client

chore(deps): update engines to 4.11.0-42.feat-json-protocol-b63e5fae7e4a52510e0bde52cc69ba500fad880f
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-43.1f11eb9d711e7c41b4df662ac62f0cb2ddb73a99
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

refactor: fix enginePath type in DefaultLibraryLoader (#18053)
  packages/engine-core/src/library/DefaultLibraryLoader.ts
Due: engine-core

chore(deps): update engines to 4.11.0-44.feat-json-protocol-a39dfce7aaf451d19b106cc787d2ef2bd8be223e
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-45.integration-extra-spans-abbf0909c52e85ef422a7aefae51c6b9833b503f
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

cleanup
  packages/webpack-plugin/README.md
  packages/webpack-plugin/index.multi-schema.js
Due: none

cleanup
  packages/webpack-plugin/README.md
Due: none

chore(deps): update engines to 4.11.0-43.1f11eb9d711e7c41b4df662ac62f0cb2ddb73a99 (#18062)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-46.f096a21f3e47685586a81ad7198fbb9cb16d213f
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-47.1792f6315e2cb4f355105bdbe1aaaf047b6219f2
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-48.0d8462a331d00d5280d7d9bd69036f86b58ef03c
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-46.f096a21f3e47685586a81ad7198fbb9cb16d213f (#18067)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-47.1792f6315e2cb4f355105bdbe1aaaf047b6219f2 (#18068)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-49.8f13e5fcea8c4ffe14e8a95303c186ea3888f78f
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update studio to 0.483.0 (#18020)
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update engines to 4.11.0-48.0d8462a331d00d5280d7d9bd69036f86b58ef03c (#18070)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

refactor: remove dead code (#18054)
  packages/client/src/runtime/MiddlewareHandler.ts
  packages/client/src/runtime/query.ts
  packages/client/src/runtime/utils/deep-extend.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: client, engine-core
