Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

fix flaky tests while keeping parallel
  packages/client/helpers/functional-test/run-tests.ts
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

ci: discard provider information in junit files
  packages/client/tests/functional/jest.config.js
Due: client

fix(migrateEngineCommands): Output exception for caught "engine error" as well (not only for "engine exited")
  packages/internals/src/migrateEngineCommands.ts
Due: none

adapt snapshot
  packages/internals/src/__tests__/migrateEngineCommands.test.ts
Due: none

chore(deps): update engines to 4.11.0-21.4dea9984d13e9fecbb3c4cad08dddc9a36f17775
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

Update packages/client/helpers/functional-test/run-tests.ts
  packages/client/helpers/functional-test/run-tests.ts
Due: client

test(client): fix vitess flakiness (in band) (#17877)
  docker/docker-compose.yml
  packages/client/helpers/functional-test/run-tests.ts
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

fix(client): Fix exponenetial regexp in error formatting code
  packages/client/src/runtime/utils/createErrorMessageWithContext.test.ts
  packages/client/src/runtime/utils/createErrorMessageWithContext.ts
Due: client

chore(deps): update engines to 4.11.0-22.feat-json-protocol-981e92b72e3acdbdbb4ef339ad03169de31ea638
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

ci: discard provider information in junit files (#17883)
  packages/client/tests/functional/jest.config.js
Due: client

bump engines
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

update errors
  packages/client/tests/functional/composites/list/createMany.ts
  packages/client/tests/functional/composites/object/createMany.ts
Due: client

update snaps
  packages/internals/src/__tests__/engine-commands/__snapshots__/getDmmf.test.ts.snap
Due: none

chore(deps): update engines to 4.11.0-23.1f2d45908d671ccbc5329131ec18665c16cc0cdd
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-21.4dea9984d13e9fecbb3c4cad08dddc9a36f17775 (#17901)
  packages/client/package.json
  packages/client/tests/functional/composites/list/createMany.ts
  packages/client/tests/functional/composites/object/createMany.ts
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/internals/src/__tests__/engine-commands/__snapshots__/getDmmf.test.ts.snap
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

bump to latest engine
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.11.0-23.1f2d45908d671ccbc5329131ec18665c16cc0cdd (#17913)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

enable databases in job
  .github/workflows/test.yml
Due: none

use local prisma version
  packages/client/tests/e2e/nextjs-schema-not-found/10_monorepo-serverComponents-customOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/11_monorepo-noServerComponents-noCustomOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/12_monorepo-serverComponents-noCustomOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/13_monorepo-noServerComponents-customOutput-reExportDirect/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/14_monorepo-serverComponents-customOutput-reExportDirect/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/15_monorepo-noServerComponents-customOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/16_monorepo-serverComponents-customOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/17_monorepo-noServerComponents-customOutput-reExportIndirect-ts/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/18_monorepo-serverComponents-customOutput-reExportIndirect-ts/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/3_simplerepo-noServerComponents-noCustomOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/4_simplerepo-serverComponents-noCustomOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/5_simplerepo-noServerComponents-customOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/6_simplerepo-serverComponents-customOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/7_monorepo-noServerComponents-noCustomOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/8_monorepo-serverComponents-noCustomOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/9_monorepo-noServerComponents-customOutput-noReExport/packages/service/package.json
Due: client

fix paths
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/nextjs-schema-not-found/10_monorepo-serverComponents-customOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/11_monorepo-noServerComponents-noCustomOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/12_monorepo-serverComponents-noCustomOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/15_monorepo-noServerComponents-customOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/16_monorepo-serverComponents-customOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/17_monorepo-noServerComponents-customOutput-reExportIndirect-ts/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/18_monorepo-serverComponents-customOutput-reExportIndirect-ts/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/7_monorepo-noServerComponents-noCustomOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/8_monorepo-serverComponents-noCustomOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/9_monorepo-noServerComponents-customOutput-noReExport/packages/service/package.json
Due: client

increase timeout
  .github/workflows/test.yml
Due: none

remove getConfig at runtime
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: client, engine-core

fix(client): prevent `LibraryEngine` constructor to throw on missing URLs (#17830)
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: client, engine-core

improve test runner script for better isolation and structure preservation
  packages/client/.gitignore
  packages/client/tests/e2e/_utils/docker-compose-clean.yml
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/_utils/standard.dockerfile
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/_steps.ts
Due: client

fix incorrect paths
  packages/client/tests/e2e/community/publish-extensions/package.json
  packages/client/tests/e2e/community/publish-extensions/simple-ext/package.json
  packages/client/tests/e2e/example/tsconfig.json
  packages/client/tests/e2e/issues/16600-tsc-crash-extensions/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/10_monorepo-serverComponents-customOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/11_monorepo-noServerComponents-noCustomOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/12_monorepo-serverComponents-noCustomOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/13_monorepo-noServerComponents-customOutput-reExportDirect/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/14_monorepo-serverComponents-customOutput-reExportDirect/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/15_monorepo-noServerComponents-customOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/16_monorepo-serverComponents-customOutput-reExportIndirect/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/17_monorepo-noServerComponents-customOutput-reExportIndirect-ts/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/18_monorepo-serverComponents-customOutput-reExportIndirect-ts/packages/db/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/3_simplerepo-noServerComponents-noCustomOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/4_simplerepo-serverComponents-noCustomOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/5_simplerepo-noServerComponents-customOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/6_simplerepo-serverComponents-customOutput-noReExport/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/7_monorepo-noServerComponents-noCustomOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/8_monorepo-serverComponents-noCustomOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/nextjs-schema-not-found/9_monorepo-noServerComponents-customOutput-noReExport/packages/service/package.json
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/package.json
Due: client

add lock files for faster installs
  packages/client/tests/e2e/nextjs-schema-not-found/10_monorepo-serverComponents-customOutput-noReExport/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/11_monorepo-noServerComponents-noCustomOutput-reExportIndirect/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/12_monorepo-serverComponents-noCustomOutput-reExportIndirect/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/13_monorepo-noServerComponents-customOutput-reExportDirect/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/14_monorepo-serverComponents-customOutput-reExportDirect/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/15_monorepo-noServerComponents-customOutput-reExportIndirect/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/16_monorepo-serverComponents-customOutput-reExportIndirect/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/17_monorepo-noServerComponents-customOutput-reExportIndirect-ts/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/18_monorepo-serverComponents-customOutput-reExportIndirect-ts/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/3_simplerepo-noServerComponents-noCustomOutput-noReExport/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/3_simplerepo-noServerComponents-noCustomOutput-noReExport/pnpm-workspace.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/4_simplerepo-serverComponents-noCustomOutput-noReExport/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/4_simplerepo-serverComponents-noCustomOutput-noReExport/pnpm-workspace.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/5_simplerepo-noServerComponents-customOutput-noReExport/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/5_simplerepo-noServerComponents-customOutput-noReExport/pnpm-workspace.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/6_simplerepo-serverComponents-customOutput-noReExport/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/6_simplerepo-serverComponents-customOutput-noReExport/pnpm-workspace.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/7_monorepo-noServerComponents-noCustomOutput-noReExport/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/8_monorepo-serverComponents-noCustomOutput-noReExport/pnpm-lock.yaml
  packages/client/tests/e2e/nextjs-schema-not-found/9_monorepo-noServerComponents-customOutput-noReExport/pnpm-lock.yaml
Due: client

get rid of docker compose to run tests
  packages/client/tests/e2e/_utils/docker-compose-common.yml
  packages/client/tests/e2e/_utils/docker-compose.yml
  packages/client/tests/e2e/_utils/run.ts
  packages/client/tests/e2e/_utils/standard.cmd.sh
Due: client

introduce runInBand to improve CI perf
  .github/workflows/test.yml
  packages/client/jest.config.js
  packages/client/tests/e2e/_utils/run.ts
Due: client

fix runInBand not to fail in background
  packages/client/tests/e2e/_utils/run.ts
Due: client
