Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

sdk: updated snapshots
  packages/sdk/src/__tests__/engine-commands/__snapshots__/getDmmf.test.ts.snap
  packages/sdk/src/__tests__/engine-commands/getConfig.test.ts
Due: sdk

sdk: updated snapshot
  packages/sdk/src/__tests__/__snapshots__/handlePanic.test.ts.snap
Due: sdk

sdk: add more assertions to artificial-panic
  packages/cli/src/__tests__/artificial-panic.test.ts
Due: none

chore(deps): update engines to 3.14.0-33.656da0566481bafc47a8a1f135ab368779db1893 (#13251)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8b663d21bad69d3a8fefe18b5e1d0c35ea4ee6fd
  dev/bench/data.js
Due: none

fix(client): json stringify overflow (#12916)
  packages/client/src/generation/generateClient.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 2c8a11d18e7924d16c82d1fc39f74913e7776e6d
  dev/bench/data.js
Due: none

test(cli): check Prisma Client import path on all OS
  packages/cli/src/__tests__/commands/Generate.test.ts
Due: none

more asserts
  packages/cli/src/__tests__/commands/Generate.test.ts
Due: none

tests(cli): simplify assertions (remove unnecessary conditionals)
  packages/cli/src/__tests__/commands/Generate.test.ts
Due: none

sdk: fixed bug with tempDatamodelPath in binary getConfig and getDmmf
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
  packages/sdk/src/engine-commands/queryEngineCommons.ts
Due: sdk

removed useless edits
  packages/engine-core/package.json
  pnpm-lock.yaml
Due: engine-core

chore(deps): update engines to 3.14.0-34.5cf26752c9aac4cf41ddca31b999a4a4906fdae8
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.14.0-34.5cf26752c9aac4cf41ddca31b999a4a4906fdae8 (#13252)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 9bc80fbdaa2410403c5e96e38099fdccfa181a7d
  dev/bench/data.js
Due: none

fix(client): Fix package path in `generate` output (#13031)
  packages/cli/src/Generate.ts
  packages/cli/src/__tests__/commands/Generate.test.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 197f9191d4cce2c2729d07008fc1231e5acf6bbe
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.14.0-35.b139d939b80290fb7fb7a0455a577fcf02fa95cd
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.14.0-35.b139d939b80290fb7fb7a0455a577fcf02fa95cd (#13254)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7c32eccba7f0c2b1891e8e107fa14097ab7cf44b
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.14.0-36.2b0c12756921c891fec4f68d9444e18c7d5d4a6a
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

sdk: improved error handling and debug lines of getConfig and getDmmf
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
  packages/sdk/src/engine-commands/queryEngineCommons.ts
Due: sdk

sdk: improved debug lines of getConfig and getDmmf
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
  packages/sdk/src/engine-commands/queryEngineCommons.ts
Due: sdk

client: updated snapshot
  packages/client/src/__tests__/generation/generator.test.ts
Due: client

sdk: removed outdated test
  packages/sdk/src/__tests__/engine-commands/getConfig.test.ts
Due: sdk

feat(sdk): add error reason when it is not possible to submit error report
  packages/sdk/src/__tests__/handlePanic.test.ts
  packages/sdk/src/utils/handlePanic.ts
Due: sdk

client: updated snapshot
  packages/client/src/__tests__/dmmf.test.ts
Due: client

sdk: updated tests
  packages/client/src/__tests__/generation/generator.test.ts
  packages/sdk/src/__tests__/engine-commands/__snapshots__/getDmmf.test.ts.snap
  packages/sdk/src/__tests__/engine-commands/getDmmf.test.ts
Due: client, sdk

chore(deps): update engines to 3.14.0-36.2b0c12756921c891fec4f68d9444e18c7d5d4a6a (#13255)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c8961784f0420f21224bb708e5810f1d750f516c
  dev/bench/data.js
Due: none

feat(sdk): add error reason when it is not possible to submit error report (#13257)
  packages/sdk/src/__tests__/handlePanic.test.ts
  packages/sdk/src/utils/handlePanic.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for be175444c1ba3de64472ed14b2c9400204f5a811
  dev/bench/data.js
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
