Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

migrate: simplified cockroachdb native types tests
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
  packages/migrate/src/__tests__/fixtures/introspection/nativeTypes-cockroachdb-with-postgresql-provider/setup.sql
  packages/migrate/src/__tests__/fixtures/introspection/nativeTypes-cockroachdb/setup.sql
Due: none

fix(sdk): restore error reporting after esbuild@0.14.4 broke previous behavior
  packages/sdk/src/__tests__/sendPanic.test.ts
  packages/sdk/src/errorReporting.ts
  packages/sdk/src/sendPanic.ts
Due: sdk

chore: removed outdated comment
  packages/sdk/src/sendPanic.ts
Due: sdk

updated jest snapshots
  packages/client/src/__tests__/dmmf.test.ts
  packages/client/src/__tests__/generation/generator.test.ts
  packages/sdk/src/__tests__/engine-commands/getDmmf.test.ts
  packages/sdk/src/engine-commands/getDmmf.ts
Due: client, sdk

migrate: add cockroachdb native types to introspection tests (#13453)
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
  packages/migrate/src/__tests__/fixtures/introspection/nativeTypes-cockroachdb-with-postgresql-provider/schema.prisma
  packages/migrate/src/__tests__/fixtures/introspection/nativeTypes-cockroachdb-with-postgresql-provider/setup.sql
  packages/migrate/src/__tests__/fixtures/introspection/nativeTypes-cockroachdb/schema.prisma
  packages/migrate/src/__tests__/fixtures/introspection/nativeTypes-cockroachdb/setup.sql
  packages/migrate/src/utils/setupCockroach.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 04f6979e5b38a4dd054c261f2dae497a7fcc76f6
  dev/bench/data.js
Due: none

fix(sdk): restore error reporting after esbuild@0.14.4 broke previous behavior (#13465)
  packages/sdk/src/__tests__/sendPanic.test.ts
  packages/sdk/src/errorReporting.ts
  packages/sdk/src/sendPanic.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3f57cf933eaa9f5a00ed1f213d5bf4255a42aa00
  dev/bench/data.js
Due: none

ci: hopefully fix buildkite mariadb issue
  .buildkite/test/docker-compose.14.yml
Due: none

ci: downgraded mariadb to v10.7.3
  .buildkite/test/docker-compose.14.yml
Due: none

ci: fix buildkite mariadb issue (#13470)
  .buildkite/test/docker-compose.14.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ef1360c3a6546408f4569835ac0274c22b5c288d
  dev/bench/data.js
Due: none

fix(lint): failing on sub-projects and simplify it
  .eslintrc.js
  tsconfig.json
Due: none

chore(deps): bump typescript
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/react-prisma/package.json
  packages/sdk/package.json
  reproductions/basic-sqlite/package.json
Due: client, debug, engine-core, generator-helper, sdk

chore: update locks
  pnpm-lock.yaml
Due: none

Update packages/client/src/generation/TSClient/jsdoc.ts
  packages/client/src/generation/TSClient/jsdoc.ts
Due: client

refactor: remove unused var
  packages/client/src/generation/TSClient/helpers.ts
Due: client

refactor: word change
  packages/client/src/generation/TSClient/jsdoc.ts
Due: client

refactor: singular to name and snapshot updates
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/helpers.ts
  packages/client/src/generation/TSClient/jsdoc.ts
Due: client

ci: fix buildkite mariadb publish issue
  .buildkite/publish/docker-compose.yml
Due: none

ci: hopefully fix buildkite mariadb issue (#13479)
  .buildkite/publish/docker-compose.yml
Due: none

types: ignore right place add import
  packages/client/tests/functional/reuse-binary-engine/tests.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for bc6c8a5933f09e53a8874a64f646a7271e47b5e3
  dev/bench/data.js
Due: none

refactor: add options to idForProvider
  packages/client/tests/functional/_utils/idForProvider.ts
  packages/client/tests/functional/queryRaw-send-type-hints/prisma/_schema.ts
  packages/client/tests/functional/queryRaw-send-type-hints/tests.ts
Due: client

chore(deps): update dependency mariadb to v10.8.3
  .buildkite/publish/docker-compose.yml
Due: none

feat(client, prisma): enable the data proxy via --data-proxy
  packages/cli/src/Generate.ts
  packages/client/fixtures/dataproxy/prisma/schema.prisma
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/generator.ts
  packages/client/src/generation/utils/buildDMMF.ts
  packages/client/src/generation/utils/buildInlineDatasources.ts
  packages/client/src/generation/utils/buildInlineEnv.ts
  packages/client/src/generation/utils/buildInlineSchema.ts
  packages/client/src/generation/utils/buildNFTAnnotations.ts
  packages/client/src/generation/utils/buildWarnEnvConflicts.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
  packages/client/tests/functional/typescript/tests.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/generator-helper/src/types.ts
  packages/sdk/src/client/getClientEngineType.ts
  packages/sdk/src/get-generators/getGenerators.ts
  packages/sdk/src/get-generators/utils/check-feature-flags/checkFeatureFlags.ts
  packages/sdk/src/get-generators/utils/check-feature-flags/forbiddenTransactionsWithProxyFlagMessage.ts
  packages/sdk/src/get-generators/utils/check-feature-flags/proxyFeatureFlagMissingMessage.ts
Due: client, engine-core, generator-helper, sdk

refactor(client): Refactor scalar arguments validation
  packages/client/src/runtime/query.ts
  packages/client/src/runtime/queryArgsTypecheck.ts
Due: client

fixup! refactor(client): Refactor scalar arguments validation
  packages/client/src/runtime/queryArgsTypecheck.ts
Due: client

skip engine copying when --data-proxy is passed
  packages/cli/src/Generate.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/runtime/getPrismaClient.ts
Due: client

finish fix webworker type leakage
  packages/engine-core/src/data-proxy/utils/getJSRuntimeName.ts
  packages/engine-core/src/data-proxy/utils/request.ts
Due: engine-core

pass dataProxy boolean in missing places
  packages/migrate/src/Migrate.ts
  packages/sdk/src/__tests__/getGenerators/getGenerators.test.ts
  packages/sdk/src/__tests__/getGenerators/proxy-and-interactiveTransactions-client-js.prisma
Due: sdk

chore(deps): update devdependencies (non-major)
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
  reproductions/basic-sqlite/package.json
Due: client, debug, engine-core, generator-helper, sdk

Downgrade sql-template-tag because of breaking changes
  packages/client/package.json
  pnpm-lock.yaml
Due: client

fix sdk compiling test types
  packages/sdk/tsconfig.build.json
  tsconfig.build.regular.json
  tsconfig.json
Due: sdk

feat(sdk): add CLI and binary engine versions to parsing/validation errors (#13452)
  packages/cli/src/Version.ts
  packages/client/src/__tests__/dmmf.test.ts
  packages/client/src/__tests__/generation/generator.test.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/sdk/src/__tests__/engine-commands/getDmmf.test.ts
  packages/sdk/src/__tests__/formatTable.test.ts
  packages/sdk/src/engine-commands/errorHelpers.ts
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils/formatTable.ts
  packages/sdk/src/utils/getVersion.ts
Due: client, sdk
