Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7c34ede44ef70a8d40fd23871a39e009c74f6393
  dev/bench/data.js
Due: none

fix(build): lzstring browser builds
  packages/client/helpers/build.ts
Due: client

fix(client): attempt to fix vercel
  packages/client/src/generation/utils/buildInlineEnv.ts
Due: client

chore(build): add dep checker
  helpers/compile/depcheck.ts
  helpers/compile/plugins/externalPlugin.ts
  helpers/compile/plugins/unusedPlugin.ts
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/react-prisma/package.json
  packages/sdk/package.json
Due: client, debug, generator-helper, sdk

chore(build): disable unused polyfills
  helpers/compile/depcheck.ts
  helpers/compile/plugins/fill-plugin/fillPlugin.ts
  pnpm-lock.yaml
Due: none

chore: remove unused deps
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/react-prisma/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, generator-helper, sdk

chore: remove unused deps
  packages/debug/package.json
  pnpm-lock.yaml
Due: debug

fix(build): export lz-string types
  packages/client/helpers/build.ts
Due: client

chore: update locks
  pnpm-lock.yaml
Due: none

docs(build): update comment
  packages/client/helpers/build.ts
Due: client

fix(build): remove lz-string types
  packages/client/helpers/build.ts
  packages/client/package.json
  pnpm-lock.yaml
Due: client

feat(client): add inline docs to generated TS
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/Model.ts
Due: client

fix(build): lzstring exports
  packages/client/package.json
  packages/client/src/runtime/index.ts
  pnpm-lock.yaml
Due: client

fix(client): add extra error handling
  packages/engine-core/src/data-proxy/utils/request.ts
Due: engine-core

fix(client): do not parse url from schema
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils/buildInlineDatasources.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/index.ts
  packages/client/src/runtime/utils/printDatasources.ts
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/engine-core/src/data-proxy/utils/decodeInlineSchema.ts
  packages/sdk/src/utils/tryLoadEnvs.ts
Due: client, engine-core, sdk

fix(build): type bundling
  packages/client/helpers/build.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
Due: client, engine-core

include lib for DP
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/generator.ts
  packages/client/src/utils/generateInFolder.ts
Due: client

fix annotations
  packages/client/src/generation/utils.ts
Due: client

Update packages/client/src/generation/utils/buildDMMF.ts
  packages/client/src/generation/utils/buildDMMF.ts
Due: client

chore(deps): pin dependencies
  package.json
  packages/cli/package.json
  packages/client/package.json
  pnpm-lock.yaml
Due: client

fix(deps): update dependency log-update to v5
  packages/cli/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency has-yarn to v3
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: sdk

chore(deps): update engines to 3.3.0-23.1225ee0c71770b84824b529daf2918a6d5a93ffe
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.3.0-23.1225ee0c71770b84824b529daf2918a6d5a93ffe (#9821)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk
