Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore: fix tests
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
Due: none

fix(directUrl): do not use directUrl for studio (#17760)
  packages/cli/src/__tests__/commands/Studio.test.ts
  packages/cli/src/__tests__/fixtures/schema-only-data-proxy-direct-url/schema.prisma
  packages/internals/src/cli/checkUnsupportedDataProxy.ts
Due: none

chore: fix tests
  packages/migrate/src/__tests__/DbPush.test.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
Due: none

fix(client): data proxy custom output
  packages/client/src/generation/generateClient.ts
  packages/client/tests/e2e/_utils/docker-compose.yml
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/_steps.ts
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/package.json
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/prisma/schema.prisma
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/readme.md
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/src/index.ts
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/tests/main.ts
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/tsconfig.json
Due: client

add type and more runtime tests
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/package.json
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/src/index.ts
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/tests/main.ts
Due: client

chore(deps): update engines to 4.10.0-82.596e2c7f0ee39d24a00ef2d4f0247ab4e9baa374
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-82.596e2c7f0ee39d24a00ef2d4f0247ab4e9baa374 (#17773)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

test: fix snapshot
  packages/internals/src/__tests__/migrateEngineCommands.test.ts
Due: none

fix(client): data proxy custom output (#17772)
  packages/client/src/generation/generateClient.ts
  packages/client/tests/e2e/_utils/docker-compose.yml
  packages/client/tests/e2e/_utils/standard.cmd.sh
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/_steps.ts
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/package.json
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/prisma/schema.prisma
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/readme.md
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/src/index.ts
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/tests/main.ts
  packages/client/tests/e2e/runtimes/data-proxy-custom-output/tsconfig.json
Due: client

feat(get-platform): drop .exe in serialized tests
  packages/get-platform/src/test-utils/jestSnapshotSerializer.js
Due: none

fix(client): Copy browser runtime files
  packages/client/src/generation/generateClient.ts
Due: client

chore: removed comments
  packages/engine-core/src/__tests__/LibraryEngine.test.ts
Due: engine-core

fix(client): Copy browser runtime files (#17779)
  packages/client/src/generation/generateClient.ts
Due: client

chore: avoid dot after link
  packages/engine-core/src/common/errors/utils/handleEngineLoadingErrors.ts
Due: engine-core

chore(deps): update engines to 4.10.0-83.integration-evie-partition-tables-fix-0c08c4bf9d6ec24df1142c87016ffac6ca85b118
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore: update the example in comment
  packages/engine-core/src/common/errors/utils/handleEngineLoadingErrors.ts
Due: engine-core

feat: display human-friendly error messages when Prisma's libraries cannot be initialized (#17762)
  packages/engine-core/package.json
  packages/engine-core/src/__tests__/LibraryEngine.test.ts
  packages/engine-core/src/common/errors/utils/handleEngineLoadingErrors.ts
  packages/engine-core/src/index.ts
  packages/engine-core/src/library/DefaultLibraryLoader.ts
  packages/get-platform/src/__tests__/getPlatform.test.ts
  packages/get-platform/src/getPlatform.ts
  packages/get-platform/src/index.ts
  packages/internals/src/__tests__/engine-commands/queryEngineCommons.test.ts
  packages/internals/src/engine-commands/getEngineVersion.ts
  packages/internals/src/engine-commands/queryEngineCommons.ts
  packages/internals/src/index.ts
  packages/internals/src/utils/load.ts
  pnpm-lock.yaml
Due: engine-core

chore: removed outdated comment
  packages/migrate/src/__tests__/DbPull.test.ts
Due: none

fix?
  packages/get-platform/src/test-utils/jestSnapshotSerializer.js
Due: none

fix(migrateEngineCommands): Include original error in error (#17535)
  packages/get-platform/src/test-utils/jestSnapshotSerializer.js
  packages/internals/src/__tests__/migrateEngineCommands.test.ts
  packages/internals/src/migrateEngineCommands.ts
Due: none

chore(deps): update engines to 4.10.0-84.ca7fcef713137fa11029d519a9780db130cca91d
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-84.ca7fcef713137fa11029d519a9780db130cca91d (#17786)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.10.0-85.d02666423b9d2b618381d5bee85532527a012123
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore: revert #17455, fix conflicts
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: client, engine-core

chore(deps): update engines to 4.11.0-1.015eacc6a890a2fd3b181b70ff73aa38cfd9bbf5
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client
