Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

use vitestcontext from get-platform
  packages/internals/src/__tests__/__utils__/vitest.ts
  packages/internals/src/__tests__/engine-commands/formatSchema.test.ts
  packages/internals/src/__tests__/engine-commands/lintSchema.test.ts
  packages/internals/src/__tests__/getGenerators/getGenerators.test.ts
  packages/internals/src/__tests__/handlePanic.test.ts
Due: none

revert unnecessary changes
  packages/internals/src/__tests__/engine-commands/formatSchema.test.ts
  packages/internals/src/__tests__/getGenerators/getGenerators.test.ts
Due: none

fix(client-engine-runtime): use high-precision Decimal clone for arithmetic
  packages/client-engine-runtime/src/interpreter/query-interpreter.test.ts
  packages/client-engine-runtime/src/interpreter/query-interpreter.ts
Due: none

refactor: remove legacy connection string fallback
  packages/cli/src/Init.ts
Due: none

fix(client): use duck-typing for ObjectEnumValue to fix cross-bundle DbNull
  packages/client-runtime-utils/src/nullTypes.ts
  packages/client/src/runtime/core/errorRendering/ArgumentsRenderingTree.ts
  packages/client/src/runtime/core/jsonProtocol/serializeJsonQuery.ts
  packages/client/src/runtime/index-browser.ts
  packages/client/src/runtime/index.ts
  packages/client/src/runtime/utils/deepCloneArgs.ts
Due: client

fix(adapter-pg): handle connection string argument in PrismaPg constructor
  packages/adapter-pg/src/__tests__/pg.test.ts
  packages/adapter-pg/src/pg.ts
Due: none

chore(adapter-mariadb): bump mariadb connector to 3.5.1
  packages/adapter-mariadb/package.json
  packages/client/package.json
  packages/client/src/utils/setupMysql.ts
  packages/integration-tests/package.json
  packages/integration-tests/src/__tests__/integration/mariadb/__database.ts
  packages/integration-tests/src/__tests__/integration/mysql/__database.ts
  packages/migrate/package.json
  packages/migrate/src/utils/setupMysql.ts
  pnpm-lock.yaml
Due: client

test: add test for number value with string operand
  packages/client-engine-runtime/src/interpreter/query-interpreter.test.ts
Due: none

chore: bump hono from 4.11.7 to 4.12.3
  packages/cli/package.json
Due: none

refactor: include actual name in ObjectEnumValue error message
  packages/client/src/runtime/core/jsonProtocol/serializeJsonQuery.ts
Due: client

test: assert connection string normalization in constructor test
  packages/adapter-pg/src/__tests__/pg.test.ts
Due: none

fix: tighten hono override to >=4.12.2 to fix audit vulnerability
  package.json
  pnpm-lock.yaml
Due: none

Migrate `prisma init --db` to new connection model (#29283)
  package.json
  packages/cli/package.json
  packages/cli/src/Init.ts
  packages/cli/src/management-api/auth-client.ts
  packages/cli/src/management-api/auth.ts
  pnpm-lock.yaml
Due: none

fix(adapter-mssql): don't allow negative configuration values from connection string
  packages/adapter-mssql/src/connection-string.test.ts
  packages/adapter-mssql/src/connection-string.ts
Due: none

feat(adapter-mssql): support pool idle timeout and min connections
  packages/adapter-mssql/src/connection-string.test.ts
  packages/adapter-mssql/src/connection-string.ts
Due: none

fix: use mysql binary protocol to avoid a lossy conversion
  packages/adapter-mariadb/src/mariadb.ts
  packages/client/tests/functional/issues/29160-mysql-precision-loss/_matrix.ts
  packages/client/tests/functional/issues/29160-mysql-precision-loss/prisma/_schema.ts
  packages/client/tests/functional/issues/29160-mysql-precision-loss/tests.ts
  packages/client/tests/functional/tracing/tests.ts
  packages/client/tests/functional/typed-sql/mysql-scalars-nullable/test.ts
  packages/client/tests/functional/typed-sql/mysql-scalars/test.ts
Due: client

chore: address comments
  packages/adapter-mariadb/src/mariadb.ts
  packages/client/tests/functional/issues/29160-mysql-precision-loss/prisma/_schema.ts
Due: client

fix coderabbitai
  packages/internals/src/__tests__/directoryConfig.test.ts
  packages/internals/src/__tests__/getGenerators/getGenerators.test.ts
  packages/internals/src/__tests__/handlePanic.test.ts
Due: none

chore: engines - remove jest remains
  packages/engines/jest.config.js
  packages/engines/package.json
  pnpm-lock.yaml
Due: none

Make @types/pg a direct dependency of adapter-pg (#29277)
  packages/adapter-pg/package.json
  pnpm-lock.yaml
Due: none

test: add functional test for Decimal increment/decrement precision
  packages/client/tests/functional/decimal/increment-precision/_matrix.ts
  packages/client/tests/functional/decimal/increment-precision/prisma/_schema.ts
  packages/client/tests/functional/decimal/increment-precision/tests.ts
Due: client

internals: test script use vitest
  packages/internals/package.json
Due: none

chore: consolidate jest packages to monorepo root
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client, generator-helper

fix(client-engine-runtime): wrap MySQL decimal params with CAST for precision
  packages/client-engine-runtime/src/interpreter/query-interpreter.test.ts
  packages/client-engine-runtime/src/interpreter/query-interpreter.ts
  packages/client-engine-runtime/src/interpreter/render-query.ts
Due: none

test(e2e): add cross-bundle detection test for browser null types
  packages/client/tests/e2e/browser-bundle/tests/main.test.ts
Due: client

feat(cli): warn on mismatch between global prisma and local versions
  packages/cli/src/Generate.ts
  packages/cli/src/__tests__/commands/versionMismatch.test.ts
  packages/cli/src/utils/versionMismatchChecker.ts
Due: none

feat: add distinct field JSDoc to findMany operation (#29269)
  packages/client-generator-js/src/TSClient/jsdoc.ts
  packages/client-generator-ts/src/TSClient/jsdoc.ts
Due: none

refactor(client-runtime-utils): use private property instead of WeakMap (#29052)
  packages/client-runtime-utils/src/nullTypes.ts
Due: none

chore: migrate mysql-dependent tests from jest to vitest
  packages/client/helpers/run-tests.ts
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/__tests__/integration/__helpers__/migrateDb.vitest.ts
  packages/client/src/__tests__/integration/errors/int-errors/test.vitest.ts
  packages/client/src/__tests__/integration/errors/referentialActions-onDelete-default-foreign-key-error-mysql/test.vitest.ts
  packages/client/src/__tests__/integration/errors/wrong-native-types-mysql/test.vitest.ts
  packages/client/src/__tests__/integration/happy/json-filtering-mysql/test.vitest.ts
  packages/client/src/__tests__/integration/happy/mysql-binary-id/test.vitest.ts
  packages/client/src/__tests__/integration/happy/native-types-mysql/test.vitest.ts
  packages/client/src/__tests__/integration/happy/referentialActions-onDelete-cascade-mysql/test.vitest.ts
  packages/client/vitest.config.ts
  packages/integration-tests/helpers/run-tests.ts
  packages/integration-tests/jest.config.js
  packages/integration-tests/package.json
  packages/integration-tests/src/__tests__/integration/mariadb/runtime.vitest.ts
  packages/integration-tests/src/__tests__/integration/mysql/runtime.vitest.ts
  packages/integration-tests/vitest.config.ts
  packages/migrate/helpers/run-tests.ts
  packages/migrate/jest.config.js
  packages/migrate/package.json
  packages/migrate/src/__tests__/DbExecute.vitest.ts
  packages/migrate/src/__tests__/DbPull/mysql.vitest.ts
  packages/migrate/src/__tests__/MigrateDev.vitest.ts
  packages/migrate/src/__tests__/MigrateDiff.vitest.ts
  packages/migrate/src/__tests__/__helpers__/conditionalTests.vitest.ts
  packages/migrate/src/__tests__/__helpers__/vitestContext.ts
  packages/migrate/vitest.config.ts
Due: client

chore(cli): replace Accelerate CTA with create-db in generated schema (#29147)
  packages/cli/src/Init.ts
  packages/cli/src/__tests__/__snapshots__/Init.test.ts.snap
Due: none

test: add cross-bundle regression tests for ObjectEnumValue serialization
  packages/client/src/runtime/core/jsonProtocol/serializeJsonQuery.test.ts
  packages/client/src/runtime/utils/deepCloneArgs.test.ts
  packages/client/tests/e2e/browser-bundle/tests/main.test.ts
Due: client

fix: fall back to queryable.provider when rendering queries
  packages/client-engine-runtime/src/interpreter/query-interpreter.ts
Due: none

fix: preserve default /node_modules/ in testPathIgnorePatterns
  packages/client/jest.config.js
  packages/integration-tests/jest.config.js
  packages/migrate/jest.config.js
Due: client

fix build error, add jest types back
  packages/cli/package.json
  packages/client/package.json
  packages/engines/jest.config.js
  packages/integration-tests/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

rename vitest snapshot serializer
  packages/get-platform/src/test-utils/vitest-snapshot-serializer.ts
  packages/internals/src/__tests__/engine-commands/getConfig.test.ts
  packages/internals/src/__tests__/engine-commands/validate.test.ts
  packages/internals/src/__tests__/schemaEngineCommands.test.ts
Due: none

fix: address CodeRabbit review comments
  packages/cli/src/Generate.ts
  packages/cli/src/__tests__/commands/versionMismatch.test.ts
  packages/cli/src/utils/version-mismatch-checker.ts
Due: none
