Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

feat: restructure JSONNull, DBNull & AnyNull exports
  packages/client-generator-js/src/TSClient/common.ts
  packages/client-generator-ts/src/TSClient/NullTypes.ts
  packages/client-runtime-utils/src/index.ts
  packages/client-runtime-utils/src/nullTypes.ts
  packages/client/src/__tests__/integration/happy/not-so-exhaustive-schema-mongo/__snapshots__/binary.test.ts.snap
  packages/client/src/__tests__/integration/happy/not-so-exhaustive-schema-mongo/__snapshots__/library.test.ts.snap
  packages/client/src/__tests__/integration/happy/not-so-exhaustive-schema/__snapshots__/binary.test.ts.snap
  packages/client/src/__tests__/integration/happy/not-so-exhaustive-schema/__snapshots__/library.test.ts.snap
  packages/client/src/runtime/core/errorRendering/ArgumentsRenderingTree.test.ts
  packages/client/src/runtime/core/errorRendering/ArgumentsRenderingTree.ts
  packages/client/src/runtime/core/jsonProtocol/serializeJsonQuery.test.ts
  packages/client/src/runtime/core/jsonProtocol/serializeJsonQuery.ts
  packages/client/src/runtime/core/types/exported/JsApi.ts
  packages/client/src/runtime/core/types/exported/ObjectEnums.ts
  packages/client/src/runtime/core/types/exported/index.ts
  packages/client/src/runtime/index-browser.ts
  packages/client/src/runtime/index.ts
  packages/client/src/runtime/utils/deepCloneArgs.ts
Due: client

fix(query-plan-executor): don't override ssl config object
  packages/query-plan-executor/src/logic/adapter.ts
Due: none

fix: fix JSON handling in mariadb (#28211)
  packages/adapter-mariadb/src/conversion.ts
  packages/adapter-mariadb/src/mariadb.ts
Due: none

chore(deps): update engines to 6.17.0-13.fc7d97af5308cada1d4ecb7718b13540cd9ded1e
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

feat: validation for the extensions flag
  packages/config/src/PrismaConfig.ts
  packages/config/src/__tests__/defineConfig.test.ts
  packages/config/src/defineConfig.ts
Due: none

fix: handle falsy extensions
  packages/config/src/__tests__/defineConfig.test.ts
  packages/config/src/defineConfig.ts
Due: none

chore(deps): update engines to 6.17.0-14.ca942fda077ef97f739f04dc5fda84912119585f
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 6.17.0-15.53cb2fafaa62e6c99932e6737a8d6077532c4229
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 6.17.0-15.53cb2fafaa62e6c99932e6737a8d6077532c4229 (#28227)
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

docu: update readme
  packages/client-runtime-utils/README.md
  packages/client-runtime-utils/package.json
Due: none

fix: try to fix flacky e2e tests
  packages/client/tests/e2e/enum-import-in-edge/_steps.ts
  packages/client/tests/e2e/unsupported-edge-error/_steps.ts
Due: client

test: add experimental flag for the test
  packages/migrate/src/__tests__/fixtures/prisma-config-extensions/prisma.config.ts
Due: none

Update index.js
  packages/nextjs-monorepo-workaround-plugin/index.js
Due: none

feat: extensions schema entrypoint (#28178)
  .github/workflows/test-template.yml
  docker/docker-compose.yml
  docker/postgres_ext/Dockerfile
  packages/config/src/PrismaConfig.ts
  packages/config/src/__tests__/defineConfig.test.ts
  packages/config/src/defineConfig.ts
  packages/integration-tests/src/__tests__/integration/postgresql/__snapshots__/introspection.test.ts.snap
  packages/internals/src/get-generators/getGenerators.ts
  packages/migrate/src/Migrate.ts
  packages/migrate/src/SchemaEngineCLI.ts
  packages/migrate/src/__tests__/DbPush.test.ts
  packages/migrate/src/__tests__/fixtures/prisma-config-extensions/prisma.config.ts
  packages/migrate/src/__tests__/fixtures/prisma-config-extensions/schema.prisma
  packages/migrate/src/commands/DbExecute.ts
  packages/migrate/src/commands/DbPull.ts
  packages/migrate/src/commands/DbPush.ts
  packages/migrate/src/commands/MigrateDeploy.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateDiff.ts
  packages/migrate/src/commands/MigrateReset.ts
  packages/migrate/src/commands/MigrateResolve.ts
  packages/migrate/src/commands/MigrateStatus.ts
  packages/migrate/src/extensions.ts
Due: none

fix(query-plan-executor): don't override ssl config object (#28224)
  packages/query-plan-executor/src/logic/adapter.ts
Due: none

fix: expose null type class instances to ensure type can be properly referenced
  packages/client-runtime-utils/src/nullTypes.ts
Due: none

chore(deps): update engines to 6.17.0-16.c0aafc03b8ef6cdced8654b9a817999e02457d6a
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

fix(qpe): update unit tests and make sure they run on CI
  .github/workflows/test-template.yml
  packages/query-plan-executor/src/logic/adapter.test.ts
Due: none

fix(qpe): update unit tests and make sure they run on CI (#28233)
  .github/workflows/test-template.yml
  packages/query-plan-executor/src/logic/adapter.test.ts
Due: none

feat: add e2e test
  packages/client/tests/e2e/client-runtime-utils/_steps.ts
  packages/client/tests/e2e/client-runtime-utils/package.json
  packages/client/tests/e2e/client-runtime-utils/pnpm-lock.yaml
  packages/client/tests/e2e/client-runtime-utils/prisma/schema.prisma
  packages/client/tests/e2e/client-runtime-utils/readme.md
  packages/client/tests/e2e/client-runtime-utils/tests/main.ts
  packages/client/tests/e2e/client-runtime-utils/tsconfig.json
  packages/client/tests/e2e/enum-import-in-edge/pnpm-lock.yaml
Due: client

chore(deps): update engines to 6.17.0-16.c0aafc03b8ef6cdced8654b9a817999e02457d6a (#28232)
  packages/client-generator-js/package.json
  packages/client-generator-ts/package.json
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

test: test for relation join crash
  packages/client/tests/functional/issues/28213-relation-join-batch-crash/_matrix.ts
  packages/client/tests/functional/issues/28213-relation-join-batch-crash/prisma/_schema.ts
  packages/client/tests/functional/issues/28213-relation-join-batch-crash/tests.ts
Due: client

Create generator-generic-ossf-slsa3-publish.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
Due: none

test: restrict to relationJoins compatible providers
  packages/client/tests/functional/issues/28213-relation-join-batch-crash/_matrix.ts
  packages/client/tests/functional/issues/28213-relation-join-batch-crash/tests.ts
Due: client

test(client): add browser-bundle e2e
  packages/client/tests/e2e/browser-bundle/README.md
  packages/client/tests/e2e/browser-bundle/_steps.ts
  packages/client/tests/e2e/browser-bundle/package.json
  packages/client/tests/e2e/browser-bundle/pnpm-lock.yaml
  packages/client/tests/e2e/browser-bundle/prisma/schema.prisma
  packages/client/tests/e2e/browser-bundle/tests/main.ts
  packages/client/tests/e2e/browser-bundle/tsconfig.json
Due: client

chore: bump minimum TypeScript version to 5.4
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/client/tests/e2e/ts-version/5.1/README.md
  packages/client/tests/e2e/ts-version/5.2/README.md
  packages/client/tests/e2e/ts-version/5.2/package.json
  packages/client/tests/e2e/ts-version/5.3/README.md
  packages/client/tests/e2e/ts-version/5.3/_steps.ts
  packages/client/tests/e2e/ts-version/5.3/prisma/schema.prisma
  packages/client/tests/e2e/ts-version/5.3/src/index.ts
  packages/client/tests/e2e/ts-version/5.3/tsconfig.json
  packages/client/tests/e2e/ts-version/5.8/README.md
  packages/client/tests/e2e/ts-version/5.8/_steps.ts
  packages/client/tests/e2e/ts-version/5.8/package.json
  packages/client/tests/e2e/ts-version/5.8/prisma/schema.prisma
  packages/client/tests/e2e/ts-version/5.8/src/index.ts
  packages/client/tests/e2e/ts-version/5.8/tsconfig.json
  packages/client/tests/e2e/ts-version/5.9/README.md
  packages/client/tests/e2e/ts-version/5.9/_steps.ts
  packages/client/tests/e2e/ts-version/5.9/package.json
  packages/client/tests/e2e/ts-version/5.9/prisma/schema.prisma
  packages/client/tests/e2e/ts-version/5.9/src/index.ts
  packages/client/tests/e2e/ts-version/5.9/tsconfig.json
  packages/debug/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/generator-helper/package.json
  packages/get-platform/package.json
  packages/instrumentation/package.json
  packages/integration-tests/package.json
  packages/internals/package.json
  pnpm-lock.yaml
Due: client, debug, generator-helper
