Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

1:1 add `enabled Boolean?` and MongoDB update tests
  packages/client/tests/functional/referential-integrity/prisma/_schema.ts
  packages/client/tests/functional/referential-integrity/tests_1-to-1.ts
Due: client

chore(deps): update engines to 4.2.0-11.32280f43434ebf4e0c64aee7673a514b73519de4
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

test: Port `chaining` test to new setup
  packages/client/src/__tests__/integration/happy/chaining/.gitignore
  packages/client/src/__tests__/integration/happy/chaining/dev.db
  packages/client/src/__tests__/integration/happy/chaining/schema.prisma
  packages/client/src/__tests__/integration/happy/chaining/test.ts
  packages/client/tests/functional/findFirstOrThrow/tests.ts
  packages/client/tests/functional/findUniqueOrThrow/tests.ts
  packages/client/tests/functional/fluent-api/_matrix.ts
  packages/client/tests/functional/fluent-api/prisma/_schema.ts
  packages/client/tests/functional/fluent-api/tests.ts
Due: client

chore(deps): update engines to 4.2.0-11.32280f43434ebf4e0c64aee7673a514b73519de4 (#14496)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 36c4e97e5a4995df08aaa51848749e5f371cb04d
  dev/bench/data.js
Due: none

add `published Boolean?` to m:n with update tests
  packages/client/tests/functional/referential-integrity/prisma/_schema.ts
  packages/client/tests/functional/referential-integrity/tests_m-to-n.ts
Due: client

style: add empty line
  packages/cli/src/Generate.ts
Due: none

chore: updated sql server tests
  packages/client/tests/functional/referential-integrity/_matrix.ts
  packages/client/tests/functional/referential-integrity/tests_1-to-1.ts
  packages/client/tests/functional/referential-integrity/tests_1-to-n.ts
  packages/client/tests/functional/referential-integrity/tests_m-to-n.ts
Due: client

fix(engines): allow engine overwrite on postinstall
  packages/engines/scripts/postinstall.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0bc74cd3afe5e0f2ea38e01e340db350a3de1204
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 565ef1ca38d870687969ff81e19de5b7eb58ec8c
  dev/bench/data.js
Due: none

fix: Memory leak in tracing test setup
  packages/client/tests/functional/_utils/defineMatrix.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/_utils/setupTracing.ts
  packages/client/tests/functional/tracing/tests.ts
Due: client

fix(internals): improved error message that was previously only targeting openssl
  packages/internals/src/__tests__/engine-commands/queryEngineCommons.test.ts
  packages/internals/src/engine-commands/queryEngineCommons.ts
Due: none

fix: Memory leak in tracing test setup (#14510)
  packages/client/tests/functional/_utils/defineMatrix.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/_utils/setupTracing.ts
  packages/client/tests/functional/tracing/tests.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a18ddab2d8032b353dbe48822494d39a9580b27d
  dev/bench/data.js
Due: none

fix(engines): allow engine overwrite on postinstall (#14501)
  packages/engines/scripts/postinstall.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 95415e6c21199b25cbb2000cbd9f01b77adf1018
  dev/bench/data.js
Due: none

add comments to m:n
  packages/client/tests/functional/referential-integrity/tests_m-to-n-MongoDB.ts
  packages/client/tests/functional/referential-integrity/tests_m-to-n.ts
Due: client

chore(migrate): rename some datamodel to schema
  ARCHITECTURE.md
  packages/migrate/src/Migrate.ts
  packages/migrate/src/__tests__/handlePanic.migrate.test.ts
  packages/migrate/src/__tests__/rpc.test.ts
  packages/migrate/src/commands/MigrateDev.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ee0e1d701e08ad193bbdb7bf55405ba67b15829e
  dev/bench/data.js
Due: none

chore(typo): prisma.schema -> schema.prisma
  packages/cli/src/Init.ts
  packages/cli/src/__tests__/commands/CLI.test.ts
  packages/cli/src/__tests__/commands/Doctor.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Init.test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/PrismaClient.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/internals/src/__tests__/__fixtures__/getSchema/pkg-json-workspace-parent/db/prisma.schema
  packages/internals/src/__tests__/__fixtures__/getSchema/pkg-json-workspace-parent/db/schema.prisma
  packages/internals/src/__tests__/__fixtures__/getSchema/pkg-json-workspace-parent/package.json
  packages/internals/src/__tests__/getSchema.test.ts
  packages/internals/src/cli/getSchema.ts
  packages/internals/src/engine-commands/getDmmf.ts
  packages/migrate/src/__tests__/DbDrop.test.ts
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/DbPush.test.ts
  packages/migrate/src/__tests__/MigrateCommand.test.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/migrate/src/__tests__/MigrateReset.test.ts
  packages/migrate/src/__tests__/MigrateResolve.test.ts
  packages/migrate/src/__tests__/MigrateStatus.test.ts
  packages/migrate/src/utils/errors.ts
  packages/migrate/src/utils/seed.ts
Due: client

revert the ones about package.json
  packages/cli/src/__tests__/commands/CLI.test.ts
  packages/cli/src/__tests__/commands/Doctor.test.ts
  packages/internals/src/cli/getSchema.ts
  packages/migrate/src/__tests__/DbDrop.test.ts
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/DbPush.test.ts
  packages/migrate/src/__tests__/MigrateCommand.test.ts
  packages/migrate/src/__tests__/MigrateDeploy.test.ts
  packages/migrate/src/__tests__/MigrateDev.test.ts
  packages/migrate/src/__tests__/MigrateReset.test.ts
  packages/migrate/src/__tests__/MigrateResolve.test.ts
  packages/migrate/src/__tests__/MigrateStatus.test.ts
  packages/migrate/src/utils/errors.ts
Due: none

one more revert
  packages/internals/src/cli/getSchema.ts
Due: none

chore(typo): prisma.schema -> schema.prisma (#14516)
  packages/cli/src/Init.ts
  packages/cli/src/__tests__/commands/__snapshots__/Init.test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/PrismaClient.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/internals/src/__tests__/__fixtures__/getSchema/pkg-json-workspace-parent/db/prisma.schema
  packages/internals/src/__tests__/__fixtures__/getSchema/pkg-json-workspace-parent/db/schema.prisma
  packages/internals/src/__tests__/__fixtures__/getSchema/pkg-json-workspace-parent/package.json
  packages/internals/src/__tests__/getSchema.test.ts
  packages/internals/src/engine-commands/getDmmf.ts
  packages/migrate/src/utils/seed.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 64739d2da73fb377623c132fc8a99044da0af015
  dev/bench/data.js
Due: none

feat(client): adapt generate success message for Data Proxy (#14424)
  packages/cli/src/Generate.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 7bf7d56d399afe793df2e4418c6267d8fad8615a
  dev/bench/data.js
Due: none

test: add example schemas for logging client dmmf sizes
  packages/client/src/__tests__/dmmf.test.ts
  packages/client/src/__tests__/schemas/mariadb.northwind.prisma
  packages/client/src/__tests__/schemas/mysql.allsquare.prisma
  packages/client/src/__tests__/schemas/postgresql.10models.prisma
Due: client

fix(cli-studio): bump to 0.469.0 see https://github.com/prisma/studio/issues/992
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

chore(migrate): rename some datamodel to schema (#14517)
  ARCHITECTURE.md
  packages/migrate/src/Migrate.ts
  packages/migrate/src/__tests__/handlePanic.migrate.test.ts
  packages/migrate/src/__tests__/rpc.test.ts
  packages/migrate/src/commands/MigrateDev.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 67a1cf1a38e49d948394a3dc8cacb165f8591ba2
  dev/bench/data.js
Due: none

chore(deps): update engines to 4.2.0-12.integration-tracing-fix-895bd692464d00b535a72dc05f189e5bced5c584
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

feat: add Lib tracing for connect and disconnect
  packages/engine-core/src/library/LibraryEngine.ts
  packages/engine-core/src/library/types/Library.ts
Due: engine-core

test: Port fulltext search tests to new setup
  packages/client/src/__tests__/integration/happy/full-text-search-mysql/schema.prisma
  packages/client/src/__tests__/integration/happy/full-text-search-mysql/test.ts
  packages/client/src/__tests__/integration/happy/full-text-search-postgres/schema.prisma
  packages/client/src/__tests__/integration/happy/full-text-search-postgres/test.ts
  packages/client/tests/functional/fulltext-search/__snapshots__/tests.ts.snap
  packages/client/tests/functional/fulltext-search/_matrix.ts
  packages/client/tests/functional/fulltext-search/prisma/_schema.ts
  packages/client/tests/functional/fulltext-search/tests.ts
Due: client

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
