Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

fix(client): support JSON values without prototypes and constructors (#14480)
  packages/client/src/runtime/utils/common.ts
  packages/client/tests/functional/json-fields/_matrix.ts
  packages/client/tests/functional/json-fields/prisma/_schema.ts
  packages/client/tests/functional/json-fields/tests.ts
Due: client

Apply suggestions from code review
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
Due: client, engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 959e0754c0a3f53c83a5fd45e23dfa46f60256a5
  dev/bench/data.js
Due: none

fix(debug): use own typings for Debug and Debugger
  packages/debug/src/index.ts
  packages/debug/src/types.ts
Due: debug

fix(debug): use own typings for Debug and Debugger (#14671)
  packages/debug/src/index.ts
  packages/debug/src/types.ts
Due: debug

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 64a5f00addf5a50592d7a7be999e41337d7bd14a
  dev/bench/data.js
Due: none

docs(instrumentation): fix a typo and a broken link
  packages/instrumentation/README.md
Due: none

docs(instrumentation): fix a typo and a broken link (#14672)
  packages/instrumentation/README.md
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 07a7fd737866aa15047c8a40381bba31aa8a07a7
  dev/bench/data.js
Due: none

docs: update list of packages in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat(client): log Data Proxy usage, client type and host (#14659)
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
Due: client, engine-core

style: remove colon
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e9a9d4b3254541fc3968274615ba3e890e809bf3
  dev/bench/data.js
Due: none

docs: update list of packages in CONTRIBUTING.md (#14674)
  CONTRIBUTING.md
Due: none

chore: added reproduction of issue #10000
  packages/client/tests/functional/reproduce-10000/_matrix.ts
  packages/client/tests/functional/reproduce-10000/prisma/_schema.ts
  packages/client/tests/functional/reproduce-10000/tests.ts
Due: client

setup the query engines once only
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

set the engines via global jest setup
  packages/client/tests/functional/_utils/globalSetup.js
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

attempt to make it work on windows
  packages/client/tests/functional/_utils/globalSetup.js
  packages/client/tests/functional/_utils/setupQueryEngine.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

fix(engine-core): don't log the whole package.json in data proxy logs (#14661)
  packages/engine-core/src/data-proxy/utils/getClientVersion.ts
Due: engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 38db28252b850d4296e5fb1c32d2ead27e3d7ca8
  dev/bench/data.js
Due: none

chore: updated reproduction of issue #10000
  packages/client/tests/functional/reproduce-10000/prisma/_schema.ts
  packages/client/tests/functional/reproduce-10000/tests.ts
Due: client

chore: reproduce issue #12378
  packages/client/tests/functional/reproduce-12378/_matrix.ts
  packages/client/tests/functional/reproduce-12378/prisma/_schema.ts
  packages/client/tests/functional/reproduce-12378/tests.ts
Due: client

chore: replaced logic in formatSchema
  packages/cli/helpers/build.ts
  packages/cli/src/Version.ts
  packages/internals/helpers/build.ts
  packages/internals/package.json
  packages/internals/src/engine-commands/formatSchema.ts
  packages/internals/src/engine-commands/getEngineVersion.ts
  packages/internals/src/engine-commands/index.ts
  packages/internals/src/index.ts
  packages/internals/src/wasm.ts
  pnpm-lock.yaml
Due: none

Update packages/client/tests/functional/logging/tests.ts
  packages/client/tests/functional/logging/tests.ts
Due: client

Update packages/client/tests/functional/logging-mongo/tests.ts
  packages/client/tests/functional/logging-mongo/tests.ts
Due: client

1:1 separate onUpdate: Restrict, NoAction
  packages/client/tests/functional/referential-integrity/tests_1-to-1.ts
Due: client

1:1 fix create test from should throw to should succeed
  packages/client/tests/functional/referential-integrity/tests_1-to-1.ts
Due: client

test: Port `chaining` test to new setup (#14495)
  packages/client/src/__tests__/integration/happy/chaining/.gitignore
  packages/client/src/__tests__/integration/happy/chaining/dev.db
  packages/client/src/__tests__/integration/happy/chaining/schema.prisma
  packages/client/src/__tests__/integration/happy/chaining/test.ts
  packages/client/tests/functional/findFirstOrThrow/tests.ts
  packages/client/tests/functional/findUniqueOrThrow/tests.ts
  packages/client/tests/functional/fluent-api/_matrix.ts
  packages/client/tests/functional/fluent-api/prisma/_schema.ts
  packages/client/tests/functional/fluent-api/tests.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a56bf49e9a503361e17a84313417eda2807aeb61
  dev/bench/data.js
Due: none

test: Port fulltext search tests to new setup (#14522)
  packages/client/src/__tests__/integration/happy/full-text-search-mysql/schema.prisma
  packages/client/src/__tests__/integration/happy/full-text-search-mysql/test.ts
  packages/client/src/__tests__/integration/happy/full-text-search-postgres/schema.prisma
  packages/client/src/__tests__/integration/happy/full-text-search-postgres/test.ts
  packages/client/tests/functional/_utils/checkMissingProviders.ts
  packages/client/tests/functional/_utils/getTestSuiteInfo.ts
  packages/client/tests/functional/_utils/getTestSuitePlan.ts
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
  packages/client/tests/functional/fulltext-search/__snapshots__/tests.ts.snap
  packages/client/tests/functional/fulltext-search/_matrix.ts
  packages/client/tests/functional/fulltext-search/prisma/_schema.ts
  packages/client/tests/functional/fulltext-search/tests.ts
Due: client

chore(deps): update engines to 4.2.0-30.87e17280facc4098f996796e25eb71054c38801c
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 1c21e6d23183f66782dd20aad4e1da26d86f079b
  dev/bench/data.js
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
