Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

chore(deps): update studio to v0.324.0
  src/packages/cli/package.json
Due: none

remove the browser engine
  src/packages/engine-core/src/BrowserEngine.ts
Due: engine-core

clean up dead code
  src/packages/client/src/runtime/browser.ts
Due: client

formating
  src/packages/client/index-browser.js
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient/common.ts
Due: client

fix: add backup browser-index
  src/packages/client/helpers/build.js
  src/packages/client/scripts/backup-index-browser.js
Due: client

add crossfetch
  src/packages/engine-core/src/NodeEngine.ts
Due: engine-core

fix(client): browser build postinstall
  src/packages/client/scripts/default-index-browser.js
  src/packages/client/scripts/postinstall.js
  src/packages/client/src/__tests__/generation/generator.test.ts
Due: client

update repo link
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient/common.ts
Due: client

fix: backup-index-browser
  src/packages/client/index-browser.js
  src/packages/client/scripts/backup-index-browser.js
Due: client

fix: integrate new aggregate structure
  src/packages/cli/package.json
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/package.json
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
  src/packages/client/src/__tests__/__snapshots__/aggregate.test.ts.snap
  src/packages/client/src/__tests__/aggregate.test.ts
  src/packages/client/src/__tests__/integration/errors/client-version-error/test.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/packages/sdk/src/__tests__/__snapshots__/engineCommands.test.ts.snap
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

chore: update snapshot
  src/packages/client/src/__tests__/aggregate.test.ts
Due: client

fix: integrate new aggregate structure (#4483)
  src/packages/cli/package.json
  src/packages/client/fixtures/blog/main.ts
  src/packages/client/package.json
  src/packages/client/src/__tests__/__helpers__/dmmf-types.ts
  src/packages/client/src/__tests__/__snapshots__/aggregate.test.ts.snap
  src/packages/client/src/__tests__/aggregate.test.ts
  src/packages/client/src/__tests__/integration/errors/client-version-error/test.ts
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/generation/TSClient/Model.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/packages/sdk/src/__tests__/__snapshots__/engineCommands.test.ts.snap
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

chore(deps): update studio to v0.325.0
  src/packages/cli/package.json
Due: none

fix(migrate): ensureCanConnectToDatabase for reset
  src/packages/migrate/src/commands/MigrateReset.ts
Due: none

fix(engine-core): cannot read property 'padEnd' of undefined
  src/packages/engine-core/src/Engine.ts
  src/packages/engine-core/src/NodeEngine.ts
Due: engine-core

feat(migrate): display datasource info in CLI
  src/packages/migrate/src/__tests__/DbDrop.test.ts
  src/packages/migrate/src/__tests__/DbPush.test.ts
  src/packages/migrate/src/__tests__/MigrateDeploy.test.ts
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/MigrateReset.test.ts
  src/packages/migrate/src/__tests__/MigrateResolve.test.ts
  src/packages/migrate/src/__tests__/MigrateStatus.test.ts
  src/packages/migrate/src/commands/DbDrop.ts
  src/packages/migrate/src/commands/DbPush.ts
  src/packages/migrate/src/commands/MigrateDeploy.ts
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/commands/MigrateReset.ts
  src/packages/migrate/src/commands/MigrateResolve.ts
  src/packages/migrate/src/commands/MigrateStatus.ts
  src/packages/migrate/src/utils/ensureDatabaseExists.ts
Due: none

fix(deps): update engines to v2.13.0-21.cac6886fda0f25f22fd8f5e58c3a124a58e79bc8
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

feat(migrate): display datasource info in CLI (#4489)
  src/packages/migrate/src/__tests__/DbDrop.test.ts
  src/packages/migrate/src/__tests__/DbPush.test.ts
  src/packages/migrate/src/__tests__/MigrateDeploy.test.ts
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/MigrateReset.test.ts
  src/packages/migrate/src/__tests__/MigrateResolve.test.ts
  src/packages/migrate/src/__tests__/MigrateStatus.test.ts
  src/packages/migrate/src/commands/DbDrop.ts
  src/packages/migrate/src/commands/DbPush.ts
  src/packages/migrate/src/commands/MigrateDeploy.ts
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/commands/MigrateReset.ts
  src/packages/migrate/src/commands/MigrateResolve.ts
  src/packages/migrate/src/commands/MigrateStatus.ts
  src/packages/migrate/src/utils/ensureDatabaseExists.ts
Due: none

test(migrate): update reset tests
  src/packages/migrate/src/__tests__/MigrateReset.test.ts
Due: none

fix(migrate): ensureCanConnectToDatabase for reset (#4487)
  src/packages/migrate/src/__tests__/MigrateReset.test.ts
  src/packages/migrate/src/commands/MigrateReset.ts
Due: none

test(migrate): update fixtures
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-draft-1-change/prisma/dev.db
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-draft-1-change/prisma/migrations/20201203153359_draft/migration.sql
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-draft/prisma/dev.db
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-draft/prisma/migrations/20201203153838_draft/migration.sql
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-migration/prisma/dev.db
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-warning/prisma/dev.db
Due: none

chore(client,debug): strict mode
  src/packages/client/tsconfig.runtime.json
  src/packages/debug/src/__tests__/basic.test.ts
  src/packages/debug/tsconfig.json
Due: client, debug

chore: fix build
  src/packages/debug/src/__tests__/env-disabled.test.ts
  src/packages/debug/src/__tests__/env-enabled.test.ts
Due: debug

fix(deps): update engines to v2.13.0-21.cac6886fda0f25f22fd8f5e58c3a124a58e79bc8 (#4492)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-draft-1-change/prisma/dev.db
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-draft-1-change/prisma/migrations/20201203153359_draft/migration.sql
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-draft/prisma/dev.db
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-draft/prisma/migrations/20201203153838_draft/migration.sql
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-migration/prisma/dev.db
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-warning/prisma/dev.db
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

fix(migrate): minor help text tweaks
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/commands/DbPush.ts
  src/packages/migrate/src/commands/MigrateCommand.ts
  src/packages/migrate/src/commands/MigrateDeploy.ts
  src/packages/migrate/src/commands/MigrateDev.ts
  src/packages/migrate/src/commands/MigrateReset.ts
  src/packages/migrate/src/commands/MigrateStatus.ts
  src/packages/migrate/src/utils/handleEvaluateDataloss.ts
Due: none

chore(deps): update studio to v0.326.0
  src/packages/cli/package.json
Due: none

fix(deps): update engines to v2.13.0-23.cd77bc0f5a5e78464d308a5004079107b9fdb82a
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk
