Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 094a73bdcc5651cb751ef6b0a32ab09429654740
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.7.0-5.95d9ac00dd6d5d54206de281f2ecc7c2752d2548
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.7.0-5.95d9ac00dd6d5d54206de281f2ecc7c2752d2548 (#10563)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 614ecc13ed35b20eadd2e614b227505faf6eab99
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.7.0-6.23d5eba719c7d7b62113c72274e1decaacbaf1b7
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.7.0-6.23d5eba719c7d7b62113c72274e1decaacbaf1b7 (#10565)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ddef540a87293989043d3144db426b050f498792
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.7.0-7.c5d5d78b1f20330f8e0545e899a1403e54b17e16
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

fix(init): Only prevent `init` if existing `prisma` is a folder
  packages/cli/src/Init.ts
Due: none

chore(deps): update engines to 3.7.0-8.f68c63b87388f311f9e79d47c630b65b255b5863
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.7.0-9.a2cf8baf0c316e45ff992f1605b3c6cb8990e7b3
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

feat(client,migrate): bind debug of dotenv to DOTENV_CONFIG_DEBUG env var
  packages/sdk/src/utils/tryLoadEnvs.ts
Due: sdk

remove "process.env.DOTENV_CONFIG_DEBUG.length > 0"
  packages/sdk/src/utils/tryLoadEnvs.ts
Due: sdk

feat(client,migrate): bind debug of dotenv to DOTENV_CONFIG_DEBUG env var (#10590)
  packages/sdk/src/utils/tryLoadEnvs.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 0bd8cc8b4145aa6ac2e36ee1bf80caf9abfcc2ff
  dev/bench/data.js
Due: none

feat(client): init tracing
  packages/client/package.json
  packages/client/src/runtime/MiddlewareHandler.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/otel/getChildSpan.ts
  packages/client/src/runtime/utils/otel/runInChildSpan.ts
  packages/client/src/runtime/utils/validatePrismaClientOptions.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  pnpm-lock.yaml
Due: client, engine-core

fix(sdk): don't create package.json when running "prisma generate" (#10542)
  packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for dd302297a272a6c8b3873c6e51111f0e6272f226
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.7.0-10.fe231d6744abf0901a3b6c79394c04ca5efa57c6
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.7.0-10.fe231d6744abf0901a3b6c79394c04ca5efa57c6 (#10610)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ca45f807fbd1535c7ec6fbd11976bd26f87a795e
  dev/bench/data.js
Due: none

chore(deps): update react-prisma
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update definitelytyped
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3bf49df872a1b7ca7ceb28669cdff1d8b4dd0623
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 8f543e66aed6cb65850745c0f2ac5d0d43dfd6bd
  dev/bench/data.js
Due: none

chore(deps): update dependency ts-jest to v27.1.0
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for dc3245fc916c8c9b348da7aa1ab613fdd092e60b
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.7.0-12.66fec68652e7302168830c34b52fba4b3eaee506
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.7.0-13.f31012b2f8d4f6729cf574dd86098cf8641c921e
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk
