Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore(deps): update engines to 3.2.0-27.8a8bb09b003449c13728126bce82a9ed75da0047
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update dependency jest to v27.2.4
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 9ab79cddb7b678994c847b9ddc87c37a64f866b5
  dev/bench/data.js
Due: none

fix(client): separate runtime path and name
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/TSClient/common.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/utils/buildWarnEnvConflicts.ts
Due: client

test(client): update snapshots
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

chore(deps): update engines to 3.2.0-27.8a8bb09b003449c13728126bce82a9ed75da0047 (#9526)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 083060e2ff9e2e21f8b5bf35f360a518f72e0363
  dev/bench/data.js
Due: none

fix(client): main entry points to main runtime
  packages/client/index.js
Due: client

chore(client): rename
  packages/client/dev.db
  packages/client/src/generation/utils/buildDirname.ts
Due: client

fix(client): point backup index to default runtime
  packages/client/scripts/backup-index.js
Due: client

fix(client): provide stub for fs
  helpers/compile/plugins/fill-plugin/fillPlugin.ts
  helpers/compile/plugins/fill-plugin/fillers/fs.ts
Due: none

fix(client): import env vars into generated client
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/utils/getTestClient.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/sdk/src/utils/tryLoadEnvs.ts
Due: client, engine-core, sdk

fix(client): only generate inline env/schema for dataproxy engines
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/TSClient/common.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/utils/buildDirname.ts
  packages/client/src/generation/utils/buildWarnEnvConflicts.ts
  packages/client/src/utils/generateInFolder.ts
  packages/sdk/src/utils/getEnvPaths.ts
Due: client, sdk

fix(build): revert esbuild
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/react-prisma/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

ci: gh use ubuntu-latest
  .github/workflows/test.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for c9045b37b1cbd8c39d361faf02a7e15ac1b30538
  dev/bench/data.js
Due: none

ci: remove node scripts from buildkite-entry.sh
  .buildkite/publish/buildkite-entry.sh
  .buildkite/test/buildkite-entry.sh
Due: none

ci: remove node scripts from buildkite-entry.sh (#9535)
  .buildkite/publish/buildkite-entry.sh
  .buildkite/test/buildkite-entry.sh
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 20b58fe65d581bcb43c0d5c28d4b89cabc2d99b2
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.2.0-28.c53b44e5f16eb1a2de6ccf122e5dda804e1983c3
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-28.c53b44e5f16eb1a2de6ccf122e5dda804e1983c3 (#9547)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 6e681d385f3d1db8c2cfafb190273a7fa2fec23f
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.2.0-29.8a14c098782bf5f95a6ae9a97df03ccfa3e11cb0
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-30.1ad68fe5b5d41676c33f9f58ff51739e4ea6c32d
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-30.1ad68fe5b5d41676c33f9f58ff51739e4ea6c32d (#9549)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ad1c4e11f82390128ffef557c2fc4001174643f6
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.2.0-31.36a9b956e3869c2d20311369e6fe5aec64d5a4aa
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.2.0-31.36a9b956e3869c2d20311369e6fe5aec64d5a4aa (#9555)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 2a85d2e8ef254e024e55fa2aeefcc50d2fcd3721
  dev/bench/data.js
Due: none

feat(dbpull): MongoDB
  .buildkite/publish/docker-compose.yml
  .buildkite/test/docker-compose.14.yml
  .github/workflows/test.yml
  docker/docker-compose.yml
  docker/mongo-seed/Dockerfile
  docker/mongo-seed/init.json
  packages/migrate/src/__tests__/DbPull.test.ts
  packages/migrate/src/__tests__/__snapshots__/DbPull.test.ts.snap
  packages/migrate/src/__tests__/fixtures/schema-only-mongodb/prisma/schema.prisma
  packages/migrate/src/commands/DbPull.ts
  packages/sdk/src/IntrospectionEngine.ts
  packages/sdk/src/convertCredentials.ts
Due: sdk

fix: docker mongo-seed path
  .buildkite/publish/docker-compose.yml
  .buildkite/test/docker-compose.14.yml
Due: none

fix: TEST_MONGO_URI and DEBUG
  packages/migrate/src/__tests__/DbPull.test.ts
Due: none

ci: docker depends on mongo
  .buildkite/test/docker-compose.14.yml
  packages/migrate/src/__tests__/DbPull.test.ts
Due: none
