Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore(deps): update engines to 3.15.0-18.6f44ae80b9ca16e79bd04160da837f3880738e64
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

let the data proxy look for dirname
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils/buildDirname.ts
Due: client

chore(deps): update engines to 3.15.0-18.6f44ae80b9ca16e79bd04160da837f3880738e64 (#13597)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update studio to v0.461.0
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for af043d1a2bf6d67c5c04ed9c26278a74b61f371e
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.15.0-19.be3dd4d0aba6330e165fd6b3ccfce5202a49d410
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

fix error with custom schema location not found
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/generator.ts
  packages/client/src/utils/generateInFolder.ts
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
Due: client

chore(deps): update engines to 3.15.0-19.be3dd4d0aba6330e165fd6b3ccfce5202a49d410 (#13604)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 72952a190e4cc92e5e8c76047fc3c8967d89d8c2
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for fee773a32a5b96e96f7211063616f33412f7ce24
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.15.0-20.b3b91ef5985825dbeb919bcc0da2ab341471948a
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.15.0-21.7fbd9965484ec56d2c496b4a8d5f882d4cbe614e
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.15.0-21.7fbd9965484ec56d2c496b4a8d5f882d4cbe614e (#13607)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b948f3a02fda8638cfb3a0e486e855f9d0769926
  dev/bench/data.js
Due: none

try to fix bug where ts-jest hangs
  packages/client/jest.config.js
Due: client

make dataProxy required after fixing ts-jest issue
  packages/cli/src/Generate.ts
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/generateClient.ts
  packages/client/src/generation/utils/buildDirname.ts
  packages/client/src/generation/utils/buildInjectableEdgeEnv.ts
  packages/client/src/generation/utils/buildInlineDatasources.ts
  packages/client/src/generation/utils/buildInlineSchema.ts
  packages/client/src/generation/utils/buildNFTAnnotations.ts
  packages/client/src/generation/utils/buildRequirePath.ts
  packages/client/src/generation/utils/buildWarnEnvConflicts.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/utils/generateInFolder.ts
  packages/client/tests/functional/_utils/setupTestSuiteClient.ts
  packages/generator-helper/src/types.ts
  packages/migrate/src/Migrate.ts
  packages/sdk/src/__tests__/getGenerators/getGenerators.test.ts
  packages/sdk/src/get-generators/getGenerators.ts
Due: client, generator-helper, sdk

chore(deps): update dependency @types/jest to v28
  packages/cli/package.json
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

fix(client): Better type inference for boolean in select/include
  packages/client/src/generation/TSClient/Payload.ts
  packages/client/src/generation/TSClient/common.ts
Due: client

chore(deps): update engines to 3.15.0-22.473106d8011529e952ad2b6ddccb00fc4d5bfb7d
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.15.0-22.473106d8011529e952ad2b6ddccb00fc4d5bfb7d (#13619)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for fc21ce3e3cf150dd2b5511a0f57dad67279d8c28
  dev/bench/data.js
Due: none

test(client): add test for integer overflow error
  packages/client/tests/functional/handle-int-overflow/_matrix.ts
  packages/client/tests/functional/handle-int-overflow/prisma/_schema.ts
  packages/client/tests/functional/handle-int-overflow/tests.ts
Due: client

changes
  packages/client/scripts/postinstall.js
Due: client

changes (#13623)
  packages/client/scripts/postinstall.js
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b03c63d0a258a300b593a8dfc3043cec2c649a0b
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.15.0-23.80cb88d401e4111fd5766c28c6412b51b2582f42
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.15.0-23.80cb88d401e4111fd5766c28c6412b51b2582f42 (#13625)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 4635218d195c6f02d7939d4040bcb913cccaf9d3
  dev/bench/data.js
Due: none

implement check for unsupported data proxy in cli
  packages/cli/src/Doctor.ts
  packages/cli/src/Studio.ts
  packages/migrate/src/commands/DbDrop.ts
  packages/migrate/src/commands/DbExecute.ts
  packages/migrate/src/commands/DbPull.ts
  packages/migrate/src/commands/DbPush.ts
  packages/migrate/src/commands/DbSeed.ts
  packages/migrate/src/commands/MigrateDeploy.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateDiff.ts
  packages/migrate/src/commands/MigrateReset.ts
  packages/migrate/src/commands/MigrateResolve.ts
  packages/migrate/src/commands/MigrateStatus.ts
  packages/sdk/src/cli/checkUnsupportedDataProxy.ts
  packages/sdk/src/index.ts
Due: sdk

fix self-referential imports in sdk
  packages/sdk/src/cli/checkUnsupportedDataProxy.ts
Due: sdk
