Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore(driver-adapters): remove "@prisma/driver-adapter-utils" from renovate.json
  .github/renovate.json
Due: none

chore(cli): update message should be a warning not an error
  packages/cli/src/__tests__/printUpdateMessage.test.ts
  packages/cli/src/__tests__/update-message.test.ts
  packages/cli/src/utils/printUpdateMessage.ts
Due: none

fix(generator-helper): Fix DMMF field relationToFields type (#20802)
  packages/generator-helper/src/dmmf.ts
Due: generator-helper

delete extra files
  packages/adapter-libsql/.gitignore
  packages/adapter-libsql/tests/types.test.mts
Due: none

replace tsup with esbuild
  helpers/compile/configs.ts
  packages/adapter-libsql/helpers/build.ts
  packages/adapter-libsql/package.json
  packages/adapter-libsql/src/conversion.ts
  packages/adapter-libsql/src/libsql.ts
  packages/adapter-libsql/tsconfig.build.json
  packages/adapter-libsql/tsconfig.json
  packages/adapter-neon/helpers/build.ts
  packages/adapter-neon/package.json
  packages/adapter-neon/src/neon.ts
  packages/adapter-neon/tsconfig.build.json
  packages/adapter-neon/tsconfig.json
  packages/adapter-pg/helpers/build.ts
  packages/adapter-pg/package.json
  packages/adapter-pg/src/pg.ts
  packages/adapter-pg/tsconfig.build.json
  packages/adapter-pg/tsconfig.json
  packages/adapter-planetscale/helpers/build.ts
  packages/adapter-planetscale/package.json
  packages/adapter-planetscale/src/planetscale.ts
  packages/adapter-planetscale/tsconfig.build.json
  packages/adapter-planetscale/tsconfig.json
  packages/driver-adapter-utils/helpers/build.ts
  packages/driver-adapter-utils/package.json
  packages/driver-adapter-utils/src/debug.ts
  packages/driver-adapter-utils/src/index.ts
  packages/driver-adapter-utils/tsconfig.build.json
  packages/driver-adapter-utils/tsconfig.json
  pnpm-lock.yaml
  tsconfig.build.adapters.json
  tsconfig.build.bundle.json
Due: none

fix(internals): update ts-pattern breaking change
  packages/internals/src/sendPanic.ts
Due: none

fix(driver-adapters): test decimal/precision on Pg/Neon
  packages/client/tests/functional/decimal/precision/tests.ts
Due: client

fix(driver-adapters): test decimal/precision on pg/Neon (#21630)
  packages/client/tests/functional/decimal/precision/tests.ts
Due: client

more fixes
  packages/client/tests/functional/0-legacy-ports/optional-relation-filters/tests.ts
  packages/client/tests/functional/_example/tests.ts
  packages/client/tests/functional/_utils/idForProvider.ts
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
  packages/client/tests/functional/default-selection/prisma/_schema.ts
  packages/client/tests/functional/default-selection/tests.ts
  packages/client/tests/functional/extensions/client.ts
  packages/client/tests/functional/extensions/defineExtension.ts
  packages/client/tests/functional/extensions/itx.ts
  packages/client/tests/functional/extensions/model.ts
  packages/client/tests/functional/extensions/query.ts
  packages/client/tests/functional/extensions/tx.ts
  packages/client/tests/functional/field-reference/numeric/prisma/_schema.ts
  packages/client/tests/functional/filter-count-relations/prisma/_schema.ts
  packages/client/tests/functional/filter-count-relations/tests.ts
  packages/client/tests/functional/issues/13766/primary-key/tests.ts
  packages/client/tests/functional/issues/15644-middleware-arg-types/tests.ts
  packages/client/tests/functional/issues/9372/prisma/_schema.ts
  packages/client/tests/functional/prisma-promise/tests.ts
  packages/client/tests/functional/tracing/tests.ts
  packages/client/tests/functional/views/tests.ts
Due: client

revert download BinaryType
  packages/fetch-engine/src/download.ts
Due: none

small edits
  TESTING.md
  packages/client/tests/functional/_utils/setupTestSuiteMatrix.ts
Due: client

more fixes
  TESTING.md
  packages/cli/src/generate/getHardcodedUrlWarning.ts
  packages/client/tests/functional/0-legacy-ports/json/tests.ts
  packages/client/tests/functional/0-legacy-ports/optional-relation-filters/tests.ts
  packages/client/tests/functional/0-legacy-ports/query-raw/tests.ts
  packages/client/tests/functional/_example/tests.ts
  packages/client/tests/functional/_utils/getTestSuitePlan.ts
  packages/client/tests/functional/default-selection/prisma/_schema.ts
  packages/client/tests/functional/default-selection/tests.ts
  packages/client/tests/functional/extensions/client.ts
  packages/client/tests/functional/extensions/defineExtension.ts
  packages/client/tests/functional/extensions/model.ts
  packages/client/tests/functional/extensions/query.ts
  packages/client/tests/functional/field-reference/json/tests.ts
  packages/client/tests/functional/filter-count-relations/tests.ts
  packages/client/tests/functional/issues/13097-group-by-enum/prisma/_schema.ts
  packages/client/tests/functional/issues/13097-group-by-enum/tests.ts
  packages/client/tests/functional/issues/6578/prisma/_schema.ts
  packages/client/tests/functional/issues/6578/tests.ts
  packages/client/tests/functional/middleware-raw-args/tests.ts
  packages/client/tests/functional/optimistic-concurrency-control/tests.ts
  packages/client/tests/functional/prisma-promise/tests.ts
  packages/client/tests/functional/raw-queries/send-type-hints/tests.ts
  packages/client/tests/functional/relationMode-17255-mixed-actions/_matrix.ts
  packages/client/tests/functional/relationMode-17255-same-actions/_matrix.ts
  packages/client/tests/functional/relationMode-in-separate-gh-action/tests_1-to-n.ts
Due: client

small fixes
  packages/client/tests/functional/0-legacy-ports/json/tests.ts
  packages/client/tests/functional/_example/_matrix.ts
  packages/client/tests/functional/_utils/setupTestSuiteEnv.ts
  packages/client/tests/functional/issues/13097-group-by-enum/_matrix.ts
  packages/client/tests/functional/issues/13097-group-by-enum/prisma/_schema.ts
  packages/client/tests/functional/issues/13766/at-unique/_matrix.ts
Due: client

more fixes
  packages/client/src/generation/TSClient/helpers.ts
  packages/client/src/runtime/core/model/aggregates/aggregate.ts
  packages/client/src/runtime/core/model/aggregates/count.ts
  packages/client/src/runtime/core/model/aggregates/groupBy.ts
  packages/client/src/runtime/core/model/applyFluent.ts
  packages/client/tests/functional/_utils/idForProvider.ts
  packages/client/tests/functional/default-selection/_matrix.ts
  packages/client/tests/functional/extensions/_matrix.ts
  packages/client/tests/functional/extensions/client.ts
  packages/client/tests/functional/extensions/defineExtension.ts
  packages/client/tests/functional/extensions/tx.ts
  packages/client/tests/functional/issues/9372/_matrix.ts
  packages/client/tests/functional/naming-conflict/built-in-types-vs-model/_matrix.ts
Due: client

ignore remaining errors for now
  TESTING.md
  packages/client/src/runtime/core/engines/binary/BinaryEngine.ts
  packages/client/src/runtime/core/extensions/MergedExtensionsList.ts
  packages/client/src/runtime/core/model/aggregates/aggregate.ts
  packages/client/src/runtime/core/types/exported/Utils.ts
  packages/client/tests/e2e/issues/19999-tsc-extensions-oom/src/index.ts
  packages/client/tests/functional/20422-cannot-assign-type-to-itself/tests.ts
  packages/client/tests/functional/extensions/defineExtension.ts
  packages/client/tests/functional/extensions/itx.ts
  packages/client/tests/functional/extensions/model.ts
  packages/client/tests/functional/extensions/pdp.ts
  packages/client/tests/functional/extensions/query.ts
  packages/client/tests/functional/fluent-api-null/tests.ts
  packages/client/tests/functional/fluent-api/tests.ts
  packages/client/tests/functional/naming-conflict/built-in-types-vs-enum/_matrix.ts
  packages/fetch-engine/src/download.ts
  packages/fetch-engine/src/utils.ts
  packages/get-platform/src/getPlatform.ts
  packages/internals/src/get-generators/utils/fixBinaryTargets.ts
  packages/migrate/src/__tests__/ensureDatabaseExists.test.ts
Due: client

fix import
  packages/client/src/__tests__/integration/happy/logging/library.ts
Due: client

fix test
  packages/client/tests/functional/field-reference/list/_matrix.ts
Due: client

fix one more test
  packages/client/tests/functional/field-reference/json/_matrix.ts
Due: client

one more
  packages/client/tests/functional/field-reference/enum/_matrix.ts
Due: client

test(driver-adapters): uncomment driver adapters tests related to Neon, Postgres
  packages/client/tests/functional/issues/6578/tests.ts
  packages/client/tests/functional/issues/9678/tests.ts
  packages/client/tests/functional/raw-queries/typed-results-advanced-and-native-types/tests.ts
Due: client

chore(docker): fix "FATAL" log spam in "postgres" Docker container
  docker/docker-compose.yml
Due: none

update tests
  packages/cli/src/__tests__/commands/Version.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Version.test.ts.snap
Due: none

update replacement for snapshot
  packages/cli/src/__tests__/commands/Version.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Version.test.ts.snap
Due: none

fix snapshot for CI
  packages/cli/src/__tests__/commands/Version.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Version.test.ts.snap
Due: none

chore(deps): update engines to 5.6.0-5.6dda9d7a540d41932067b8c8308e086f55f7dded
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

feat(version): add more information in version command output (#21625)
  packages/cli/src/Version.ts
  packages/cli/src/__tests__/commands/Version.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Version.test.ts.snap
Due: none

chore(deps): update engines to 5.6.0-6.integration-engineer-dont-overwrite-engine-versions-01aa2621a92b5b3df1c7904ecda5970ec061c579
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix type bundling
  .gitignore
  packages/adapter-libsql/tsconfig.build.json
  packages/adapter-neon/tsconfig.build.json
  packages/adapter-pg/tsconfig.build.json
  packages/adapter-planetscale/tsconfig.build.json
  packages/driver-adapter-utils/tsconfig.build.json
Due: none

update expectations
  packages/client/tests/functional/metrics/enabled/tests.ts
Due: client
