Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

chore(deps): update engines to 3.16.0-33.7a18b3b3a7f3c555f78372d40fe90241c4d6f433 (#13937)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client, engine-core

fix(client): ts-error in benchmark (#13928)
  packages/client/src/generation/TSClient/Count.ts
  packages/client/src/generation/TSClient/Model.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3e3a427879735b4d334617dbf9cf174d05cff34b
  dev/bench/data.js
Due: none

chore: fix typo
  packages/client/src/__tests__/generation/generator.test.ts
Due: client

Remove validate-config
  .github/workflows/scripts/install-mysql.ps1
Due: none

chore(deps): update engines to 3.16.0-34.4123f3fa0ceb8c583a9094914ec20ab68b530685
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client, engine-core

Update packages/cli/src/Init.ts
  packages/cli/src/Init.ts
Due: none

test(client): update the test and remove workaround
  packages/client/tests/functional/queryRaw-typed-results/tests.ts
Due: client

Update Init.ts
  packages/cli/src/Init.ts
Due: none

chore(deps): update engines to 3.16.0-34.4123f3fa0ceb8c583a9094914ec20ab68b530685 (#13941)
  packages/cli/package.json
  packages/client/package.json
  packages/client/tests/functional/queryRaw-typed-results/tests.ts
  packages/engine-core/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client, engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a66fa838b3483f5cd74fded38b26a977f07d6dd6
  dev/bench/data.js
Due: none

fix: tests
  packages/internals/src/engine-commands/getConfig.ts
Due: none

chore(deps): update engines to 3.16.0-35.07e95d5172e374c1c8fbe85f23b94978c53a6502
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client, engine-core

get the dmmf dynamically at runtime
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils/buildDMMF.ts
  packages/client/src/runtime/core/model/applyFluent.ts
  packages/client/src/runtime/core/model/applyModel.ts
  packages/client/src/runtime/core/model/applyModels.ts
  packages/client/src/runtime/dmmf.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/utils/applyMixins.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/common/Engine.ts
  packages/engine-core/src/library/DefaultLibraryLoader.ts
  packages/engine-core/src/library/LibraryEngine.ts
Due: client, engine-core

implement empty getDMMF for dataproxy
  packages/client/src/runtime/getPrismaClient.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
Due: client, engine-core

refactor: remove unused import
  packages/client/src/generation/TSClient/TSClient.ts
Due: client

fix(client): use correct type for exported dmmf
  packages/client/src/generation/TSClient/TSClient.ts
Due: client

fix(client): fix a typo and move mixin application to module level
  packages/client/src/runtime/dmmf.ts
Due: client

refactor: simplify code
  packages/client/src/runtime/getPrismaClient.ts
Due: client

fix(client): add missing --enable-raw-queries
  packages/engine-core/src/binary/BinaryEngine.ts
Due: engine-core

docs(client): improve the doc comment
  packages/client/src/generation/utils/buildDMMF.ts
Due: client

refactor(client): remove unused promise
  packages/client/src/runtime/getPrismaClient.ts
Due: client

docs(engine-core): add comment
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
Due: engine-core

chore: remove unrelated changes from DefaultLibraryLoader
  packages/engine-core/src/library/DefaultLibraryLoader.ts
Due: engine-core

fix: typo
  packages/engine-core/src/library/DefaultLibraryLoader.ts
Due: engine-core

chore: remove unrelated changes
  packages/engine-core/src/library/LibraryEngine.ts
Due: engine-core

refactor(client): modernize applyMixins code
  packages/client/src/runtime/utils/applyMixins.ts
Due: client

fix: update snapshots
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

fix(client): avoid clash with model name Pick
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/runtime/dmmf-types.ts
  packages/client/src/runtime/dmmf.ts
  packages/client/src/runtime/index.ts
Due: client

fix(client): show proper errors when loading dmmf fails
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/getPrismaClient.ts
Due: client

refactor(client): rename BundledDMMF to BaseDMMF
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/runtime/dmmf-types.ts
  packages/client/src/runtime/dmmf.ts
  packages/client/src/runtime/index.ts
Due: client

chore(deps): update engines to 3.16.0-36.909896d3ed1293c98412afa0a7523bb00df38df7
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client, engine-core

chore(deps): update engines to 3.16.0-36.909896d3ed1293c98412afa0a7523bb00df38df7 (#13947)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client, engine-core

add Benchmark.js Benchmark (benchmarkjs) benchmark result for dddd024c606f4a4d29b5a2f7dc50988b144025d0
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.16.0-37.5f651fee76cefee532f0db5481d4048de72e2f5e
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client, engine-core

style: rename method for consistency
  packages/client/src/runtime/getPrismaClient.ts
Due: client
