Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

chore(deps): update dependency @types/jest to v26.0.21
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d4531cbd80f42069443ca2d3521742d6e6e5de89
  dev/bench/data.js
Due: none

chore(deps): update devdependencies (non-major)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3c3f5ed910046ce64b7e38d1b67164b514964581
  dev/bench/data.js
Due: none

chore(deps): update dependency rollup to v2.42.2
  src/packages/client/package.json
Due: client

chore(deps): update react-prisma
  src/packages/react-prisma/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 3dc9e22b097e71f86922ffc4a61083acb314e50e
  dev/bench/data.js
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 10b00652cb7a9ef71ec9589628e65ea4abc61c6b
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.20.0-12.64d2ea05f0cae2391264c3e4b75fe777f3f6b5c3
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

test(migrate): update tests
  src/packages/migrate/src/__tests__/DbDrop.test.ts
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/rpc.test.ts
Due: none

test(client): update test, remove stack line
  src/packages/client/src/__tests__/integration/errors/missing-relation/test.ts
Due: client

test(cli): increase timeout for version test
  src/packages/cli/src/__tests__/version.test.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for cc49a180315196b1ef9115d5b4969937d20a76c1
  dev/bench/data.js
Due: none

fix(deps): update engines to v2.20.0-13.358f7e57dc995e7466914b5178adb05b4cb11fe7
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

fix: it fails if typescript -v is less than 4.1
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

chore(deps): update studio to v0.360.0
  src/packages/cli/package.json
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for dc8838b7d6bb8d0aa1952dc75baa16a73e77d5d8
  dev/bench/data.js
Due: none

chore(deps): update devdependencies (non-major)
  package.json
  pnpm-lock.yaml
  src/package.json
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/debug/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/generator-helper/package.json
  src/packages/get-platform/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 647cdc8b9fd7748196a712182d4bf64c9507ac32
  dev/bench/data.js
Due: none

test(client): happy blog-env test has no assertion
  src/packages/client/src/__tests__/integration/happy/blog-env/test.ts
Due: client

Fix StudioServer constructor
  src/packages/cli/src/Studio.ts
Due: none

fix: removed process.exit() and logger.error
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Due: sdk

fix(deps): update engines to v2.20.0-14.f461292a2242db52d9f4c87995f0237aacd300d2
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for e53e1ca4da0cd96e46448ce8412a969096137692
  dev/bench/data.js
Due: none

chore: add client sandbox
  src/packages/client/.gitignore
  src/packages/client/sandbox/dmmf.ts
  src/packages/client/sandbox/dmmf2.ts
Due: client

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: add client sandbox (#6233)
  CONTRIBUTING.md
  src/packages/client/.gitignore
  src/packages/client/sandbox/dmmf.ts
  src/packages/client/sandbox/dmmf2.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 14ffd0093c1b8c7db1f45e9f04c5fab7c1c120d2
  dev/bench/data.js
Due: none

Bump studio
  src/packages/cli/package.json
Due: none

test: adding more test for `prisma format`
  src/packages/cli/src/__tests__/fixtures/example-project/prisma/broken.prisma
  src/packages/cli/src/__tests__/fixtures/example-project/prisma/missing-backrelation.prisma
  src/packages/cli/src/__tests__/format.test.ts
Due: none
