Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  client:
    carryforward: true
    paths:
      - packages/client/
  debug:
    carryforward: true
    paths:
      - packages/debug/
  engine-core:
    carryforward: true
    paths:
      - packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - packages/sdk/
  introspection:
    carryforward: true
    paths:
      - packages/introspection/

restore setup
  scripts/setup.ts
Due: none

chore(get-platform,migrate): Some kleur post-review fixes
  packages/get-platform/src/link.ts
  packages/migrate/src/commands/DbCommand.ts
  packages/migrate/src/commands/DbDrop.ts
  packages/migrate/src/commands/DbExecute.ts
  packages/migrate/src/commands/DbPush.ts
  packages/migrate/src/commands/DbSeed.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateDiff.ts
Due: none

chore(get-platform,migrate): Some kleur post-review fixes (#19051)
  packages/get-platform/src/link.ts
  packages/migrate/src/commands/DbCommand.ts
  packages/migrate/src/commands/DbDrop.ts
  packages/migrate/src/commands/DbExecute.ts
  packages/migrate/src/commands/DbPush.ts
  packages/migrate/src/commands/DbSeed.ts
  packages/migrate/src/commands/MigrateDev.ts
  packages/migrate/src/commands/MigrateDiff.ts
Due: none

fix(generator-helper): Fix DMMF field dbName name and type (#18694)
  packages/cli/src/Doctor.ts
  packages/generator-helper/src/dmmf.ts
Due: generator-helper

refactor: remove unimplemented `all-exist` test from packages/engines (#18453)
  packages/engines/package.json
  packages/engines/src/__tests__/all-exist.test.ts
Due: none

add test showing deletion of `views` dir outside `prisma` dir
  packages/migrate/src/__tests__/DbPull.test.ts
Due: none

chore(deps): update engines to 4.14.0-48.integration-extra-spans-68569c73b92c0dd5bb25698f579f253257b3e394
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix(client): request a free port from the engine
  packages/client/src/runtime/core/engines/binary/BinaryEngine.ts
Due: client

chore(deps): update engines to 4.14.0-49.integration-json-list-fix-43f305e7495ae67e3f3c76dd8c000ef2dcbddcab
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 4.14.0-50.integration-windows-static-crt-9995f453ef123ca3299c0ae3332ea512d9cdd4bb
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

perf(client): Pre-index DMMF datamodel during generation
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/TSClient/common.ts
  packages/client/src/generation/utils/buildDMMF.ts
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/core/extensions/visitQueryResult.test.ts
  packages/client/src/runtime/core/extensions/visitQueryResult.ts
  packages/client/src/runtime/core/model/applyFieldsProxy.test.ts
  packages/client/src/runtime/core/model/applyFieldsProxy.ts
  packages/client/src/runtime/core/model/applyFluent.ts
  packages/client/src/runtime/core/model/applyModel.ts
  packages/client/src/runtime/core/model/applyModelsAndClientExtensions.ts
  packages/client/src/runtime/core/protocol/json/JsonProtocolEncoder.ts
  packages/client/src/runtime/core/protocol/json/serialize.test.ts
  packages/client/src/runtime/core/protocol/json/serialize.ts
  packages/client/src/runtime/core/runtimeDataModel.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/index.ts
  packages/client/src/testUtils/dataModelBuilder.ts
  packages/client/src/utils/getTestClient.ts
  packages/client/tests/functional/prisma-dot-dmmf/__snapshots__/tests.ts.snap
  packages/client/tests/functional/prisma-dot-dmmf/_matrix.ts
  packages/client/tests/functional/prisma-dot-dmmf/prisma/_schema.ts
  packages/client/tests/functional/prisma-dot-dmmf/tests.ts
  packages/generator-helper/src/dmmf.ts
Due: client, generator-helper

chore(deps): update engines to 4.14.0-51.integration-extra-spans-078e83f26ef9a6d77b4db1eaf035b1d269aed53b
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  pnpm-lock.yaml
Due: client

fix(client): request a free port from the engine (#19057)
  packages/client/src/runtime/core/engines/binary/BinaryEngine.ts
Due: client

perf(client): Pre-index DMMF datamodel during generation (#18861)
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/TSClient/common.ts
  packages/client/src/generation/utils/buildDMMF.ts
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/core/extensions/visitQueryResult.test.ts
  packages/client/src/runtime/core/extensions/visitQueryResult.ts
  packages/client/src/runtime/core/model/applyFieldsProxy.test.ts
  packages/client/src/runtime/core/model/applyFieldsProxy.ts
  packages/client/src/runtime/core/model/applyFluent.ts
  packages/client/src/runtime/core/model/applyModel.ts
  packages/client/src/runtime/core/model/applyModelsAndClientExtensions.ts
  packages/client/src/runtime/core/protocol/json/JsonProtocolEncoder.ts
  packages/client/src/runtime/core/protocol/json/serialize.test.ts
  packages/client/src/runtime/core/protocol/json/serialize.ts
  packages/client/src/runtime/core/runtimeDataModel.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/index.ts
  packages/client/src/testUtils/dataModelBuilder.ts
  packages/client/src/utils/getTestClient.ts
  packages/client/tests/functional/prisma-dot-dmmf/__snapshots__/tests.ts.snap
  packages/client/tests/functional/prisma-dot-dmmf/_matrix.ts
  packages/client/tests/functional/prisma-dot-dmmf/prisma/_schema.ts
  packages/client/tests/functional/prisma-dot-dmmf/tests.ts
  packages/generator-helper/src/dmmf.ts
Due: client, generator-helper

ci: prevent concurrent tests (#19006)
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: none

ci: run client types on free runners (#19015)
  .github/workflows/test.yml
Due: none

use new domain
  packages/fetch-engine/src/utils.ts
Due: none

fix(client): Fix deno build after keyed-dmmf migration
  packages/client/src/generation/TSClient/common.ts
Due: client

fix(client): Fix deno build after keyed-dmmf migration (#19071)
  packages/client/src/generation/TSClient/common.ts
Due: client
