Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

chore(deps): update engines to 5.19.0-12.ae18f9165678fc6c7b7b107340ca0435be434765 (#25011)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-13.feat-typed-sql-nullability-7d01fb5b13f6e0f51384fe689b7e9ace5a504565
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-14.feat-typed-sql-nullability-29abebce25f4e6c26673d18598de307337325b86
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-15.integration-fix-planetscale-transactions-cc0baab23c1961e4f06f2114b9cf252e99ac90f5
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-16.feat-typed-sql-nullability-c79c3569f88658b971ff948a55aff64ff3a4e4bf
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-17.feat-typed-sql-nullability-4b818550ffc9da4e66541525cca08569a58a78e2
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-18.feat-typed-sql-nullability-c4dc3c5083115b65abe4436e4ec6e1c8c2afbecd
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-19.cb8fbf23062d1b8788a70d0d0cd3d2e0bd6eea08
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-20.integration-mongodb-ipv6-fix-52a7684de6884ddf5b7e91ac5f37254a02a69774
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

fix(ci): switch to upstream ps-http-sim from our fork
  docker/planetscale_proxy/Dockerfile
Due: none

fix(ci): switch to upstream ps-http-sim from our fork (#25031)
  docker/planetscale_proxy/Dockerfile
Due: none

feat(cli): remove Optimize specific login in Platform CLI
  packages/cli/src/platform/_lib/pdp.ts
  packages/cli/src/platform/auth/login.ts
Due: none

chore(deps): update engines to 5.19.0-19.cb8fbf23062d1b8788a70d0d0cd3d2e0bd6eea08 (#25027)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

feat(cli): remove Optimize specific login in Platform CLI (#25036)
  packages/cli/src/platform/_lib/pdp.ts
  packages/cli/src/platform/auth/login.ts
Due: none

chore(deps): update engines to 5.19.0-21.feat-typed-sql-nullability-e696c9149500a73fbefedf5b0edb3f085ff90515
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-22.integration-mongodb-ipv6-fix-a6fed372778795b60d9899578c11319bc19597ac
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-23.c356d1b4064663e128504e183e2b0cbe5fcdb063
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-23.c356d1b4064663e128504e183e2b0cbe5fcdb063 (#25052)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-24.b5beb485a0eccd6c8276ea34071498188c9af4e5
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-25.feat-typed-sql-nullability-860858bb818708261f36cd05bc915e603aae5004
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-26.8a3982b39f6dc8065ba99a0d212b3e18a5cd2d1d
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

chore(deps): update engines to 5.19.0-26.8a3982b39f6dc8065ba99a0d212b3e18a5cd2d1d (#25063)
  packages/client/package.json
  packages/engines/package.json
  packages/fetch-engine/package.json
  packages/internals/package.json
  packages/migrate/package.json
  packages/schema-files-loader/package.json
  pnpm-lock.yaml
Due: client

Add types and PrismaClient generation pieces
  packages/client/src/generation/TSClient/PrismaClient.ts
  packages/client/src/runtime/core/raw-query/rawQueryArgsMapper.ts
  packages/client/src/runtime/core/types/exported/RawQueryArgs.ts
  packages/client/src/runtime/core/types/exported/TypedSql.ts
  packages/client/src/runtime/core/types/exported/index.ts
  packages/client/src/runtime/core/types/index.ts
  packages/client/src/runtime/getPrismaClient.ts
Due: client

Watch support
  packages/cli/src/Generate.ts
  packages/cli/src/generate/introspectSql.ts
Due: none

Better identiifer name check + snapshots
  packages/client/src/__tests__/integration/happy/not-so-exhaustive-schema/__snapshots__/binary.test.ts.snap
  packages/client/src/__tests__/integration/happy/not-so-exhaustive-schema/__snapshots__/library.test.ts.snap
  packages/client/src/generation/TSClient/Model.ts
  packages/client/src/generation/ts-builders/Property.test.ts
  packages/client/src/generation/ts-builders/Property.ts
  packages/client/src/generation/ts-builders/WellKnownSymbol.ts
  packages/client/src/generation/ts-builders/index.ts
  packages/internals/package.json
  packages/internals/src/utils/isValidJsIdentifier.ts
  pnpm-lock.yaml
Due: client

Pack "sql" files
  packages/client/package.json
Due: client

Enums
  packages/cli/src/generate/introspectSql.ts
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/ts-builders/ExportFrom.test.ts
  packages/client/src/generation/ts-builders/ExportFrom.ts
  packages/client/src/generation/typedSql/buildDbEnums.ts
  packages/client/src/generation/typedSql/buildIndex.ts
  packages/client/src/generation/typedSql/buildTypedQuery.ts
  packages/client/src/generation/typedSql/mapTypes.ts
  packages/client/src/generation/typedSql/typedSql.ts
  packages/client/tests/functional/typed-sql/postgres-scalars/prisma/sql/findEnum.sql
  packages/client/tests/functional/typed-sql/postgres-scalars/prisma/sql/getEnum.sql
  packages/client/tests/functional/typed-sql/postgres-scalars/test.ts
  packages/generator-helper/src/types.ts
Due: client, generator-helper

Fix invalid JS identifiers
  packages/client/package.json
  packages/client/src/generation/ts-builders/Property.test.ts
  packages/client/src/generation/ts-builders/Property.ts
  pnpm-lock.yaml
Due: client

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
