Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: get-platform, fetch-engine, client, debug, engine-core, generator-helper, sdk, introspection

codecov.yml:

# Disable PR comments until we are proud and willing to have
# the results be more public
comment: false

flags:
  get-platform:
    carryforward: true
    paths:
      - src/packages/get-platform/
  fetch-engine:
    carryforward: true
    paths:
      - src/packages/fetch-engine/
  client:
    carryforward: true
    paths:
      - src/packages/client/
  debug:
    carryforward: true
    paths:
      - src/packages/debug/
  engine-core:
    carryforward: true
    paths:
      - src/packages/engine-core/
  generator-helper:
    carryforward: true
    paths:
      - src/packages/generator-helper/
  sdk:
    carryforward: true
    paths:
      - src/packages/sdk/
  introspection:
    carryforward: true
    paths:
      - src/packages/introspection/

fix: update engines to 2.17.0-2.47b8c42bf220a67f979b8d64273a2314a33542e2
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

chore: update snapshots
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
Due: client

fix: validator (#5276)
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/types/validator/index.test-d.ts
  src/packages/client/src/generation/TSClient/common.ts
Due: client

fix: update engines to 2.17.0-2.47b8c42bf220a67f979b8d64273a2314a33542e2 (#5448)
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

test(migrate): add lockfile and more nativeTypes (#5447)
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/fixtures/baseline-sqlite/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/broken-migration/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/edited-and-draft/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-draft-1-change/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-draft/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-failed-migration/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-migration-conflict/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-migration/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-unexecutable-schema-change/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/existing-db-1-warning/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/nativeTypes-postgresql/prisma/schema.prisma
  src/packages/migrate/src/__tests__/fixtures/seed-sqlite/prisma/migrations/migration_lock.toml
  src/packages/migrate/src/__tests__/fixtures/transition-db-push-migrate/prisma/migrations/migration_lock.toml
Due: none

fix(cli): install command
  src/packages/cli/src/utils/printUpdateMessage.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for a0216f218a85f6634caf815b83ce7d15f9c4024b
  dev/bench/data.js
Due: none

fix(cli): install command (#5461)
  src/packages/cli/src/utils/printUpdateMessage.ts
Due: none

feat(client,engine-core): remove nativeTypes flag
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/schema.prisma
  src/packages/client/src/__tests__/integration/happy/native-types-mysql/schema.prisma
  src/packages/client/src/__tests__/integration/happy/native-types-postgres/schema.prisma
  src/packages/client/src/__tests__/integration/happy/postgres-json-list/schema.prisma
  src/packages/client/src/__tests__/integration/happy/scalar-list/schema.prisma
  src/packages/client/src/__tests__/types/native-types/schema.prisma
  src/packages/client/src/__tests__/types/scalarList/schema.prisma
  src/packages/engine-core/src/NodeEngine.ts
Due: client, engine-core

fix(deps): update engines to v2.17.0-4.62e1b79e1c93665abe9d3a3694eba727695dcf82
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

update snapshots
  src/packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  src/packages/sdk/src/__tests__/__snapshots__/engineCommands.test.ts.snap
Due: client, sdk

chore: set renovate ignoreUnstable to false [skip ci]
  .github/renovate.json
Due: none

fix(deps): update engines to v2.17.0-5.b461f67b862d1920b19389df49c7dbbd2a30efff
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

ci: pin github actions to ubuntu-18.04
  .github/workflows/test.yml
Due: none

ci: update uri for github actions
  .github/workflows/test.yml
  src/packages/tests/package.json
Due: none

Revert "ci: update uri for github actions"
  .github/workflows/test.yml
  src/packages/tests/package.json
Due: none

chore: add mssql shortcut for tests [skip ci]
  src/packages/tests/package.json
Due: none

ci: update uri for github actions
  .github/workflows/test.yml
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
Due: none

chore: change localhost in migrate
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
Due: none

fix normalize uri
  src/packages/migrate/src/__tests__/__helpers__/snapshotSerializer.ts
Due: none

test: update snapshot
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
Due: none

ci: update uri for github actions (#5469)
  .github/workflows/test.yml
  src/packages/migrate/src/__tests__/MigrateDev.test.ts
  src/packages/migrate/src/__tests__/__helpers__/snapshotSerializer.ts
Due: none

fix(deps): update engines to v2.17.0-6.bed267680c3c5ccde98dcbf8b7dbedd03084aa4f
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Due: fetch-engine, client, engine-core, sdk

chore: remove preview flag
  src/packages/client/fixtures/blog/prisma/schema.prisma
  src/packages/client/src/__tests__/integration/errors/executeRaw-alter-postgres/schema.prisma
  src/packages/client/src/__tests__/integration/errors/wrong-native-types-mysql/schema.prisma
  src/packages/client/src/__tests__/integration/errors/wrong-native-types-postgres/schema.prisma
Due: client

update engines to 2.17.0-6.bed267680c3c5ccde98dcbf8b7dbedd03084aa4f
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Due: fetch-engine, client, engine-core, sdk

tests: update snapshots
  src/packages/migrate/src/__tests__/DbPush.test.ts
  src/packages/tests/src/__tests__/integration/mariadb/__snapshots__/introspection.test.ts.snap
  src/packages/tests/src/__tests__/integration/mssql/__snapshots__/introspection.test.ts.snap
  src/packages/tests/src/__tests__/integration/mysql/__snapshots__/introspection.test.ts.snap
  src/packages/tests/src/__tests__/integration/postgresql/__snapshots__/introspection.test.ts.snap
  src/packages/tests/src/__tests__/integration/sqlite/__snapshots__/introspection.test.ts.snap
  src/pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f430933a5faad0b47879ef8be1be93a1d7c76090
  dev/bench/data.js
Due: none

fix(sdk): add nativeTypes warning
  src/packages/sdk/src/engineCommands.ts
Due: sdk
