Repository prisma/prisma: changes, and which Codecov flags are due for each by the changed paths.
All: client, debug, engine-core, generator-helper, sdk, introspection

fix(client): HasReject fix for RejectPerOperation case (#11501)
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/__tests__/types/rejectOnNotFound/test.ts
  packages/client/src/generation/TSClient/PrismaClient.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for d7d33d896bcb104a56877fe4d87405f8200a63fc
  dev/bench/data.js
Due: none

ci: change Jest default timeout for no-docker jobs (#12119)
  .github/workflows/test.yml
  packages/cli/src/__tests__/commands/Version.test.ts
  packages/client/src/__tests__/integration/happy/full-text-search-postgres/test.ts
  packages/migrate/src/__tests__/DbExecute.test.ts
Due: client

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 4f644611389396f5d8d424c0c960d946cb46cdc3
  dev/bench/data.js
Due: none

Update MigrateDiff.ts
  packages/migrate/src/commands/MigrateDiff.ts
Due: none

fix(migrate diff): improve help output alignment (#12135)
  packages/migrate/src/commands/MigrateDiff.ts
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 5f14338009226bad673b8ea5fb7a06d59dbe41ab
  dev/bench/data.js
Due: none

chore(deps): update engines to 3.11.0-22.a578ba5861266a5619ae2f5bc9b74859b9770449
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-23.b74fd712ac47fcd9d70e1355840496a45982dcae
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-24.6d0d1f6ebabd0497065a8d8e13be1d4dbc2d7c05
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-24.6d0d1f6ebabd0497065a8d8e13be1d4dbc2d7c05 (#12140)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f2a958b946fa613d93f3caed49dcf1a713c0d47b
  dev/bench/data.js
Due: none

chore(deps): update actions/upload-artifact action
  .github/workflows/scorecards-analysis.yml
  .github/workflows/test.yml
Due: none

chore: rename folder
  reproductions/basic-sqlite/index.ts
  reproductions/basic-sqlite/package.json
  reproductions/basic-sqlite/prisma/schema.prisma
Due: none

chore(readme): update contributing
  CONTRIBUTING.md
  pnpm-lock.yaml
  reproductions/basic-sqlite/package.json
Due: none

Revert "chore(deps): update actions/upload-artifact action (#12141)"
  .github/workflows/scorecards-analysis.yml
  .github/workflows/test.yml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for b4234077322e20837d30b8865d820d96cec30b4f
  dev/bench/data.js
Due: none

chore: add reproductions to gitignore
  .gitignore
Due: none

chore(readme): fix indent
  CONTRIBUTING.md
Due: none

chore(readme): restore indent
  CONTRIBUTING.md
Due: none

chore(deps): update engines to 3.11.0-25.a6a161e2f044cb89a16eb019ebd0e6ae963da000
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

Remove a resolved TODO comment
  packages/client/src/generation/utils/buildNFTAnnotations.ts
Due: client

chore(deps): update engines to 3.11.0-26.b01a719d420cf700f1e9b67e5f9e4d42e040c835
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-27.45722fa09859bddd44abe76fbc213ac03e571a7b
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-28.5da0c3026789f26ab06c4561d7fe4096c6dea490
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update engines to 3.11.0-29.1ecb0b5984cec0435b72ec5ec5090f31bb21fe98
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

Update .gitignore
  .gitignore
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore(deps): update engines to 3.11.0-29.1ecb0b5984cec0435b72ec5ec5090f31bb21fe98 (#12163)
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 12e92af46eab7b9c9e6a53c6be07263b6524984e
  dev/bench/data.js
Due: none

test new fixed connection pooling with tests
  packages/cli/package.json
  packages/client/package.json
  packages/engine-core/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, engine-core, sdk

chore(deps): update definitelytyped
  packages/client/package.json
  packages/debug/package.json
  packages/engine-core/package.json
  packages/generator-helper/package.json
  packages/integration-tests/package.json
  packages/migrate/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Due: client, debug, engine-core, generator-helper, sdk

chore(deps): update dependency esbuild to v0.14.25
  packages/react-prisma/package.json
  pnpm-lock.yaml
Due: none

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 93caf45fea930baf807c6fd0e4c8fef269544a5f
  dev/bench/data.js
Due: none

Path conditions:
  client: any of: packages/client/
  debug: any of: packages/debug/
  engine-core: any of: packages/engine-core/
  generator-helper: any of: packages/generator-helper/
  sdk: any of: packages/sdk/
  introspection: any of: packages/introspection/
